[2018-10-18 06:27] cmsbuild opened #4431 "cms-data/RecoBTag-Combined#17: DeepDoubleCvL and DeepDoubleCvB tagger integration"
A new Pull Request was created by  @andrzejnovak (Andrzej Novak) for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#17

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-10-18 09:33] #4431 closed

[2018-10-19 08:53] cmsbuild opened #4434 "cms-sw/cmssw-config#69: Do not check the CUDA library version"
A new Pull Request was created by  @fwyzard (Andrea Bocci) for branch master.

Pull Request Reference: cms-sw/cmssw-config#69

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-10-19 09:05] smuzaffar commented on #4434
done via https://github.com/cms-sw/cmsdist/pull/4435

[2018-10-19 09:05] #4434 closed

[2018-10-24 14:31] mseidel42 commented on #3679
So, unfortunately, the nanoAod workflow fails on slc6 (relies on Rivet-based ParticleLevelProducer) in #4427.

Is it technically possible use "legacy" version 2.5.4 for slc6, using a statement like this in the spec file?
[code]

This would ensure the basic functionality on slc6 (= old plugins and ParticleLevelProducer).

I think it would be acceptable to move Rivet plugin development and advanced

[2018-10-24 14:55] smuzaffar commented on #3679
@intrepid42 , Currently the version if fixed in spec file and can not be changed. I will see if cmsBuild can dynamically assign a version.
Currently there are couple of hacks to build different versions for different archs.

- have a dual version spec file and select the correct source based on the arch. We use to do it for openssl ( https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_5_3_X/slc6_amd64

[2018-10-24 15:22] mseidel42 commented on #3679
Thank you, that looks promising! Do you know if it works with `%ifarch slc6/7`?

Are there flags that we can use during compile time for the code in the RivetInterface package? We expect to integrate some new functionalities with the Rivet 3.0 upgrade (heavy-ion support, multi-weight handling), so we would need to make those parts invisible to the compiler on slc6 (that would know only the headers

[2018-10-24 15:33] smuzaffar commented on #3679
you can use %{cmsplatf} see example here
https://github.com/cms-sw/cmsdist/blob/65b039326e0c52554842747cf32d6ee0488659da/openssl.spec#L18
https://github.com/cms-sw/cmsdist/blob/65b039326e0c52554842747cf32d6ee0488659da/glibc.spec#L4

[2018-10-26 13:18] cmsbuild opened #4455 "cms-data/RecoTauTag-TrainingFiles#1: Training files for DNN-based Tau-Ids"
A new Pull Request was created by  @mbluj  for branch master.

Pull Request Reference: cms-data/RecoTauTag-TrainingFiles#1

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-10-27 03:37] alberto-sanchez commented on #4407
@smuzaffar Should I proceed and create the repository?. We will need to update evtgen soon

[2018-10-27 14:09] smuzaffar commented on #4407
@alberto-sanchez , sorry I overlooked this issue. https://github.com/cms-externals/evtgen is now available with branches
[code]

[2018-10-27 16:06] alberto-sanchez commented on #4407
Thanks alot!.
For future updates, are we going to have master branch or how we will proceed?

[2018-10-27 17:26] smuzaffar commented on #4407
Do you want to move the development of evtgen in to cms-externals/evtgen or we just want to patch it for cms use? If it is just patching on top of their tags then just make PR for cms/xxx branch and we will integrate it in cmssw.

[2018-10-27 18:22] alberto-sanchez commented on #4407
Got it!

[2018-10-29 16:17] cmsbuild opened #4458 "cms-data/RecoTauTag-TrainingFiles#2: New files quantized"
A new Pull Request was created by  @MRD2F  for branch master.

Pull Request Reference: cms-data/RecoTauTag-TrainingFiles#2

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-10-29 16:50] cmsbuild opened #4459 "cms-sw/root#116: THIS IS TEST PR."
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch master.

Pull Request Reference: cms-sw/root#116

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-10-29 19:32] cmsbuild opened #4460 "cms-data/RecoBTag-Combined#18: Updating with 2017 trained models for DeepDoubleX"
A new Pull Request was created by  @andrzejnovak (Andrzej Novak) for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#18

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-10-30 10:57] smuzaffar commented on #4458
external PR closed

[2018-10-30 10:57] #4458 closed

[2018-10-30 12:18] #4460 closed

[2018-10-30 12:18] #4459 closed

[2018-11-06 09:39] cmsbuild opened #4481 "cms-data/RecoTracker-FinalTrackSelectors#6: Updated the weights for 10_4_X DNN"
A new Pull Request was created by  @hajohajo  for branch master.

Pull Request Reference: cms-data/RecoTracker-FinalTrackSelectors#6

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-11-13 16:25] cmsbuild opened #4495 "cms-externals/openloops#11: avoid numerous redundant initializations when using openloops"
A new Pull Request was created by  @davidlange6 (David Lange) for branch cms/v2.0.b.

Pull Request Reference: cms-externals/openloops#11

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-11-13 20:10] gartung commented on #4386
Need this patch too
https://github.com/root-project/root/pull/2960/commits/066167ead65c3020332aa095601796305deb4feb

[2018-11-14 08:34] ianna opened #4497 "DD4hep update"
Please, update the DD4hep to current master branch.

Thanks,
Yana

[2018-11-14 08:34] cmsbuild commented on #4497
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-14 09:40] mrodozov commented on #4497
Done here https://github.com/cms-sw/cmsdist/pull/4498

[2018-11-14 13:21] gartung opened #4501 "Update root 6.12.x to get bug fix for std::unique_ptr"
Need this patch for root to handle the case of reading back a unique_ptr from the root file
root-project/root@066167e

[2018-11-14 13:21] cmsbuild commented on #4501
A new Issue was created by  @gartung Patrick Gartung.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-14 13:22] gartung commented on #4501
Needed for https://github.com/cms-sw/cmssw/pull/25239

[2018-11-14 14:12] Dr15Jones commented on #4501
@gartung CMSSW_10_4 is moving to ROOT 6.14. Could you check that the 6.14 we are already using in the ROOT_614 build contains the fix you need?

[2018-11-14 14:22] gartung commented on #4501
@Dr15Jones the branch cms/v6-14-00-patches/8e96679 does not have it yet. I think Phillipe submitted a backport request to root/v6-14-00-patches.

[2018-11-14 14:23] gartung commented on #4501
Backport PR is
https://github.com/root-project/root/pull/2961

[2018-11-15 14:01] cmsbuild opened #4504 "cms-sw/cms-git-tools#103: Support additional repositories"
A new Pull Request was created by  @fwyzard (Andrea Bocci) for branch master.

Pull Request Reference: cms-sw/cms-git-tools#103

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-11-15 14:02] fwyzard commented on #4504
@cmsbuild, please test

[2018-11-15 15:33] #4497 closed

[2018-11-15 15:33] #4504 closed

[2018-11-15 15:34] #4495 closed

[2018-11-16 17:35] gartung commented on #4501
change to root/6-14-00-pathches

[2018-11-16 17:35] #4501 closed

[2018-11-16 17:39] gartung opened #4508 "Update head of ROOT/v6-14-00-patches to include fix for unique_ptr"
Please update the head of ROOT/v6-14-00-patches to include this commit
https://github.com/root-project/root/commit/54cf5d9a22eb94656d244700d9823be2972f8db3

[2018-11-16 17:41] cmsbuild commented on #4508
A new Issue was created by  @gartung Patrick Gartung.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-16 17:41] gartung commented on #4508
@smuzaffar

[2018-11-20 10:00] cmsbuild commented on #4455
Pull request cms-data/RecoTauTag-TrainingFiles#1 was updated.
Latest update by GitHub with commit message
Merge pull request #6 from cms-tau-pog/quantizedDNN

Quantized DNN

[2018-11-21 17:21] cmsbuild opened #4519 "cms-sw/root#117: Support new Hexagon type in TEveBoxSet + 2 bufixes"
A new Pull Request was created by  @osschar (Matevž Tadel) for branch cms/v6-12-00-patches/34f75bf.

Pull Request Reference: cms-sw/root#117

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-11-22 10:34] amaltaro opened #4522 "Remove unneeded dependencies code from the comp specs"
Once this PR gets merged:
https://github.com/cms-sw/cmsdist/pull/4521

there won't be the need anymore to keep the logic to generate the package dependencies in every single spec file, for instance this block:
https://github.com/cms-sw/cmsdist/blob/comp_gcc630/wmagent.spec#L33-L43

FYI @h4d4

[2018-11-22 10:35] cmsbuild commented on #4522
A new Issue was created by  @amaltaro Alan Malta Rodrigues.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-22 10:42] smuzaffar commented on #4522
and also you do not need to have such lines https://github.com/cms-sw/cmsdist/blob/comp_gcc630/wmagent.spec#L46 in your spec. cmsBuild will auto generate these dependencies setup files and do the relocation.

[2018-11-23 05:38] smuzaffar commented on #4519
done here https://github.com/cms-sw/cmsdist/pull/4523

[2018-11-23 05:38] #4519 closed

[2018-11-26 11:07] elusian opened #4525 "Add pydot library"
Dear admins
as discussed in https://hypernews.cern.ch/HyperNews/CMS/get/sw-develtools/2603.html I'm opening an issue for the addition of pydot to cmssw.

This library is needed for model visualization in keras.

Regards,
Enrico

[2018-11-26 11:07] cmsbuild commented on #4525
A new Issue was created by  @elusian .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-26 21:46] smuzaffar commented on #4525
done https://github.com/cms-sw/cmsdist/pull/4526
It will be available in next 23h IB.

[2018-11-26 21:46] #4525 closed

[2018-11-28 17:00] ianna opened #4535 "DD4hep update"
Please, update DD4hep to current master branch.
The following merged PR is very important for continued development within CMSSW:
https://github.com/AIDASoft/DD4hep/pull/461

Thanks.

[2018-11-28 17:01] ianna commented on #4535
@mrodozov - FYI

[2018-11-28 17:01] cmsbuild commented on #4535
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-11-29 00:54] cmsbuild opened #4537 "cms-data/RecoBTag-Combined#19: Final Phase-1 tagger versions"
A new Pull Request was created by  @andrzejnovak (Andrzej Novak) for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#19

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-11-30 13:05] cmsbuild opened #4542 "cms-sw/pkgtools#145: Fix perl complaining LC_CTYPE set to wrong value."
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch V00-32-XX.

Pull Request Reference: cms-sw/pkgtools#145

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-11-30 14:47] cmsbuild opened #4543 "cms-data/L1Trigger-L1THGCal#10: Fixes and updates in the geometry mappings"
A new Pull Request was created by  @jbsauvan (Jean-Baptiste Sauvan) for branch master.

Pull Request Reference: cms-data/L1Trigger-L1THGCal#10

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-11-30 20:09] #4535 closed

[2018-12-03 21:35] slava77 commented on #4537
@mrodozov @smuzaffar

please also make cmsdist PRs for 10_2_X and 9_4_X

Thank you.

[2018-12-04 10:54] mrodozov commented on #4537
@slava77 the last two PRs on cmsdist are for that. I guess corresponding cmssw PRs are needed as it was for 4540 ?

[2018-12-04 13:14] slava77 commented on #4537
Thank you.
IIUC, the externals can be integrated first.
So, lets try to run the tests there already

[2018-12-05 11:38] smuzaffar commented on #4455
done here https://github.com/cms-sw/cmsdist/pull/4554

[2018-12-05 11:38] #4455 closed

[2018-12-06 10:24] ianna opened #4557 "DD4hep update"
Please, update DD4hep to master branch to include bug fixes from:
https://github.com/AIDASoft/DD4hep/pull/468

Thanks

[2018-12-06 10:24] cmsbuild commented on #4557
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-06 12:57] #4542 closed

[2018-12-07 07:30] #4557 closed

[2018-12-07 15:52] cmsbuild opened #4563 "cms-data/RecoEgamma-ElectronIdentification#10: BDT models for low pT electron seeds"
A new Pull Request was created by  @mverzett (Mauro Verzetti) for branch master.

Pull Request Reference: cms-data/RecoEgamma-ElectronIdentification#10

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-12-10 12:53] cmsbuild opened #4567 "cms-data/RecoEgamma-ElectronIdentification#11: BDT models for low pT electron seeds"
A new Pull Request was created by  @mverzett (Mauro Verzetti) for branch master.

Pull Request Reference: cms-data/RecoEgamma-ElectronIdentification#11

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-12-10 13:38] fabiocos opened #4568 "Add pycuda to the CMSSW externals"
We have got in https://docs.google.com/spreadsheets/d/1tzWPD4NegGvc-LM0iX_4eZu2FZWgbmzOXDE-kq5SAXc/edit#gid=2018532269 the request by @fwyzard to add pycuda to the externals list. As far as I can see in https://pypi.org/project/pycuda/ this is compatible also with python3, so this should not technically create issues with the migration managed by @davidlange6 .

Andrea, could you please clarify th

[2018-12-10 13:38] cmsbuild commented on #4568
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2018-12-10 14:04] mrodozov commented on #4563
closing due to newer version

[2018-12-10 14:04] #4563 closed

[2018-12-10 14:33] davidlange6 commented on #4568
pycuda would be useful for a lot of reasons assuming we can hook it to useful gpus in some generic way - might be trivial for @mrodozov to do?

in general you only need to worry about HEP packages not supporting python3 - most of the rest of the world has moved on...

[2018-12-10 16:02] fwyzard commented on #4568
I would like to use `pycuda` to access the CUDA libraries without the need to compile some external binaries. Two use cases I have so far:
  - list the GPU capabilities, to set up scram's `cuda.xml` accordingly;
  - list the number and type of GPUs, to automatically scale the number of jobs when running benchmarks.

Indeed I am not using it in cms-sw/cmssw#25353 yet, since the use cases are not ur

[2018-12-12 16:02] cmsbuild opened #4581 "cms-externals/pythia8#13: Backport UncertaintyBand options from Pythia 8.230 to 8.226"
A new Pull Request was created by  @intrepid42 (Markus Seidel) for branch cms/226.

Pull Request Reference: cms-externals/pythia8#13

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-12-13 07:15] #4568 closed

[2018-12-13 11:34] #4581 closed

[2018-12-13 13:29] smuzaffar commented on #4567
cmsdist pr has been created

[2018-12-13 13:30] smuzaffar commented on #4543
cmsdist pr has been created

[2018-12-13 13:30] #4543 closed

[2018-12-19 12:48] cmsbuild opened #4600 "cms-data/RecoCTPPS-TotemRPLocal#1: Updated the Json calibration file"
A new Pull Request was created by  @forthommel (Laurent Forthomme) for branch master.

Pull Request Reference: cms-data/RecoCTPPS-TotemRPLocal#1

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-12-21 20:44] cmsbuild opened #4606 "cms-externals/coral#2: Forward declare IPropertyManager as a struct not a class"
A new Pull Request was created by  @Dr15Jones (Chris Jones) for branch cms/CORAL_2_3_21.

Pull Request Reference: cms-externals/coral#2

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2018-12-24 11:55] smuzaffar commented on #4600
done here https://github.com/cms-sw/cmsdist/pull/4587

[2018-12-24 11:55] #4600 closed

[2018-12-24 12:00] smuzaffar commented on #4606
done here: https://github.com/cms-sw/cmsdist/pull/4608

[2018-12-24 12:00] #4606 closed

[2019-01-07 08:50] smuzaffar opened #4617 "Update XROOTD 4.8.5"
New version of xrootd (v4.8.5) is available https://github.com/xrootd/xrootd/blob/v4.8.5/docs/ReleaseNotes.txt

@mrodozov , can you please update https://github.com/cms-externals/xrootd and make a cmsdist PR?

[2019-01-07 08:50] cmsbuild commented on #4617
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-07 11:00] fabiocos opened #4618 "Move IOPool/Input/testdata root files to an external package"
The PR cms-sw/cmssw#25018 adds a new root file to IOPool/Input/testdata of about 100 kB, on top of already existing 750 kBs of older root data. This is the opportunity to move all these files outside the main CMSSW repository to a new dedicated external data package.

@smuzaffar as we have discussed can we have that new package? This would allow to finally merge the PR preventing the addition of e

[2019-01-07 11:00] cmsbuild commented on #4618
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-07 15:38] Dr15Jones commented on #4618
There are questions as to how we can make PoolSource find the moved files.

[2019-01-07 15:57] Dr15Jones commented on #4618
@smuzaffar under this proposal, where would the actually data files appear?

[2019-01-07 16:05] smuzaffar commented on #4618
Just like any data file, these files will be install under `$CMS_PATH/share/cms/data-IOPool-Input/<tag>` (which should be part of CMSSW_SEARCH_PATH ).

[2019-01-07 16:22] smuzaffar commented on #4618
@Dr15Jones , are you worried about unit test https://github.com/cms-sw/cmssw/blob/master/IOPool/Input/test/TestPoolInput.sh#L68 ? We can do something like
[code]

and then instead of `${CMSSW_BASE}/src/IOPool/Input/testdata/` we can use `$IOPoolInputData/`

[2019-01-07 16:53] Dr15Jones commented on #4618
With this proposal we should either

1. Create two separate repositories, data-IOPool-Input and data-FWCore-Modules, since the original data and the one needed for the new pull request are needed by different CMSSW packages, or
1. Create a completely different named repository, data-Framework-Tests (?), which is meant to hold files used for testing for all framework related tests.

[2019-01-07 17:03] smuzaffar commented on #4618
+1 for creating two repos but I noticed @fwyzard wanted to add the new file under IOPool/Input (may be he wants to get it tested via the unit test).
I would like to keep the data repo names and cmssw package names same so that one day we can assign signatures for data externals too

[2019-01-07 17:05] Dr15Jones commented on #4618
I think @fwyzard wanted to use IOPool/Input because I originally suggested to put it there. I now think my original idea was bad and we would want to keep the data file used for a test in a place related to the package running the test.

[2019-01-07 17:42] fwyzard commented on #4618
l am completely agnostic as to where to put the file - just let me know
where and how :-)

[2019-01-08 20:50] smuzaffar commented on #4617
@bbockelm , do you foresee any any reason not to move to xrootd 4.8.5

[2019-01-09 07:50] slava77 opened #4626 "update vecgeom or patch to resolve uninit value use"
I was running valgrind on wf 150.0
and it looks like I rediscovered the issue fixed in https://gitlab.cern.ch/VecGeom/VecGeom/merge_requests/545
This is now present in present in v01.00.00

In valgrind the UninitCondition in an instantiation of a G4Polycone called from ```DDG4SolidConverter::polycone_rrz(DDSolid const&)``` appears at
https://gitlab.cern.ch/VecGeom/VecGeom/blob/v00.05.00/source/Unp

[2019-01-09 07:50] cmsbuild commented on #4626
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-01-09 15:26] cmsbuild opened #4629 "cms-data/RecoTracker-FinalTrackSelectors#7: New weights with ZEE with PU events in training"
A new Pull Request was created by  @hajohajo  for branch master.

Pull Request Reference: cms-data/RecoTracker-FinalTrackSelectors#7

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-01-09 15:55] mrodozov commented on #4346
The default cache dir can be over written with the --output_base option
bazel --output_base=/tmp/bazel/output build x/y:z
described here: https://docs.bazel.build/versions/0.21.0/output_directories.html
We might explicitly add the option and move the cache to /tmp or elsewhere, in the tf update PR that is still open.
I'm closing this since we have solution for it.

[2019-01-09 15:55] #4346 closed

[2019-01-09 20:37] bbockelm commented on #4617
Nope, there's no significant bugs in that version's client I am tracking.

[2019-01-09 22:03] #4617 closed

[2019-01-09 22:06] smuzaffar commented on #4626
@slava77 , https://github.com/cms-sw/cmsdist/pull/4628 patches vecgeom. The latest version does not go well with geant4 version we have.

[2019-01-10 09:41] #4626 closed

[2019-01-10 15:15] mrodozov commented on #4508
I believe this commit is included now in 6-14 https://github.com/cms-sw/root/commit/0fc2c1613040907ac05023ab2e4a0af4f2577923#diff-43b0645ddbe7a9e4f086e91a573467c7
so I'm closing this

[2019-01-10 15:15] #4508 closed

[2019-01-11 11:24] cmsbuild opened #4632 "cms-sw/pkgtools#147: Fix perl warning about missing LC_ALL env variable"
A new Pull Request was created by  @oshadura (Oksana Shadura) for branch V00-32-XX.

Pull Request Reference: cms-sw/pkgtools#147

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-01-14 15:31] gartung commented on #4508
@smuzaffar I see that this is in the CMS root 6.14 branch, but what is the head of the current ROOT branch used in CMSSW_10_5_X or CMSSW_10_5_X/root or CMSSW_10_5_X/rootnext

[2019-01-14 15:37] smuzaffar commented on #4508
- 10.5.X: https://github.com/root-project/root/commit/34f75bf (v6.12 branch)
  - https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_10_5_X/gcc700/root.spec
- 10.5.rootnext: https://github.com/root-project/root/commit/c6edc31 (v6.14 branch)
  - https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_10_5_X/rootnext/root.spec
- 10.5.root: https://github.com/root-project/root/commit/c6edc31 (master)
  - https:/

[2019-01-21 10:25] mrodozov commented on #4632
Fixed with https://github.com/cms-sw/pkgtools/commit/a71d916dd3dc644d623f821921f40248ff447e38

[2019-01-25 14:22] cmsbuild opened #4658 "cms-sw/cmspkg#5: Get pkg size diff way"
A new Pull Request was created by  @mrodozov (Mircho Rodozov) for branch master.

Pull Request Reference: cms-sw/cmspkg#5

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-01-25 14:25] cmsbuild commented on #4658
Pull request cms-sw/cmspkg#5 was updated.
Latest update by GitHub with commit message
updated version

[2019-01-28 11:05] #4658 closed

[2019-02-06 11:49] cmsbuild opened #4680 "cms-data/RecoCTPPS-TotemRPLocal#2: Optical functions for proton reconstruction"
A new Pull Request was created by  @forthommel (Laurent Forthomme) for branch master.

Pull Request Reference: cms-data/RecoCTPPS-TotemRPLocal#2

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-02-06 11:57] cmsbuild commented on #4680
Pull request cms-data/RecoCTPPS-TotemRPLocal#2 was updated.
Latest update by Laurent Forthomme with commit message
Renamed file to specify iov

[2019-02-06 11:57] cmsbuild opened #4681 "cms-data/RecoTracker-FinalTrackSelectors#8: New weights retrained with properly flattened QCD samples"
A new Pull Request was created by  @hajohajo  for branch master.

Pull Request Reference: cms-data/RecoTracker-FinalTrackSelectors#8

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-02-06 15:11] #4629 closed

[2019-02-06 15:11] #4681 closed

[2019-02-08 13:00] cmsbuild opened #4685 "cms-sw/root#119: Test commit. DO NOT MERGE"
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch cms/v6-12-00-patches/34f75bf.

Pull Request Reference: cms-sw/root#119

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-02-09 16:39] #4685 closed

[2019-02-12 16:28] cmsbuild opened #4698 "cms-sw/cmssw-modulemap#1: Introduce working modulemap"
A new Pull Request was created by  @yamaguchi1024 (Yuka Takahashi) for branch master.

Pull Request Reference: cms-sw/cmssw-modulemap#1

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-02-14 17:31] cmsbuild opened #4702 "cms-data/RecoEgamma-ElectronIdentification#13: Final BDT models based on 10.2 MC samples"
A new Pull Request was created by  @bainbrid  for branch master.

Pull Request Reference: cms-data/RecoEgamma-ElectronIdentification#13

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-02-15 09:25] cmsbuild opened #4704 "cms-data/L1Trigger-L1THGCal#11: Add panel mapping for the V9Imp2 geometry"
A new Pull Request was created by  @jbsauvan (Jean-Baptiste Sauvan) for branch master.

Pull Request Reference: cms-data/L1Trigger-L1THGCal#11

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-02-19 13:53] cmsbuild commented on #4702
Pull request cms-data/RecoEgamma-ElectronIdentification#13 was updated.
Latest update by Robert Bainbridge with commit message
added Autumn18 trainings

[2019-02-19 15:30] #4698 closed

[2019-02-19 15:34] smuzaffar commented on #4618
closing this. This has been resolved by https://github.com/cms-sw/cmsdist/pull/4627

[2019-02-19 15:34] #4618 closed

[2019-02-19 15:36] smuzaffar commented on #3679
Closign this, we have disabled OPENMP for slc6 to avoid this crash.

[2019-02-19 15:36] #3679 closed

[2019-02-20 14:44] cmsbuild opened #4719 "cms-sw/SCRAM#34: Update BootStrapProject.pm"
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch master.

Pull Request Reference: cms-sw/SCRAM#34

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-02-20 14:48] #4719 closed

[2019-02-20 16:20] cmsbuild opened #4720 "cms-sw/cmssw-modulemap#2: Modularize 13 more libraries"
A new Pull Request was created by  @yamaguchi1024 (Yuka Takahashi) for branch master.

Pull Request Reference: cms-sw/cmssw-modulemap#2

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-02-20 20:53] cmsbuild opened #4721 "cms-data/SLHCUpgradeSimulations-Geometry#11: New DetIds list for Phase2 Tracker T14."
A new Pull Request was created by  @ghugo83  for branch master.

Pull Request Reference: cms-data/SLHCUpgradeSimulations-Geometry#11

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-02-28 15:53] #4680 closed

[2019-03-01 15:11] cmsbuild opened #4741 "cms-sw/root#120: Cherry-picked 6c1e592 from root pr."
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch cms/v6-12-00-patches/34f75bf.

Pull Request Reference: cms-sw/root#120

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-01 15:15] cmsbuild opened #4742 "cms-sw/root#121: Cherry-picked 6c1e592 from root pr."
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch cms/master/9909f4d.

Pull Request Reference: cms-sw/root#121

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-01 17:12] #4742 closed

[2019-03-01 17:12] #4741 closed

[2019-03-01 17:12] #4720 closed

[2019-03-02 08:42] #4721 closed

[2019-03-02 08:43] #4704 closed

[2019-03-02 08:44] #4702 closed

[2019-03-05 16:15] cmsbuild opened #4750 "cms-data/RecoBTag-Combined#20: Phase II models for DeepCSV and DeepJet"
A new Pull Request was created by  @dseith (David Seith) for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#20

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-05 16:58] cmsbuild commented on #4750
Pull request cms-data/RecoBTag-Combined#20 was updated.
Latest update by GitHub with commit message
Delete DeepFlavourPhaseIIV01_94X_training.pb

[2019-03-05 17:42] cmsbuild commented on #4750
Pull request cms-data/RecoBTag-Combined#20 was updated.
Latest update by David Seith with commit message
DeepCSV Phase 2 shrinked file size

[2019-03-05 22:22] #4750 closed

[2019-03-06 14:31] cmsbuild opened #4756 "cms-data/Configuration-Generator#5: Decay tables for long lived chargino decays"
A new Pull Request was created by  @scodella (Luca Scodellaro) for branch master.

Pull Request Reference: cms-data/Configuration-Generator#5

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-06 14:46] fabiocos commented on #4756
This is also needed in 7_1_X (in replacement of the original request cms-sw/cmssw#26064 )

[2019-03-06 15:03] scodella commented on #4756
@fabiocos is your comment for me? I do not see a 71X branch for this repository... you mean I should create it?

[2019-03-12 16:09] #4756 closed

[2019-03-13 16:35] cmsbuild opened #4780 "cms-sw/root#122: Double the TMVA xmlenginebuffersize to test large file parsing"
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch cms/v6-12-00-patches/6eb9073.

Pull Request Reference: cms-sw/root#122

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-15 16:17] cmsbuild opened #4784 "cms-sw/root#123: 612 backport of I/O rules and splitting improvements."
A new Pull Request was created by  @pcanal (Philippe Canal) for branch cms/v6-12-00-patches/3f31cef.

Pull Request Reference: cms-sw/root#123

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-18 07:52] cmsbuild opened #4785 "cms-data/RecoCTPPS-TotemRPLocal#3: Example of calibration file for diamond timing calibration conditions format PR"
A new Pull Request was created by  @forthommel (Laurent Forthomme) for branch master.

Pull Request Reference: cms-data/RecoCTPPS-TotemRPLocal#3

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-19 19:36] cmsbuild commented on #4784
Pull request cms-sw/root#123 was updated.
Latest update by Philippe Canal with commit message
In BuildOld, don't make all unique_ptr as having -> in comment.

unique_ptr can be nullptr too sometimes *and* anyway TStreamerInfo::Build does not make the same restriction.
The mismatch lead to baffling error message like:

Warning in <TStreamerInfo::BuildOld>: Cannot convert A::h from type: B to type:

[2019-03-21 08:49] cmsbuild opened #4792 "cms-data/CondTools-SiPhase2Tracker#2: Move files out of data folder"
A new Pull Request was created by  @mrodozov (Mircho Rodozov) for branch master.

Pull Request Reference: cms-data/CondTools-SiPhase2Tracker#2

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-21 18:21] cmsbuild opened #4795 "cms-data/L1Trigger-L1THGCal#12: Update motherboards mappings for V9/V10 geometries"
A new Pull Request was created by  @jbsauvan (Jean-Baptiste Sauvan) for branch master.

Pull Request Reference: cms-data/L1Trigger-L1THGCal#12

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-22 13:42] #4795 closed

[2019-03-25 13:51] #4792 closed

[2019-03-25 13:53] #4780 closed

[2019-03-25 13:53] #4784 closed

[2019-03-25 15:24] cmsbuild opened #4805 "cms-sw/root#124: Remove double declaration of 'clang::Preprocessor& PP'"
A new Pull Request was created by  @oshadura (Oksana Shadura) for branch cmscxx/master/9da5b1c.

Pull Request Reference: cms-sw/root#124

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-25 22:06] #4805 closed

[2019-03-26 13:50] cmsbuild opened #4810 "cms-sw/cmsdist#4809: [Do not merge] testsing cms-bot"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch IB/CMSSW_10_6_X/gcc700.

Pull Request Reference: cms-sw/cmsdist#4809

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-26 13:57] #4810 closed

[2019-03-26 15:39] cmsbuild opened #4812 "cms-sw/cms-bot#1103: Updates in support of CMSSW #25495"
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-sw/cms-bot#1103

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-26 17:06] cmsbuild opened #4814 "cms-sw/cms-bot#1104: Update btv group"
A new Pull Request was created by  @imarches  for branch master.

Pull Request Reference: cms-sw/cms-bot#1104

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-26 22:07] #4814 closed

[2019-03-26 22:08] #4812 closed

[2019-03-27 10:09] amaltaro opened #4816 "Upgrade the comp_gcc630 openssl version"
While using the python cryptography package, I'm getting this deprecation warning:
[code]

we had some discussions going on on this subject in the past months.

Maybe we could try upgrading it to the same version used in the master branch (by CMSSW).
Or we could try a larger leap and go straight with their latest stable 1.1.1 series release.

@smuzaffar I know you were trying to upgrade it in the

[2019-03-27 10:09] cmsbuild commented on #4816
A new Issue was created by  @amaltaro Alan Malta Rodrigues.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-27 10:09] amaltaro commented on #4347
It's already available: https://github.com/cms-sw/cmsdist/blob/comp_gcc630/py2-rucio-clients.spec

[2019-03-27 10:10] amaltaro commented on #4347
please close

[2019-03-27 10:10] #4347 closed

[2019-03-27 10:10] cmsbuild commented on #4347
Command close acknowledged.

[2019-03-29 08:53] cmsbuild opened #4824 "cms-data/RecoMuon-MuonIdentification#4: Uploading new MVA weight files : (muon POG)"
A new Pull Request was created by  @bmahakud (Bibhuprasad Mahakud) for branch master.

Pull Request Reference: cms-data/RecoMuon-MuonIdentification#4

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-29 10:00] cmsbuild opened #4825 "cms-sw/cms-bot#1105: Add TICL package under upgrade"
A new Pull Request was created by  @rovere (Marco Rovere) for branch master.

Pull Request Reference: cms-sw/cms-bot#1105

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-29 11:22] ianna opened #4826 "cmsdev20 and lxplus: old version of CMake v 2.8.12.2"
Would it be possible to update CMake to 3.4.3 or higher?

Thanks.

[2019-03-29 11:24] cmsbuild commented on #4826
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-03-29 11:26] smuzaffar commented on #4826
you mean cmake version available on cmsdev machines itself or the one part of cmssw?

[2019-03-29 12:30] ianna commented on #4826
either, both

[2019-03-29 12:56] cmsbuild opened #4827 "cms-data/RecoBTag-Combined#21: Add new DeepBoostedJet training performed with 94X samples"
A new Pull Request was created by  @hqucms (Huilin Qu) for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#21

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-03-29 13:22] smuzaffar commented on #4826
lxplus is not in our control so can not update any thing there.
We have cmake in cmssw but for now we are missing the toolfile for it that is why it is not available when one does cmsenv. We will add the missing toolfile. For now you can source /cvmfs/cms.cern.ch/slc7_amd64_gcc700/external/cmake/3.10.2/etc/profile.d/init.[c]sh to get it.

[2019-03-29 13:31] ianna commented on #4826
Thanks, @smuzaffar
I think, it's sufficient.

[2019-03-29 13:31] #4826 closed

[2019-03-29 14:06] #4785 closed

[2019-03-29 15:02] #4825 closed

[2019-03-30 18:23] cmsbuild opened #4830 "cms-data/Configuration-Generator#6: Chargino decay files for additional T2qq and T2tb models"
A new Pull Request was created by  @scodella (Luca Scodellaro) for branch master.

Pull Request Reference: cms-data/Configuration-Generator#6

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-01 14:00] cmsbuild opened #4832 "cms-sw/cms-bot#1106: CalibPPS/ESProducers to alca category"
A new Pull Request was created by  @slava77 (Slava Krutelyov) for branch master.

Pull Request Reference: cms-sw/cms-bot#1106

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-01 15:37] cmsbuild opened #4833 "cms-sw/cms-bot#1108: reco comparisons: plots for PPS protons"
A new Pull Request was created by  @slava77 (Slava Krutelyov) for branch master.

Pull Request Reference: cms-sw/cms-bot#1108

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-01 15:40] cmsbuild opened #4834 "cms-sw/cms-bot#1109: A fix to pick the correct version of DQM bin by bin comparison tool."
A new Pull Request was created by  @andrius-k (Andrius) for branch master.

Pull Request Reference: cms-sw/cms-bot#1109

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-01 15:56] #4833 closed

[2019-04-01 20:08] #4832 closed

[2019-04-02 10:11] #4834 closed

[2019-04-03 13:17] cmsbuild opened #4837 "cms-data/RecoBTag-Combined#22: deepvertex weight files"
A new Pull Request was created by  @leonardogiannini  for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#22

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-03 16:50] cmsbuild opened #4839 "cms-sw/cms-bot#1112: Add TimeMemorySummary.py as default option for every runTheMatrix.py workflow"
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-sw/cms-bot#1112

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-05 09:00] cmsbuild opened #4842 "cms-sw/cms-bot#1113: Add L1THGCalUtilities package"
A new Pull Request was created by  @jbsauvan (Jean-Baptiste Sauvan) for branch master.

Pull Request Reference: cms-sw/cms-bot#1113

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-05 09:40] #4842 closed

[2019-04-05 10:41] #4839 closed

[2019-04-05 20:28] cmsbuild opened #4848 "cms-sw/cms-bot#1114: Revert "Add TimeMemorySummary.py as default option for every runTheMatrix.py workflow""
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-sw/cms-bot#1114

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-05 20:33] fabiocos commented on #4848
@smuzaffar there is at least one workflow which has already a customisation and it is broken by this addition, I need to find a more clever way to implement it. For the time being I revert the PR not to block the PR tests

[2019-04-06 06:44] cmsbuild opened #4849 "cms-sw/cms-bot#1115: Revert "Revert "Add TimeMemorySummary.py as default option for every runTheMatrix.py workflow"""
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch master.

Pull Request Reference: cms-sw/cms-bot#1115

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-06 06:50] #4849 closed

[2019-04-08 08:15] #4827 closed

[2019-04-08 14:02] cmsbuild opened #4854 "cms-sw/cms-bot#1117: Add new package Validation/MtdValidation in support of cmssw PR 26347"
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-sw/cms-bot#1117

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-08 16:01] ericvaandering opened #4856 "Include Rucio client and python library in CMSSW"
Original mail: CMS will be slowly moving to Rucio as a DM system. There is a command line and python library client which I’d like to get into CVMFS. How can we go about this and having it accessible to users? In some sense it’s like the DAS Go client, but it is not statically linked.

It is easily installed with “pip install rucio-clients” but I don’t know if that’s possible because of requiremen

[2019-04-08 16:01] ericvaandering commented on #4856
From @smuzaffar : " Just like DAS go client, we can add it as cmssw external and then it will be deployed via cmssw in cvmfs.

  For setting the env for config file, I would suggest that  we add a rucio-clinet wrapper ( just like dasgo client e.g /cvmfs/cms.cern.ch/common/dasgoclient ) which can set the environment and run the actual rucio client executable. As wrapper is always going to pick the

[2019-04-08 16:01] cmsbuild commented on #4856
A new Issue was created by  @ericvaandering Eric Vaandering.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-08 16:04] Dr15Jones commented on #4856
assign core

[2019-04-08 16:04] cmsbuild commented on #4856
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-04-08 17:21] smuzaffar commented on #4856
@ericvaandering , I did a quick build of rucio client and it brings in following[a] dependencies and it only builds for `python2`.

Should we make it available only under CMSSW env  (i.e. one has to do cmsenv to get it in PATH)? Or would you like it to behave like dasgoclient (i.e. available in cms env by default) and set its own environment.

As you know , cmssw python makes use of PYTHON27PATH e

[2019-04-08 20:25] #4854 closed

[2019-04-08 20:26] #4848 closed

[2019-04-09 08:04] cmsbuild opened #4858 "cms-sw/cms-bot#1118: Add SimG4Core/DD4hepGeometry pkg"
A new Pull Request was created by  @mrodozov (Mircho Rodozov) for branch master.

Pull Request Reference: cms-sw/cms-bot#1118

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-09 12:38] ericvaandering commented on #4856
I think treating it like DAS is the way to go. It sounds like that's easier. I guess I can see an instance where someone may want to mix FWLite and the Rucio python bindings, but let’s cross that bridge when we come it it. It may be easier when everything is Python3 as well.

[2019-04-09 16:13] cmsbuild opened #4862 "cms-sw/cms-bot#1119: Making python2 code compatible with python3"
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch master.

Pull Request Reference: cms-sw/cms-bot#1119

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-10 03:33] cmsbuild opened #4866 "cms-sw/cms-bot#1120: Add Chris West as L2 AlCa"
A new Pull Request was created by  @tocheng (Tongguang) for branch master.

Pull Request Reference: cms-sw/cms-bot#1120

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-10 06:50] #4866 closed

[2019-04-10 06:50] #4862 closed

[2019-04-10 14:12] cmsbuild opened #4867 "cms-sw/cms-bot#1121: Add docker image for powerpc"
A new Pull Request was created by  @mrodozov (Mircho Rodozov) for branch master.

Pull Request Reference: cms-sw/cms-bot#1121

@smuzaffar, @mrodozov, @gudrutis can you please review it and eventually sign? Thanks.

[2019-04-10 14:57] #4867 closed

[2019-04-12 08:58] cmsbuild opened #4875 "cms-sw/cms-bot#1122: Updated addition of the TimeMemorySummary customisation to cmsDriver"
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-sw/cms-bot#1122

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-12 13:39] #4830 closed

[2019-04-12 17:40] #4875 closed

[2019-04-15 11:04] khurtado opened #4877 "Update htcondor to 8.8.1/8.8.2"
Schedd machines have been upgraded to 8.8.1, the condor binding should also do the same.

Note:
8.8.2 was released 3 days ago, which include a new feature in the bindings for printing classAds in json format that some people in SI were waiting for:
https://htcondor-wiki.cs.wisc.edu/index.cgi/tktview?tn=6950
If schedds are updated to that version, this package should update to that too.

This is re

[2019-04-15 11:05] cmsbuild commented on #4877
A new Issue was created by  @khurtado Kenyi Hurtado.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-04-15 11:49] cmsbuild opened #4878 "cms-sw/cms-bot#1123: Add Tapio Lampen as AlCaDB convener"
A new Pull Request was created by  @tocheng (Tongguang) for branch master.

Pull Request Reference: cms-sw/cms-bot#1123

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-15 11:58] #4878 closed

[2019-04-15 17:18] cmsbuild opened #4880 "cms-data/RecoMuon-MuonIdentification#5: Adding low pt muon MVA (muon POG)"
A new Pull Request was created by  @sscruz  for branch master.

Pull Request Reference: cms-data/RecoMuon-MuonIdentification#5

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-16 09:25] cmsbuild opened #4883 "cms-sw/cms-bot#1125: Update watchers.yaml"
A new Pull Request was created by  @peruzzim  for branch master.

Pull Request Reference: cms-sw/cms-bot#1125

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-16 09:42] cmsbuild opened #4884 "cms-data/RecoMuon-MuonIdentification#6: Uploading new MVA weight files (with csv) : (muon POG)"
A new Pull Request was created by  @bmahakud (Bibhuprasad Mahakud) for branch master.

Pull Request Reference: cms-data/RecoMuon-MuonIdentification#6

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-16 12:56] #4883 closed

[2019-04-16 12:56] #4880 closed

[2019-04-17 14:14] cmsbuild opened #4889 "cms-sw/cms-bot#1126: Temporarily move the production architecture for 8_0_X and 9_4_X to slc7"
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-sw/cms-bot#1126

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-17 15:24] #4889 closed

[2019-04-18 07:42] cmsbuild opened #4892 "cms-sw/cms-bot#1127: Revert "Temporarily move the production architecture for 8_0_X and 9_4_X to slc7""
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-sw/cms-bot#1127

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-18 07:53] #4892 closed

[2019-04-18 16:42] cmsbuild opened #4894 "cms-sw/cms-bot#1128: update in reco comparisons"
A new Pull Request was created by  @slava77 (Slava Krutelyov) for branch master.

Pull Request Reference: cms-sw/cms-bot#1128

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-18 21:35] khurtado commented on #4877
@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88
Made the changes and it compiled successfully on `vocms055` with them.

[2019-04-19 13:00] #4884 closed

[2019-04-22 07:27] #4894 closed

[2019-04-25 12:30] #4824 closed

[2019-04-26 09:44] cmsbuild opened #4910 "cms-data/L1Trigger-L1THGCal#13: Add new egamma ID weight files"
A new Pull Request was created by  @jbsauvan (Jean-Baptiste Sauvan) for branch master.

Pull Request Reference: cms-data/L1Trigger-L1THGCal#13

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-26 16:26] cmsbuild opened #4913 "cms-sw/cms-bot#1129: adding jshlee to gem watchers"
A new Pull Request was created by  @jshlee (Jason Lee) for branch master.

Pull Request Reference: cms-sw/cms-bot#1129

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-04-27 15:25] #4913 closed

[2019-04-30 09:35] smuzaffar commented on #4877
@khurtado , this is comp responsibility. @h4d4 shall take care of it.

[2019-05-03 17:11] cmsbuild opened #4925 "cms-data/Configuration-Generator#7: Fix auxiliary decay files for long lived chargino"
A new Pull Request was created by  @scodella (Luca Scodellaro) for branch master.

Pull Request Reference: cms-data/Configuration-Generator#7

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-06 13:50] cmsbuild opened #4930 "cms-data/CalibCalorimetry-EcalTrivialCondModules#5: Building CalibCalorimetry EcalTrivialCondModules extra package"
A new Pull Request was created by  @depasse  for branch master.

Pull Request Reference: cms-data/CalibCalorimetry-EcalTrivialCondModules#5

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-06 15:34] cmsbuild opened #4932 "cms-data/CalibCalorimetry-EcalTrivialCondModules#6: Add files from cmssw PR 26522"
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-data/CalibCalorimetry-EcalTrivialCondModules#6

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-07 07:01] smuzaffar commented on #4932
closing: duplicate https://github.com/cms-sw/cmsdist/issues/4930

[2019-05-07 07:01] #4932 closed

[2019-05-07 07:35] smuzaffar commented on #4930
#4932 should resolve this

[2019-05-07 07:35] #4930 closed

[2019-05-07 10:11] cmsbuild opened #4936 "cms-data/PhysicsTools-NanoAOD#5: Updated lepton MVA weights for NanoAOD v5 and UL"
A new Pull Request was created by  @peruzzim  for branch master.

Pull Request Reference: cms-data/PhysicsTools-NanoAOD#5

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-07 13:23] cmsbuild opened #4938 "cms-sw/cms-bot#1130: Remove L. Perrozzi from the generators category"
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-sw/cms-bot#1130

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-07 13:36] mrodozov commented on #4938
pr merged, closing this

[2019-05-07 13:36] #4938 closed

[2019-05-07 14:20] cmsbuild opened #4939 "cms-sw/cms-bot#1131: Update categories.py"
A new Pull Request was created by  @efeyazgan (Efe Yazgan) for branch master.

Pull Request Reference: cms-sw/cms-bot#1131

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-07 14:31] cmsbuild opened #4940 "cms-sw/cms-bot#1132: Update gh-teams.py"
A new Pull Request was created by  @efeyazgan (Efe Yazgan) for branch master.

Pull Request Reference: cms-sw/cms-bot#1132

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-07 14:35] #4940 closed

[2019-05-07 14:35] #4939 closed

[2019-05-07 14:45] peruzzim commented on #4827
This will be needed also in 10_2_X, could you please update the relevant files to pick it up in the next build? Thanks

[2019-05-07 15:00] mrodozov commented on #4827
It's already in:
https://github.com/cms-sw/cmsdist/pull/4844

[2019-05-07 20:46] cmsbuild opened #4942 "cms-sw/SCRAM#35: Test PR to test CMS-BOT infrastructure."
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch master.

Pull Request Reference: cms-sw/SCRAM#35

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-07 21:23] cmsbuild opened #4943 "cms-sw/cms-bot#1133: Adding possibility to map repos to spec files."
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch master.

Pull Request Reference: cms-sw/cms-bot#1133

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-08 07:52] #4910 closed

[2019-05-08 09:58] smorovic opened #4947 "addind Zstandard library"
Zstandard is a fast compression library which outperforms zlib (gzip) in compression speed with comparable compression factor.

I recently presented benchmarks, showing slight improvement for HLT (RAW) payloads, here (slides 6-7 in particular):
https://indico.cern.ch/event/818796/contributions/3421318/attachments/1838786/3018173/compression_CMSSW_update2.pdf

I would therefore suggest to add it to

[2019-05-08 09:58] cmsbuild commented on #4947
A new Issue was created by  @smorovic Srecko Morovic.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-08 10:05] davidlange6 commented on #4947
hi Srecko
have you compared against lz4 which is already available.
https://github.com/lz4/lz4 has some comparison benchmarks.

[2019-05-08 10:14] smorovic commented on #4947
Hi David,

Not yet. Let me look how to use API and I'll come back with measurements.

Cheers,
Srecko

On Wed, 8 May 2019 at 12:05, David Lange <notifications@github.com> wrote:

[2019-05-08 11:44] Dr15Jones commented on #4947
@bbockelm FYI

[2019-05-08 12:48] smorovic commented on #4947
Hi,
I added LZ4 benchmark in new version of the presentation (slide 8):
https://indico.cern.ch/event/818796/contributions/3421318/attachments/1838786/3018173/compression_CMSSW_update2.pdf

Some details:
For pp data (compressed size /vs uncompressed size):
LZ4:           10.7 seconds, 92% (acceleration=60)
Zstandard: 11.5 seconds, 68% (level=1)

Maximum compression for LZ4: 20 seconds, 80% (acceler

[2019-05-08 18:55] bbockelm commented on #4947
Yeah, LZ4 is not right for large volumes of data - it’s all about event rate.

We have a branch in hand to do this in ROOT and a summer student to use some of the more clever pieces of ZSTD.  Any reason why we shouldn’t wait on ROOT support?

Particularly, we should at least work with ROOT to reserve a constant in the header field.

[2019-05-08 19:04] bbockelm commented on #4947
Ah yes, this is for Streamer. ZSTD is likely a good choice there.

[2019-05-09 08:37] smorovic commented on #4947
Yes, it's for Streamer which uses compression API directly (with zlib). Compression in this case is done one event at the time, so payload size is 1 - 1.5 MB. It's not achieving much better ratio than zlib, but is faster.

If ROOT is getting this for Run 3, we can wait so that we don't have to package it separately.

[2019-05-09 10:23] bbockelm commented on #4947
Well, we will need it packaged in cmsdist even when ROOT adds support.  So probably can go ahead here.

[2019-05-09 14:55] cmsbuild opened #4950 "cms-data/RecoBTag-Combined#23: Deep csv phase ii fix"
A new Pull Request was created by  @dseith (David Seith) for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#23

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-10 08:18] cmsbuild opened #4951 "cms-data/EgammaAnalysis-ElectronTools#7: Push the 2018 S+S files"
A new Pull Request was created by  @rchatter (Rajdeep Mohan Chatterjee) for branch master.

Pull Request Reference: cms-data/EgammaAnalysis-ElectronTools#7

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-10 16:05] kpedro88 opened #4954 "Include hepdata_lib python package"
[hepdata_lib](https://pypi.org/project/hepdata-lib/) is a tool for users to convert their ROOT files into the standard HepData format for analysis archival and distribution. It would be useful to distribute this to users in CMSSW.

[2019-05-10 16:06] cmsbuild commented on #4954
A new Issue was created by  @kpedro88 Kevin Pedro.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-10 21:12] cmsbuild opened #4957 "cms-sw/cms-bot#1136: reco comparisons updates: new plots and updated workflow map"
A new Pull Request was created by  @slava77 (Slava Krutelyov) for branch master.

Pull Request Reference: cms-sw/cms-bot#1136

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-12 15:07] #4936 closed

[2019-05-12 16:05] #4950 closed

[2019-05-12 16:11] #4925 closed

[2019-05-13 15:04] smuzaffar commented on #4954
@kpedro88 , https://github.com/cms-sw/cmsdist/pull/4965 should bring hepdata-lib in to cmssw env.

[2019-05-13 15:04] #4957 closed

[2019-05-13 15:23] kpedro88 commented on #4954
thanks @smuzaffar!

[2019-05-14 08:39] peruzzim commented on #4951
this is needed for both 10_2_X and 10_6_X

@Sam-Harper

[2019-05-14 08:45] Sam-Harper commented on #4951
Yes ping on this, this is important for the nano. As it is a trivial addition (ie just adds two files) that can have no side effects other than increasing repo size, could we get this merged and added to 10_2_X and 10_6_X  quickly please.

@mrodozov @smuzaffar

Thanks!

[2019-05-14 11:34] smuzaffar commented on #4951
FYI @Sam-Harper
10.6.X: https://github.com/cms-sw/cmsdist/pull/4969
10.2.X: https://github.com/cms-sw/cmsdist/pull/4970

[2019-05-14 11:34] #4951 closed

[2019-05-14 11:38] Sam-Harper commented on #4951
thank you!

[2019-05-15 11:38] cmsbuild opened #4974 "cms-sw/cms-bot#1137: add me to RecoHGCal package"
A new Pull Request was created by  @felicepantaleo (Felice Pantaleo) for branch master.

Pull Request Reference: cms-sw/cms-bot#1137

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-15 11:43] #4974 closed

[2019-05-16 02:25] cmsbuild opened #4976 "cms-sw/cms-bot#1138: remove disabled IBs; disable 10.4.X; build 10.5.X only when change+sunday"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch master.

Pull Request Reference: cms-sw/cms-bot#1138

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-16 09:27] cmsbuild opened #4978 "cms-data/RecoTauTag-TrainingFiles#3: Training file for DeepTauID 2017v2"
A new Pull Request was created by  @mbluj  for branch master.

Pull Request Reference: cms-data/RecoTauTag-TrainingFiles#3

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-16 13:08] smuzaffar commented on #4856
@ericvaandering , as discussed, I did a test install (using `pip`) under /cvmfs/cms-ib.cern.ch/rucio. rucio config I deployed is from our COMP cmsdist repo https://raw.githubusercontent.com/cms-sw/cmsdist/comp_gcc630/rucio-config.file. It runs at least I can run `rucio --version`. Please try it and let me know if this looks good to you. You can just run
[code]
in bash SHELL to get it in your envir

[2019-05-17 11:55] cmsbuild opened #4982 "cms-data/L1Trigger-L1THGCal#14: New motherboard mappings and add numbers of links"
A new Pull Request was created by  @jbsauvan (Jean-Baptiste Sauvan) for branch master.

Pull Request Reference: cms-data/L1Trigger-L1THGCal#14

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-17 14:31] cmsbuild opened #4984 "cms-data/PhysicsTools-NanoAOD#6: Adding low pt muon MVA weights"
A new Pull Request was created by  @peruzzim  for branch master.

Pull Request Reference: cms-data/PhysicsTools-NanoAOD#6

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-18 02:38] #4976 closed

[2019-05-20 10:02] cmsbuild opened #4988 "cms-sw/root#125: Updating ROOT cxxmodules branch"
A new Pull Request was created by  @oshadura (Oksana Shadura) for branch cmscxx/master/98b5cca.

Pull Request Reference: cms-sw/root#125

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-20 12:01] cmsbuild opened #4989 "cms-sw/cms-bot#1139: Added RecoTauTag/TrainingFiles under reconstruction"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch master.

Pull Request Reference: cms-sw/cms-bot#1139

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-20 12:46] #4989 closed

[2019-05-20 13:25] cmsbuild opened #4990 "cms-sw/cms-bot#1140: report-summary-merged-prs includes cmsdist PRs data"
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch master.

Pull Request Reference: cms-sw/cms-bot#1140

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-20 13:56] peruzzim commented on #4984
could you please prepare pull requests for the 11_0_X, 10_6_X and 10_2_X integration areas? thanks

[2019-05-20 15:59] #4990 closed

[2019-05-20 15:59] #4988 closed

[2019-05-21 11:20] cmsbuild opened #4994 "cms-sw/cms-bot#1142: Addition of timing and memory check if available in PR matrix test"
A new Pull Request was created by  @fabiocos (Fabio Cossutti) for branch master.

Pull Request Reference: cms-sw/cms-bot#1142

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-21 15:03] #4994 closed

[2019-05-21 16:40] #4984 closed

[2019-05-21 18:29] #4954 closed

[2019-05-21 22:15] peruzzim commented on #4984
sorry, did I miss the one for 10_6_X? @fabiocos

[2019-05-22 07:16] fabiocos commented on #4984
@peruzzim @smuzaffar we need also that, but it is less urgent as we first want to integrate in master and 10_2_X

[2019-05-22 07:26] smuzaffar commented on #4984
@mrodozov , please create a PR for 10.6.X too

[2019-05-22 15:49] cmsbuild opened #5001 "cms-sw/SCRAM#36: TEST PR Update ReleaseNotes.txt"
A new Pull Request was created by  @gudrutis (Zygimantas Matonis) for branch master.

Pull Request Reference: cms-sw/SCRAM#36

@smuzaffar, @gudrutis, @mrodozov can you please review it and eventually sign? Thanks.

[2019-05-22 15:58] #5001 closed

[2019-05-27 13:18] qliphy opened #5009 "Backport LHAPDF 6.2.1 to 10_2_X and 9_3_X"
@fabiocos @mkirsano @alberto-sanchez  @efeyazgan

Recently several new PDF sets have been added,
         https://github.com/cms-sw/cmsdist/pull/4927/files
including
        325300 NNPDF31_nnlo_as_0118_mc_hessian_pdfas
        325500 NNPDF31_nnlo_as_0118_nf_4_mc_hessian
and some W-mass related requests.

We would like to know whether we can backport these to 10_2_X and 9_3_X, thus one can use SL6

[2019-05-27 13:18] cmsbuild commented on #5009
A new Issue was created by  @qliphy Qiang Li.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-05-31 09:20] fabiocos commented on #5009
@qliphy sorry, what is the real target here? To provide samples based on these new PDFs for older productions? Or to produce gridpacks for SL7 releases in SL6 because some procedure was not yet adapted? I understand the latter, and honestly I do not like it.
The move to SL7 was discussed for a long time, and we were investigating possible issues one year ago. I believe that we should do the best t

[2019-05-31 10:43] qliphy commented on #5009
@fabiocos  Thanks for the comments.  Yet, I was thinking to produce gridpacks in SL6 for SL7.  I understand your concern.  However, we will discuss a bit more next week inside GEN group to check more on the need for this backup.

A good news is that cmsconnect has now been updated to support SL7 and is being tested [1].

[1] https://github.com/cms-sw/genproductions/issues/2238

[2019-06-04 15:27] mkirsano commented on #5009
 @fabiocos Fabio, if we create a special version of PDF sets where only
several new sets are added, others are unchanged, will you agree to
update lhapdf to this sets version in several old CMSSW releases?

31/05/19 12:20, Fabio Cossutti пишет:

[2019-06-06 07:51] #4982 closed

[2019-06-11 11:53] smuzaffar commented on #4856
@ericvaandering  rucio-client 1.20.0 is now available under /cvmfs/cms-ib.cern.ch/rucio , can you please test this installation and let me know if this works as expected? We can then request Bockjoo to takecare of it under /cvmfs/cms.cern.ch/rucio

[2019-06-11 12:17] #4978 closed

[2019-06-11 16:13] ericvaandering commented on #4856
It works with a change to the config file in etc/rucio.cfg. Some of this is new hosts, but some is changed parameters to work with a proxy. This is not the final hostname, but it's as good as we have right now.

[code]

[2019-06-11 19:42] #4947 closed

[2019-07-05 14:44] #4837 closed

[2019-07-11 19:01] ericvaandering commented on #4856
This all works fine. Can we get it moved out of IB status and put into the "real" place?

[2019-07-18 16:20] ericvaandering commented on #4856
@smuzaffar ?

[2019-07-19 17:15] gartung opened #5099 "ROOT build picks up new GL libraries that need to be added to the drivers file"
Hi,

I have been installing the release with a cc7 docker image, but the
installation fails with:

libGLX.so.0()(64bit) is needed by lcg+root+6.14.09-nmpfii5-1-1.x86_64
	libOpenGL.so.0()(64bit) is needed by lcg+root+6.14.09-nmpfii5-1-1.x86_64

I can them from the image:
[cvcms@lxcvmfs74 ~]$ docker run -it cmssw/slc7-installer:usercvcms sh -c 'ls /usr/lib64/libGLX.so.0'
/usr/lib64/libGLX.so.0
[cvcm

[2019-07-19 17:15] cmsbuild commented on #5099
A new Issue was created by  @gartung Patrick Gartung.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-07-19 17:17] gartung commented on #5099
The driver file, eg
http://cmsrep.cern.ch/cmssw/repos/cms/drivers/slc7_amd64_gcc810-driver.txt
needs to be updated to include libglnd libglnd-opengl as the ROOT build has decided to pick up those two libraries from the system.

[2019-07-20 02:17] bockjoo commented on #5099
libglvnd-opengl is in the common driver file, but libglvnd-glx is missing from
http://cmsrep.cern.ch/cgi-bin/cmspkg/driver/cms/slc7_amd64_common?repo_uri=cmssw
Also, line 1596 of http://cmsrep.cern.ch/cmssw/repos/bootstrap.sh is strange.
( [ -f $tempdir/$arch-driver.txt ] , a test line )
Is it a bug or some bash feature that I don't understand?

[2019-07-22 16:42] gartung commented on #5099
see https://hypernews.cern.ch/HyperNews/CMS/get/sw-develtools/2630/1/1/2.html

[2019-07-22 16:42] #5099 closed

[2019-07-23 07:24] smuzaffar commented on #4856
@ericvaandering , as discussed in private emails last month, rucio client 1.20.0 is available under /cvmfs/cms.cern.ch/rucio . Please `source /cvmfs/cms.cern.ch/rucio/setup.sh` to try it out.

[2019-07-23 12:35] ericvaandering commented on #4856
Ah. I must have missed that. I was away on vacation and had a slew of e-mail, so it probably slipped through. Thanks!

[2019-07-23 17:02] ericvaandering commented on #4856
OK, it works.

How do we keep this updated? Is there an automatic way to do it (e.g. Rucio is now up to 1.20.2) or do we request it each time or... ?

Do you want to close this ticket?

[2019-07-24 11:47] smuzaffar commented on #4856
@ericvaandering , for now we have to ask Bockjoo Kim for every version we want to deploy. I would suggest to close this issue and open one for every new vesion we want.

[2019-07-24 13:02] ericvaandering commented on #4856
Closing

[2019-07-24 13:02] #4856 closed

[2019-08-01 11:31] karavdin opened #5122 "Converters in lwtnn are not accessible (CMSSW 102X)"
Converters in lwtnn external package are not accessible. For example attempt to run/open following script leads to "Permission denied":
/cvmfs/cms.cern.ch/slc6_amd64_gcc700/external/lwtnn/2.4-gnimlf4/converters/keras2json.py

[2019-08-01 11:31] cmsbuild commented on #5122
A new Issue was created by  @karavdin .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-01 12:21] kpedro88 commented on #5122
assign externals

[2019-08-01 12:22] kpedro88 commented on #5122
It looks like the permissions on the files are set incorrectly:
[code]

[2019-08-01 12:22] cmsbuild commented on #5122
New categories assigned: externals

@smuzaffar,@gudrutis,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-08-01 12:47] davidlange6 commented on #5122
seems this is the fix

https://github.com/lwtnn/lwtnn/pull/84/files

we should just try updating lwtnn

[2019-08-01 12:51] davidlange6 commented on #5122
https://github.com/cms-sw/cmsdist/pull/5125

[2019-08-01 14:03] davidlange6 opened #5126 "Support for different python2 and python3 versions"
hi @smuzaffar all

i'd like to add support for different versions of python tools for python2 and python3. More and more stuff is dropping python2 support for new developments.

Do you have any thoughts as how to do that? We could start making a requirements_py3.txt file to track version updates unique to python3 and build separate packages in cases where the python2 and python3 versions differ. I

[2019-08-01 14:04] cmsbuild commented on #5126
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-01 14:33] slava77 opened #5127 "pyROOT enum fixes: update rootmaster to pickup merge of root-project/root#4121 ... and root-project/root#4202"
Please update to the recent rootmaster  to check that the feature/fix needed in the context of cms-sw/cmssw#26446  actually works OK for us.

[2019-08-01 14:33] cmsbuild commented on #5127
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-01 18:48] davidlange6 commented on #5126
actually this would appear to be sufficient. It currently assumes the set of dependencies is the same for python2 and python3 - but that would be easy to change

https://github.com/cms-sw/cmsdist/compare/IB/CMSSW_11_0_X/gcc700...davidlange6:py3_190801?expand=1

[2019-08-01 18:52] davidlange6 commented on #5126
also - the Requires statements for python tool dependencies outside of pip/* and python_tools.spec would still need to be adjusted.

Anyway, I can continue with that if this makes sense as a way to go

[2019-08-01 20:19] smuzaffar commented on #5126
@davidlange6 , yes looks like right direction. But I think we do not need build-with-pip.file changes. We have to have py2-XXX.file and py3-XXX.file in order to provide extra changes. So I would suggest to change pip/package.sh and dump the contents of py2-XXX.file for py2-XXX and py3-XXX.file for py3-XXX and if there is just XXX.file then dump it for both py2 and py3. So basically we need to rena

[2019-08-01 20:34] davidlange6 commented on #5126
My motivation was to avoid this duplication of code. - eg most of whats in py2-XXX.file will be copied to py2-XXX.file. But, right can be done that way without the build-with-pip.file changes...

[2019-08-01 20:49] smuzaffar commented on #5126
yes most of py2-XXX.file needs to be in py3-XXXX.file only if there are different py2 and py3 versions otherwise we just need XXX.file. One can keep common stuff in XXX.file and have
py2 and py3  use `##INCLUDE XXX`

[2019-08-01 20:57] davidlange6 commented on #5126
i'll try that - that sounds like it can reduce the code further.

[2019-08-05 08:49] fabiocos commented on #5122
@karavdin could you please confirm that the problem is solved in the latest IBs?

[2019-08-05 11:38] fabiocos commented on #5122
for the time being the 11_0_X IB...

[2019-08-05 12:45] smuzaffar commented on #5127
@slava77 , latest root master is now available in CMSSW_11_0_ROOT6_X_2019-08-04-2300 and above. Can you please check if this fixes the issue.

[2019-08-05 13:45] slava77 commented on #5127
@drkovalskyi
please check if the problem with enums is solved now in (CMSSW_11_0_ROOT6_X_2019-08-04-2300)

[2019-08-08 11:56] slava77 commented on #5127
please let me know if the test was successful.
Thank you.

[2019-08-08 12:12] drkovalskyi commented on #5127
Yes and no. Yes because enums now get the right sign, but No because ROOT.reco.GhostMuonFromGaugeOrHiggsBoson now is wrong.
If your run /afs/cern.ch/user/d/dmytro/public/forSlava/test_pyroot.py in the old release you get:

In the nightly you get

[2019-08-08 12:40] slava77 commented on #5127
[code]

Do I understand correctly that the type is now recognized correctly and ```muon.simExtType()==ROOT.reco.GhostMuonFromGaugeOrHiggsBoson``` comparison is now working?

[2019-08-08 13:04] drkovalskyi commented on #5127
No, the comparison fails, because the left side that was broken and used to give 2^32-true value now gives the right value, but the right side that used to give the right value is now broken

[2019-08-08 13:06] slava77 commented on #5127
ah, ok, I didn't interpret the "or" in the conditional right and thought that this was just a print issue.
I'll follow up on the ROOT ticket.

[2019-08-08 13:16] slava77 commented on #5127
@Dr15Jones  @pcanal
please check that the above behavior is not somehow a feature of FWLite-pyROOT interplay.
The compiled methods now return appropriate values, while the enum value pulled via ```ROOT.reco.``` looks wrong

[2019-08-12 08:58] karavdin commented on #5122
@fabiocos I can confirm that issue with access to converters is gone in CMSSW_11_0_DEVEL_X_2019-08-11-2300. Thank you for quick fix!
Would it be possible to propagate it to 10X, please?

[2019-08-12 15:10] karavdin commented on #5122
Quick update, although access to converters is possible, one still can't use it. At least keras2json.py script does not work properly, due to issue fixed in lwtnn master branch some time ago. I've just asked them to create new tag (https://github.com/lwtnn/lwtnn/issues/98), after this is done one more version update for this package will be needed.

[2019-08-12 20:20] slava77 commented on #5127
[code]

However,
[code]

With this modification in the test .py file
[code]
I get
[code]

So, it looks like the problem is solved.
@drkovalskyi
please check and confirm that this works for your needs.
Thank you.

[2019-08-13 05:34] dguest commented on #5122
@karavdin, I just created a new release (v2.10) hopefully that solves your issue.

[2019-08-13 07:08] karavdin commented on #5122
@fabiocos, @davidlange6, the issue with sequence conversion for from Keras 2.2 is fixed in lwtnn with tag v2.10. Can you upgrade the version in the external packages, please?

[2019-08-13 08:14] drkovalskyi commented on #5127
I wouldn't call it solved. The result depends on whether one includes enum typename or not. We need to either make ROOT.reco.GhostMuonFromGaugeOrHiggsBoson undefined or AttributeError or fix it. Otherwise people will use it blindly without checking its value since all the enums with positive values will work in both cases like ROOT.reco.MatchedMuonFromGaugeOrHiggsBoson for example.

[2019-08-14 12:38] slava77 commented on #5127
@smuzaffar @mrodozov
please advance to a more recent rootmaster to pick up root-project/root#4202 as well.
Please post here when a new IB with it is available.
Thank you.

[2019-08-17 13:01] mrodozov commented on #5127
@slava77 some other complications emerged after the updates, root people are fixing it (see the open PRs on root updates)

[2019-08-20 16:25] b-fontana opened #5162 "Missing libraries in scram tools"
I have noticed that the ```ROOTDataFrame``` and ```ROOTVecOps``` libraries do not currently have a corresponding tool available for scram. I suspect this is as well the case for other relatively new libraries. I therefore ask for a ```root-toolfile.spec``` update.

[2019-08-20 16:25] cmsbuild commented on #5162
A new Issue was created by  @b-fontana .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-08-21 12:23] mrodozov commented on #5162
Hi there, would you please share the code you were trying to compile yesterday (and against which IB you were testing it) ?
I'm adding the libs and I want to try if the new toolfile will work with/without the changes (to repeat what you described in the mail exchange for testing)
Thanks in advance

[2019-08-21 13:47] bfonta commented on #5162
I was using CMSSW_10_6_0 and you can find the code [here](https://github.com/b-fontana/HGCal/tree/master/AnalysisCode). Note that to reproduce the error you will have to remove

`<lib name="ROOTDataFrame"/>`
`<lib name="ROOTVecOps"/>`

from both `AnalysisCode/BuildFile.xml` and `AnalysisCode/bin/BuildFile.xml`.

[2019-08-21 15:25] mrodozov commented on #5162
alright it works with the new tool file called rootdataframe
didn't work when I removed the two libs (its all in check)
You need to include this
`<use name="rootdataframe"/>`
which also includes rootvecops to your BuildFile
Also, with the release you use (10_6) in order to work I'll have to backport it to 10_6 (the default goes only to 11_0_X)

[2019-08-21 15:44] bfonta commented on #5162
Thank you.
I suspect there are other libraries missing from the tools, although I did not check. I think it would be better to do this systematically (maybe automatically) for all new libraries. Otherwise, other people will inevitable post requests similar to this one.

[2019-08-23 10:17] mrodozov commented on #5162
I can think of something, concerning ROOT, because that's an issue, yes. Maybe we were doing it but I'm not doing it, I'll try to check for new things whenever we update ROOT (which is each week). For auto check it wont be straightforward because we have a policy of "being careful what's included/deployed"

[2019-08-23 11:46] #5162 closed

[2019-08-28 19:01] aperloff opened #5178 "Backport hls external to CMSSW_10_6_X"
I would like to request that the hls external, recently added to CMSSW_11_0_X, be backported to CMSSW_10_6_X. This external is very useful for development of the phase 2 L1 trigger code, much of which isn't ready for the change to CMSSW_11_0_X.

[2019-08-28 19:03] cmsbuild commented on #5178
A new Issue was created by  @aperloff Alexx Perloff.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-03 16:57] fabiocos commented on #5178
@aperloff what is the plan to move developments to 11_0_X? In principle this backport is harmless, as  it will not affect anything else, but I would like to avoid this as a long term philosophy, 10_6_X is not meant for development any more

[2019-09-03 21:03] aperloff commented on #5178
@fabiocos the plan is to eventually move to 11_0_X. However, that is a long way off. I need to wait for two different groups to rebase their branches before I can use 11_0_X, and that is unlikely to happen before the L1 trigger TDR is published. In the meantime, development of the L1 trigger software/firmware can't come to a halt.

[2019-09-03 21:15] smuzaffar commented on #5127
@slava77 , @drkovalskyi can yo uplease check latest ROOT6 IB again? We have updated root yesterday which contained some fixes in pyROOT for enums.

[2019-09-03 21:19] smuzaffar commented on #5009
done
- 9.3.X: https://github.com/cms-sw/cmsdist/pull/5049
- 10.2.X: https://github.com/cms-sw/cmsdist/pull/5028

[2019-09-03 21:19] #5009 closed

[2019-09-03 21:23] smuzaffar commented on #5122
https://github.com/cms-sw/cmsdist/pull/5194 updates lwtnn to v2.10

[2019-09-03 22:35] slava77 commented on #5127
please see https://github.com/cms-sw/cmssw/pull/26446#issuecomment-527567587
sorry for disorganized feedback

[2019-09-04 07:48] smuzaffar commented on #5178
done https://github.com/cms-sw/cmsdist/pull/5182

[2019-09-04 07:48] #5178 closed

[2019-09-04 07:48] smuzaffar commented on #5178
assign externals

[2019-09-04 07:48] cmsbuild commented on #5178
New categories assigned: externals

@smuzaffar,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-04 07:49] smuzaffar commented on #5178
+externals

[2019-09-04 07:49] cmsbuild commented on #5178
This issue is fully signed and ready to be closed.

[2019-09-04 07:50] smuzaffar commented on #5127
assign externals
thanks @slava77 . Once we have confirmation from @drkovalskyi  then I will close this issue.

[2019-09-04 07:50] cmsbuild commented on #5127
New categories assigned: externals

@smuzaffar,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-09-04 14:59] ericvaandering opened #5199 "Rucio setup destroys the python path"
#4856 works for just the Rucio client, but apparently other things are taken out of the path. I've noticed the path no longer works for openstack commands. Others (more seriously) report that the GFAL2 tools are removed from the path.

Can this be fixed?

[2019-09-04 15:00] cmsbuild commented on #5199
A new Issue was created by  @ericvaandering Eric Vaandering.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-04 15:12] belforte commented on #5199
It is a well known thing that CMSSW setup conflicts with grid tools.
One can fix pythonpath, but there's always the danger that e.g. some grid client depends on incompatible binaries, code is not pure python there (and even there there's no
guarantee long term of coordinated migration to different python versions).
Do we really want/need Rucio client to be accessible within CMSSW environment ?
FWI

[2019-09-04 15:18] smuzaffar commented on #5199
rucio setup set its own python/pip and dependencies and yes if mix env then it will fail. I do not see any easy way to avoid it

[2019-09-04 16:39] belforte commented on #5199
do you mean that pip install rucio-client already breaks gfal ?

[2019-09-04 16:47] smuzaffar commented on #5199
rucio client depends on long list of externals packages e.g see /cvmfs/cms.cern.ch/rucio/1.20.2/lib/python2.7/site-packages plus our external python which can bring in different version of openssl etc. So yes ones you have setup rucio client env it can break gfal

[2019-09-04 16:53] belforte commented on #5199
OTOH Diego C. (CC-ed) has apparently manged to use rucio client and gfal,
and so I presume many ATLAS people.
One thing is CVMFS vs. PIP (CMS probem, I fear), the other is Rucio breaks
gfal (Rucio problem, I'd say).

[2019-09-04 21:41] clelange commented on #5199
CMSSW (I checked CMSSW_11_X) currently doesn't come with [gfal2-python](https://pypi.org/project/gfal2-python/) while it is available in the system python that comes with CC7 on lxplus. Since @dciangot's python scripts require the gfal2 python module, we should either have this module installed as part of CMSSW or rucio. Which one do you think is better?

I didn't observe that the modules (rucio-c

[2019-09-09 13:46] slava77 commented on #5127
we have a confirmation now that the enums are working now in 6.18 and root master.
I'm closing this issue.

[2019-09-09 13:46] #5127 closed

[2019-09-09 16:11] smuzaffar opened #5217 "Add CppCheck static-analysis tool"
@mrodozov @tulamor can you please add https://github.com/danmar/cppcheck to cmssw externals. Its a static-analysis tool for C/C++ code

[2019-09-09 16:11] cmsbuild commented on #5217
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-11 08:05] fabiocos opened #5223 "Build CMSSW_10_2_16_patch2"

[2019-09-11 08:19] fabiocos opened #5224 "Build CMSSW_10_6_3_patch1"

[2019-09-11 08:47] fabiocos commented on #5223
@smuzaffar is the bot waiting for available resources, or is it simply frozen?

[2019-09-11 08:47] fabiocos commented on #5224
@smuzaffar is the bot waiting for available resources, or is it simply frozen?

[2019-09-11 09:53] fabiocos commented on #5223
wrong repository, sorry

[2019-09-11 09:53] #5223 closed

[2019-09-11 09:53] fabiocos commented on #5224
wrong repository, sorry

[2019-09-11 09:53] #5224 closed

[2019-09-11 16:07] fabiocos opened #5225 "Update pythia8 to fix re-initialization"
The latest fix to pythia8 provided by @smrenna cms-externals/pythia8#14 should be integrated to build CMSSW_11_0_0_pre8

[2019-09-11 16:07] cmsbuild commented on #5225
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-09-12 09:08] fabiocos commented on #5225
addressed by cms-sw/cmsdist#5229

[2019-09-13 06:21] smuzaffar commented on #5126
@davidlange6 , are you working on it? otherwise I can ask @tulamor to look in to it.

[2019-09-13 06:28] davidlange6 commented on #5126
I’m not (but it’s on the todo list)

I’m certainly happy if someone else takes care of it:)

On 13 Sep 2019, at 08:22, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> , are you working on it? otherwise I can ask @tulamor<https://github.com/tulamor> to look in to it.

—
You are receiving this because you were me

[2019-09-16 08:54] fabiocos commented on #5217
@smuzaffar @tulamor what is the purpose of this addition of another tool, on top of what we already have? Which are the unique new features that it is adding?

[2019-09-16 11:40] smuzaffar commented on #5217
It is just another c++ static analyzer tool. Few months ago we suggested to look in to it  to see if it catches more bugs and security issues ( http://cppcheck.sourceforge.net/ ). Looks like it is not relocateable so there is no point including it in cmssw.

[2019-09-19 06:26] #5217 closed

[2019-10-01 12:27] karavdin commented on #5122
Works in CMSSW_11_0_0_pre7

[2019-10-01 12:27] #5122 closed

[2019-10-02 10:30] ianna opened #5255 "DD4hep update"
Please, update the DD4hep external tool version to its master. Now that it can handle our ReflectionRotation solids:

https://github.com/AIDASoft/DD4hep/pull/569

Thanks.

[2019-10-02 10:30] cmsbuild commented on #5255
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-15 09:44] clelange commented on #5199
How should we proceed? If there's no need for gfal2-python in CMSSW, I guess it's best to install it as part of the rucio installation. I've therefore created a PR to do that (hopefully in the correct repository): https://github.com/cms-sw/cms-bot/pull/1210

[2019-10-15 14:07] belforte commented on #5199
Sounds like one will end up with two versions of gfal2-python, one in /usr/lib/python2.7/site-packages and one in cvmfs.

[2019-10-17 07:08] smuzaffar commented on #5199
agree with @belforte , adding more packages in rucio client is asking for more trouble.

[2019-10-17 07:29] clelange commented on #5199
So you prefer to have users rely on their python packages system installation for tools that will eventually be available for use for everyone? Wouldn't it be better to have control over that and set up tests to check that things don't break with the additional installation of gfal2? And/Or check with the rucio developers to let them know that we intend to use gfal2 and if they expect any issues w

[2019-10-17 07:40] smuzaffar commented on #5199
the problem is we are going in a direction that we want a tool to setup env for all the possible tools a user can use. This is not going to end any where.

[2019-10-17 08:12] clelange commented on #5199
OK, my understanding had been that the tools developed by @dciangot were eventually supposed to become centrally supported tools.
Anyway, would you agree with extending the `$PYTHONPATH` in https://github.com/cms-sw/cms-bot/blob/master/rucio/setup.sh#L13 by appending `/usr/lib64/python2.7/site-packages/` to the end so that these tools would at least work on the standard lxplus7 installation? This

[2019-10-17 08:18] davidlange6 commented on #5199
Dangerous at best even for python2 (as it will override randomly cms python versions depending on whats installed) - however, we are also at the point of supporting python3 already in cmssw, so using PYTHONPATH does not work in the production environment...

[2019-10-17 08:20] clelange commented on #5199
OK, thanks, I guess we'll have to go with a custom setup script for the CMS rucio tools that encapsulate the bare rucio setup.

[2019-10-17 13:26] smuzaffar opened #5280 "Frontier clients OpenSSL 1.1.1 fix and python interface"
@DrDaveD , we are setting up `CentOS8` based CMSSW integration builds. As `CentOS8` comes with `OpenSSL 1.1.1` so we had to patch [a] frontier_client to build. I am not sure if this is the right fix. Can you please look in to it and include in it frontier client next version?

We have few python scripts we distribute along with frontier_client in CMS. These are python frontier client built on top

[2019-10-17 13:26] cmsbuild commented on #5280
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-28 10:33] mrodozov commented on #5255
I believe this is resolved

[2019-10-28 10:33] #5255 closed

[2019-10-28 11:22] adewit opened #5307 "Update millepede version"
Dear experts,
[cc @mmusich and @dmeuser]
We would like to update to a more recent release of millepede than is currently included as an external. As the last time an update was made was several years ago, and the person who took care of it at the time has since left CMS, we're not 100% sure of the procedure. Is all there is to it to update this file: https://github.com/cms-sw/cmsdist/blob/IB/CMSSW

[2019-10-28 11:23] cmsbuild commented on #5307
A new Issue was created by  @adewit .

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-29 09:10] fabiocos commented on #5307
assign alca

[2019-10-29 09:10] cmsbuild commented on #5307
New categories assigned: alca

@christopheralanwest,@franzoni,@tlampen,@pohsun,@tocheng you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-10-29 09:12] fabiocos commented on #5307
@adewit if you want to test a new external version you may follow the the instructions https://twiki.cern.ch/twiki/bin/view/CMS/SDTExternalsWithCMSSW

I see that @mrodozov has already started an update

[2019-10-29 09:27] mmusich commented on #5307
@fabiocos @mrodozov thanks!
For my education: how can we tell once the update in the externals is available in an IB?

[2019-10-29 09:50] fabiocos commented on #5307
You may monitor the CMSDIST IB content in the menus now available in the IB page https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_11_0_X (if this is the question), and of course see whether update https://github.com/cms-sw/cmsdist/pull/5309 is integrated (as soon as it enters the branch the IB will pick it)

[2019-10-29 15:14] mrodozov commented on #5307
Once the PR is merged - it goes into the following IB. You can also check from the IB page
https://cmssdt.cern.ch/SDT/html/cmssdt-ib/#/ib/CMSSW_11_0_X
and in every IB section there is a "CMS dist" tab , where "Commits" go, first are the cmssw changes tabs (Default, ROOT6, DEVEL_X, PY3 etc) and the last one is always CMS dist which shows for that
IB what went into externals.

[2019-10-29 16:47] slava77 opened #5313 "update root 6.14 for 10_6_X to solve enum issues in pyroot"
This is ~currently a heads up for~ request to merge features added in root-project/root#4592 in cms-sw/root and update 10_6_X to it.
These are available in root-project:v6-14-00-patches since Oct 30.

[2019-10-29 16:47] cmsbuild commented on #5313
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-10-30 12:37] slava77 commented on #5313
the fix in the enums was now merged in root-project:v6-14-00-patches.
Please investigate possibility to merge this and apply for 106X.

[2019-10-30 20:11] #5307 closed

[2019-11-02 17:13] fabiocos commented on #5313
@slava77 in principle I am ok in backporting the root 6.14 patch, once we have validated the master pre-release where it has been first merged

[2019-11-02 19:14] slava77 commented on #5313
sounds good.
Do I understand correctly that it may be ready to go by Nov 25? (including/assuming pre12 in 2 weeks and relval reports a week after)

[2019-11-02 19:19] fabiocos commented on #5313
it looks like as a reasonable timescale, do you see a problem with this?

[2019-11-02 19:23] slava77 commented on #5313
no problem, just picking a date when to set a reminder

[2019-11-02 19:39] slava77 commented on #5313
however, does this timeline mean that pre12 is going to be built with 6.14?

[2019-11-03 06:52] fabiocos opened #5324 "Herwig 7 migration to python3"
Looking at the failures in the PY3 IB I see that test workflow 511.0 (Herwig7 + external ME) fails due to a trivial issue in an internal python script:

[code]

happening in https://phab.hepforge.org/source/herwighg/browse/herwig-7-1/MatrixElement/Matchbox/External/MadGraph/mg2herwig.py.in$63

A closer inspection shows that there are other issues (for instance print statement syntax). There are no

[2019-11-03 06:52] cmsbuild commented on #5324
A new Issue was created by  @fabiocos Fabio Cossutti.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-03 06:52] fabiocos commented on #5324
assign generator

[2019-11-03 06:53] fabiocos commented on #5324
assign generators

[2019-11-03 06:53] cmsbuild commented on #5324
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2019-11-03 09:26] qliphy commented on #5324
adding @Andrej-CMS

[2019-11-04 12:16] fabiocos commented on #5313
I would say so, ROOT 6.18 validation would likely not be fully final by this week. In any case we have still a couple of pre-releases (one open) before building 11_0_0.

[2019-11-09 16:40] ianna opened #5341 "DD4hep: update to master"
Please, update the dd4hep external to its master branch. This fixes a bug in G4 converter for Polyhedra.

Thanks.

[2019-11-09 16:40] cmsbuild commented on #5341
A new Issue was created by  @ianna Ianna Osborne.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-09 16:44] kpedro88 commented on #5341
@ianna please specify the commit hash, since master is not a stable reference.

[2019-11-09 16:52] ianna commented on #5341
https://github.com/AIDASoft/DD4hep/pull/593

[2019-11-09 16:58] kpedro88 commented on #5341
Looks like the actual hash in upstream is: https://github.com/AIDASoft/DD4hep/commit/f1c86074ad0bf44686bf61131ebf92bc1d233734

[2019-11-10 15:10] smuzaffar commented on #5341
@ianna  https://github.com/cms-sw/cmsdist/pull/5342  should bring in the latest changes

[2019-11-11 12:27] smuzaffar opened #5343 "Backport cms-git-tools to CMSSW_9_4_X and earlier releases"
FYI, @fabiocos , @kpedro88, @fwyzard
Recently we have noticed that building a patch release for 9.3.X was not possible as we were not able to get the cmssw sources. It failed with error message [a].  We have very old version of https://github.com/cms-sw/cms-git-tools available in 9.4.X and earlier release cycles. If we use latest cms-git-tools then it works [b]. Basically the changes [c] fixes the

[2019-11-11 12:27] cmsbuild commented on #5343
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @Dr15Jones, @smuzaffar, @fabiocos, @kpedro88 can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2019-11-11 13:17] fabiocos commented on #5343
As discussed, there should be no dependency in this update on the exact git version in each release, so if this allow the builds to work smoothly I would suggest to do the backport for all active old cycles, and pick them at the first needed build.

[2019-11-11 21:35] #5341 closed

[2019-11-19 15:29] smuzaffar commented on #5324
looks like both herwigpp and madgraph5amcatnlo need python3 updates

https://bazaar.launchpad.net/~madteam/mg5amcnlo/series2.0/view/head:/bin/mg5_aMC#L23

[2019-11-19 15:33] agrohsje commented on #5324
https://bazaar.launchpad.net/~madteam/mg5amcnlo/series2.0/view/head:/bin/mg5_aMC#L24 :
MadGraph5_aMC@NLO works only with python 2.6 or later (but not python 3.X)
Python 3 is only in preparation but not yet validated from the authors.

[2019-11-20 12:58] Andrej-CMS commented on #5324
Dear @all ,
Please find the statement of the authors below:

 Dear Andrej,

  So we've started looking at it. Most of our python is either in the build, i.e. our bootstrap script for all the dependencies which I guess you're not using, interfacing to things like Madgraph, and our interface to UFO. The build stuff now works with both python 2 and python3. Unfortunately Madgraph doesn't yet so we ar

[2019-11-20 13:08] davidlange6 commented on #5324
Do we have a plan from madgraph?
I find this...
https://blueprints.launchpad.net/mg5amcnlo/+spec/pythonversion
But not much else

On Nov 20, 2019, at 1:58 PM, Andrej-CMS <notifications@github.com> wrote:

Dear @ALL<https://github.com/ALL> ,
Please find the statement of the authors below:

Dear Andrej,

So we've started looking at it. Most of our python is either in the build, i.e. our bootstrap sc

[2019-11-20 13:19] qliphy commented on #5324
According to the authors from 28th June:

"Just to keep you updated on the progress here.
1) ALOHA is now fully working with python2/3 and is quite well validated.
2) LO matrix-element (in standalone) are also working with python2/3 and all test seems good.
3) I have successfully run LO event generation (and gridpack generation) with python3 but this is still preliminary so far.
4) I have not yet

[2019-11-20 23:56] qliphy commented on #5324
What we got from the author yesterday:

"The current status is that the low_mem_multicore option will not be passed to python3 ( they are some very weird pickle issue that I can not fix for python 3).
For the rest it should be close to working (but you might face some other functionality not working with python3) Now for the when/what version number we will support python3, I can not commit for th

[2019-11-25 18:10] slava77 commented on #5313
@fabiocos
I wanted to check on the status of this request/issue.
Please clarify if the 6.14 tests in pre12 were OK and we can update root for 10_6_X.
Thank you.

[2019-11-26 09:01] fabiocos commented on #5313
@slava77 the pre12 validation is still ongoing, as soon as there is a reasonable green light we will integrate it. Is there a specific urgent use case for this?

[2019-11-26 13:21] slava77 commented on #5313
There is no urgent use case, I was simply reacting to the reminder set based on the preceding discussion.

[2019-12-11 15:07] slava77 commented on #5313
I see that 10_6_7 has #5319 included.
I checked that the test script to test the negative enums works in this release (and it does not in 10_6_6).
@drkovalskyi   please pass this along to the POG.

[2020-01-22 17:36] DrDaveD opened #5487 "Update frontier client to version 2.9.0"
Please update the frontier client for new CMSSW releases to version 2.9.0.  Here are the [release notes](http://frontier.cern.ch/dist/clientreleasenotes.txt).  I don't think there's anything particularly urgent enough to backport them to older CMSSW release lines, but if there are some that are still actively being updated it could be helpful to backport it there, in particular for the support of

[2020-01-22 17:36] cmsbuild commented on #5487
A new Issue was created by  @DrDaveD .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-23 15:13] smuzaffar commented on #5487
- [ ] CMSSW_11_1_X https://github.com/cms-sw/cmsdist/pull/5488

[2020-01-24 13:56] smuzaffar commented on #5343
this has been done for all release cycles.

[2020-01-24 13:56] #5343 closed

[2020-01-24 13:58] smuzaffar commented on #5313
this has been fixed.

[2020-01-24 13:58] #5313 closed

[2020-01-24 13:59] smuzaffar commented on #5126
pkgtools now does support different py2 and py3 versions.

[2020-01-24 13:59] #5126 closed

[2020-01-24 14:00] smuzaffar commented on #5280
Frontier Client 2.9.0 contains the fix needed for `OpenSSL 1.1.1`

[2020-01-24 14:02] smuzaffar commented on #4877
@khurtado, can we close this?

[2020-01-24 14:04] smuzaffar commented on #4816
@amaltaro , for `CentOS8` we have decided to use system OpenSSL which is `1.1.1`.
For SLC7, we are still using `1.0.2d` and there is no plans to upgrade it.

[2020-01-24 14:17] khurtado commented on #4877
@smuzaffar Yes, this has been resolved already.

[2020-01-24 15:03] amaltaro commented on #4816
We might just wait for that as well then. Would you know when we are suppose to start getting CMSSW for CentOS8?

[2020-01-24 15:09] #4877 closed

[2020-01-24 15:14] smuzaffar commented on #4816
CMSSW_11_1_0_pre1, CMSSW_11_1_0_pre2 were build and deployed for CentOS8 too. Note that CentOS8 is not yet the production architecture.

[2020-01-24 21:15] #5487 closed

[2020-01-29 16:55] ericvaandering opened #5506 "Update Rucio client in CMSSW/CVMFS"
Following #4856 can we get the update to the most recent Rucio client 1.21.6 (1.21.7 is coming Feb 3).

[2020-01-29 16:56] cmsbuild commented on #5506
A new Issue was created by  @ericvaandering Eric Vaandering.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-01-29 16:56] ericvaandering commented on #5506
@smuzaffar

[2020-01-30 05:57] smuzaffar commented on #5506
@bockjoo , can you please install this Rucio client version on CVMFS

[2020-01-30 13:32] smuzaffar commented on #5506
@ericvaandering , thanks to @bockjoo , rucio client verison 1.21.6 is now available
[code]

[2020-02-01 20:42] #5506 closed

[2020-02-10 11:38] hqucms opened #5528 "MXNet slowdown -- OpenBLAS hidden by another BLAS library again?"
Similar as https://github.com/cms-sw/cmssw/issues/25230#issuecomment-506422754. MXNet is slow in the latest IB while using `LD_PRELOAD` to load OpenBLAS recovers the speed.

A quick search in cmsdist seems to point to https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_1_X/master/photospline.spec#L19-L20 and https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_1_X/master/suitesparse.spec#L10. Could w

[2020-02-10 11:38] cmsbuild commented on #5528
A new Issue was created by  @hqucms Huilin Qu.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-11 16:59] mrodozov commented on #5528
I'll  remove lapack but would you write me a short example of how to test the performance ?

[2020-02-11 22:02] smuzaffar commented on #5528
@hqucms , both of these tools (photospline and suitesparse) are not part of cmssw distribution.  None of our externals are using lapack so yes we can drop it. I think the issue is with GSL BLAS which is linked in many externals and CMSSW libs.

@mrodozov , please make a PR to drop photospline and suitesparse

[2020-02-12 00:34] hqucms commented on #5528
@mrodozov Thank you very much!

Currently we don't have any module in CMSSW using MXNet. For performance test maybe you can use https://github.com/cms-sw/cmssw/pull/28902 + https://github.com/cms-data/RecoBTag-Combined/pull/26 and run:
[code]

When OpenBLAS is used one should get something similar to
[code]
instead of
[code]

[2020-02-12 01:27] hqucms commented on #5528
@smuzaffar You are right:

[code]

And
[code]

Looks like we need to make ROOT use openblas instead of gslblas?

[2020-02-12 08:27] smuzaffar commented on #5528
problem is now cmake GSL module which explicitly search for gslcblas [a]. I have fixed it by setting GSL_CBLAS_LIBRARY pointing to openblas lib. I will make a PR with this change + cleanup of lapack.

[a]
[code]

[2020-02-12 15:18] smuzaffar commented on #5528
https://github.com/cms-sw/cmsdist/pull/5540 should fix the issue

[2020-02-12 15:24] hqucms commented on #5528
Thank you very much, @smuzaffar !
Can we have this backported to 10_2_X and 10_6_X once this is successfully integrated for 11_1_X?

[2020-02-13 22:13] #5528 closed

[2020-02-14 08:58] smuzaffar commented on #5528
@mrodozov , can you please backport #5540 for 10.2.X, 10.6.X and 11.0.X?

[2020-02-17 09:30] rekovic opened #5555 "pr 111X (110X) , UTM 0.7.5 in cms-externals"
Dear @smuzaffar,
(attn @boudoul)

New UTM for 11_1_X, and backport to 11_0_X
========================
This is a request to add a new version of the UTM library, tag utm_0.7.5, [1] needed for L1T to be included in CMSSW_11_1_X, and backport to 11_0_X.  This UTM library is intended to be used for MWGR#1.

Description:
=========
The patch fixes the bunch crossing offset issue concerning external sign

[2020-02-17 09:31] cmsbuild commented on #5555
A new Issue was created by  @rekovic .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-17 09:36] boudoul commented on #5555
Dear @rekovic
MWGR is starting in less than 48h  ...

[2020-02-17 15:53] rekovic commented on #5555
Hi @boudoul Thanks!
I imagine this is very tight to make all these changes in such a short time.
In any case, we need to merge this external library in CMSSW, and test it whenever becomes possible.

[2020-02-17 16:05] boudoul commented on #5555
Hi @rekovic , maybe the best is to come in meetings where the plans of subdetectors and subsystems for MWGRs (present and future)  are discussed. Last week, we had a run meeting (tuesday) and a operation meeting (friday), I don't remember from your L1T colleagues any mention of this -

Still,  let's try to support at best your request and ease the tests by scheduling it. What about explaining us t

[2020-02-17 17:59] #5555 closed

[2020-02-18 11:42] schneiml opened #5563 "Jupyter does not work in PY3 IB"
CMSSW usually ships with a Jupyter install:
[code]

But, it seem that in the PY3 IB the setup is broken:
[code]

I don't see a way to have a Python3 notebook from the normal IB either.

[2020-02-18 11:42] cmsbuild commented on #5563
A new Issue was created by  @schneiml Marcel Schneider.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-18 11:51] davidlange6 commented on #5563
Likely a defect in trying to keep the binaries from two python stacks out of conflict. If you changed 5.7.8 to 6.3.0 in a local copy of the jupyter-notebook script it ought to work. Its not immediately obvious how to make a general solution fix.

On Feb 18, 2020, at 12:42 PM, Marcel Schneider <notifications@github.com<mailto:notifications@github.com>> wrote:

CMSSW usually ships with a Jupyter ins

[2020-02-18 13:13] schneiml commented on #5563
The correct version number to use is `6.0.2 `, but that workaround works indeed. Thanks!

[2020-02-18 13:37] davidlange6 commented on #5563
Ok - thanks - I think we can work around this as well - will look into it.

On Feb 18, 2020, at 2:14 PM, Marcel Schneider <notifications@github.com<mailto:notifications@github.com>> wrote:

The correct version number to use is 6.0.2 , but that workaround works indeed. Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cm

[2020-02-18 14:49] makortel commented on #5563
assign core

[2020-02-18 14:49] cmsbuild commented on #5563
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-18 15:48] smuzaffar commented on #5563
@schneiml , you need to run `jupyter notebook3` or `jupyter-notebook3` for python 3.

[2020-02-18 16:01] schneiml commented on #5563
@smuzaffar yes, I just noticed that there is indeed a `jupyter-notebook3`, and that one works. Thanks!

[2020-02-18 16:01] #5563 closed

[2020-02-19 05:21] dan131riley opened #5574 "add '## INITENV +PATH LD_LIBRARY_PATH %{i}/lib64' to libjpeg-turbo.spec"
libjpeg-turbo puts its libraries into %{i}/lib64.  The spec is missing the corresponding INITENV, so LD_LIBRARY_PATH isn't getting set correctly.  This isn't a problem within the full CMSSW environment, but it breaks independent usage of ROOT.  This can be reproduced via

[code]

[2020-02-19 05:21] cmsbuild commented on #5574
A new Issue was created by  @dan131riley Dan Riley.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-19 05:37] smuzaffar commented on #5574
thanks @dan131riley . This change is already par of TF 2.1 update here https://github.com/cms-sw/cmsdist/pull/5525/files#diff-e18d5995de3e9033825093b1611080b6R2

[2020-02-19 05:37] #5574 closed

[2020-02-19 11:32] jan-kaspar opened #5575 "backport of CalibPPS/ESProducers to CMSSW_10_6_X"
We would like to ask backporting the changes from
  https://github.com/cms-data/CalibPPS-ESProducers/pull/2
to the CMSSW_10_6 cycle.

In particular that the .../data/CalibPPS/ESProducers points to the V01-01-00 version.

[2020-02-19 11:32] cmsbuild commented on #5575
A new Issue was created by  @jan-kaspar .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-19 13:48] smuzaffar commented on #5575
@jan-kaspar , I guess we need this for 11.0.X too?
@mrodozov , can you please take care of it

[2020-02-20 13:08] #5575 closed

[2020-02-20 14:23] mrodozov opened #5587 "Update YODA and Rivet"
assign generators
we are updating yoda and rivet recipes (see https://github.com/cms-sw/cmsdist/pull/5586)
as we had to patch yoda (see https://github.com/cms-sw/cmsdist/pull/5531/files , yoda file)
and we thought let's ask if we should update to newer rivet and yoda versions

[2020-02-20 17:21] cmsbuild commented on #5587
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@efeyazgan,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-02-20 17:21] cmsbuild commented on #5587
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-02-20 17:30] agrohsje commented on #5587
Let me add @intrepid42 and @xjanssen. They should further comment.

[2020-02-20 18:50] mseidel42 commented on #5587
Hi Mircho, please feel free to go ahead and update to Rivet 3.1.0 and Yoda 1.8.0. Let me know if there are compilation or runtime errors (in the unit tests) that require updates in RivetInterface!

[2020-02-21 11:41] mrodozov commented on #5587
#5586 is updated. rivet and yoda build standalone, lets see cmssw

[2020-02-26 03:25] #5587 closed

[2020-03-04 23:07] slava77 commented on #5528
I wanted to check if this was done.
I see that #5549 tagged this issue and was merged in 11_0_X.
What about the older releases?

[2020-03-06 12:42] mrodozov commented on #5528
@slava77
in 10.6 and 10.2
https://github.com/cms-sw/cmsdist/pulls?q=is%3Apr+is%3Aclosed+author%3Amrodozov+Use+OpenBlas+instead+of+GSL+Blas

[2020-03-07 08:30] fwyzard opened #5627 "LLVM distribution"
While working with the Intel fork of LLVM, I've been trying to use as much as possible the same flags that we use to build LLVM for CMSSW:
https://github.com/cms-sw/cmsdist/blob/1cb8199fb63b14de5de873c56b0bfb5afcdf6fa5/llvm.spec#L40-L50

This `-DLLVM_LIBDIR_SUFFIX:STRING=64` has been an issue, but after discussing with the developers should be getting fixed (intel/llvm#1228, intel/llvm#1261).

Thi

[2020-03-07 08:31] cmsbuild commented on #5627
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-07 08:32] fwyzard commented on #5627
@smuzaffar @mrodozov what do you think ?

[2020-03-09 08:00] smuzaffar commented on #5627
@fwyzard , do not remember why BUILD_SHARED_LIBS was used instead of LLVM_BUILD_LLVM_DYLIB. Yes looks like  BUILD_SHARED_LIBS is more for developers of LLVM.

@mrodozov , can you please update llvm.spec to use LLVM_BUILD_LLVM_DYLIB and enable cuda support for all archs

[2020-03-09 08:28] fwyzard commented on #5627
The latter is done in #5628 .

[2020-03-09 08:46] mrodozov commented on #5627
yes certainly

[2020-03-11 14:55] hqucms opened #5637 "Build python packages for MXNet and ONNXRuntime"
Currently we are building only the C/C++ APIs for MXNet and ONNXRuntime but the Python APIs would be very nice to have as well for many Python-based analysis workflows.

[2020-03-11 14:56] cmsbuild commented on #5637
A new Issue was created by  @hqucms Huilin Qu.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-16 08:56] smuzaffar commented on #5637
@mrodozov , can you please look in to this?

[2020-03-16 14:35] smuzaffar commented on #5627
@fwyzard , are you happy with the changes, can we close this issue?

[2020-03-16 15:35] fwyzard commented on #5627
The build looks fine.

The installation puts a lot of static libraries under `$LLVM_BASE/lib64`.
Do we have a way to check if we actually need them to use clang and the orther tools ?

[2020-03-16 15:40] smuzaffar commented on #5627
I think only simple way is to re-compile full CLANG cmssw under strace and see if any of the statis libs are loaded. @mrodozov  can you please try that?

[2020-03-16 15:48] fwyzard commented on #5627
Maybe it would be easier to make a build where we delete all `lib64/*.a` files (except for `libomptarget-nvptx.a` that has to be static) and check if we can still use llvm, clang and the tools as usual ?

[2020-03-16 16:11] smuzaffar commented on #5627
sounds much better. @mrodozov can you please try this?

[2020-03-17 15:07] slava77 opened #5657 "boost::uuids::entropy_error in 11_1_X after #5573 (update to boost v1.72.0)"
I see problems after  #5573 was merged in workflows running PF reco

I incidentally found the same problem as was already seen for a while on PPC.
My setup is on a native SL6 node running a cc7 container and see the same problem

[code]

gdb stack trace shows
[code]
This is apparently more specifically coming from
https://github.com/cms-sw/cmssw/blob/ecf11e6c9bc34871e16a53e34ed4b8e750e2b3f5/CondFo

[2020-03-17 15:08] cmsbuild commented on #5657
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-17 15:28] slava77 commented on #5657
perhaps this is relevant https://github.com/boostorg/uuid/issues/79

```BOOST_UUID_RANDOM_PROVIDER_FORCE_POSIX```

[2020-03-17 15:49] smuzaffar commented on #5657
@slava77 , please trying setting `BOOST_UUID_RANDOM_PROVIDER_FORCE_POSIX` in your config/toolbox/slc7_amd64_gcc820/tools/selected/boost.xml and run
[code]
and retry the workflow (or let me know how to re-produce the error).

[2020-03-17 15:52] smuzaffar commented on #5657
ok I see that workflow 140.51 for PPC is failing with such an error. I will it to see if the above suggestion works.

[2020-03-17 15:53] slava77 commented on #5657
from problems in the jenkins tests I know that you should get the same error on the PPC by rerunning wf 140.52.

on x86, do we still have commonly accessible SL6 machines? I can check if I can reproduce the same issue there.

[2020-03-17 15:57] smuzaffar commented on #5657
we still have lxplus6 access but I am not able to run singularity there. Anyway, I will try it for PPC

[2020-03-17 16:11] slava77 commented on #5657
with boost it will take a while

[2020-03-17 16:17] smuzaffar commented on #5657
yes it will nearly re-build full cmssw

[2020-03-17 19:30] slava77 commented on #5657
adding ```BOOST_UUID_RANDOM_PROVIDER_FORCE_POSIX``` helped (unless the reason was that I built this from inside the container where I do the test). After a rebuild I do not get a crash anymore.

[2020-03-17 21:06] smuzaffar commented on #5657
@slava77 , this wf is failing on our ppc64 machine too. We build and run on the same machine. so I do not think that system dynamically picks different getrandom implementation. Anyway, adding `BOOST_UUID_RANDOM_PROVIDER_FORCE_POSIX` and re-building just `CondFormats/PhysicsToolsObjects` fixed the issue for ppc64.

Question is should we add this flag or should drop the usage of `boost::uuids::rand

[2020-03-17 21:11] slava77 commented on #5657
I was perhaps too fast to make #5658
I agree that an alternative solution is to get rid of ```random_generator``` use.
A replacement would be something else that generates a random string

[2020-03-17 21:17] slava77 commented on #5657
well, what would be the downside of doing ```BOOST_UUID_RANDOM_PROVIDER_FORCE_POSIX``` ?

I'm thinking of why don't we do both this and (eventually) get rid of ```boost::uuids::random_generator```

[2020-03-17 21:23] slava77 commented on #5657
grepping some more, it looks like we have an in-house alternative ```edm::createGlobalIdentifier()```

[2020-03-18 09:34] mrodozov commented on #5637
ONNXRuntime is available only for python3 :/ The last two PRs are adding both

[2020-03-18 11:22] davidlange6 opened #5663 "managing python packages with similar names"
@smuzaffar

I was looking at updating some python packages... we have a set where <name> and <name>2 exist (these are coming back together but typically only in python3).. To move forward we need both of packages in at least one example - but this seems to trigger a bug:

Here is an example

--- a/pip/requirements.txt
+++ b/pip/requirements.txt
@@ -219,7 +219,8 @@ Send2Trash==1.5.0
 simplegeneric=

[2020-03-18 11:22] cmsbuild commented on #5663
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-18 11:40] smuzaffar commented on #5663
can you try re-building in fresh area or delete your tmp/specCache and re-try

[2020-03-18 11:45] smuzaffar commented on #5663
by the way, correct version to use is `3.0.1` :-)

[2020-03-18 11:56] smuzaffar commented on #5663
I do not understand why you need both of these in distribution?

[2020-03-18 12:31] davidlange6 commented on #5663
I wanted to upgrade gitdb2 - properly, that mean to have gitdb==4.0.2 for python3 and gitdb2==2.0.6 for python2.

Unfortunately:
gitdb2==2.0.6 depends on smmap2
gitdb==4.0.2 depends on smmap

of course we can patch gitdb2 to depend on smmap instead of smmap2. (well, not sure I can make that replacement in a nice way, but..)

my reproducer was in a fresh area.... but trying again does give the same

[2020-03-18 12:41] smuzaffar commented on #5663
ah OK, if  gitdb2 explicitly requires smmap then yes we should have smmap too.
I tried build smmap and smmap2 locally and it works.

[2020-03-18 12:47] davidlange6 commented on #5663
argh - never mind - I miss a end-of-line statement. (in two independent areas...)

[2020-03-18 12:47] #5663 closed

[2020-03-19 20:06] DrDaveD opened #5672 "Please upgrade frontier_client to 2.9.1"
Please update [frontier_client](http://frontier.cern.ch/dist) to version 2.9.1.  Here are the [release notes](http://frontier.cern.ch/dist/clientreleasenotes.txt).  Please also backport it at least as far as you did 2.9.0, because that introduced a bug affecting monitoring.

[2020-03-19 20:06] cmsbuild commented on #5672
A new Issue was created by  @DrDaveD .

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-19 22:06] smuzaffar commented on #5672
@mrodozov , can you please take care of it.

[2020-03-20 16:17] #5672 closed

[2020-03-21 13:22] davidlange6 opened #5679 "python3 and missing (?) ssl"
hi @smuzaffar - using the latest CMSDIST to look at python packages, I run into:

pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
Collecting zipp==3.1.0
Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError("Can't connect to HTTPS URL because the SSL module is not available.")':

[2020-03-21 13:23] cmsbuild commented on #5679
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-21 13:33] davidlange6 commented on #5679
However - if I force a rebuild python3 on cmsdev21, it picks up openssl properly (eg, “import ssl” works), and I can get the zipp sources…

Strange… I guess I can continue with what I was working on - but presumably there is something to fix..

On Mar 21, 2020, at 2:22 PM, David Lange <notifications@github.com<mailto:notifications@github.com>> wrote:

hi @smuzaffar<https://github.com/smuzaffar> -

[2020-03-21 13:44] smuzaffar commented on #5679
are you building within container ? may be outside container it picked up ssl from system?

[2020-03-21 13:52] smuzaffar commented on #5679
Building inside container I get
[code]
while outside container ( where we have ssl devel packages installed on system)
[code]
I will check how to tell python to configure with our SSL

[2020-03-21 13:53] makortel commented on #5679
assign core

[2020-03-21 13:53] cmsbuild commented on #5679
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-03-21 14:02] smuzaffar commented on #5679
adding `--with-openssl=${OPENSSL_ROOT}` worked. I will open a PR now with the fix
[code]

[2020-03-21 14:21] smuzaffar commented on #5679
Looks like `--with-openssl` fixes the issue .
- Building in container and without `--with-openssl`
[code]
- Building in container with `--with-openssl`
[code]

https://github.com/cms-sw/cmsdist/pull/5680 shoudl fix this

[2020-03-21 17:12] davidlange6 commented on #5679
Thanks!

[2020-03-21 17:12] #5679 closed

[2020-03-21 18:28] makortel commented on #5679
+1

[2020-03-21 18:28] cmsbuild commented on #5679
This issue is fully signed and ready to be closed.

[2020-03-21 22:04] smuzaffar commented on #5637
this is done now
- https://github.com/cms-sw/cmsdist/pull/5675
- https://github.com/cms-sw/cmsdist/pull/5667

[2020-03-21 22:04] #5637 closed

[2020-03-21 22:06] #5280 closed

[2020-03-22 21:04] hqucms commented on #5637
Thank you very much, @mrodozov, @smuzaffar!

[2020-03-23 11:35] smuzaffar opened #5685 "Boost 1.72 and CLANG/AARCH64 IB unit test"
@mrodozov , CLANG IBs and aarch64 IBs still have one unit test failing due to Boost update. Can you please look in to it?

[a]
[code]

[2020-03-23 11:36] cmsbuild commented on #5685
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-23 11:56] mrodozov commented on #5685
Mmm I think this is an old failure and it has something to do with serialization, let me check

[2020-03-23 12:03] slava77 commented on #5657
@smuzaffar
I guess this can be closed now after #5658 was merged

[2020-03-23 12:03] #5657 closed

[2020-03-23 12:07] mrodozov commented on #5685
yeah it's an old issue
https://github.com/cms-sw/cmssw/issues/21002

[2020-03-23 12:13] smuzaffar commented on #5685
ah right, can you check if we can avoid it? may be size of interget issue here

[2020-03-23 12:14] mrodozov commented on #5685
yes, sure

[2020-03-23 13:43] smuzaffar commented on #5672
- 5.3.X: #5683
- 7.1.X: #5684
- 8.0.X: #5686
- 9.3.X: #5687
- 9.4.X: #5688
- 10.6.X: #5689
- 11.0.X: #5690
- 11.1.X: #5673

[2020-03-30 11:25] smuzaffar opened #5702 "Update GCC 8.4 and GCC 9.3"
@mrodozov , can you please try build cmssw-tool-conf using new version fo gcc i.e. 8.4 and 9.3?

[2020-03-30 11:39] cmsbuild commented on #5702
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-30 11:47] smuzaffar opened #5703 "Update LLVM 10.0"
FYI @mrodozov

[2020-03-30 11:50] cmsbuild commented on #5703
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @smuzaffar, @silviodonato, @makortel, @davidlange6, @fabiocos can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-03-30 17:21] smuzaffar commented on #5672
@mrodozov , I see the backport is missing for 10.2.X . Can you please open a PR for 10.2.X?

[2020-03-30 20:22] mrodozov commented on #5672
10.2.X: https://github.com/cms-sw/cmsdist/pull/5707

[2020-04-01 07:37] smuzaffar commented on #5672
@DrDaveD , frontier cleint 2.9.1 was included in CMSSW_11_1_0_pre5. Can you please confirm that it looks good and the bug you mentioned above has been fixed for 11.1.0.pre5? After your green light we will start integrating 2.9.1 in older release cycles.

[2020-04-01 13:51] DrDaveD commented on #5672
@smuzaffar Yes the bug is fixed in CMSSW_11_1_0_pre5, looks good.

[2020-04-01 20:39] khurtado opened #5712 "Update HTCondor to 8.9.6"
We need to update to 8.9.x in order to use late materialization in production.

https://github.com/cms-sw/cmsdist/pull/5711

This is currently failing because it's asking for systemd dependencies

[code]

Can this dependency be faked?

[2020-04-01 20:39] cmsbuild commented on #5712
A new Issue was created by  @khurtado Kenyi Hurtado.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-16 21:36] ericvaandering opened #5752 "Update Rucio client and Rucio config file?"
Following #4856 can we get the update to the most recent Rucio client 1.22.2?

Also I would like to have the rucio.cfg located in $RUCIO_HOME/etc/rucio.cfg updated for what I hope is the last time. It should read:

[code]

(The difference is the rucio and auth_host lines)

[2020-04-16 21:36] ericvaandering commented on #5752
For @bockjoo

[2020-04-16 21:37] cmsbuild commented on #5752
A new Issue was created by  @ericvaandering Eric Vaandering.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-16 21:46] smuzaffar commented on #5752
https://github.com/cms-sw/cms-bot/pull/1291 updates the rucio.cfg

[2020-04-16 21:48] smuzaffar commented on #5752
@bockjoo , I would suggest to add this installed via jenkins too. If agree then I will add the jenkins job.

[2020-04-16 22:15] bockjoo commented on #5752
It's been manually running. You can add it to Jenkins now.

[2020-04-16 22:58] smuzaffar commented on #5752
@ericvaandering , rucip client verison 1.22.2 is now installed. rucio.cfg is also updated cms-sw/cms-bot#1291

[2020-04-16 22:58] #5752 closed

[2020-04-20 08:47] davidlange6 opened #5761 "updating ROOT master today?"
Hi @mrodozov - will you be updating the root master branch today? There is an interesting modules fix or two...

[2020-04-20 08:47] cmsbuild commented on #5761
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-04-20 09:32] mrodozov commented on #5761
yes I'm getting the latest commits

[2020-04-21 14:44] smuzaffar commented on #5761
already done

[2020-04-21 14:44] #5761 closed

[2020-04-21 14:45] smuzaffar commented on #5702
GCC 9.3 is in IBs now

[2020-05-06 13:46] mrodozov opened #5803 "[PPC CC8] Docker image for ppc-cc8 needs perl(BuildSystem::ToolManager)"
Rpm install of coral fails with the following:
[code]
then the symlink is created, but the rpm is not there resulting in
[code]
yet the other archs images doesn't complain

[2020-05-06 13:47] cmsbuild commented on #5803
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-06 13:51] smuzaffar commented on #5803
BuildSystem::ToolManager comes from SCRAM. If you have the build area then try running

[code]
This should show what is provided by scram.  You might want to fix the scram version in above command ans your local install version might be different.

[2020-05-11 06:53] smuzaffar commented on #5703
llvm 10 is now in CLANG IBs, once new compilation warnings are all cleaned up then we will integrate it for normal IBs.

[2020-05-11 06:53] #5703 closed

[2020-05-11 06:54] smuzaffar commented on #5702
GCC 8.4 is now the production architecture for 11.1.X release cycle.

[2020-05-11 06:54] #5702 closed

[2020-05-11 11:37] mrodozov commented on #5703
Seems more warnings are getting in compared with the already fixed :/

[2020-05-11 11:55] smuzaffar commented on #5703
we already have fixes for all of those.

[2020-05-11 18:44] #5803 closed

[2020-05-12 14:08] smuzaffar commented on #5712
@khurtado , can this be closed?

[2020-05-12 15:44] mrodozov opened #5817 "[PPC CC8] Cuda install without official .rpm or .run installer"
I'm trying to get CUDA on CC8 PPC but Nvidia doesn't have rpm or the .run installer for this arch
Since I'd expect some similarities between cc7 and cc8 I installed the cc7 rpm (using the arm config in cuda.spec) but this results in
[code]
which I guess is due to cuda binaries incompatibility.
The question is should I put cuda stuff in conditions until they publish cc8 binaries or there is a way t

[2020-05-12 15:44] cmsbuild commented on #5817
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-12 15:47] makortel commented on #5817
assign core, heterogeneous

[2020-05-12 15:47] cmsbuild commented on #5817
New categories assigned: heterogeneous,core

@Dr15Jones,@smuzaffar,@makortel,@makortel,@fwyzard you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-12 15:48] fwyzard commented on #5817
Did you try the PowerPC RHEL 7 version ?

http://developer.download.nvidia.com/compute/cuda/10.2/Prod/local_installers/cuda_10.2.89_440.33.01_linux_ppc64le.run

[2020-05-12 15:49] mrodozov commented on #5817
I did. It says it's a posix script that fails on line 512 (segmentation fault)

[2020-05-12 15:49] fwyzard commented on #5817
It's the same installer as for Ubuntu 18.04, so it should support the recent C++ ABI as well (if it matters).

[2020-05-12 15:50] fwyzard commented on #5817
Do you have a log or trace ?

[2020-05-12 15:56] mrodozov commented on #5817
[cudalog.log](https://github.com/cms-sw/cmsdist/files/4616750/cudalog.log)

Nothing much, it runs the .run installed and fails

[2020-05-12 16:09] fwyzard commented on #5817
I see... hard to debug without access to a PowerPC machine :-(

[2020-05-12 16:35] fwyzard commented on #5817
How urgent is this ?

Let's see if NVIDIA pushes a new version of CUDA by the end of the week (they have a big announcement scheduled for Thursday) that solves the issue - otherwise we can try to extract the libraries from the rpms instead of the runfile.

[2020-05-12 16:41] smuzaffar commented on #5817
@mrodozov , I see thaty you had managed to install once `cc8_ppc64le_gcc8/external/cuda/10.2.89` ... so what changed that it is not building now?

[2020-05-13 07:50] mrodozov commented on #5817
Well, we can have the build without the CUDA part until we solve this
I can't say it's very urgent, we are just preparing the CC8 cmssw-tool-conf to have it and clean it as we do for x86 and arm

I installed the CC7 CUDA .rpm, but LLVM doesn't build with it (which is the most relevant thing depending on CUDA)

[2020-05-13 08:46] fwyzard commented on #5817
Mhm, in that case I don't think installing from the runfile would help :-(

What were the LLVM errors like ?

[2020-05-13 10:44] smuzaffar opened #5819 "GCC 10.1 based IBs"
GCC 10.1.1 is out. Lets try to setup IBs based on it

[2020-05-13 10:45] cmsbuild commented on #5819
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-13 10:46] smuzaffar commented on #5819
@mrodozov , I have created IB/CMSSW_11_1_X/gcc10 branch and most of the externals are built and uploaded to `cms` repository. There are few still failing . Can you please try to get cmssw-tool-conf built for `slc7_amd64_gcc10` ?

[2020-05-13 11:24] davidlange6 commented on #5819
Cool - lets see how many string-comparison based gcc version comparisons this will break...

On May 13, 2020, at 12:44 PM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

GCC 10.1.1 is out. Lets try to setup IBs based on it

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.c

[2020-05-13 13:40] mrodozov commented on #5817
If you see my initial comment, but see the first line till the end of it. It's nvptx something and then
it can't find a type:
`error: identifier "__ieee128" is undefined`

[2020-05-13 14:53] mrodozov commented on #5817
[llvmlog.log](https://github.com/cms-sw/cmsdist/files/4622712/llvmlog.log)
this is the log

[2020-05-13 15:08] fwyzard commented on #5817
I see that the error is from libomptarget .

Since we don't use OpenMP from llvm, and definitely not for offloading,
maybe you could try to work around the problem by disabling the "openmp"
target ?

(but let's wait 24 hours...)

.A

[2020-05-29 08:21] mrodozov opened #5885 "Build madgraph 2.6.7 for Centos7 releases"
We are currently building version 2.6.7 for Centos8 releases
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/cc8/madgraph5amcatnlo.spec
which is newer than the one used in
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_2_X/master/madgraph5amcatnlo.spec
The question I have is can we backport 2.6.7 in Centos7 releases.

[2020-05-29 08:22] mrodozov commented on #5885
assign generators

[2020-05-29 08:22] cmsbuild commented on #5885
New categories assigned: generators

@alberto-sanchez,@SiewYan,@qliphy,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-05-29 08:22] cmsbuild commented on #5885
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-05-29 15:25] smuzaffar commented on #5685
duplicate of cms-sw/cmssw#21002

[2020-05-29 15:25] #5685 closed

[2020-05-29 16:21] mrodozov commented on #5685
I see there is a "solution" the serialization of the testSerialization<FileBlob>() to go first in the test.
When I was checking why it fails found this (I followed the exception message)
`msg("requested integer size exceeds type size: ")`
https://lists.boost.org/boost-users/att-32001/portable_binary_iarchive.hpp
which says:
[code]
which is our case. I'll try to put testSerialization<FileBlob>() on

[2020-05-29 16:35] smuzaffar commented on #5685
I do not this this will change any thing. Test  is just
- creating a local file
- write an object in to it
- reading it back

This is done in here https://github.com/cms-sw/cmssw/blob/6967c864665690f069c3bf6c5cfce3fb8e69e3be/CondFormats/Serialization/interface/Test.h

So I dp not thinking that changing the order will fix any thing

[2020-05-29 19:22] mrodozov commented on #5685
Yes, it doesn't make sense, but this is the output if I move the test on top:
[code]

thats for the CLANG build on Arm is still failing

[2020-05-29 19:35] smuzaffar commented on #5685
I think https://github.com/cms-sw/cmssw/pull/30050/files should fix the issue (at least this fixes the unit test for clang IB).

[2020-05-29 19:46] mrodozov commented on #5685
I'm trying it.
fun part was when I put the test last it works for both arm and clang, just now.
could be because of the uninit value of the isize indeed, I think the other similar classes might miss it as well.

[2020-05-29 19:53] mrodozov commented on #5685
that was it :) now it works

[2020-06-01 19:53] ericvaandering opened #5894 "Update Rucio config file"
@bockjoo

Like #5752.

Can we make the config file read like this? The difference is the ca_cert line

[code]

[2020-06-01 19:54] cmsbuild commented on #5894
A new Issue was created by  @ericvaandering Eric Vaandering.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-01 20:32] bockjoo commented on #5894
*@ericvaandering <https://github.com/ericvaandering>*

The config is updated. The change should appear in 30 minutes or less.

On 6/1/20 3:53 PM, Eric Vaandering wrote:

[2020-06-01 21:21] ericvaandering commented on #5894
Thanks!

Sent from a mobile device.

On Jun 1, 2020, at 15:33, Bockjoo Kim <notifications@github.com> wrote:

﻿

*@ericvaandering <https://github.com/ericvaandering>*<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_ericvaandering-253E-2A&d=DwQFaQ&c=gRgGjJ3BkIsb5y6s49QqsA&r=EHaoB-POFWGrYFvPXoj1bQ&m=gP7ppzP9RqGZN9gq3GNdcJll4-kBKwLphWdp5CbKrMA&s=36KA1rGKq3GPdPaj_gOuekBvU0Bn72UZWPhcHLV

[2020-06-03 09:04] #5894 closed

[2020-06-04 12:08] smuzaffar opened #5905 "Move to ROOT6.22 for CMSSW_11_2_ROOT620 IBs"
We are testing root 6.20 in cmssw 11.1.X and if validation goes fine then we will include root 6.20 for 11.1.0. We are still building 11.1.ROOT620.X IBs to test root 6.20.

We also have 11.2.ROOT620.X IBs but I would suggest to use to root 6.22 instead. So for 11.2.X we will have
- 11.2.X : based on root 6.20 (it is currently based on 6.18)
- 11.2.ROOT622.X: Based on root 6.22
- 11.2.ROOT6.X: Base

[2020-06-04 12:08] smuzaffar commented on #5905
assign externals,core

[2020-06-04 12:08] cmsbuild commented on #5905
New categories assigned: core,externals

@Dr15Jones,@smuzaffar,@smuzaffar,@makortel,@mrodozov,@tulamor you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-04 12:08] cmsbuild commented on #5905
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-04 12:12] smuzaffar commented on #5199
using system python to install rucio allows `gfal-*` tools to run . We are currently testing this https://github.com/cms-sw/cms-bot/issues/1321

Note that existsing rucio setup and new one based on system python only works for SLC7.

[2020-06-04 13:55] makortel commented on #5905
I agree it would be good to start testing 6.22, but I'm a bit concerned of switching 11_2_X to 6.20 before a green light from validation.

(what have we typically done in such situations in the past?)

[2020-06-04 14:02] clelange commented on #5199
Alright, thanks for picking that up again. Looking forward for instructions on using rucio with CMSSW setup.

[2020-06-04 14:08] smuzaffar commented on #5905
Of course  we will wait for the validation first before moving 11.2.X to root 6.20

[2020-06-04 14:22] makortel commented on #5905
Excellent, then I'm ok with the plan.

[2020-06-07 19:42] belforte opened #5916 "bash autocompletion does not work for command "crab""
after `cmsenv` now bash autocompletion works for commands `crab-prod, crab-pre, crab-dev` but not for `crab`.
[code]

autocompletion is back after `source /cvmfs/cms.cern.ch/common/crab-setup.sh` which I guess is why users did not notice:
[code]
this is likely due to
https://github.com/cms-sw/cmsdist/blob/97290ce259b2530b2e026e13be5cc8ac9c19185f/crab-build.file#L73-L74

could we simply add there a

[2020-06-07 19:42] cmsbuild commented on #5916
A new Issue was created by  @belforte Stefano Belforte.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-07 23:38] makortel commented on #5916
assign core

[2020-06-07 23:38] cmsbuild commented on #5916
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-08 09:06] cmsbuild commented on #5916
This issue is fully signed and ready to be closed.

[2020-06-08 09:25] smuzaffar commented on #5905
We now have ROOT622 IBs setup for CMSSW_11_2_X.
Once we have the green signal from Pdmv about ROOT620 validation then we will include that in 11.1.X and 11.2.X master IBs.

[2020-06-08 09:25] #5905 closed

[2020-06-08 09:34] smuzaffar commented on #5199
rucio client using system python is now available on cvmfs . As for the old rucio setup, this only works for SLC7 and with system python.

[a]
[code]

[2020-06-08 16:40] #5916 closed

[2020-06-09 21:49] smuzaffar commented on #5819
done

[2020-06-09 21:49] #5819 closed

[2020-06-09 21:50] smuzaffar commented on #5199
fixed

[2020-06-09 21:50] #5199 closed

[2020-06-16 09:12] mrodozov opened #5950 "Oracle instant client - new version available"
After the core software meeting we were going trough Oracle website
to search if there is a Arm release now available, although there isn't the client
version moved to version 19 wrt the 12 we are using.
The question is can we get the latest client considering compatibility issues and if you know any obstacles not letting us use it

[2020-06-16 09:13] cmsbuild commented on #5950
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-16 09:15] smuzaffar commented on #5950
assign db

[2020-06-16 09:15] cmsbuild commented on #5950
New categories assigned: db

@ggovi you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-16 09:17] smuzaffar commented on #5950
@ggovi , oracle client version we are using is 12.1.0.2.0 . As @mrodozov mentioned there is newer instant client version 19 availble. Do you see any reason to not move to latest version?

[2020-06-18 10:59] mrodozov commented on #5817
this is now working. closing it

[2020-06-18 10:59] #5817 closed

[2020-06-22 16:48] smuzaffar commented on #5950
we trying building 19c ( https://github.com/cms-sw/cmsdist/pull/5959 ) but it does not yet support C++11 ABI. We have asked oracle team to provide occi build with GCC5 (for ORacle Linux 8). Once we have occi lib then we will try again. Till then lets keep this issue open.

[2020-06-24 12:42] smrenna opened #5987 "HighFive library for handling HDF5 Files"
I am requesting a new external for handling HDF5 for generator level calculations.
This is a header-only library available at github:

https://github.com/BlueBrain/HighFive.git

Please install tag v2.0.

I have not tested with other versions.

[2020-06-24 12:43] cmsbuild commented on #5987
A new Issue was created by  @smrenna Stephen Mrenna.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-24 12:49] smuzaffar commented on #5987
@mrodozov , can you please take care or this.

[2020-06-24 12:50] smrenna commented on #5987
Note, there is nothing to build.   It is a header only library.    I don't care about any of the tests, etc.   I don't know if I made that clear.

[2020-06-25 14:05] davidlange6 opened #5992 "Can we avoid maintaining CMSSW dependencies in BuildFiles?"
hi @smuzaffar (mostly)

having "cleaned up" (hopefully) a lot of CMSSW build files - I wonder if we can avoid altogether having developers maintain the lists of CMSSW packages in them? Eg, its easy to write a script (I did one) to find the set of packages with header dependencies and separately, those with dependencies in src (and plugins, etc).

BuildFiles could express external dependencies and

[2020-06-25 14:05] cmsbuild commented on #5992
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-06-25 14:21] smuzaffar commented on #5992
assign core
@davidlange6 , yes this is doable. The only issue is that we have cyclic source level dependencies. If we can avoid that then it is trivial but will cost some extra build time as scram has to re-calculate it on every change in source file.

[2020-06-25 14:22] cmsbuild commented on #5992
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-25 14:41] Dr15Jones commented on #5992
@davidlange6 How about we test BuildFile.xml for dependencies as part of the pull request checks? In that way we do not have to calculate the dependencies each time someone checks out the code.

[2020-06-25 15:27] davidlange6 commented on #5992
Well, we’d first have to fix all the build files. Indeed, if dependency grepping slows down “scram b” or other commands noticeably then thats definitely a reason not to do what I suggest.

On Jun 25, 2020, at 4:41 PM, Chris Jones <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> How about we test BuildFile.xml for dependencies as part

[2020-06-29 15:45] #5987 closed

[2020-06-30 14:40] makortel opened #6011 "Include fmt external"
The https://github.com/fmtlib/fmt has an implementation of C++20's [`std::format`](https://en.cppreference.com/w/cpp/utility/format) (and the standard appears to be based on it). Currently [no `std` implementation support `std::format`](https://en.cppreference.com/w/cpp/compiler_support#cpp20), so in the mean time it would be useful to include https://github.com/fmtlib/fmt as an external.

[2020-06-30 14:40] makortel commented on #6011
assign core

[2020-06-30 14:40] cmsbuild commented on #6011
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-06-30 14:40] cmsbuild commented on #6011
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-02 18:27] makortel commented on #6011
@smuzaffar @mrodozov Could you take a look at this at some point? Thanks.

[2020-07-02 19:47] mrodozov commented on #6011
@makortel yes, sorry sometime I miss notifications

[2020-07-03 00:00] makortel commented on #6011
No problem, thanks!

[2020-07-03 08:52] amaltaro opened #6025 "Replace MySQL-python library by something else that supports python3"
As described in pypi:
https://pypi.org/project/MySQL-python/

this third-party library does not support python3.

We need to check whether services depending on it are really using this library. It might be that we can simply drop it instead of adopting another package for mysql interface.

Apparently needed by:
* crabserver
* t0
* wmagent

[2020-07-03 08:52] cmsbuild commented on #6025
A new Issue was created by  @amaltaro Alan Malta Rodrigues.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-03 09:09] amaltaro commented on #6025
Feel free to assign it to myself.

[2020-07-03 14:26] davidlange6 opened #6029 "Including libstdc++fs in link"
We'd like to use the c++17 standard filesystem library. In gcc8 it requires adding -lstdc++fs
(this is apparently fixed in gcc9). What is the preferred way of doing this? as part of the gcc-cxxcompiler tool file or as a separate tool that one can then add to a BuildFile where it is used?

[2020-07-03 14:26] cmsbuild commented on #6029
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-03 14:47] smuzaffar commented on #6029
assign core

[2020-07-03 14:47] cmsbuild commented on #6029
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-03 14:48] smuzaffar commented on #6029
we should add a new toolfile stdcxx-fs (in gcc-toolfile.spec) and explicitly use it where needed.

[2020-07-03 17:36] mrodozov commented on #6025
https://pypi.org/project/PyMySQL ?
I think the question is how close to your existing API calls the new tool can be, minimizing rewriting old calls to new

[2020-07-06 13:20] amaltaro commented on #6025
Yes, that might be a good option. But first I need to make sure that our services are really using this package, which I'm not really sure...

[2020-07-06 17:40] #6029 closed

[2020-07-06 18:04] #6011 closed

[2020-07-07 08:35] amaltaro commented on #6025
Moving this issue under the WMCore project: https://github.com/dmwm/WMCore/issues/9805

[2020-07-07 08:35] #6025 closed

[2020-07-07 08:35] amaltaro commented on #4022
Fixed by #4819

[2020-07-07 08:35] #4022 closed

[2020-07-15 08:02] davidlange6 opened #6077 "do we need three castorShowerLibraries"
-rw-r--r--. 1 dlange zh 570090084 Jul 15 09:47 CastorShowerLibrary_CMSSW500_Standard.root
-rw-r--r--. 1 dlange zh 165866508 Jul 15 09:48 castorShowerLibrary_QFBE.root
-rw-r--r--. 1 dlange zh 142193172 Jul 15 09:47 castorShowerLibrary.root

only the first (sadly the biggest) is used it seems..

[2020-07-15 08:03] cmsbuild commented on #6077
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @silviodonato, @dpiparo, @smuzaffar, @makortel can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-15 08:03] davidlange6 commented on #6077
assign simulation

[2020-07-15 08:03] cmsbuild commented on #6077
New categories assigned: simulation

@mdhildreth,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-15 08:25] civanch commented on #6077
@davidlange6 , @smuzaffar , I agree, only 1st file is used both for Run-1 and Run-2.

[2020-07-15 08:28] davidlange6 commented on #6077
Could you make a PR to drop the others from cms-data?

On Jul 15, 2020, at 10:26 AM, Vladimir Ivantchenko <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6> , @smuzaffar<https://github.com/smuzaffar> , I agree, only 1st file is used both for Run-1 and Run-2.

—
You are receiving this because you were mentioned.
Reply to this email direc

[2020-07-28 14:08] ianna opened #6117 "New external tools: Awkward Array 1.0 and uproot4"
Please, add a couple of new tools in addition to the existing `awkward0` and `uproot` ones:
https://github.com/scikit-hep/awkward-1.0

and https://github.com/scikit-hep/uproot4

Thanks!

[2020-07-28 14:09] cmsbuild commented on #6117
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-28 15:29] smuzaffar commented on #6077
@mrodozov , can you please take care of it?

[2020-07-28 17:55] mrodozov commented on #6077
Seems we don't have SimG4CMS-Forward in data, we have this:
https://github.com/cms-sw/cmssw/blob/master/SimG4CMS/Forward/data/download.url
@smuzaffar could you create the repo, so I can drop the data folder from cmssw and add the only file ?

[2020-07-29 17:24] sabasehrish opened #6123 "HDF5 1.10.6 with parallel support"
We need parallel support to the updated hdf5 1.10.6 ( update request was made in #6087).
I checked in include/H5pubconf.h, and see the following, can I request to rebuild HDF5 with parallel support?
/* Define if we have parallel support */
/* #undef H5_HAVE_PARALLEL */

[2020-07-29 17:24] cmsbuild commented on #6123
A new Issue was created by  @sabasehrish Saba Sehrish.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-30 16:42] mrodozov commented on #6123
Certainly, so what do I have to put in the header,

`#define H5_HAVE_PARALLEL`
?

[2020-07-30 17:12] smuzaffar commented on #6123
@mrodozov , you need to configure it with `--enable-parallel`  option ( please see the details https://support.hdfgroup.org/ftp/HDF5/current/src/unpacked/release_docs/INSTALL_parallel )

[2020-07-31 14:32] slava77 opened #6131 "libunwind (dependency in igprof) is not setup with CMSSW in 10_6_X"
[code]

leads to
[code]

[code]
apparently solves the problem, but I don't expect a manual fix to be needed

libunwind comes as a dependency in igprof
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_10_6_X/gcc700/igprof.spec

[2020-07-31 14:32] cmsbuild commented on #6131
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-07-31 14:32] slava77 commented on #6131
assign core

[2020-07-31 14:32] cmsbuild commented on #6131
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-07-31 14:56] mrodozov commented on #6131
This is weird because
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_10_6_X/gcc700/igprof.spec#L8
I'm checking what is happening. If Igprof is requiring libunwind libunwind has to be available

[2020-08-02 11:07] fwyzard opened #6132 "Update OpenMPI to version 4.0.x"
Hi,
CMSSW is bundled with  OpenMPI version 2.1.5, which is marked as "retired" on the OpenMPI pages:
![image](https://user-images.githubusercontent.com/4069793/89121641-cd378a80-d4c0-11ea-9a07-28999b4f6b8e.png)

Shall we move to the current release series, OpenMPI 4.0.x ?
The latest release is [version 4.0.4](https://www.mail-archive.com/announce@lists.open-mpi.org/msg00129.html), from June 2020.

[2020-08-02 11:08] cmsbuild commented on #6132
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-03 13:27] mrodozov commented on #6132
once I fix this #6128 and #6119 I'll get it

[2020-08-03 13:40] smuzaffar commented on #6131
@mrodozov , we are missing libunwind-toolfile in 10.6.X, please include it and add it in cmssw-tool-conf.spec

[2020-08-03 14:39] mrodozov commented on #6077
this is fixed in 6124, closing

[2020-08-03 15:11] #6077 closed

[2020-08-04 06:25] smuzaffar commented on #6131
+core
#6135 should fix this

[2020-08-04 06:25] #6131 closed

[2020-08-04 06:25] cmsbuild commented on #6131
This issue is fully signed and ready to be closed.

[2020-08-04 14:49] #6123 closed

[2020-08-05 15:39] #5627 closed

[2020-08-06 15:34] smuzaffar commented on #6132
done

[2020-08-06 15:34] #6132 closed

[2020-08-06 16:20] fwyzard commented on #6132
Thank you :+1:

[2020-08-12 12:10] #6117 closed

[2020-08-25 15:40] mrodozov opened #6197 "Update XROOTD 5.0.1"
@bbockelm , I updated xrootd to 4.12.3 last week but I wanted to get the latest release, 5.0.1 which has some major differences.
Although the integration test compiles: https://github.com/cms-sw/cmsdist/pull/6191
we are having trouble running the tests.
@smuzaffar suggested I ask you as in
https://github.com/cms-sw/cmsdist/issues/4617
for possible problems on the server side.

[2020-08-25 15:41] cmsbuild commented on #6197
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-28 09:24] mrodozov opened #6203 "Version mismatch in PY3 pip/requirements and actual version"

[2020-08-28 09:25] cmsbuild commented on #6203
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-08-28 09:27] smuzaffar commented on #6203
can you please explain it a bit more?

[2020-08-28 09:28] mrodozov commented on #6203
I'm editing the comment because I accidently hit the create button, yes

[2020-08-28 09:29] mrodozov commented on #6203
never mind, I got an old IB thats why. false alarm :/

[2020-08-28 09:29] #6203 closed

[2020-09-03 09:10] mrodozov opened #6208 "Do CERN have some network problems ?"
My connection in general working is but connections to lxplus got lost
my email doesn't update and none of the cern.ch domains open
I don't have email so I'm asking here

[2020-09-03 09:10] cmsbuild commented on #6208
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-03 09:11] mrodozov commented on #6208
let me also close this :/

[2020-09-03 09:11] #6208 closed

[2020-09-03 09:57] mrodozov commented on #6208
it's my provider they have official statement about it, but since this rarely happens it looked like it was cern

[2020-09-08 09:58] davidlange6 opened #6219 "Error rebuilding IB?"
Hi @smuzaffar @mrodozov
I'm trying to rebuild CMSSW_11_2_CXXMODULE_X_2020-09-07-2300 with a fix, but I've run into two problems - have you seen these?

 1) ```PKGTOOLS/cmsBuild --weekly -a slc7_amd64_gcc820 -j 16 -k build cmssw``` led to cmsBuild rebuilding root. I have changed only cmssw.spec and there are no commits to CMSDIST since the IB. week1 is getting correctly picked up as the correct cac

[2020-09-08 09:59] cmsbuild commented on #6219
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-08 11:48] davidlange6 commented on #6219
It looks like adding

[code]

Before configure solves my second issue (which was what was blocking me). Reasons not to commit this?

[2020-09-08 11:53] smuzaffar commented on #6219
@davidlange6
1. Was your build area initialized last week? It  could be that it was setup to use cms.week0 and now it is cms.week1? Note that `--weekly` pints to current week. This week it is `cms.week1` and last week it was `cms.week0`

2. You already found the solution. I think it worked for IBs as version of autotools on build nodes/docker container might have matched the version 1.16.
  Correc

[2020-09-08 11:56] davidlange6 commented on #6219
On Sep 8, 2020, at 1:53 PM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

@davidlange6<https://github.com/davidlange6>

  1.  Was your build area initialized last week? It could be that it was setup to use cms.week0 and now it is cms.week1? Note that --weekly pints to current week. This week it is cms.week1 and last week it was cms.week0

No - I started

[2020-09-08 12:01] smuzaffar commented on #6219
ah right. For (1), we are in process of migrating cmsrep server (SLC6 phase out). For this purpose I have setup a new server for IBs. I want to run this for couple of week to see the performance. Once tests are over then I will update the landb-alias cmsrep to point to new server. Please for now pass  `--server http://cmsrep03.cern.ch/cgi-bin/cmspkg`  option to cmsBuild.

[2020-09-08 12:25] davidlange6 commented on #6219
ok, I think this is all understood now! Thanks.

[2020-09-08 12:25] #6219 closed

[2020-09-10 08:45] silviodonato opened #6223 "Build CMSSW_10_6_17_patch1"

[2020-09-10 08:47] #6223 closed

[2020-09-18 14:15] davidlange6 commented on #5627
hi @smuzaffar @mrodozov - unfortunately this solution breaks libraries using cmake and depending on llvm.

CMake Error at /cvmfs/cms-ib.cern.ch/nweek-02646/slc7_amd64_gcc820/external/llvm/10.0.0-gchjei/lib64/cmake/llvm/LLVMExports.cmake:830 (message):
  The imported target "LLVMDemangle" references the file

     "/cvmfs/cms-ib.cern.ch/nweek-02646/slc7_amd64_gcc820/external/llvm/10.0.0-gchjei/lib6

[2020-09-18 15:24] mrodozov commented on #5627
The file libLLVMDemangle.a was indeed removed, because we wanted to have the static libs removed.
Which was done in https://github.com/cms-sw/cmsdist/pull/6144
Is this solution doesn't work for something to depend on LLVM and use the cmake config at the same time ?
We are deliberately removing the *.a objects after the install. #6144 is doing that.

[2020-09-18 16:22] fwyzard commented on #5627
David, what package is failing ?
Any chance to make it use the shared libraries instead of the static ones ?

[2020-09-18 16:53] davidlange6 commented on #5627
its include-what-you-use - but its irrelevant I think. I believe a CMakeLists.txt file with

```find_package(LLVM CONFIG REQUIRED)```

is sufficient to trigger the error.

Eg, our llvm cmake file (eg, /cvmfs/cms-ib.cern.ch/nweek-02646/slc7_amd64_gcc820/external/llvm/10.0.0-gchjei/lib64/cmake/llvm/LLVMExports.cmake) says that a list things will get found as libraries - but a bunch don't exist given

[2020-09-22 10:14] ianna opened #6258 "DD4hep update"
Please, update DD4hep to benefit from new development requested by CMS:
https://github.com/AIDASoft/DD4hep/pull/697

@cvuosalo - FYI

[2020-09-22 10:15] cmsbuild commented on #6258
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-22 12:47] makortel commented on #6258
assign core

[2020-09-22 12:48] makortel commented on #6258
@mrodozov @smuzaffar Could you look into this?

[2020-09-22 12:48] cmsbuild commented on #6258
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2020-09-22 20:37] #6258 closed

[2020-09-25 13:52] ianna opened #6271 "DD4hep update"
Please, update to the latest DD4hep master to benefit from the following bug fixes https://github.com/AIDASoft/DD4hep/pull/715
Thanks!

@cvuosalo - FYI

[2020-09-25 13:52] cmsbuild commented on #6271
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-09-28 21:01] #6271 closed

[2020-10-13 14:41] ianna opened #6308 "DD4hep update"
This is a heads up.

We'll need an updated DD4hep version when https://github.com/AIDASoft/DD4hep/pull/723 is merged. The main feature is that we migrate away from the TBB containers. Parallel processing of XML description is currently unrealistic due to the numerous inter-dependencies.

Corresponding PR in CMSSW is https://github.com/cms-sw/cmssw/pull/31770.

[2020-10-13 14:41] cmsbuild commented on #6308
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-10-14 17:28] ianna commented on #6308
AIDASoft/DD4hep#723 has been merged. Please, update to master. Please, use https://github.com/cms-sw/cmssw/pull/31770 to test the change. Thanks!

[2020-10-24 21:22] ianna commented on #6308
resolved via #6315

[2020-10-24 21:22] #6308 closed

[2020-11-01 13:44] ianna opened #6351 "ROOT update"
Please, include the following PR in our ROOT external. It's instrumental in DD4hep migration. Thanks!
https://github.com/root-project/root/pull/6736

@civanch - FYI

[2020-11-01 13:44] cmsbuild commented on #6351
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-02 07:33] smuzaffar commented on #6351
@ianna , I have asked @agheata  to backport the change to root v6.22 branch. Once we have it in 6.22 then we can pick it up for our 11.2.X (which is based on root 6.22)

[2020-11-10 07:16] ianna opened #6390 "DD4hep update to master"
Please update to DD4hep to master branch:
https://github.com/AIDASoft/DD4hep/pull/736

* This includes a new development in a G4 converter to handle reflected volumes CMS way (adding a prefix `_refl`)
* Fixes Assembly conversion to G4
* Removes duplicate volumes message

@dpiparo and @civanch - FYI

[2020-11-10 07:17] cmsbuild commented on #6390
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 07:31] smuzaffar commented on #6390
@ianna  https://github.com/cms-sw/cmsdist/pull/6391 should bring in the latest dd4hep.

[2020-11-10 14:45] belforte opened #6393 "question on crab client deployment in IB"
Hi @smuzaffar I made a chance to crabclient  etc/crab-bash-completion.sh (added one command)
but somehow this is merged, but not used. When I do
export PATH=/cvmfs/cms-ib.cern.ch/latest/common:$PATH
and then use crab-dev
the proper autocompletion is not picked up, i.e. it appears to use the "usual old one",
only after I do
`source /cvmfs/cms-ib.cern.ch/nweek-02654/share/cms/crab-dev/v3.201104.00/e

[2020-11-10 14:46] cmsbuild commented on #6393
A new Issue was created by  @belforte Stefano Belforte.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-10 15:12] smuzaffar commented on #6393
@smuzaffar , in order to use crab from cms-ib area, you need to `source /cvmfs/cms-ib.cern.ch/latest/cmsset_default.sh` . cmsset_default.sh sources scripts from /cvmfs/cms-ib.cern.ch/latest/share/etc/profile.d (e.g. S99crab-env.sh) which is respinsible for setting the proper tab completion. Just setting PATH is not going to sources S99crab-env.sh :-)

[2020-11-10 15:18] belforte commented on #6393
thanks. Sorry if in the past I had wrongly understood differently.
I will fix my documentation accordingly :-)

[2020-11-10 15:18] #6393 closed

[2020-11-10 20:29] smuzaffar commented on #6390
@ianna , tests are finished but looks like the unit test failure is still thre https://github.com/cms-sw/cmsdist/pull/6391#issuecomment-724864651

[2020-11-11 08:22] mrodozov commented on #6390
we can get the latest DD4Hep (in any case)

[2020-11-11 09:02] #6390 closed

[2020-11-11 12:47] smuzaffar commented on #6351
two root commits which were needed are now part of cmssw master IBs ( https://github.com/cms-sw/cmsdist/pull/6382 ). Today;s 11h00 IB should have latest dd4heo and updated root with two commits needed for reflected solid title setting

[2020-11-11 12:47] #6351 closed

[2020-11-24 10:56] jpata opened #6445 "cms-data/RecoTracker-TkSeedGenerator repo needed"
We need a new data repo cms-data/RecoTracker-TkSeedGenerator for the DeepCore PR cms-sw/cmssw#32222.

@vberta once this is created, you can create a PR in the data repo to add your weight file.

[2020-11-24 10:56] cmsbuild commented on #6445
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-11-24 11:03] vberta commented on #6445
Thank you, I'll do that as soon as is available

[2020-11-24 18:40] mrodozov commented on #6445
@silviodonato would you create the repo ?

[2020-11-25 11:26] silviodonato commented on #6445
@mrodozov @jpata
here you are https://github.com/cms-data/RecoTracker-TkSeedGenerator

[2020-11-25 11:36] jpata commented on #6445
thank you Silvio! @vberta, please take note.

[2020-11-29 09:14] #6445 closed

[2020-12-03 16:26] jpata opened #6481 "cms-data/RecoLocalCalo-HcalRecProducers repo needed"
A new data repo cms-data/RecoLocalCalo-HcalRecProducers would be needed for the PR https://github.com/cms-sw/cmssw/pull/32272.

cc @jeffkrupa @kpedro88 @silviodonato @qliphy

[2020-12-03 16:26] cmsbuild commented on #6481
A new Issue was created by  @jpata Joosep Pata.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-03 16:34] slava77 commented on #6481
after noticing that the files are actually in some external repo (https://github.com/fastmachinelearning/sonic-models), I'm not sure we really a need an explicit copy in cms-data.
I still think that we will need the cmsdist to know about this external.

[2020-12-03 16:55] kpedro88 commented on #6481
It's an interesting proposal to treat sonic-models as a separate data external. For organizational purposes, it would certainly be easier on the server side to mount all the models from one place.

[2020-12-03 17:05] davidlange6 commented on #6481
Presumably cms isn’t going to want to carry around everything that lands in this repo? But a data external could just pull specific files (or a tag etc) from it and avoid the maintenance duplication.

But then these files need to stay around and not get randomly cleaned or reorganized..

[2020-12-03 17:10] makortel commented on #6481
Do we want to set a precedent that CMS-specific ML models to be used in CMSSW can be placed in "random places" outside of CMS' control (even if an update of the data external would require an update in cmsdist)?

[2020-12-03 17:18] davidlange6 commented on #6481
I think that would best.

[2020-12-03 17:28] slava77 commented on #6481
what I had in mind is that cmsdist would still have information about the tag/branch of the model files; the same way we deal with the external code.

I didn't think of the exact mechanism of how to make the files available to the sonic server; perhaps cms-data repo with access on the server side presumed to be via `CMSSW_DATA_PATH` or `CMSSW_SEARCH_PATH` is still an easier solution and everything

[2020-12-03 17:47] kpedro88 commented on #6481
In general, I think we'll need to "aggregate" models from different locations (even just different cms-data repos), and I am working on some code to automate this for server deployment. So either approach (cms-data or separate external) is really fine with me at this time.

[2020-12-03 18:23] smuzaffar commented on #6481
Getting data from external repos and treating those as data files (e.g. accessing via `CMSSW_SEARCH_PATH`) is trivial. We just need to add an extra `spec` and its toolfile to expose its data via  CMSSW_SEARCH_PATH.
As @slava77  mentioned, cmsdist will keep the record of `tag` of external tool , so it should be safe.

[2020-12-11 14:42] belforte opened #6498 "add myproxy client to singularity images"
myproxy client is needed to use CRAB Client, in addition to voms-proxy-* stuff which is already in the singularity images. Can you consider adding it ? See alto this old thread: https://hypernews.cern.ch/HyperNews/CMS/
myproxy client is in EPEL, I think that you can simply do `yum install myproxy` when building the image

[2020-12-11 14:43] cmsbuild commented on #6498
A new Issue was created by  @belforte Stefano Belforte.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-11 15:59] smuzaffar commented on #6498
@belforte , which images you are talkng about? It should be present in cmssw/cc7:amd64 and cmssw/cc8:amd64 images [a]. And I think the cms images for grid (cmssw/cms:rhel* should also have it).

https://github.com/cms-sw/cms-docker/blob/master/cc7/Dockerfile.amd64#L15
https://github.com/cms-sw/cms-docker/blob/master/cc8/Dockerfile#L25

[2020-12-11 16:09] belforte commented on #6498
I have tried cc7 a few times and wasn't there. I will check again and double check if it is latest

[2020-12-11 16:15] belforte commented on #6498
[code]

[2020-12-11 16:24] belforte commented on #6498
but indeed is there in docker://cmssw/cc7:amd64
so the problem was in using latest .. hmm  Maybe I saw some older instructions the first time I setup my things
current http://cms-sw.github.io/singularity.html is indeed OK (and have a look I do not remember!)
ok. sorry. close

[2020-12-11 16:24] #6498 closed

[2020-12-11 22:18] ericvaandering opened #6502 "Upgrade Rucio client"
Can we please update the Rucio client to 1.23.11.post3?

Also, if there is a python3 environment we should start to include Rucio in that as well. You can pip3 install the rucio client to get a python3 version with dependencies.

Thanks,

Eric

[2020-12-11 22:19] cmsbuild commented on #6502
A new Issue was created by  @ericvaandering Eric Vaandering.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2020-12-17 13:51] ericvaandering commented on #6502
I think this goes to @bockjoo

[2020-12-17 15:10] bockjoo commented on #6502
@smuzaffar was handling Rucio upgrade through Jenkins.

[2020-12-18 15:02] bockjoo commented on #6502
Shahzad is not responding so far.
I am wondering if he is on vacation.
Please let me know if you want me to take an action now.

[2020-12-18 15:17] makortel commented on #6502
Yes, Shahzad is on vacation.

[2020-12-18 16:52] bockjoo commented on #6502
I tried to install Rucio client with
ARCHITECTURE="slc7_amd64_gcc700"
CMS_PIP_VERSION="9.0.3-pafccj"
but it complains:
pyrsistent requires Python '>=3.5' but the running Python is 2.7.14

[2020-12-18 17:31] bockjoo commented on #6502
The current Rucio client is upgraded to 1.23.11.post3:
[cvcms@lxcvmfs106 ~]$ source /cvmfs/cms.cern.ch/rucio/setup.sh
rucio 1.23.11.post3

[2020-12-18 18:43] ericvaandering commented on #6502
Thanks @bockjoo . That's the python2 version?

I'm unsure if CMS has begun supplying a python3 environment to users that could benefit from Rucio. That can wait until @smuzaffar comes back if needed.

[2020-12-18 18:52] ericvaandering commented on #6502
[code]

Is this a caching issue that will resolve itself?

[2020-12-18 18:59] bockjoo commented on #6502
I had to use pip3 to install the rucio client.
It looks like rucio requires pyrsistent and pyrsistent requires python3. So, it had to be pip3 to install the client.
Yes, it is the python3 version of the Rucio.

[2020-12-18 19:05] ericvaandering commented on #6502
See above. This install seems quite broken (not just for me) and we definitely still need the python2 version installed as well.

Thanks

[2020-12-18 19:07] bockjoo commented on #6502
[cvcms@lxcvmfs106 ~]$ ls -al /cvmfs/cms.cern.ch/rucio/x86_64/slc7/current/lib/python3.6/site-packages | head -3
total 1200
drwx------ 68 cvcms cvcms   4096 Dec 18 18:28 .
drwx------  3 cvcms cvcms     27 Dec 18 18:28 ..
The following 3 directories had the mod 700 and I changed the mode to 755 for them:
/cvmfs/cms.cern.ch/rucio/x86_64/slc7/current/lib
/cvmfs/cms.cern.ch/rucio/x86_64/slc7/current/li

[2020-12-18 19:15] bockjoo commented on #6502
As I mentioned above, this rucio requires  pyrsistent and pyrsistent requires python3
python2 version needs to have a different setup.sh, I am afraid.
First, please check the upgraded rucio and let me know if you still want me to undo the upgrade.

[2020-12-18 19:58] ericvaandering commented on #6502
Well, this new version does seem to work. But I think it's a little more than we are ready for. When I said "as well" I'd like the python3 as an option for adventurous people.

Can you install 1.23.11.post3 of the python2 client and have it setup with source /cvmfs/cms.cern.ch/rucio/setup.sh and rename the current setup script to /cvmfs/cms.cern.ch/rucio/setup-py3.sh?

[2020-12-18 20:04] bockjoo commented on #6502
I don't know how to install it with python2. When I use python2, it fails  because of python3 requirement.
Since python3 is provided by cvmfs, I don't see why python3 ruicio should be adventurous.
If you must have python2 rucio, I have to undo the upgrade.

[2020-12-18 20:28] ericvaandering commented on #6502
Well, it's not the same language base for the client we previously had and when that was setup, there was no problem setting it up under python2.

Can we
1) Leave the current setup.sh as is?
2) Make a setup-py2.sh which points to the old 1.22.x client which was installed (and is python2)
3) Relax until the new year and see if we need a 1.23.x version under python2 (and figure out how to do it)?

[2020-12-18 20:38] bockjoo commented on #6502
Sorry about that!
I have created setup-py2.sh.
Can you try?

[2020-12-18 20:50] ericvaandering commented on #6502
Basic functionality works at least. Thanks @bockjoo and happy holidays!

[2021-01-04 10:59] smuzaffar commented on #6502
I now have installed `1.23.11.post4` using system python3 [a]. @ericvaandering , can you please test it by sourcing  `/cvmfs/cms.cern.ch/rucio/setup.sh`

[a]
[code]

[2021-01-06 07:34] smuzaffar commented on #6502
`1.23.11.post4` is now available for both python2 and python3

[2021-01-06 07:34] #6502 closed

[2021-01-15 08:30] davidlange6 opened #6555 "Update of setuptools needed"
More and more python package updates fail due to our old setuptools version. Could we update it ~now?
For python2, the most recent version is 44.1.1 (which is not so new any more but gains a year of development compared to what we have..)

[2021-01-15 08:30] cmsbuild commented on #6555
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-15 10:36] davidlange6 commented on #6555
I started a local test with 44.1.1 for python2 and 51.1.2 for python3. I'll start a PR if it goes ok.

[2021-01-18 15:13] agrohsje commented on #5885
Sorry @mrodozov  . I just discovered this thread. Can you clarify the purpose? What is this used for? In official production we currently have 2.6.5 from here: https://cms-project-generators.web.cern.ch/cms-project-generators/MG5_aMC_v2.6.5.tar.gz

[2021-01-18 21:32] mrodozov commented on #5885
for consistency with what is in cc8, since 265 is official production we'll get it in slc7 when it's updated.

[2021-01-18 21:32] #5885 closed

[2021-01-26 16:34] smuzaffar opened #6595 "Issues with DAS queries"
@vkuznet , I am seeing some strange issue with Das client. For example see https://cmssdt.cern.ch/jenkins/job/das-query/3326/console . When I run following das client command via Jenkins ( cmsbuild user with valid certificate)
[code]
then it does not match any data
[code]

but when I remove the "site=T2_CH_CERN" condition then it does match over 100 files. If I run the same command by hand from lx

[2021-01-26 16:34] cmsbuild commented on #6595
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-01-26 17:36] smuzaffar commented on #6595
I think issue is with new dasgoclient. For example running the old dasgoclient version from /cvmfs/cms.cern.ch works but fails if I use new dasgoclient from cms-ib.cern.ch

[a] /cvmfs/cms-ib.cern.ch
[code]
[b] /cvmfs/cms.cern.ch
[code]

[2021-01-26 17:46] smuzaffar commented on #6595
FYI @silviodonato , @qliphy , @makortel
the issue was with newer version of das go client. For now I have reverted it back.

[2021-01-26 18:10] vkuznet commented on #6595
Hi,
there is a significant change between two version. The current version
[code]
fetch file information from DBS+phedex, while new version
[code]
get information from DBS+Rucio. You can check it easily with `-verbose 1` flag to see which URLs DAS queries. Now about discrepancy. I don't see it. Here is my results from lxplus:
[code]
and using old client I see
[code]

Am I missing something or it w

[2021-01-26 18:19] smuzaffar commented on #6595
same result ( i.e. no result)
[code]
and it returns nothing

[2021-01-26 18:24] smuzaffar commented on #6595
@vkuznet , so you are getting same results for both
/cvmfs/cms-ib.cern.ch/nweek-02665/common/dasgoclient
and
/cvmfs/cms.cern.ch/common/dasgoclient
?

[2021-01-26 18:27] smuzaffar commented on #6595
for the old dasgo client, you get `/store/data/Run2012D/SingleMu/RAW-RECO/ZMu-15Apr2014-v1/00000/0A3C1F91-2ECD-E311-8E64-90E6BA442F3F.root` but not for the new one

[2021-01-26 19:19] vkuznet commented on #6595
@smuzaffar , I"m getting the same set of files, just use UNIX sort over produced results. The sort in DAS queries is not really supported (and I should probably drop it from the description).

[2021-01-26 19:25] smuzaffar commented on #6595
but I am not getting a single file in the result ( see my comment https://github.com/cms-sw/cmsdist/issues/6595#issuecomment-767733943 ) . You might have some RUCIO env or something.

Anyway, for now I have reverted the dasgoclient change. I am afraid unless this is fixed or understood, we have to stick to old version of dasgoclient

[2021-01-26 19:45] vkuznet commented on #6595
@smuzaffar . please provide me more content. As I wrote I can't reproduce your results on lxplus. Can you do the following:
[code]
When I perform these steps I do see results.

Of course I'm favor to understand the problem, but so far I don't know if we perform identical steps.

[2021-01-26 20:01] smuzaffar commented on #6595
here is what I do.
[code]

you can see that with new dasgoclient I do not get any thing back. Could it be due to grid certificate of bot ( ` /DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=cmsbot/CN=545661/CN=Robot: CMS Build Bot/CN=1872392015` ) ? May be rucio does not like service account's bot certificates?

[2021-01-26 20:11] vkuznet commented on #6595
ah-ha, that's a good point about certificate. Yes, I need to check with Eric if it allows to query Rucio. Please keep ticket open and I'll report what I'll find.

[2021-01-26 20:19] ericvaandering commented on #6595
Close, I think:

-bash-4.2$ rucio-admin account list-identities cmsbot
Identity: /DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=cmsbot/CN=545661/CN=Robot: CMS Build Bot, type: X509

But I imagine the RUCIO_ACCOUNT environment variable is not set to "cmsbot"

I assume that DAS Go Client passes that account variable along since the client runs as the user.

[2021-01-26 20:24] smuzaffar commented on #6595
setting `export RUCIO_ACCOUNT=cmsbot` did not help (may be das client is not making use of it)

[2021-01-26 20:36] vkuznet commented on #6595
Eric, I'm not setting any RUCIO environment in DAS since I use direct HTTP calls to rucio-auth and rucio servers. And, from my personal account this query runs just fine.

[2021-01-26 20:39] vkuznet commented on #6595
@smuzaffar , could you please try plain curl call to rucio using your certificate. I usually test all Rucio APIs using this script:
[code]
So, substitue home userkey.pem and usercert.pem with your proxy and try out to get the rucio token which is what Rucio requires to all queries.

[2021-01-26 20:43] vkuznet commented on #6595
For instance use this URL:
http://cms-rucio.cern.ch/replicas/cms/%2FJetHT%2FRun2018A-TkAlMinBias-12Nov2019_UL2018-v2%2FALCARECO%23ddb97ea6-76ae-4a7f-aa71-709ce18d8c94/datasets

to query Rucio with above script

[2021-01-26 20:46] smuzaffar commented on #6595
I do not get any token back, I get this error
[code]

[2021-01-26 20:53] smuzaffar commented on #6595
I can run rucio client and that works for this bot certificate
[code]

[2021-01-26 20:57] vkuznet commented on #6595
ok, now we know the problem. I hope Eric can fix something in Rucio to allow this cert to obtain the token, without it DAS will not work.

[2021-01-26 21:06] smuzaffar commented on #6595
looks like you need to set  -H "X-Rucio-Account: ${RUCIO_ACCOUNT}" header. setting it for curl allowed me to get the token
[code]

[2021-01-26 21:15] vkuznet commented on #6595
The das uses Account "das", and I think this cert should be associated with "das" rucio account. Otherwise we need to establish how we can treat this rucio account among users and bots. I think Eric should provide clear instructions and if necessary I can adjust dasgoclient to follow them. So far the user certs work just fine, the bot cert seems requires special treatement.

[2021-01-26 21:17] vkuznet commented on #6595
@smuzaffar , can you try using new dasgoclient using your personal certificate?

[2021-01-26 21:20] smuzaffar commented on #6595
yes, with my account/certificate new dasgoclient works

[2021-01-26 21:35] vkuznet commented on #6595
so, it is the issue with robot certificate access in Rucio. Again, I think Eric should clarify how it should be properly handled or adjust authentication for this robot certificate to allow it to work with das account.

[2021-01-27 16:22] vkuznet commented on #6595
@ericvaandering , please provide proper instructions to handle bot cert when running with das client. As I wrote das CLI uses das account and it works fine using user certs, but it does not work using cmsbot cert.

[2021-01-27 17:01] ericvaandering commented on #6595
That can't be what's happening. Only two people are allowed to access the DAS account with personal certificates:
[code]

[2021-01-27 17:06] ericvaandering commented on #6595
Can you check that the colon in the DN name is properly escaped when passed with REST? And also check what you are sending for X-Rucio-Account:  in DAS? It's possible you are sending nothing and relying on Rucio to figure out the account name, but that's not advisable for a service account like cmsbot.

[2021-01-27 18:02] vkuznet commented on #6595
@ericvaandering , I'm confused, the request to rucio auth server does not explicitly pass any DN, instead it is passed using user's cert/proxy. And, how I would know which X-Rucio-Account to use for specific user? What if user unix name is different from his/her name in DN? Are you suggesting that DAS should parse user certs to figure out which RUCIO_ACCOUNT to use? The whole point is to get token

[2021-01-27 18:25] smuzaffar commented on #6595
@vkuznet , no it does not work. Looks like it is still not setting the X-Rucio-Account header
[code]

[2021-01-27 18:31] ericvaandering commented on #6595
Right. There is a many to many map of DN to account so Rucio can’t choose definitively. For users it’s probably making use of a default choice in rucio. But that’s not set for service accounts.

The proper behavior for DAS is to use RUCIO ACCOUNT if it’s set and leave it off as it has been if it’s not. DAS server should always use the das account of course.

[2021-01-27 19:09] vkuznet commented on #6595
@smuzaffar , sorry, could you please try again, or if it is tedious for you please provide me proxy with cmsbot account that I can perform testing. As you see I'm testing my personal cert and everything works for me in this case. I updated `/afs/cern.ch/user/v/valya/public/dasgoclient/dasgoclient_amd64` which now should include X-Rucio-Account header in auth rucio call.

[2021-01-27 19:29] smuzaffar commented on #6595
thanks @vkuznet m it works now.

[2021-01-27 19:34] vkuznet commented on #6595
ok, let's close this issue then, and I'll prepare new version and submit new PR.

[2021-01-27 19:48] vkuznet commented on #6595
New PR https://github.com/cms-sw/cmsdist/pull/6598

[2021-01-28 07:05] smuzaffar commented on #6595
@vkuznet , now Ithere is a new issue
- old client
[code]

- new das client
[code]

[2021-01-28 16:08] vkuznet commented on #6595
Here is the PR which fixes the problem: https://github.com/cms-sw/cmsdist/pull/6602

[2021-02-01 16:02] vkuznet commented on #6595
This should be replaced with new PR https://github.com/cms-sw/cmsdist/pull/6608

[2021-02-01 16:39] #6595 closed

[2021-02-01 17:13] ianna opened #6609 "LCG plugins are not registered"
Created a local developers area from a CMSSW_11_3_X_2021-01-26-0100 IB

Added packages locally:
DetectorDescription/DDCMS
Geometry

Built them, but when run a test, I get an error:

[code]

Checking the plugin registration. Indeed, the file is empty:
[code]

@cvuosalo - FYI

[2021-02-01 17:14] cmsbuild commented on #6609
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-01 17:22] smuzaffar commented on #6609
assign externals
I am looking at it @ianna

[2021-02-01 17:22] cmsbuild commented on #6609
New categories assigned: externals

@smuzaffar,@mrodozov you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-01 17:28] Dr15Jones commented on #6609
@smuzaffar we see that same error in several of the IBs as well.

[2021-02-01 17:30] cvuosalo commented on #6609
@mrodozov FYI

[2021-02-01 17:30] cvuosalo commented on #6609
@ianna Thanks for diagnosing the problem.

[2021-02-01 17:42] smuzaffar commented on #6609
@ianna , do you see the issue with CMSSW_11_3_X_2021-02-01-1100 ?

[2021-02-01 17:59] smuzaffar commented on #6609
OKk I can reproduce it with CMSSW_11_3_X_2021-01-26-0100  ( which is a full release) but not in CMSSW_11_3_X_2021-02-01-1100 ( whichis a patch release) . Let me check why it fails for dev area based on full release

[2021-02-01 18:09] smuzaffar commented on #6609
CMSSW_11_3_X_2021-01-26-0100 is a special release with new DD4Hep. I noticed that `scram b` failed with error message
[code]
so looks like for newer DD4Hep they have renamed the executable `listcomponents` to `listcomponents_dd4hep`.

I will update the build rules to fix this.

[2021-02-01 21:38] smuzaffar commented on #6609
@ianna , #6610 should allow to override the dd4help listcomponents binary via toolfile. Once merged then I will create a PR with new dd4help

[2021-02-02 18:29] cvuosalo commented on #6609
@ianna Should the failing DTGeometryBuilder unit test simply be disabled?

[2021-02-03 07:38] ianna commented on #6609
Yes, I think it would be best. We cannot provide a quick fix for it. It’s a ROOT issue. What we can do is to write a new comparison test that does not depend on legacy ROOT geometry.