[2014-04-04 22:11] ferencek opened #538 "Request for FastJet Contrib in 5_3_X"
Hi,

Would it be possible to include the FastJet Contrib package in 5_3_X releases? It has already been added to 7_1_X releases (#369 and #393). This would simplify development and testing of new tools as well as backporting certain features from more recent releases.

Thank you,
Dinko

[2014-05-02 12:55] ghost commented on #538
@ferencek if this package is still desired in 5_3_X should be discussed at ORP meeting.

[2014-05-02 15:50] ferencek commented on #538
@degano It would certainly be helpful to have it in 5_3_X since in that way all the plugins included in the FastJet Contrib package would be available for testing in the 5_3_X releases (it would also simplify backporting some of the tools included in more recent releases). In fact, it would also be helpful to have it for 7_0_X. However, I'm not sure how complicated this would be from the technical

[2014-05-06 12:51] smorovic opened #648 "adding JsonCpp library"
Hi,

This library is now used internally in EventFilter/Utlities. DQM group has also expressed interest in using it (to produce json files for DQM stream merging), so I suggest to include this library as an external dependency.

Library code is located here:
http://sourceforge.net/projects/jsoncpp/files/
EventFilter/Utilities includes v0.5.0 which is a latest stable version.

Unfortunately, the so

[2014-05-07 08:19] ktf commented on #648
Ciao, how about convert everything to use [`boost::property_tree`](http://www.boost.org/doc/libs/1_55_0/doc/html/boost_propertytree/parsers.html#boost_propertytree.parsers.json_parser) instead of jsoncpp?

[2014-05-07 09:33] diguida commented on #648
@ktf
I found the same `boost` package yesterday during the ORP meeting, but forgot to reply here: thanks for not being as absent-minded as me ;-)
I can try to give a look into it at the same time.

[2014-05-07 10:13] smorovic commented on #648
Hi,
It looks as the reader is not thread safe, I actually manage to get a crash with two threads parsing json strings.

If you want to try:
gcc /afs/cern.ch/user/s/smorovic/public/boost_json_reader.cc -lstdc++ -lpthread

it should be possible to 'fix' that with
#define BOOST_SPIRIT_THREADSAFE
but that didn't compile with my test program...

While now we aren't parsing two json files at the same ti

[2014-11-10 10:36] davidlt opened #1174 "[73X] Update LLVM/Clang"
`RecoEgamma/EgammaIsolationAlgos` package is ICE'ing the Clang and `RecoVertex/AdaptiveVertexFit` is capturing non-POD VLAs in lambda. The latter [landed in Clang](http://reviews.llvm.org/D4368) after 3.5.0 release.

Both of these are resolved in newer Clang versions.

The following seems to resolve it.

[code]
LLVM upstream commit `e1e1392e13ef3f5e97fbdd15ca8d60d63f69a862`
Clang upstream commit `

[2014-11-11 08:44] ktf commented on #1174
+1

On Mon Nov 10 2014 at 11:37:04 AM davidlt notifications@github.com wrote:

[2014-11-11 13:05] davidlt commented on #1174
I doubt there is a working set of commits currently. I started reporting digging into and reporting the issues to get them fixed for trunk/3.6.

This issue will track a progress.

http://llvm.org/bugs/show_bug.cgi?id=21403 is affecting `RecoPixelVertexing/PixelTriplets`

The patch not tested by me, available here: http://reviews.llvm.org/D6124 (still under review)

[2014-11-25 23:28] ktf commented on #1174
Any progress on this? Otherwise please close.

[2014-11-26 07:25] davidlt commented on #1174
I have the commits, but will wait until you get root/xrootd/boost from 7_3_DEVEL_X to 7_4_X. Then I will add it to 7_3_DEVEL_X for a cross-check before suggesting to bump LLVM/Clang in 7_4_X.

[2014-11-26 10:00] ktf commented on #1174
As discussed, let's do this in CMSSW_7_4_DEVEL_X, once opened.

On Wed Nov 26 2014 at 8:27:17 AM davidlt notifications@github.com wrote:

[2014-12-16 09:23] ktf opened #1254 "Update to new TBB"
We should move CMSSW_7_4_X to use the new [TBB](https://www.threadingbuildingblocks.org). @degano can you take care of this please?

[2014-12-16 09:31] ghost commented on #1254
@ktf I'm on it.

[2014-12-17 22:05] ktf opened #1258 "Update root 5.34.22 too use root-mirror/root@fa1e37b3aaae266f4871ef9781f88635cf84f060"
root-mirror/root@fa1e37b3aaae266f4871ef9781f88635cf84f060

@degano can you take a look at this? Basically it needs a PR for cams/v5.34.22 plus the additional CMSDIST PR. 74x only

[2014-12-30 19:44] civanch opened #1272 "Updated HF shower libraries for 2012 and 2015"
New HF shower libraries for 2012 and 2015 have been created to be used with 7_4_0_pre3. These new libraries has better transfer shower shape. They are available at
/afs/cern.ch/user/a/abdullin/public/fixed_HF_SL/HFShowerLibrary_newpmt_noatt_eta4_16en.root
/afs/cern.ch/user/a/abdullin/public/fixed_HF_SL/HFShowerLibrary_oldpmt_noatt_eta4_16en.root

and should be accessible in
/afs/cern.ch/cms/data/C

[2015-01-07 09:04] ghost commented on #1272
Done in #1277.

[2015-01-07 09:04] #1272 closed

[2015-01-07 10:40] #1254 closed

[2015-01-07 11:06] ghost commented on #1258
@ktf done in https://github.com/cms-sw/cmsdist/pull/1279.

[2015-01-07 11:06] #1258 closed

[2015-01-09 08:55] davidlange6 commented on #1272
HI Alessandro-

To finalize the config for 740pre3, could you further make the following changes
 a) remove the "old" libraries from CMSSW
 b) update the v2 libraries to be these:

cmsdev01.cern.ch:/build/dlange/150107/CMSSW_7_4_X_2015-01-07-1000
HFShowerLibrary_npmt_noatt_eta4_16en_v2.root
HFShowerLibrary_oldpmt_noatt_eta4_16en_v2.root

Thanks-
David

On Jan 7, 2015, at 10:04 AM, Alessandro Degan

[2015-01-09 11:10] ghost commented on #1272
@davidlange6 okay, I'm on it right now.

[2015-01-09 11:29] ghost commented on #1272
@davidlange6 done in https://github.com/cms-sw/cmsdist/pull/1284.

[2015-01-09 16:52] civanch opened #1285 "Patch of Geant4 for backward propagator"
A new p4rivate CMS patch is prepared to be applied on top of Geant4 10.0p03. It includes only fixes for backward propagator (Geant4e).  The patch is available via url: http://cern.ch/vnivanch/verification/verification/data/geant4-10.0p03-cms.patch

The patch should be added first to 7_4_DEVEL and 7_4_THREADED branches, after testing will be proposed to 7_4_X.

[2015-01-12 09:19] ghost commented on #1285
Testing this.

[2015-01-12 10:33] ghost commented on #1285
Merged in https://github.com/cms-sw/cmsdist/pull/1286 for the branch IB/CMSSW_7_4_X/next which is used by both DEVEL and THREADED.

[2015-01-12 10:33] #1285 closed

[2015-01-14 08:34] ktf commented on #538
I assume this is taken care for? Reopen if not the case.

[2015-01-14 08:34] #538 closed

[2015-01-14 08:34] ktf commented on #1174
What's the status of this one?

[2015-01-14 08:35] ktf opened #1288 "Move to root 6.2.03"
We were discussing about moving the ROOT6 IB to use the last (released) version of root, however @wmtan was suggesting there might be issues. Do we want to go on with this?

@davidlange6

[2015-01-14 09:22] davidlt commented on #1174
The new LLVM/Clang is in DEVEL_X for the last ~6 weeks I believe, but compiling of CMSSW with Clang was completely broken after we added some thread safety patches in ROOT. I sent RFC patch to Philippe, which was a double fix. He did commit it and Chris recently requested it backported into our own fork, which I believe was done recently.

After that I haven't continued looking in CMSSW  + Clang,

[2015-01-14 09:22] #1174 closed

[2015-01-14 14:49] wmtan commented on #1288
There are definitely issues.  The question is, do we go to 6.2.03 and then fix the issues, or do we fix the issues first?  It would be easier for me if we went to 6.2.03, so I could fix the issues in an IB.
However, one of the issues I noticed breaks edmCheckClassVersion, so I should probably disable that before we go to 6.2.03.  Please let me know what the decision is on 6.2.03.

[2015-01-14 15:36] wmtan commented on #1288
I just learned at the ROOT6 planning meeting that 6.2.03 has changes from our current tag that may reduce memory consumption on header parsing.   So, my first priority in ROOT6 is to fix the issues that arise from going to 6.2.03.  So, I will look at this today to see what I can easily fix before we move the IB to 6.2.03.

[2015-01-14 17:00] ferencek commented on #538
Most developments at this point have moved to newer releases so this request is no longer essential. Thank you.

[2015-01-14 19:09] ktf commented on #1288
Ok. We keep the move on hold then. On a separate note we should have fixed the issue with roofit in today IB.

[2015-01-16 14:38] wmtan commented on #1288
I tested 6.2.03.  It breaks edmCheckClassversion, but everything else is more or less OK.
Please merge pull request #7227 and then update to 6.2.03.
https://github.com/cms-sw/cmssw/pull/7227

[2015-01-16 14:41] davidlt commented on #1288
@wmtan,
https://root.cern.ch/gitweb?p=root.git;a=shortlog;h=refs/heads/v6-02-00-patches
Which one to take?
https://root.cern.ch/gitweb?p=root.git;a=commit;h=2e7ec527c98e5edfe38d1a86d302b061a59c065f
or
https://root.cern.ch/gitweb?p=root.git;a=commit;h=716a06ac242ba671433557e7699e92fee7fdc632

[2015-01-16 14:43] wmtan commented on #1288
https://root.cern.ch/gitweb?p=root.git;a=commit;h=2e7ec527c98e5edfe38d1a86d302b061a59c065f

[2015-01-20 00:59] wmtan commented on #1288
ping

[2015-01-20 09:52] ktf commented on #1288
@degano can you please look into this?

[2015-01-20 15:51] ghost commented on #1288
Done in #1299.

[2015-01-20 15:51] #1288 closed

[2015-01-21 06:20] ktf opened #1300 "New shower library."
From @davidlange6

@degano can you take care of it?

[2015-01-22 18:27] davidsheffield opened #1319 "Data files for Exotica MC production"
We need data files available in Configuration/Generator/data/ for the MC requests EXO-RunIIFall14GS-00268 ---> EXO-RunIIFall14GS-00371. This was discussion on the hypernews thread  https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/1420.html and the pull request https://github.com/cms-sw/cmssw/pull/6991. I was told in the hn thread to open an issue here in order to add the files to cms-data.

Th

[2015-01-23 08:44] ghost commented on #1319
@davidsheffield @davidlange6 I'll prepare a PR.

[2015-01-23 08:56] ghost commented on #1319
@davidsheffield also, is this targeted to 74X? Or another release?

[2015-01-23 11:14] bendavid commented on #1319
Needed In both 74x and 71x

[2015-01-23 14:17] ghost commented on #1319
@davidsheffield @bendavid Hi, I have moved the datafiles in https://github.com/cms-data/Configuration-Generator (old and new ones). And inserted them in 71X here: https://github.com/cms-sw/cmsdist/pull/1322 and 74X here: https://github.com/cms-sw/cmsdist/pull/1321.
They should be both in starting from tonight IBs.

[2015-01-23 14:17] #1319 closed

[2015-01-27 09:11] zucchett opened #1329 "RecoBTag/SoftLepton repository cms-data area"
Dear administrators,
we kindly ask for the creation of the RecoBTag/SoftLepton repository in the https://github.com/cms-data area to store the TMVA configuration files.

[2015-01-27 09:22] ktf commented on #1329
@degano can you please take care of it?

[2015-01-27 09:30] ktf commented on #1300
Is this fixed? Can you close it?

[2015-01-27 09:49] ghost commented on #1300
Yes, fixed in https://github.com/cms-sw/cmsdist/pull/1302 and https://github.com/cms-sw/cmssw/pull/7290. Closing this one.

[2015-01-27 09:49] #1300 closed

[2015-01-27 10:06] ghost commented on #1329
@ktf I'm on it.

[2015-01-27 10:13] ghost commented on #1329
@zucchett I created the repository here: https://github.com/cms-data/RecoBTag-SoftLepton.
You can go ahead and make a PR to include new files, I will then take care to include them in cmsdist. Which release is the target anyway?

[2015-01-27 10:24] zucchett commented on #1329
Thanks! The target is the last open prerelease CMSSW_7_4_0_pre7.

[2015-01-27 14:17] ghost commented on #1329
I will close this issue.

[2015-01-27 14:17] #1329 closed

[2015-01-27 14:18] ghost commented on #648
@smorovic is there still the need of this?
Can I close this issue?

[2015-01-27 15:02] smorovic commented on #648
Hi, @degano, it can be closed...
DQM (and HLT scalers monitoring) went with producing json files in another way.

[2015-01-27 15:15] #648 closed

[2015-01-27 15:23] zucchett commented on #1329
Dear Administrators, sorry for coming back on a closed issue, but it seems that it is not possible to fork empty repositories. How can we proceed? Can I send one file to the release manager to bybass the problem?

[2015-01-27 15:42] ghost commented on #1329
@zucchett yes, do that or even the whole files, as it best suits you.

[2015-01-27 16:11] zucchett commented on #1329
Thanks @degano, here is the link to the compressed file we need to put into the RecoBTag/SoftLepton repository:
http://www.pd.infn.it/~zucchett/SMT/SoftPFMuon_BDT.weights.xml.gz

[2015-01-28 09:26] ghost commented on #1329
@zucchett, I put the file in the cms-data repository and created/merged the PR to include the data in 74X here: #1333.
It will be available from this afternoon IB.

[2015-02-03 16:10] ferencek opened #1349 "Updated cms-data/RecoBTag-SoftLepton"
Dear release managers,

Just pointing you to https://github.com/cms-data/RecoBTag-SoftLepton/pull/1 We would like this included in CMSSW_7_4_0_pre7.

Thanks,
Dinko (for the BTV POG)

[2015-02-05 16:15] civanch opened #1359 "Move Geant4 10.00.p03-mpjdmj to 7_5_X"
A private CMS patch was prepared to be applied on top of Geant4 10.0p03 and validated in the 7_4_DEVEL and 7_4_THREADED branches. Now Geant4 10.00.p03-mpjdmj can be tested by RelVals on top of 7_4_0pre7, for that a special build should be created.

[2015-02-05 16:21] davidlange6 commented on #1359
this is not for 74x itself. if we don't have too much to do after pre7, we can consider it (requesting its validation would be very low  in my priority list in any case)

On Feb 5, 2015, at 5:15 PM, Vladimir Ivantchenko notifications@github.com
 wrote:

[2015-02-05 16:30] civanch commented on #1359
This migration  allowing to use Geant4e backward propagator. Geant4 10.00.p03-mpjdmj was built in MT mode, it is possible to run sequentially using this build (private tests shows that it is working) or build sequentially. I would try out MT mode.

[2015-02-05 16:33] davidlange6 commented on #1359
Sure - but 740pre7 is not the time:)

is there a patch that is purely adding new code for the Geant4e (or just touching that part of Geant4 assuming that we do not otherwise use it)?

On Feb 5, 2015, at 5:30 PM, Vladimir Ivantchenko notifications@github.com
 wrote:

[2015-02-05 16:38] civanch commented on #1359
This mpjdmj is exactly the patch for the propagator. The difference 10.00.p03/10.00.p02 is thread safety and not in physics or tracking. It is safer to move from 10.00.p02 to 10.00p03-mpjdmj with the choice to build Geant4 in MT or in sequential mode.

[2015-02-10 22:09] osschar opened #1374 "Update libpng to 1.6.16"
During cmsShow initialization we're getting an annoying warning from libpng which is apparently a bug in the library and has been fixed in recent releases.
`   libpng warning: Interlace handling should be turned on when using png_read_image`
Versions 1.6.9 to 1.6.15 had a potential integer overflow vulnerability so going to 1.6.16 released in December 2014 seems like the best solution.

If possibl

[2015-02-11 08:00] ktf commented on #1374
Moving this to #1375, #1376 should take care of this. I cloned it from the github mirror into cms-externals/libpng.

@degano can you try to build it, please?

[2015-02-12 10:35] ktf commented on #1374
Should be taken care of... Please reopen if not the case.

[2015-02-12 10:35] #1374 closed

[2015-02-16 15:08] ktf opened #1394 "Bad file relocations on mac"
@VinInn gets:

[code]

@degano can you check where that comes from? Thanks

[2015-02-17 09:46] ghost commented on #1394
Done in https://github.com/cms-sw/cmsdist/pull/1397.

[2015-02-17 09:46] #1394 closed

[2015-02-17 09:46] ghost commented on #1349
Done in https://github.com/cms-sw/cmsdist/pull/1351.

[2015-02-17 09:46] #1349 closed

[2015-02-17 18:29] civanch commented on #1359
As agreed at OPR because private validation was done and do not show problems, it is possible to integrate  10.00p03-mpjdmj into 7_5_X. Further validation can be done using special build on top of some new 7_4_X pre-release.

[2015-02-18 11:30] ghost commented on #1359
@civanch where can I find the patch or the source?
If you wish you can make a pull request to our external repository for Geant4 on top of the p03 branch:
https://github.com/cms-externals/geant4/tree/cms/4.10.00.p03

[2015-02-18 11:43] civanch commented on #1359
@degano , is possible to reuse existing 10.00p03-mpjdmj used in THREADED branch? in 7_5_X we do assume to have MT build of Geant4, so we do not need any change of 10.00p03-mpjdmj.

[2015-02-18 13:36] ghost commented on #1359
@civanch sure, I will take it from there.
Just to be sure, is the one I merged here:
https://github.com/cms-sw/cmsdist/issues/1285 ?

[2015-02-18 13:41] civanch commented on #1359
@degano , Yes, exactly.

[2015-02-18 15:02] ghost commented on #1359
@civanch I created the PR here: https://github.com/cms-sw/cmsdist/pull/1398.

[2015-02-18 15:03] #1359 closed

[2015-02-18 15:37] ktf opened #1399 "Move to valgrind 3.10.1 in cms-externals"
@degano can you please change the valgrind spec (75X) to use:

https://github.com/cms-externals/valgrind/commit/822f91346cb5996f681fcc79a6f0eeec94f4e17c

just mimic what we do for the other stuff. You probably want to drop all the valgrind patches as well.

[2015-02-19 07:55] ktf commented on #1394
Why did you remove the relocation of everything on mac, when it was just two files????

[2015-02-19 13:23] ghost commented on #1394
@ktf I've fixed it in https://github.com/cms-sw/cmsdist/pull/1404

[2015-02-19 13:57] ghost commented on #1399
@ktf done in https://github.com/cms-sw/cmsdist/pull/1405.

[2015-02-23 11:29] #1399 closed

[2015-02-27 08:09] ktf commented on #1399
Can you please backport this to 74X as well? Thanks.

[2015-02-27 08:58] ghost commented on #1399
@ktf done in #1423.

[2015-03-02 12:32] ktf opened #1426 "Update igprof to the latest release in SLHC"
@degano can you take care of this? Thanks. Should be just a matter of changing a commit hash.

[2015-03-03 09:07] ghost commented on #1426
@ktf Testing it right now.

[2015-03-03 09:35] #1426 closed

[2015-03-03 16:39] davidlange6 opened #1430 "Update boost in 73x"
@ktf, @degano @nclopezo
we are now ready to update boost to 1.57 in CMSSW_7_3_X. Could you have a look at doing that?

[2015-03-03 16:42] davidlt commented on #1430
:/
That was done 14 days ago: https://github.com/cms-sw/cmsdist/commit/674b99224b3690f9a3a1d7cee7d756dc23d9abdb

[2015-03-03 16:45] ktf commented on #1430
Was it actually merged?
On Tue 3 Mar 2015 at 17:42 davidlt notifications@github.com wrote:

[2015-03-03 16:45] davidlange6 commented on #1430
Errr - ok then we did two things at once, for better or worse.. Thanks

[2015-03-03 16:49] davidlt commented on #1430
@ktf yes, https://github.com/cms-sw/cmsdist/pull/1396

[2015-03-09 09:16] #1430 closed

[2015-03-10 11:40] ktf opened #1436 "Move PyQt, sip and hector to cms-externals"
In the past we mirrored PyQT and sip on cmsrep because the upstream server was not particularly stable. Since we need to move server for cmsrep, it's probably a good time to have them in `cms-externals` for easier backup and reference.

[2015-03-10 11:40] ktf commented on #1436
@degano, all yours.

[2015-03-10 12:55] ktf commented on #1436
I also created a repo for [hector](https://github.com/cms-externals/hector). Can you update also that?

[2015-03-10 15:13] ghost commented on #1436
All done here: https://github.com/cms-sw/cmsdist/pull/1438.

[2015-03-10 15:28] ktf commented on #1436
Ok. Let's wait for pre1 to be out and then we can merge it.

On 10 Mar 2015, at 16:13, Alessandro Degano wrote:

[2015-03-11 14:37] #1436 closed

[2015-03-17 09:24] civanch opened #1451 "New HF SL for 5_3_X re-simulation"
There is HI request to provide simulation with HF shower library using 5_3_X. To provide this the new HF SL should be added. The file is located at afs:  /afs/cern.ch/user/a/abdullin/public/HF_HI_53X/HFShowerLibrary_oldpmt_noatt_eta4_16en.root

[2015-03-17 10:06] ghost commented on #1451
@civanch Working on it right now.

[2015-03-17 10:12] civanch commented on #1451
@degano , after discussion  with David and Salavat it turn out that the library file from 7_1_X should be used in 5_3_X in order to have the same file in legacy and in production releases. So, it is safe to take  HFShowerLibrary_oldpmt_noatt_eta4_16en_v3.root  for 7_X_Y. Also it is reasonable remove old SL file from 5_3_X.

[2015-03-17 10:17] ghost commented on #1451
@civanch Is the old file: hfshowerlibrary_lhep_140_edm.root ?

[2015-03-17 10:29] civanch commented on #1451
Yes it is.

[2015-03-17 10:51] ghost commented on #1451
@civanch I have prepared the PRs for 5_3_X/stable (slc5 even tho we don't build it anymore) and 5_3_X/slc6_amd64_gcc472 (slc6):
https://github.com/cms-sw/cmsdist/pull/1452
https://github.com/cms-sw/cmsdist/pull/1453
Please review them.

[2015-03-17 14:11] ghost commented on #1451
@civanch I merged both PRs. I am closing this issue.

[2015-03-17 14:11] #1451 closed

[2015-04-22 05:52] davidlange6 opened #1501 "Update boost in 74x"
Hi @degano @nclopezo  - could you update boost in 74x to be the same as 73x (1.57) - would be great if in time for the 1100 IB today.

Thx-

[2015-04-22 08:37] nclopezo commented on #1501
Hi David,
I did it here: https://github.com/cms-sw/cmsdist/pull/1504

[2015-04-22 09:27] nclopezo commented on #1501
I noticed that because of the automatic forward ports, the changes ended also in 7_5_X, do you want me to revert it in the 75X IBs?

[2015-04-22 09:34] davidlange6 commented on #1501
Hi David
I think 75x is fine.

[2015-04-22 09:57] davidlt commented on #1501
I was about to build a local build of CMSSW using `IB/CMSSW_7_5_X/stable`, which is broken now. Crappy foward-porting left it in a mixed state.

[2015-04-22 10:08] davidlt commented on #1501
Looks like `IB/CMSSW_7_4_X/root6` is also broken. The changed were done to `IB/CMSSW_7_4_X/stable`, but other branches had changed to `boost.spec` at least. I see one hunk left in `boost.spec`.

[2015-04-22 10:27] davidlt commented on #1501
I fixed the problem in `IB/CMSSW_7_5_X/stable` and `IB/CMSSW_7_4_X/root6`. @nclopezo could you relaunch the IBs?

[2015-04-22 10:30] smuzaffar commented on #1501
I have restarted the failed IBs.

On 04/22/2015 12:27 PM, davidlt wrote:

[2015-04-22 10:38] smuzaffar commented on #1501
75X/root5 is still broken

ERROR! File not found: /build/cmsbuild/jenkins-workarea/workspace/build-cache/cms.week1/CMSDIST/boost-1.47.0-fix-strict-overflow.patch

can you fix that one too

On 04/22/2015 12:27 PM, davidlt wrote:

[2015-04-22 10:54] davidlt commented on #1501
@smuzaffar done, try again.

[2015-04-22 11:07] nclopezo commented on #1501
Thanks, I was going to fix it after lunch. I confirm that 75root5 is in the Jenkins queue.

[2015-05-04 14:55] #1501 closed

[2015-05-08 12:04] ferencek opened #1535 "RecoBTag-SecondaryVertex repository in the cms-data area"
Dear release managers,

I would like to request the creation of the RecoBTag-SecondaryVertex repository in the cms-data area holding the following TMVA training files:
https://dl.dropboxusercontent.com/u/86555433/CMSSW/BoostedDoubleSV_AK08_BDT.weights.xml.gz
https://dl.dropboxusercontent.com/u/86555433/CMSSW/BoostedDoubleSV_CA15_BDT.weights.xml.gz
Once created, can you also please add this reposit

[2015-05-08 13:03] nclopezo commented on #1535
Hi @ferencek,
I created the repository: https://github.com/cms-data/RecoBTag-SecondaryVertex and I added it to the 75X IBs here: https://github.com/cms-sw/cmsdist/pull/1536.

[2015-05-09 16:07] lgray opened #1538 "Request for RecoEgamma-PhotonIdentification area in cms-data"
Hi, we are going to need a new repository for photon ID criteria.
Please let me know if there is anything I need to do aside from requesting this repository!

[2015-05-10 12:44] ghost commented on #1538
@lgray I created the repo: https://github.com/cms-data/RecoEgamma-PhotonIdentification.
You can now push the files you wish to host there, I'll then create the spec file for cmsdist.
Which release will include it?

[2015-05-10 12:46] lgray commented on #1538
We are looking at whatever is the next 74X release.
Same files will be read in for in 74X & 75X.

-L

On Sun, May 10, 2015 at 2:44 PM, Alessandro Degano <notifications@github.com

[2015-05-11 09:22] ghost commented on #1538
@davidlange6 @lgray Pending your decision on whether adding those lines I created the PR to cmsdist: https://github.com/cms-sw/cmsdist/pull/1539.

[2015-05-11 16:00] cbernet opened #1540 "Request for a newer ipython release"
Hello,

Currently, CMSSW comes with a very old version of ipython (0.10).

We use python 2.7. So would it be possible to upgrade to the most recent stable release of ipython that supports python 2.7? As far as I can see, that would be ipython 3.1.
We would need this change for CMSSW 75X and 74X, and most importantly for the latter.

Many thanks,

Colin

[2015-05-12 08:42] ghost commented on #1540
@cbernet please check https://github.com/cms-sw/cmsdist/pull/1543

[2015-05-12 13:53] Dr15Jones opened #1546 "New ROOT patches"
Please integrate the two new pull requests to our ROOT repository into CMSSW_7_5_X.

[2015-05-12 18:07] ktf commented on #1546
@degano can you look into these? Thanks.

[2015-05-13 07:43] ghost commented on #1546
@ktf I'm on it

[2015-05-13 08:36] #1546 closed

[2015-05-14 14:43] cvernier opened #1554 "HLTrigger-JetMET repository in the cms-data area"
Dear release managers,

I would like to request the creation of the HLTrigger-JetMET repository in the cms-data area holding the following TMVA training files:
https://github.com/cvernier/cmssw/blob/hlt-mvapuid/HLTrigger/JetMET/data/weights_noPtCat_BDTG_catev1.xml
Once created, can you also please add this repository as an external for the next CMSSW_7_5_0 IB and pre-release.

Thank you.

@kirsche

[2015-05-15 07:58] #1535 closed

[2015-05-15 09:11] nclopezo commented on #1554
Hi @cvernier,
I did it here: https://github.com/cms-sw/cmsdist/pull/1556

[2015-05-15 09:20] nclopezo commented on #1554
And the new repository is here: https://github.com/cms-data/HLTrigger-JetMET

[2015-05-15 09:20] #1554 closed

[2015-05-15 09:21] kirschen commented on #1554
Perfect, thanks!

[2015-05-18 09:49] ghost commented on #1538
@lgray I just merged the PR for the 74X branch as well here: https://github.com/cms-sw/cmsdist/pull/1561.
I'm closing this issue.

[2015-05-18 09:49] #1538 closed

[2015-06-10 13:59] cbernet commented on #1540
Hi @degano,

Would it be possible to upgrade ipython to 3.1.0 in 74X as well? This request is related to  https://github.com/cms-sw/cmssw/pull/9544
in which heppy is adapted to run with ipython 3.1.0.

Btw I noticed a problem with the version of ipython distributed with 74X (e.g. 743): tab completion does not work. For example, doing the following in ipython results in a tab being inserted:

[code

[2015-06-11 09:02] ghost commented on #1540
@cbernet, I created a PR at #1617.
Before merging I'll let you try it following these instructions:
1) Log in cmsdev04.cern.ch
2) Create a your personal folder under /build
3) Setup a local CMSSW workarea for 74X
4) Once inside do:
`scram setup /build/degano/ipython310_for_74X/a/slc6_amd64_gcc491/external/py2-ipython-toolfile/1.0-cms2/etc/scram.d/py2-ipython.xml`
5) Then: `cmsenv`

Now your ipytho

[2015-06-11 09:18] cbernet commented on #1540
Hi Alessandro,

Thanks for the fast PR and the testing instructions.
I have verfified that:
- ipython is 3.1.0
- the tab completion problem is solved
- the branch from my PR works:
  https://github.com/cms-sw/cmssw/pull/9544

Do you think you could include both PRs at the same time?

Cheers,

Colin

Le 11 juin 2015 à 11:02, Alessandro Degano notifications@github.com a écrit :

[2015-06-11 10:27] ghost commented on #1540
@cbernet I'll manually test the CMSSW PR, +1 it (if everything is ok) then once all the other signatures are there I'll merge both of them together.

[2015-07-01 08:21] civanch opened #1643 "Request for the new CLHEP 2.2.0.4"
New CLHEP will be needed for the new version of Geant4. The difference with the current is in several bug fixes.

This CLHEP is available at url: http://proj-clhep.web.cern.ch/proj-clhep/DISTRIBUTION/

Optimal to include it into DEVEL and after in 7_6_X, ideally the target would be 7_6_0_pre1

[2015-07-08 13:27] #1643 closed

[2015-07-08 13:56] #1540 closed

[2015-07-13 13:56] civanch opened #1674 "Geant4 patch for 7_1_X - fix memory leaks"
Geant4 version 10.0p02 is used for production in 7_1_X branch. The proposed patch provides fixes of extra memory used by internal data structure for nuclear levels, run time memory leak in gamma-nuclear generator, and run time memory leak in FTF model.

Overall effect: RSS memory become nearly const after 100 first events.

We do not expect any effect on physics.

The patch is available at url:
ht

[2015-07-13 18:43] DrDaveD opened #1676 "please upgrade latest CMSSW to frontier_client 2.8.12"
Please upgrade the latest CMSSW to frontier_client 2.8.12.  It's a very minor change, only replacing an unhelpful "inconsistent result from poll" message that can happen in 2.8.11 on a connect failure with a more helpful "Connection refused" or "Network unreachable".

[2015-07-14 07:49] ghost commented on #1674
@civanch Could you please provide said patch by doing a PR to the cms-externals repository for geant4?
You can find it here: https://github.com/cms-externals/geant4/tree/cms/4.10.00.p02 the branch is named cms/4.10.00.p02

[2015-07-15 08:36] civanch commented on #1674
@degano , @cmsbuild , I have a problem : cannot push to cms-externals:

remote: Permission to cms-externals/geant4.git denied to civanch.
fatal: unable to access 'https://github.com/cms-externals/geant4/': The requested URL returned error: 403

[2015-07-15 08:37] davidlange6 commented on #1674
you need to make a pull request instead (same as for cmssw)

[2015-07-15 08:39] ghost commented on #1674
@civanch Yes, you need to do a PR and to do so you first need to fork cms-externals/geant4 to your account, push the changes there and then make the PR as usual.
Thank you.

[2015-07-15 13:36] ghost commented on #1674
Fixed in #1679.

[2015-07-15 13:36] #1674 closed

[2015-07-15 13:37] ghost commented on #1676
@DrDaveD fixed in #1678.

[2015-07-15 13:37] #1676 closed

[2015-08-05 09:29] jpata opened #1718 "data dir for RecoBTag-Combined"
Dear administrators,
we kindly ask for the creation of the RecoBTag/Combined repository in the https://github.com/cms-data area to store TMVA training files for the combined b-taggers.
@pvmulder @imarches @acaudron @ferencek

[2015-08-05 12:45] slava77 commented on #1718
@degano and @smuzaffar (in case you are not watching the repository by default)

[2015-08-05 12:50] ghost commented on #1718
@jpata @slava77 I created the repository here: https://github.com/cms-data/RecoBTag-Combined with a first dummy commit so you can fork it and then create the PR.
At the time of the PR creation please let us know which release cycles would you like your data to be included in.

[2015-08-06 10:21] civanch opened #1722 "Data files for Geant4 10.1p02"
Migration to Geant4 10.1p02 for 7_6_X requires additionally to source code also update of data files. Datafiles are available from the url:  http://geant4.web.cern.ch/geant4/support/download.shtml

New data files:
G4NDL4.5, G4EMLOW6.41, G4PhotonEvaporation3.1, G4RadioactiveDecay4.2

Other data sets are not changed.

[2015-08-07 10:41] ghost commented on #1722
I've updated the datafiles along with geant4 for 76X here: https://github.com/cms-sw/cmsdist/pull/1726

[2015-08-07 10:41] #1722 closed

[2015-08-07 10:42] #1718 closed

[2015-08-07 11:05] davidlange6 commented on #1722
Thanks Alessandro!

[2015-08-20 14:42] smuzaffar opened #1748 "cms-externals/fastjet#10: Rappoccio/v3.1.0 rebase"
A new Pull Request was created by @nclopezo (David Mendez) for branch cms/v3.1.0.Pull Request Reference: cms-externals/fastjet#10

[2015-08-20 14:44] #1748 closed

[2015-08-20 14:44] cmsbuild opened #1749 "cms-externals/fastjet#10: Rappoccio/v3.1.0 rebase"
A new Pull Request was created by @nclopezo (David Mendez) for branch cms/v3.1.0.Pull Request Reference: cms-externals/fastjet#10

[2015-08-20 14:49] #1749 closed

[2015-08-20 14:49] cmsbuild opened #1750 "cms-externals/fastjet#10: Rappoccio/v3.1.0 rebase"
A new Pull Request was created by @nclopezo (David Mendez) for branch cms/v3.1.0.Pull Request Reference: cms-externals/fastjet#10

[2015-08-20 15:01] #1750 closed

[2015-08-20 15:01] cmsbuild opened #1751 "cms-externals/fastjet#10: Rappoccio/v3.1.0 rebase"
A new Pull Request was created by @nclopezo (David Mendez) for branch cms/v3.1.0.Pull Request Reference: cms-externals/fastjet#10

[2015-08-20 15:16] #1751 closed

[2015-08-20 15:16] cmsbuild opened #1752 "cms-externals/fastjet#10: Rappoccio/v3.1.0 rebase"
A new Pull Request was created by @nclopezo (David Mendez) for branch cms/v3.1.0.

Pull Request Reference: cms-externals/fastjet#10

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:15] cmsbuild opened #1759 "cms-externals/fastjet#9: Rebase Moving fastjet threading PR 8"
A new Pull Request was created by @nclopezo (David Mendez) for branch cms/v3.1.0.

Pull Request Reference: cms-externals/fastjet#9

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:15] cmsbuild commented on #1759
Pull request cms-externals/fastjet#9 was updated.
Latest update by David Mendez with commit message
Added removed variable when solving conflicts

[2015-08-24 15:15] cmsbuild opened #1760 "cms-externals/fastjet#8: Moving fastjet threading PR to cms/v3.1.0"
A new Pull Request was created by @rappoccio  for branch cms/v3.1.0.

Pull Request Reference: cms-externals/fastjet#8

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:15] cmsbuild opened #1761 "cms-externals/fastjet-contrib#4: Dev 1.015"
A new Pull Request was created by @gkasieczka  for branch cms/v1.014.

Pull Request Reference: cms-externals/fastjet-contrib#4

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:15] cmsbuild opened #1762 "cms-externals/fastjet-contrib#3: Add thread safety / C++11 fixes by sal to the correct branch."
A new Pull Request was created by @ktf (Giulio Eulisse) for branch cms/v1.014.

Pull Request Reference: cms-externals/fastjet-contrib#3

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:15] cmsbuild opened #1763 "cms-externals/fastjet-contrib#1: Updating fjcontrib to 1.014"
A new Pull Request was created by @rappoccio  for branch master.

Pull Request Reference: cms-externals/fastjet-contrib#1

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:16] cmsbuild opened #1764 "cms-externals/xrootd#4: Make sure the wakePend flag does not incur undefined behavior."
A new Pull Request was created by @bbockelm (Brian Bockelman) for branch cms/v4.0.4.

Pull Request Reference: cms-externals/xrootd#4

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:16] cmsbuild opened #1765 "cms-externals/xrootd#3: Fix data race and deadlock in Debug code"
A new Pull Request was created by @Dr15Jones (Chris Jones) for branch cms/v3.2.4.

Pull Request Reference: cms-externals/xrootd#3

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:16] cmsbuild opened #1766 "cms-externals/xrootd#1: Protect late destructor call to FileSystem"
A new Pull Request was created by @Dr15Jones (Chris Jones) for branch cms/v4.0.3.

Pull Request Reference: cms-externals/xrootd#1

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:16] cmsbuild commented on #1766
Pull request cms-externals/xrootd#1 was updated.
Latest update by Christopher Jones with commit message
Protect late destructor call to FileSystem

ROOT indirectly binds the destruction of a FileSystem to a the global
gROOT. This can lead to the ForkHandler being deleted before the
FileSystem is deleted.

[2015-08-24 15:16] cmsbuild opened #1767 "cms-sw/root#91: Dan R's fix for rootcling"
A new Pull Request was created by @gartung (Patrick Gartung) for branch cms/54c9343.

Pull Request Reference: cms-sw/root#91

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:16] cmsbuild opened #1768 "cms-sw/root#90: this adds the -fno-omit-frame-pointer cxxflag to the llvm module buil"
A new Pull Request was created by @gartung (Patrick Gartung) for branch cms/54c9343.

Pull Request Reference: cms-sw/root#90

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:16] cmsbuild opened #1769 "cms-sw/cmssw-config#15: Add back -fvisibility=hidden"
A new Pull Request was created by @ktf (Giulio Eulisse) for branch master.

Pull Request Reference: cms-sw/cmssw-config#15

@degano can you please review it and eventually sign? Thanks.

[2015-08-24 15:16] cmsbuild commented on #1769
Pull request cms-sw/cmssw-config#15 was updated.
Latest update by Giulio Eulisse with commit message
Make capabilities visible.

[2015-08-24 15:21] cmsbuild commented on #1759
Pull request cms-externals/fastjet#9 was updated.
Latest update by David Mendez with commit message
Added removed variable when solving conflicts

[2015-08-24 15:22] cmsbuild commented on #1766
Pull request cms-externals/xrootd#1 was updated.
Latest update by Christopher Jones with commit message
Protect late destructor call to FileSystem

ROOT indirectly binds the destruction of a FileSystem to a the global
gROOT. This can lead to the ForkHandler being deleted before the
FileSystem is deleted.

[2015-08-24 15:22] cmsbuild commented on #1769
Pull request cms-sw/cmssw-config#15 was updated.
Latest update by Giulio Eulisse with commit message
Make capabilities visible.

[2015-08-24 16:50] #1759 closed

[2015-08-24 16:51] #1752 closed

[2015-08-24 16:52] #1760 closed

[2015-08-24 20:23] #1768 closed

[2015-08-27 16:32] cmsbuild opened #1779 "cms-data/CondFormats-JetMETObjects#2: Add Summer15_50nsV4_DATA_UncertaintySources_AK4PFchs.txt file"
A new Pull Request was created by @mmarionncern  for branch master.

Pull Request Reference: cms-data/CondFormats-JetMETObjects#2

@degano can you please review it and eventually sign? Thanks.

[2015-08-28 07:31] cmsbuild commented on #1779
Pull request cms-data/CondFormats-JetMETObjects#2 was updated.
Latest update by matthieu with commit message
add uncertainty V5

[2015-09-01 08:04] covarell opened #1785 "please add @govoni (new GEN convener) as watcher"

[2015-09-01 08:41] ghost commented on #1785
@govoni @covarell Please edit yourself the file watchers.yaml in the https://github.com/cms-sw/cms-bot repository and make a PR.

[2015-09-01 08:56] covarell commented on #1785
Hmmm... I may have misused the term "watcher" then, in fact I am not myself in this list.
He should be able to approve/reject pull requests.

[2015-09-01 09:59] ghost commented on #1785
Oh, okay, then it's categories.py. Is it taking your place? If that's the case I can modify the file myself.

[2015-09-01 10:01] covarell commented on #1785
No! Just add him...

[2015-09-01 10:08] ghost commented on #1785
Okay, done here: https://github.com/cms-sw/cms-bot/pull/537

[2015-09-01 10:08] #1785 closed

[2015-09-02 14:31] cmsbuild opened #1788 "cms-data/Configuration-Generator#4: Add slha file for GEANT decay of long-lived chargino in AMSB framework"
A new Pull Request was created by @wulsin (Wells Wulsin) for branch master.

Pull Request Reference: cms-data/Configuration-Generator#4

@degano can you please review it and eventually sign? Thanks.

[2015-09-03 16:18] mverzett opened #1792 "cms-data space for RecoBTag/CTagging training files"
Dear Admins,

I would like to request the creation of a repository RecoBTag/CTagging under the https://github.com/cms-data organization to store the charm tagging training files.

Please let me know, once is done, which format you want the files to be pushed (plain xml, gzipped, or anything else) and which path they will have in the CMSSW build, to set up properly the FileInPath configuration of t

[2015-09-03 16:21] slava77 commented on #1792
Hi Mauro,

I thought that the c-tagger training will go to the database.
Is it going to happen or is there some structural problem
that we have to use files?

[code]

On 9/3/15 11:18 AM, Mauro Verzetti wrote:

[2015-09-03 16:39] mverzett commented on #1792
Hi Slava,

@pvmulder or @imarches can correct me. The CTagging code is made to be moved to the DB in the future, but the idea was to follow the same path as the combined taggers. Have a first working version with an external file, push the new tagger in the release and then work with the DB people to get the payload.

Cheers

Mauro

[2015-09-03 16:45] ghost commented on #1792
Yes, that's the strategy followed in https://github.com/cms-sw/cmssw/pull/10197

[2015-09-04 07:48] ghost commented on #1792
@mverzett Dear Mauro,
you can find the newly created repository here: https://github.com/cms-data/RecoBTag-CTagging.
Once your files will be added to that repository and I'll create the CMSDIST relative spec-file the training files will be under RecoBTag/CTagging/data.
You should push them as plain text files.

[2015-09-04 08:28] mverzett commented on #1792
@degano [PR Done](https://github.com/cms-data/RecoBTag-CTagging/pull/1)!
Let me know when everything is in place, so I can send the PR for the charm tagging to CMSSW without failing each and every test because the training files are not there :).

[2015-09-04 08:31] cmsbuild opened #1794 "cms-data/RecoBTag-CTagging#1: First official CTagging training"
A new Pull Request was created by @mverzett (Mauro Verzetti) for branch master.

Pull Request Reference: cms-data/RecoBTag-CTagging#1

@degano can you please review it and eventually sign? Thanks.

[2015-09-04 09:01] ghost commented on #1792
@mverzett Done here: https://github.com/cms-sw/cmsdist/pull/1795
It should be in today 11 IB: CMSSW_7_6_X_2015-09-04-1100.

[2015-09-04 09:01] #1792 closed

[2015-09-04 11:54] civanch opened #1798 "Geant4 10.1p02 for 7_6_X"
Sorry that do not make PR for this request but it would be more safe if I create an issue.

In 7_6_DEVEL branch Geant4 10.1p02 shows reasonable performance except few tests crash at exit. The fix for the DEVEL branch is provided in PR 11119, for 7_6_X - in PR 11097.

When IB for the DEVEL branch will be free of Geant4 problems 10.1p02 should be used for 7_6_X.

[2015-09-07 13:49] #1794 closed

[2015-09-09 08:37] ghost commented on #1798
@civanch What is the status of Geant4 in the DEVEL IB? Is it ready to be ported in the Stable branch?

[2015-09-09 08:39] davidlt commented on #1798
@degano `CMSSW_7_6_DEVEL_X_2015-09-08-1100` IB RelVals were free of GEANT4 crashes. So at least visible issues are gone.

[2015-09-09 08:40] davidlt commented on #1798
CC @davidlange6 @smuzaffar

[2015-09-09 12:22] davidlange6 commented on #1798
Lets go ahead and update the geant4 in the 76x mainstream. If it can happen today that would be quite helpful

[2015-09-09 14:42] ghost commented on #1798
@davidlange6 @civanch I've merged it now here: https://github.com/cms-sw/cmsdist/pull/1803

[2015-09-09 14:42] #1798 closed

[2015-09-15 21:01] cmsbuild opened #1808 "cms-data/RecoMET-METPUSubtraction#4: Weight files for MET3.0"
A new Pull Request was created by @rfriese (Raphael Friese) for branch master.

Pull Request Reference: cms-data/RecoMET-METPUSubtraction#4

@degano can you please review it and eventually sign? Thanks.

[2015-09-17 17:01] cmsbuild opened #1811 "cms-externals/clang#12: Update scan-build to always remove working dir from path"
A new Pull Request was created by @gartung (Patrick Gartung) for branch cms/65d8b4c.

Pull Request Reference: cms-externals/clang#12

@degano can you please review it and eventually sign? Thanks.

[2015-09-22 08:27] #1788 closed

[2015-09-22 16:01] cmsbuild opened #1824 "cms-sw/root#95: Thread efficient changes from P Canal"
A new Pull Request was created by @Dr15Jones (Chris Jones) for branch cms/a79eb8a.

Pull Request Reference: cms-sw/root#95

@degano can you please review it and eventually sign? Thanks.

[2015-09-23 08:25] ghost commented on #1808
Done:
https://github.com/cms-sw/cmsdist/pull/1827
https://github.com/cms-sw/cmsdist/pull/1828
https://github.com/cms-sw/cmsdist/pull/1829

[2015-09-23 08:25] #1808 closed

[2015-09-23 09:15] ghost commented on #1811
Done: https://github.com/cms-sw/cmsdist/pull/1830

[2015-09-23 09:15] #1811 closed

[2015-09-23 09:16] #1779 closed

[2015-09-23 09:17] #1769 closed

[2015-09-29 19:43] ericvaandering opened #1849 "comp.pre futurize is broken"
@ticoann @geneguvo

I see this error with one installed from scratch too:

[code]

And for whatever reason the `#! python` on that script does not work.

I get around that with some gymnastics:

[code]

Maybe this can be folded into the RPM?

[2015-09-30 09:29] geneguvo commented on #1849
Yes. I'll fix it.

[2015-09-30 10:23] geneguvo commented on #1849
Hey Eric,
I've fixed that header line but apparently that's not enough. That script bugs trying to require 'future==0.15.0' using setuptools, which we only use to build the python packages. Even if I add it as dependency and put on environment, it is still not able to find it:

[code]

After you changed the header line, did it work for you? I've double checked my environment is all correct (I used

[2015-09-30 10:52] geneguvo commented on #1849
I've removed the cleansing of the "egg-info" file used by setup tools, but now this futurize script fails trying to load "importlib", which is only available from py2.7:

[code]

I'll try to add a backport of importlib to py2.6, otherwise I'll check later if it works in our py2.7 stack (not sure which python you used in your tests). Also I still did not undertand how setuptools found the future pa

[2015-09-30 10:57] geneguvo commented on #1849
Ok. After adding the backported importlib library this futurize script now works on our py26 stack. I'll push the changes.

[2015-09-30 13:04] ericvaandering commented on #1849
Awesome. Yeah, I noticed the same issue with the requirements and just went back to my old way of doing it. I will give your new RPM a chance in a couple of days. (Jenkins is on 2.6 still, but Seangchan and I should try to get it running on 2.7, may be super simple).

Thanks,

Eric

[2015-09-30 15:43] geneguvo commented on #1849
Hey,
FYI. I've run it against the sitedb code base for both stage1 and stage2 changes. For stage1 it was fine, but I found some weird suggested changes as stage2. For instance, it was converting the same object to lists multiple times: ie. list(list(list(d.keys()))) instead of list(d.keys).

I've then pushed my changes to our py27 branch and re-run futurize on sitedb from there. Both stage1 and st

[2015-09-30 15:46] ericvaandering commented on #1849
None of us are doing stage2 changes yet since that really is to get things running on python3, not just cleaning up the code to be python 2.7 compatible. It also introduces dependencies on the future module.

I think we make a push for this during LS2 which gets us on python3 before the 2020 EOL for 2.7

[2015-10-02 08:00] #1824 closed

[2015-10-02 08:01] #1762 closed

[2015-10-02 08:27] ghost commented on #1764
merged.

[2015-10-02 08:27] #1764 closed

[2015-10-02 08:28] #1765 closed

[2015-10-02 08:29] #1766 closed

[2015-10-02 08:29] #1767 closed

[2015-10-05 07:48] #1761 closed

[2015-10-05 14:01] davidlt opened #1863 "[cmssw] remove evtgenlhc external"
With _evtgenlhc_ generator removed from CMSSW ( https://github.com/cms-sw/cmssw/pull/11595 ) it should be now safe to nuke it in CMSDIST also. We should double check that removal did not break any CMSSW RelVals in IBs and then proceed to remove the external from CMSDIST.

@degano could you take care of it?

@covarell @smuzaffar @davidlange6

[2015-10-06 13:08] ericvaandering commented on #1849
The issue reported here is fixed. Closing.

[2015-10-06 13:08] #1849 closed

[2015-10-06 13:10] ericvaandering opened #1872 "Add mock to COMP python"
Hi @geneguvo or @ticoann ,

Can we add the mock package to the comp python? This is going to be part of unittest in python 3, but we are going to start using it in WMCore.

When I did my own install of this, it required an update to setuptools. So that will likely need to be upgraded as well.

[2015-10-06 13:51] ticoann commented on #1872
Hi Eric, I will add that (and update the setup tool) It is in my do to list. Maybe Diego will need to fix that anyway, but I will create the initial patch. :smile:

[2015-10-06 14:11] geneguvo commented on #1872
Yes, I fully agree. I actually had added a note the other day to update setuptools as soon as HG1510 would be over! Please go ahead Seangchan.

[2015-10-06 14:14] ericvaandering commented on #1872
Thanks guys

[2015-10-08 15:31] cmsbuild opened #1877 "cms-externals/fastjet-contrib#7: Updating to v1.020 of fastjet contrib"
A new Pull Request was created by @rappoccio  for branch master.

Pull Request Reference: cms-externals/fastjet-contrib#7

@degano can you please review it and eventually sign? Thanks.

[2015-10-09 20:02] DrDaveD opened #1879 "Please upgrade latest CMSSW to frontier_client 2.8.13 and pacparser 1.3.5"
Please upgrade the latest development release of CMSSW to frontier_client 2.8.13 and pacparser 1.3.5.  The primary change is support for IPv6; support for IPv6 is added to frontier_client and improved in pacparser.  After they have passed integration tests, I will request backporting them to older CMSSW release series.
Get frontier_client from http://frontier.cern.ch/dist and pacparser from https:

[2015-10-12 10:18] ghost commented on #1879
@DrDaveD done in #1882 for 76X.

[2015-10-12 10:18] #1879 closed

[2015-10-12 14:31] cmsbuild opened #1886 "cms-externals/fastjet-contrib#8: Making cms/v1.020 thread-safe"
A new Pull Request was created by @rappoccio  for branch cms/v1.020.

Pull Request Reference: cms-externals/fastjet-contrib#8

@degano can you please review it and eventually sign? Thanks.

[2015-10-12 21:31] cmsbuild opened #1887 "cms-data/RecoEgamma-ElectronIdentification#6: Add triggering mva weights for spring15 Triggering MVA ID"
A new Pull Request was created by @lgray (Lindsey Gray) for branch master.

Pull Request Reference: cms-data/RecoEgamma-ElectronIdentification#6

@degano can you please review it and eventually sign? Thanks.

[2015-10-13 15:01] cmsbuild opened #1892 "cms-sw/cms-git-tools#76: git-cms-addpkg: remove the restriction on adding a single package at a time"
A new Pull Request was created by @fwyzard (Andrea Bocci) for branch master.

Pull Request Reference: cms-sw/cms-git-tools#76

@degano can you please review it and eventually sign? Thanks.

[2015-10-14 12:48] DrDaveD opened #1898 "Please upgrade latest CMSSW to frontier_client 2.8.14 and pacparser 1.3.5"
Please upgrade latest CMSSW to frontier_client 2.8.14 and pacparser 1.3.5.   This is a replacement for #1879 because a problem was found in frontier_client 2.8.13.

[2015-10-14 12:57] ghost commented on #1898
@DrDaveD I'm now testing the newest version

[2015-10-14 13:31] cmsbuild opened #1899 "cms-data/RecoJets-JetProducers#5: new and old BDTG weights"
A new Pull Request was created by @jbrands  for branch master.

Pull Request Reference: cms-data/RecoJets-JetProducers#5

@degano can you please review it and eventually sign? Thanks.

[2015-10-14 13:57] ghost commented on #1898
@DrDaveD I've merged the upgrade to the latest frontier version here: https://github.com/cms-sw/cmsdist/pull/1900.

[2015-10-14 13:57] #1898 closed

[2015-10-14 15:10] slava77 commented on #1899
@degano please sign/merge if you can confirm that this will not modify the files with names currently in the release.

[2015-10-22 15:31] cmsbuild opened #1919 "cms-data/RecoJets-JetProducers#6: new weight files"
A new Pull Request was created by @jbrands  for branch master.

Pull Request Reference: cms-data/RecoJets-JetProducers#6

@degano can you please review it and eventually sign? Thanks.

[2015-10-22 16:31] cmsbuild opened #1920 "cms-externals/pythia8#1: Heavyothermatching"
A new Pull Request was created by @smrenna (Stephen Mrenna) for branch master.

Pull Request Reference: cms-externals/pythia8#1

@degano can you please review it and eventually sign? Thanks.

[2015-10-22 18:01] cmsbuild opened #1921 "cms-externals/pythia8#2: New heavy/other matching"
A new Pull Request was created by @smrenna (Stephen Mrenna) for branch cms/212.

Pull Request Reference: cms-externals/pythia8#2

@degano can you please review it and eventually sign? Thanks.

[2015-10-23 00:59] ferencek opened #1922 "Updated BoostedDoubleSV tagger weight files"
Dear release managers,

I would like the updated BoostedDoubleSV tagger weight files (https://github.com/cms-data/RecoBTag-SecondaryVertex/pull/2) to be added to the latest IBs for 74X, 76X, and 80X release cycles.

Thank you,
Dinko

[2015-10-23 01:01] cmsbuild opened #1923 "cms-data/RecoBTag-SecondaryVertex#2: Added AK8 and CA15 weight files for v2 of the tagger"
A new Pull Request was created by @ferencek (Dinko Ferencek) for branch master.

Pull Request Reference: cms-data/RecoBTag-SecondaryVertex#2

@degano can you please review it and eventually sign? Thanks.

[2015-10-23 09:31] ghost commented on #1922
@ferencek I've merged it for 80X here: https://github.com/cms-sw/cmsdist/pull/1924.
Once it's in the IB and everything looks fine we can backport it to 74X and 76X. (75X?)

[2015-10-23 11:35] ferencek commented on #1922
Thanks. Since 75X is closed for new developments and won't be used for rereco of 2015 data, there is no need to backport to it. However, if that makes bookkeeping easier, feel free to backport to it but the newly added files will not be used in that release cycle.

[2015-10-26 17:31] cmsbuild opened #1927 "cms-sw/root#106: Made function pointer held by TMinuitMinimize thread local"
A new Pull Request was created by @Dr15Jones (Chris Jones) for branch cms/c1ca998.

Pull Request Reference: cms-sw/root#106

@degano can you please review it and eventually sign? Thanks.

[2015-10-28 16:31] cmsbuild opened #1930 "cms-externals/pythia8#3: modifications to allow heavy/other matching"
A new Pull Request was created by @smrenna (Stephen Mrenna) for branch cms/212.

Pull Request Reference: cms-externals/pythia8#3

@degano can you please review it and eventually sign? Thanks.

[2015-10-28 16:58] bendavid commented on #1930
We want this included (only) in CMSSW_8_0_X for the moment.

[2015-10-28 16:58] bendavid commented on #1930
@covarell @govoni @mkirsano

[2015-10-29 08:08] govoni commented on #1930
@bendavid does this include the fix to the problem of matching to vector boson hadronic decays as well?

[2015-10-29 11:47] bendavid commented on #1930
No this is completely orthogonal.
The issue for the NLO hadronic vector boson decays can possibly even be worked around already at the configuration level.

[2015-10-30 14:09] ghost commented on #1930
For reference I had to close the PR. I'm closing this one as well.

[2015-10-30 14:09] #1930 closed

[2015-10-30 14:40] govoni commented on #1930
so this means that there's no need of another version of pythia?
sorry for the dummy question, I had the impression from past discussions (I don't remember where) that this was necessary.

pietro

On Oct 29, 2015, at 12:47 PM, Josh Bendavid wrote:

[2015-11-02 14:47] ferencek commented on #1922
@degano, since I haven't heard of any problem in 80X, has this now also been backported to 74X and 76X IBs?

[2015-11-02 14:59] ghost commented on #1922
@ferencek done in #1935 and #1936. I'm closing this issue now.

[2015-11-02 14:59] #1922 closed

[2015-11-02 16:00] ferencek commented on #1922
Thanks.

[2015-11-04 17:02] cmsbuild opened #1938 "cms-externals/pythia8#4: Heavyothermatching"
A new Pull Request was created by @smrenna (Stephen Mrenna) for branch cms/212.

Pull Request Reference: cms-externals/pythia8#4

@degano can you please review it and eventually sign? Thanks.

[2015-11-05 13:31] cmsbuild opened #1940 "cms-externals/sherpa#2: SHERPA-MC-2.2.0.tar.gz"
A new Pull Request was created by @pmillet  for branch master.

Pull Request Reference: cms-externals/sherpa#2

@degano can you please review it and eventually sign? Thanks.

[2015-11-05 15:01] cmsbuild opened #1943 "cms-externals/sherpa#3: Cms/v2.2.0"
A new Pull Request was created by @pmillet  for branch cms/v2.2.0.

Pull Request Reference: cms-externals/sherpa#3

@degano can you please review it and eventually sign? Thanks.

[2015-11-05 15:31] cmsbuild opened #1944 "cms-externals/openloops#3: Update to version 1.2.3"
A new Pull Request was created by @thuer (Sebastian Thüer) for branch master.

Pull Request Reference: cms-externals/openloops#3

@degano can you please review it and eventually sign? Thanks.

[2015-11-10 11:01] cmsbuild opened #1947 "cms-externals/openloops#4: Cms/v1.2.3"
A new Pull Request was created by @thuer (Sebastian Thüer) for branch cms/v1.2.3.

Pull Request Reference: cms-externals/openloops#4

@degano can you please review it and eventually sign? Thanks.

[2015-11-11 19:29] DrDaveD opened #1952 "Please backport frontier_client 2.8.14 and pacparser 1.3.5 to older CMSSW release lines"
frontier_client 2.8.14 adds IPv6 support.  It has been available for a while now in CMSSW_7_6_x without any problems shown.  I would like to request that this now get backported to older release lines that are expected to be in active use and supported for at least the next year.  I make this request because it seems likely to me that over the next year people will start to want to be using IPv6-o

[2015-11-12 13:00] ghost commented on #1952
I've created a PR for every relevant 7*X release here: #1956 #1957 #1958.
@davidlange6 For which of those do we want to include it? All?

[2015-11-13 12:25] DrDaveD commented on #1952
I am very sorry I had forgotten to say originally that frontier_client 2.8.14 also should be paired with pacparser 1.3.5.  Fortunately you had remembered anyway.

[2015-11-16 09:35] ghost commented on #1952
I've merged those PR, I'm closing this issue.

[2015-11-16 12:27] DrDaveD commented on #1952
What about release lines older than CMSSW_7_X_X?  Are none of them going to be in active use and supported for more than a year?

[2015-11-16 12:33] davidlange6 commented on #1952
53x likely will be used a year from now.

[2015-11-16 14:24] DrDaveD commented on #1952
So shall we/can we reopen this issue to include 53x, or should I create a new issue?

[2015-11-16 15:17] smuzaffar commented on #1952
@DrDaveD , looks like we need to apply the following patches in order to build it (I guess it was picking up openssl/md5.h from system https://cmssdt.cern.ch/jenkins/job/build-any-ib/15146/console )
- https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_7_1_X/stable/frontier_client-2.8.5-fix-gcc47.patch
- https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_7_1_X/stable/frontier_client-2.8.14-include-fix.pa

[2015-11-16 23:02] DrDaveD commented on #1952
@smuzaffar, sure I can include the 2.8.14-include-fix. patch in the next version.  I don't much like the "export" hack but I'll do something equivalent.  The 2.8.5 patch should be necessary though, unistd.h is already included in test-req.cc higher up.  Are you saying that the include order matters?

[2015-11-16 23:08] smuzaffar commented on #1952
@DrDaveD , I did not notice that unistd.h us now included. This patch was there for a long time so may be it is not needed any more.

[2015-11-17 08:47] #1947 closed

[2015-11-17 08:47] #1944 closed

[2015-11-17 08:47] #1943 closed

[2015-11-17 08:47] #1940 closed

[2015-11-17 08:48] #1938 closed

[2015-11-17 08:48] #1927 closed

[2015-11-17 08:48] #1923 closed

[2015-11-17 08:48] #1921 closed

[2015-11-17 08:48] #1920 closed

[2015-11-17 08:48] #1919 closed

[2015-11-17 08:49] #1899 closed

[2015-11-17 08:49] #1892 closed

[2015-11-17 08:49] #1887 closed

[2015-11-17 08:49] #1886 closed

[2015-11-17 08:49] #1877 closed

[2015-11-17 08:50] #1872 closed

[2015-11-17 08:50] #1863 closed

[2015-11-17 08:50] #1763 closed

[2015-11-18 23:01] cmsbuild opened #1970 "cms-data/L1Trigger-L1TMuon#1: initial import of muon LUTs and configs"
A new Pull Request was created by @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TMuon#1

@degano can you please review it and eventually sign? Thanks.

[2015-11-19 09:00] ghost commented on #1970
@mulhearn @davidlange6  Included in 80X with #1972.

[2015-11-19 09:00] #1970 closed

[2015-11-19 20:31] cmsbuild opened #1975 "cms-externals/eigen#1: Remove requirements to call Eigen::initParallel"
A new Pull Request was created by @Dr15Jones (Chris Jones) for branch cms/3.2.2.

Pull Request Reference: cms-externals/eigen#1

@degano can you please review it and eventually sign? Thanks.

[2015-11-20 19:01] cmsbuild opened #1977 "cms-externals/geant4#7: stopping products have random direction"
A new Pull Request was created by @civanch (Vladimir Ivantchenko) for branch cms/4.10.00.p03.

Pull Request Reference: cms-externals/geant4#7

@degano can you please review it and eventually sign? Thanks.

[2015-11-20 23:08] DrDaveD commented on #1952
Now a problem has been found with 2.8.14, and I am working on a new release.  The problem has shown up at the HLT, where they use proxies at localhost.

[2015-11-22 10:31] cmsbuild opened #1982 "cms-data/L1Trigger-L1TCalorimeter#5: updates for Stage2"
A new Pull Request was created by @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#5

@degano can you please review it and eventually sign? Thanks.

[2015-11-23 09:17] ghost commented on #1982
Updated in #1983.

[2015-11-23 11:01] cmsbuild opened #1985 "cms-externals/geant4#8: stopping products have random direction"
A new Pull Request was created by @civanch (Vladimir Ivantchenko) for branch cms/4.10.00.p02.

Pull Request Reference: cms-externals/geant4#8

@degano can you please review it and eventually sign? Thanks.

[2015-11-23 12:47] ghost commented on #1982
Merged in #1983.

[2015-11-23 12:47] #1982 closed

[2015-11-23 14:28] ghost commented on #1977
Testing at #1986.

[2015-11-23 14:32] smuzaffar commented on #1977
@civanch, is this for 80X DEVAL IBs?

[2015-11-23 14:37] ghost commented on #1977
@smuzaffar This one targets 10.00.p03 therefore I think it's meant for 8_0_X/stable. There is another PR for 10.01.p02 which is the version we ship in DEVEL.

[2015-11-23 15:17] cmsbuild commented on #1977
A new Issue was created by @cmsbuild .

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized

* **+1|approve[d]|sign[ed]**: L1/L2's to approve it
* **-1|reject[ed]**: L1/L2's to reject it
* **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatures from other c

[2015-11-23 15:21] civanch commented on #1977
Yes, this is for 8_0_X/stable.

[2015-11-23 15:22] civanch commented on #1985
This is for 7_1_X. First validation for 8_0_X should be done.

[2015-11-24 09:09] #1977 closed

[2015-11-24 10:54] #1985 closed

[2015-11-24 11:15] #1975 closed

[2015-11-25 21:01] cmsbuild opened #1995 "cms-externals/parfullcms#1: Update for the new release"
A new Pull Request was created by  @civanch (Vladimir Ivantchenko) for branch master.

Pull Request Reference: cms-externals/parfullcms#1

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2015-11-26 09:01] cmsbuild commented on #1995
Pull request cms-externals/parfullcms#1 was updated.
Latest update by Vladimir with commit message
removed commented part of code

[2015-11-26 15:12] degano opened #1998 "Update Hector in 8_0_X cycle"
As from SDT mailing list it's been asked to update Hector to the latest available version here: https://github.com/hectorhep/hector/tree/1_3_4_patch1_cmssw.

[2015-11-26 15:17] cmsbuild commented on #1998
A new Issue was created by  @degano (Alessandro Degano).

@davidlange6, @smuzaffar, @degano, @davidlt can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized
- **+1|approve[d]|sign[ed]**: L1/L2's to approve it
- **-1|reject[ed]**: L1/L2's to reject it
- **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signat

[2015-11-26 23:22] davidlange6 commented on #1998
This one we should have a discussion about in the sim meeting. But no problem to test an updated spec file while that happens.

On Nov 26, 2015, at 10:12 PM, Alessandro Degano <notifications@github.com<mailto:notifications@github.com>> wrote:

As from SDT mailing list it's been asked to update Hector to the latest available version here: https://github.com/hectorhep/hector/tree/1_3_4_patch1_cmssw.

[2015-11-27 10:47] ghost commented on #1998
The PR for testing is in #1999.

[2015-11-27 15:31] cmsbuild opened #2001 "cms-externals/starlight#1: compile bug fix"
A new Pull Request was created by  @KiSooLee  for branch cms/r193.

Pull Request Reference: cms-externals/starlight#1

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2015-11-30 10:35] #1995 closed

[2015-11-30 12:37] cmsbuild opened #2007 "cms-sw/SCRAM#23: ifversion filter added for toolfiles"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch master.

Pull Request Reference: cms-sw/SCRAM#23

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2015-11-30 12:55] smuzaffar commented on #2007
It was just a test to che ck the github hooks.
this issue is already merged in SCRAM.

[2015-11-30 12:55] #2007 closed

[2015-11-30 14:48] ghost commented on #1998
The former PR was wrong. The new one is #2005.

[2015-12-02 05:27] cmsbuild opened #2008 "cms-sw/root#108: Support for S3 session keys"
A new Pull Request was created by  @holzman  for branch cms/3836513.

Pull Request Reference: cms-sw/root#108

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2015-12-03 18:38] cmsbuild opened #2014 "cms-externals/pythia8#5: Heavyothermatching Update"
A new Pull Request was created by  @smrenna (Stephen Mrenna) for branch cms/212.

Pull Request Reference: cms-externals/pythia8#5

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2015-12-04 15:35] cmsbuild opened #2016 "cms-data/L1Trigger-L1TCalorimeter#6: updates for stage-2 algs"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#6

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2015-12-09 17:32] cmsbuild opened #2025 "cms-externals/fastjet-contrib#9: Removed use of static in DefaultMeasure::UpdateAxesFast"
A new Pull Request was created by  @Dr15Jones (Chris Jones) for branch cms/v1.020.

Pull Request Reference: cms-externals/fastjet-contrib#9

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2015-12-09 18:56] cmsbuild commented on #2025
Pull request cms-externals/fastjet-contrib#9 was updated.
Latest update by Christopher Jones with commit message
Removed use of static in DefaultMeasure::UpdateAxesFast

The use of static arrays in DefaultMeasure::UpdateAxesFast caused
thread-safety problems. The stated reason for using the arrays
was to avoid allocation/deallocation but that was also achievable
by having the arrays just be on the

[2015-12-09 19:26] smuzaffar commented on #2025
assign core

[2015-12-09 19:26] cmsbuild commented on #2025
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2015-12-09 19:30] smuzaffar commented on #2025
done here cms-sw/cmsdist#2028

[2015-12-09 19:30] smuzaffar commented on #2025
+1

[2015-12-09 19:30] cmsbuild commented on #2025
This issue is fully signed and ready to be closed.

[2015-12-09 19:31] smuzaffar commented on #2025
close

[2015-12-09 19:31] #2025 closed

[2015-12-14 09:02] cmsbuild opened #2038 "cms-sw/cms-bot#591: Add ability to find the latest CRAB release and parameterize the REPO"
A new Pull Request was created by  @ericvaandering (Eric Vaandering) for branch master.

Pull Request Reference: cms-sw/cms-bot#591

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2015-12-14 09:07] smuzaffar commented on #2038
cms-bot should not have created this issue. Looks like a bug in cms-bot :-)

[2015-12-14 09:07] #2038 closed

[2015-12-14 16:34] cmsbuild opened #2039 "cms-sw/root#109: Protect access to TROOT::GetListOfGlobalFunctions in TFormula"
A new Pull Request was created by  @Dr15Jones (Chris Jones) for branch cms/1f31574.

Pull Request Reference: cms-sw/root#109

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2015-12-14 20:07] cmsbuild opened #2040 "cms-sw/root#110: Make TListOfFunctions::Get thread-safe"
A new Pull Request was created by  @Dr15Jones (Chris Jones) for branch cms/1f31574.

Pull Request Reference: cms-sw/root#110

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-04 08:26] cmsbuild commented on #2001
Pull request cms-externals/starlight#1 was updated.
Latest update by KiSoo with commit message
CLHEP random number

[2016-01-05 13:43] cmsbuild commented on #2016
Pull request cms-data/L1Trigger-L1TCalorimeter#6 was updated.
Latest update by Michael Mulhearn with commit message
Tau LUT updates

[2016-01-05 14:35] ghost commented on #2016
Done in #2044 .

[2016-01-05 14:35] #2016 closed

[2016-01-13 19:17] ericvaandering opened #2053 "python 2.7.6 is quite old"
And in fact 2.7.9 has some pretty significant updates. https://www.python.org/downloads/release/python-279/

@geneguvo and @smuzaffar : Can we get DMWM moved over to the latest (2.7.9 or better 2.7.11). Maybe CMSSW needs to do the same?

I think @vkuznet asked the same some time ago

[2016-01-13 19:18] cmsbuild commented on #2053
A new Issue was created by  @ericvaandering (Eric Vaandering).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized
- **+1|approve[d]|sign[ed]**: L1/L2's to approve it
- **-1|reject[ed]**: L1/L2's to reject it
- **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's

[2016-01-13 19:33] Dr15Jones commented on #2053
assign core

[2016-01-13 19:33] cmsbuild commented on #2053
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-01-13 19:47] vkuznet commented on #2053
Yes, I requested this on webInterface forum for cmsweb build as well, see https://hypernews.cern.ch/HyperNews/CMS/get/webInterfaces/1406.html

[2016-01-13 20:04] davidlt commented on #2053
GCC 5.3.0 branch for CMSSW contains Python 2.7.11.

[2016-01-13 22:47] smuzaffar commented on #2053
CMSSW IBs for gcc530 look good, so moving to 2.7.11 should be fine. @davidlt , did you do something special to avoid HTTPS certificate validation which is ON by default now in python >=2.7.9?

[2016-01-14 09:20] davidlt commented on #2053
Originally I had changes to `das_client.py` on Python 2.7.9+ to restore old behaviour (i.e. disable SSL certificate validation), but then I just fixed OpenSSL to find CERN ROOT CA (and other certificates) on the system, thus it can validate the certificate.

[2016-01-14 16:28] aboletti opened #2055 "Charge tagger weight file"
Dear release manager,

I would like to create a new repository on cms-data, in order to contain the weight file for the newly developped charge tagger (RecoBTag/ChargeTagging) for the CMSSW release cycle 80X.

The weight file is available in my lxplus public area (/afs/cern.ch/user/a/aboletti/public/RecoBTag/ChargeTagging/data/ChargeBTag_BDT.weights.xml.gz)

Thanks,
Alessio

[2016-01-14 16:28] cmsbuild commented on #2055
A new Issue was created by  @aboletti .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

Following commands in first line of a comment are recognized
- **+1|approve[d]|sign[ed]**: L1/L2's to approve it
- **-1|reject[ed]**: L1/L2's to reject it
- **assign &lt;category&gt;[,&lt;category&gt;[,...]]**: L1/L2's to request signatures

[2016-01-14 16:31] slava77 commented on #2055
as I commented in https://github.com/cms-sw/cmssw/pull/12952, the new package RecoBTag/ChargeTagging is not very well justified.

[2016-01-16 09:57] cmsbuild opened #2058 "cms-data/RecoBTag-Combined#2: added chargeTag weights (16Jan)"
A new Pull Request was created by  @aboletti  for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-16 10:19] aboletti commented on #2055
tagger migrated to RecoBTag/Combined package. Weight file commited to another repository, no more need for this one.
New pull request: cms-data/RecoBTag-Combined#2
New Issue: cms-sw/cmsdist#2058

[2016-01-16 10:19] #2055 closed

[2016-01-18 05:38] cmsbuild opened #2059 "cms-externals/starlight#2: CLHEP related modification"
A new Pull Request was created by  @KiSooLee  for branch cms/r193.

Pull Request Reference: cms-externals/starlight#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-18 06:33] cmsbuild commented on #2059
Pull request cms-externals/starlight#2 was updated.
Latest update by KiSoo with commit message
useless lines are removed form FindCLHEP.cmake

[2016-01-18 13:39] cmsbuild commented on #2059
Pull request cms-externals/starlight#2 was updated.
Latest update by KiSoo with commit message
FairRoot based FindCLHEP

[2016-01-19 16:42] cmsbuild opened #2063 "cms-externals/starlight#3: compressed commit of CLHEP related modification"
A new Pull Request was created by  @KiSooLee  for branch cms/r193.

Pull Request Reference: cms-externals/starlight#3

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-20 09:06] smuzaffar commented on #2053
@davidlt , please make a PR for IB/CMSSW_8_0_X/next with updated python , openssl?

[2016-01-20 10:00] cmsbuild opened #2067 "cms-externals/starlight#4: use clhep numbers as random number"
A new Pull Request was created by  @KiSooLee  for branch cms/r193.

Pull Request Reference: cms-externals/starlight#4

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-20 16:14] cmsbuild opened #2070 "cms-externals/starlight#5: FindCLHEP.cmake updated based on FairRoot"
A new Pull Request was created by  @KiSooLee  for branch cms/r193.

Pull Request Reference: cms-externals/starlight#5

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-22 19:57] davidlt commented on #2053
The DEVEL IBs (since `CMSSW_8_0_DEVEL_X_2016-01-21-2300`) is running with Python 2.7.11.

I can verify that SSL verification works (executed CMSSW on machine without CERN certificates installed and it rejected connection to cmsweb)

[2016-01-25 02:47] KiSooLee commented on #2070
Hi.
I'm now in local testing of spec file with new pull request reference: cms-externals/starlight#5
The spec file is based on davidlt@c021529

First of all when I compile starlight#5 in my directory without spec file(I mean just command cmake -DENABLE_CLHEP=ON and make -j), it was successfully compiled.
You can see my log of cmake in /afs/cern.ch/user/k/kilee/public/Starlight/log_to_report.txt
As

[2016-01-25 02:51] KiSooLee commented on #2070
You can see my spec file in /afs/cern.ch/user/k/kilee/public/Starlight/starlight.spec

And can I ask you why we need make process twice?
I mean following lines.
////////////////////////////////////////////////////////////////////////////
%build
make %makeprocesses VERBOSE=1
%install
cd ../build
make %makeprocesses install VERBOSE=1
//////////////////////////////////////////////////////////////////

[2016-01-25 07:39] davidlt commented on #2070
The spec file I provided has:

[code]

It doesn't need to be modified (I was using it to build the package successfully).

The two options tell CMake where to install the files and that we want optimised version (i.e. Release) to be built.

These needs to be tested locally as you changed `FindCLHEP.cmake` file completely.

[2016-01-25 07:48] davidlt commented on #2070
NAK, the spec I have works, but your changes to `FindCLHEP.cmake` are wrong.

[2016-01-25 07:49] KiSooLee commented on #2070
Yes, FindCLHEP.cmake file is changed and the commit tag is f71c82d0fb4c3e55e3aadd7e818b7ae25d11b159
This version is works well in the lxplus by local building.
cmake -DENABLE_CLHEP=ON
make -j

[2016-01-25 07:57] KiSooLee commented on #2070
When I diff recent cms-externals/starlight/cmake_modules/FindCLHEP.cmake in branch cms/r193 with my successfully compiled local fiile, there was no difference between two files.

[2016-01-25 08:33] cmsbuild opened #2084 "cms-externals/starlight#6: hardcoded paths are modified"
A new Pull Request was created by  @KiSooLee  for branch cms/r193.

Pull Request Reference: cms-externals/starlight#6

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-25 08:44] cmsbuild commented on #2084
Pull request cms-externals/starlight#6 was updated.
Latest update by KiSoo with commit message
all {SIMPATH} are changed to ENV{CLHEP_PARAM_PATH}

[2016-01-25 09:11] cmsbuild commented on #2084
Pull request cms-externals/starlight#6 was updated.
Latest update by KiSoo with commit message
typo fixed

[2016-01-25 09:45] cmsbuild commented on #2084
Pull request cms-externals/starlight#6 was updated.
Latest update by KiSoo with commit message
check

[2016-01-25 14:03] cmsbuild opened #2086 "cms-data/RecoBTag-CTagging#2: Replaced training .xml files with new trainings for 80X release"
A new Pull Request was created by  @smoortga  for branch master.

Pull Request Reference: cms-data/RecoBTag-CTagging#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-25 14:59] cmsbuild opened #2088 "cms-data/RecoBTag-CTagging#3: Revert "Replaced training .xml files with new trainings for 80X release""
A new Pull Request was created by  @degano (Alessandro Degano) for branch master.

Pull Request Reference: cms-data/RecoBTag-CTagging#3

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-25 17:23] cmsbuild opened #2089 "cms-data/L1Trigger-L1TMuon#2: update to uGMT look up tables"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TMuon#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-26 12:13] cmsbuild opened #2093 "cms-externals/starlight#7: DOXYGEN related parts are commented out"
A new Pull Request was created by  @KiSooLee  for branch cms/r193.

Pull Request Reference: cms-externals/starlight#7

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-26 13:18] cmsbuild commented on #2093
Pull request cms-externals/starlight#7 was updated.
Latest update by KiSoo with commit message
useless file removed and doxygen is changed to use option

[2016-01-26 16:56] smuzaffar commented on #2053
@ericvaandering , since python 2.7.11 is now available in CMSSW_8_0_DEVEL IBs, is there any way you can test and make sure it works with in computing env?

[2016-01-26 17:00] davidlt commented on #2053
Technically their are using Python from their COMP repository, not the one in CMSSW.

[2016-01-26 17:02] smuzaffar commented on #2053
yes but you never know :-)

[2016-01-26 17:07] vkuznet commented on #2053
Yes, comp build contains own python, i.e. it is independent from CMSSW,
therefore we need to have a separate build with new python.

On  0, davidlt notifications@github.com wrote:

[2016-01-26 17:22] cmsbuild opened #2095 "cms-data/RecoBTag-CTagging#4: Added new trainings for 80X next to old ones"
A new Pull Request was created by  @smoortga  for branch master.

Pull Request Reference: cms-data/RecoBTag-CTagging#4

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-01-26 17:56] ericvaandering commented on #2053
Right. There are two places we use the CMSSW python. With CRAB, when jobs are submitted, parts of the PSet manipulation are down with CMSSW python. And with WMAgent jobs running on worker nodes, again we use the CMSWW python. All the regular comp stuff is totally detached.

[2016-01-28 16:30] ericvaandering commented on #2053
@geneguvo Diego, can you comment on the DMWM part of this? (I don't really care what CMSSW is doing :-)

[2016-01-28 16:46] geneguvo commented on #2053
We should definitely seek to move to the latest 2.7.X on the next release cycle for the COMP builds (HG1603). The fact CMSSW already have a working build of it certainly helps (and we should start from there), but we need to carefully validate all our stack on it.

[2016-01-28 17:01] ericvaandering commented on #2053
Great. Thanks Diego.

[2016-01-29 21:36] cmsbuild opened #2112 "cms-externals/pythia8#7: I modified the JetMatching.h plugin to handle colored SUSY particles"
A new Pull Request was created by  @smrenna (Stephen Mrenna) for branch cms/212.

Pull Request Reference: cms-externals/pythia8#7

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-02-01 15:38] cmsbuild opened #2113 "cms-externals/clhep#2: Apply CMS patches to version 2.2.0.4."
A new Pull Request was created by  @degano (Alessandro Degano) for branch cms/v2.3.1.1.

Pull Request Reference: cms-externals/clhep#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-02-01 15:43] #2001 closed

[2016-02-01 15:44] smuzaffar commented on #2008
cms-sw/root#108 is merged

[2016-02-01 15:44] #2008 closed

[2016-02-01 15:44] smuzaffar commented on #2039
this has been included

[2016-02-01 15:44] #2039 closed

[2016-02-01 15:44] #2059 closed

[2016-02-01 15:44] #2070 closed

[2016-02-01 15:45] #2063 closed

[2016-02-01 15:45] #2067 closed

[2016-02-01 15:45] #2084 closed

[2016-02-01 15:49] smuzaffar commented on #2053
@davidlt, can you please make a PR (python/openssl) for cmsdist IB/80X/stable

[2016-02-01 16:30] #2093 closed

[2016-02-01 16:31] smuzaffar commented on #1998
#2005 has been merged, so we can close this issue.

[2016-02-01 16:31] #1998 closed

[2016-02-01 16:31] smuzaffar commented on #2040
done

[2016-02-01 16:31] #2040 closed

[2016-02-01 19:42] cmsbuild opened #2117 "cms-data/L1Trigger-L1TCalorimeter#7: new calo stage-2 LUTs for EG, Tau"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#7

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-02-02 08:12] davidlt commented on #2053
Here it is: https://github.com/cms-sw/cmsdist/pull/2118

[2016-02-02 09:38] smuzaffar commented on #2095
done here #2106

[2016-02-02 09:38] #2095 closed

[2016-02-02 09:39] smuzaffar commented on #2089
doen here #2091

[2016-02-02 09:39] #2089 closed

[2016-02-02 10:08] #2086 closed

[2016-02-02 10:08] #2088 closed

[2016-02-02 10:09] smuzaffar commented on #2014
done #2050

[2016-02-02 10:09] #2014 closed

[2016-02-02 10:10] smuzaffar commented on #1952
@DrDaveD , I am closing this issue, please create a new one when needed

[2016-02-02 10:10] #1952 closed

[2016-02-02 10:10] cmsbuild commented on #1952
A new Issue was created by  @DrDaveD .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-02 10:12] smuzaffar commented on #2058
done #2062

[2016-02-02 10:12] #2058 closed

[2016-02-04 05:31] mulhearn commented on #2117
@davidlange6 would be good to get this in an IB so I could start turning things on in standard sequences...

[2016-02-04 09:10] ghost commented on #2117
I've created the PR in #2124.

[2016-02-04 15:41] cmsbuild opened #2126 "cms-externals/openloops#5: Updated contents to OpenLoops version 1.2.4 including Collier"
A new Pull Request was created by  @thuer (Sebastian Thüer) for branch master.

Pull Request Reference: cms-externals/openloops#5

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-02-04 21:50] DrDaveD opened #2127 "Please upgrade latest CMSSW to frontier_client 2.8.16 and pacparser 1.3.5"
This frontier client release has improved support for IPv6 and fixes the problems found in 2.8.14.

Get the new version from http://frontier.cern.ch/dist/

[2016-02-04 21:50] cmsbuild commented on #2127
A new Issue was created by  @DrDaveD .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-08 10:38] ghost commented on #2117
Done in the aforementioned PR.

[2016-02-08 10:38] #2117 closed

[2016-02-08 10:40] ghost commented on #2113
The above PR was merged. The corresponding PR to cmsdist is pending waiting for the corresponding update of GEANT4. See also #2120.

[2016-02-08 10:40] #2113 closed

[2016-02-08 10:41] davidlange6 commented on #2127
@degano- i'm not sure its the right moment to change frontier.. could we stay with what we have in 800pre6 for the moment.

[2016-02-08 10:55] ghost commented on #2112
Under test in #2131.

[2016-02-08 10:57] ghost commented on #2127
@davidlange6 Okay, no problem. I'll just finish the test. We can always port this to the next devel cycle once we'll have that.

[2016-02-08 11:01] davidlange6 commented on #2127
yes, or it can go into the devel build already.

[2016-02-08 12:28] DrDaveD commented on #2127
So then which would be the first release version it would go into?

[2016-02-08 13:17] davidlange6 commented on #2127
810pre1 for testing and then back porting

[2016-02-08 15:31] DrDaveD commented on #2127
@davidlange6 how much of a delay does that introduce?  I don't even see 8_1_X on https://twiki.cern.ch/twiki/bin/viewauth/CMS/ReleaseSchedule.

[2016-02-09 09:20] #2126 closed

[2016-02-09 09:20] #2112 closed

[2016-02-09 09:21] #2053 closed

[2016-02-09 10:56] cmsbuild opened #2134 "cms-externals/openloops#6: Added the not yet public collier code to the openloops repository (As"
A new Pull Request was created by  @thuer (Sebastian Thüer) for branch 1.2.4.

Pull Request Reference: cms-externals/openloops#6

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-02-09 11:02] cmsbuild opened #2135 "cms-externals/openloops#7: OpenLoops v1.2.4 including process source code"
A new Pull Request was created by  @thuer (Sebastian Thüer) for branch cms/v1.2.4.

Pull Request Reference: cms-externals/openloops#7

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-02-09 14:29] ghost commented on #2135
@thuer Which release cycle would this be needed?

[2016-02-09 14:31] thuer commented on #2135
In 8_0_X where Sherpa 2.2 is used

[2016-02-09 14:33] ghost commented on #2135
Okay it's in testing in #2136.

[2016-02-09 14:33] #2135 closed

[2016-02-09 14:34] ghost commented on #2134
Done.

[2016-02-09 14:34] #2134 closed

[2016-02-10 14:54] lveldere opened #2139 "FastSim: bug fix : update data file"
Dear experts

The data file in the path
FastSimulation/TrackingRecHitProducer/data/PixelForwardResolution2014.root

would need to be updated to the file made available here:
/afs/cern.ch/user/a/asady/public/PixelForwardResolution2014.root

Could someone take care of this,
or provide instructions how to proceed with this?

Many thanks

Lukas

@asady1

[2016-02-10 14:55] cmsbuild commented on #2139
A new Issue was created by  @lveldere .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-02-10 15:11] ghost commented on #2139
Dear Lukas,
the data for that package is hosted here: https://github.com/cms-data/FastSimulation-TrackingRecHitProducer.
I suggest you to
1) Fork the repository in your own area
2) Clone locally your repository, replace the file, commit and push to your repository
3) Make a pull request as we usually do to the cms repository.

From there on I'll take care of integrating the file in the latest rele

[2016-02-11 10:11] lveldere commented on #2139
thanks! I'll take care of this on Wednesday.

[2016-02-11 10:11] #2139 closed

[2016-02-11 10:15] cmsbuild opened #2140 "cms-sw/cmssw-config#53: EDM Class Transients needs pcms and rootmap files in lib directory"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch master.

Pull Request Reference: cms-sw/cmssw-config#53

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-02-11 10:29] smuzaffar commented on #2140
cms-sw/cmsdist#2141 include this

[2016-02-11 10:31] #2140 closed

[2016-02-16 20:02] DrDaveD commented on #2127
I have released 2 more versions with minor updates that you might as well pick up when you build this.  Version 2.8.18 now.

[2016-02-22 15:53] DrDaveD commented on #2127
@davidlange6 8_0_0 is released now, can this start to be added to 8_1_X soon?

[2016-02-24 10:31] cmsbuild opened #2157 "cms-data/FastSimulation-TrackingRecHitProducer#1: BugFix : update resolution files for forward pixel"
A new Pull Request was created by  @lveldere  for branch master.

Pull Request Reference: cms-data/FastSimulation-TrackingRecHitProducer#1

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-02-24 15:31] cmsbuild opened #2162 "cms-externals/CSCTrackFinderEmulation#1: Add gcc options."
A new Pull Request was created by  @degano (Alessandro Degano) for branch master.

Pull Request Reference: cms-externals/CSCTrackFinderEmulation#1

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-02-25 08:57] cmsbuild opened #2165 "cms-data/RecoJets-JetProducers#7: New pileup Jet Id weights for 76X"
A new Pull Request was created by  @jbrands  for branch master.

Pull Request Reference: cms-data/RecoJets-JetProducers#7

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-03-02 15:09] sextonkennedy commented on #2127
It looks like @degano merged the older version.  I happen to know that ATLAS is moving to 2.8.18 can we move to that one as @DrDaveD requested in this thread?

[2016-03-02 15:13] davidlange6 commented on #2127
It's what happens when titles of issues are obsoleted.  Yes, let's move to 2.8.18

[2016-03-03 08:47] ghost commented on #2127
Okay, I'll upgrade again. This issue is no longer needed.

[2016-03-03 08:47] #2127 closed

[2016-03-03 08:47] #2162 closed

[2016-03-03 08:47] #2157 closed

[2016-03-03 08:47] #2165 closed

[2016-03-03 11:57] cmsbuild opened #2175 "cms-data/L1Trigger-L1TGlobal#1: add low threshold version of menu for GR3"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TGlobal#1

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-03-03 16:14] DrDaveD commented on #2127
@degano is it being tracked in another issue instead?

[2016-03-03 16:40] smuzaffar commented on #2127
@DrDaveD , @degano have created new PR https://github.com/cms-sw/cmsdist/pull/2174 for this.

[2016-03-04 10:32] ghost commented on #2175
Merged in #2176 and #2177.

[2016-03-04 10:32] #2175 closed

[2016-03-04 14:39] cmsbuild opened #2179 "cms-data/Fireworks-Geometry#6: Update Reco Geometry Including new Hcal DetIds"
A new Pull Request was created by  @ianna (Ianna Osborne) for branch master.

Pull Request Reference: cms-data/Fireworks-Geometry#6

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-03-07 09:04] #2179 closed

[2016-03-11 09:20] civanch opened #2191 "Update list of Geant4 data for Geant4 10.2"
Geant4 10.2 requires a new dataset G4ENSDFSTATEDATA1.2.1 (1.6Mb), tar file is available at url: http://geant4.web.cern.ch/geant4/support/download.shtml

This file may be added both to the main and DEVEL branches.

There are updated data files for 10.2 in the same page:
  G4EMLOW6.48 (24.2Mb)
  G4PhotonEvaporation3.2 (8.9 Mb)
  G4RadioactiveDecay4.3.1 (7.6 Mb)
These files are not backward compatibl

[2016-03-11 09:21] cmsbuild commented on #2191
A new Issue was created by  @civanch (Vladimir Ivantchenko).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-03-15 14:03] ghost commented on #2191
@civanch Despite the extension of the archive being .tar.gz it is not a gunzip archive.
If you compare another GEANT4 data archive that's what you see:

[code]

while the new one says:

[code]

and have to be opened without the "z" option.
Although this is not such big of a deal, for consistency reasons should be better to have it in the same format of all the other data packages so our unpacking

[2016-03-15 15:09] civanch commented on #2191
@degano , you are right, it turns out to be a bug that this data set for the 10.2p01 was not compressed. In the next patch this should be fixed. All files are compressed in the same way in the development branch. So, the situation is exceptional.

[2016-03-15 18:55] civanch commented on #2191
@degano , a new file is created http://geant4.cern.ch/support/source/G4ENSDFSTATE.1.2.2.tar.gz which has fixed format. This claimed to be fully coherent with the patch.

[2016-03-16 08:58] ghost commented on #2191
@civanch excellent. I've created the PR in #2192, which is now testing.

[2016-03-18 02:31] cmsbuild opened #2199 "cms-data/L1Trigger-L1TCalorimeter#8: updates for Tau algorithms"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#8

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-03-18 02:33] cmsbuild opened #2200 "cms-data/L1Trigger-L1TMuon#3: updates to BMTF and OMTF luts"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TMuon#3

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-03-18 02:34] cmsbuild opened #2201 "cms-data/L1Trigger-L1TGlobal#2: add new implementation of Stage1 menu"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TGlobal#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-03-18 09:19] ghost commented on #2201
Done in #2202.

[2016-03-18 09:19] #2201 closed

[2016-03-18 09:19] ghost commented on #2200
Done in #2202.

[2016-03-18 09:19] #2200 closed

[2016-03-18 09:19] ghost commented on #2199
Done in #2202.

[2016-03-18 09:19] #2199 closed

[2016-03-18 09:20] ghost commented on #2191
Merged in #2192

[2016-03-18 09:20] #2191 closed

[2016-03-21 13:26] cmsbuild opened #2207 "cms-data/L1Trigger-L1THGCal#1: Add cellsToTriggerCellsMap for square geometry"
A new Pull Request was created by  @lgray (Lindsey Gray) for branch master.

Pull Request Reference: cms-data/L1Trigger-L1THGCal#1

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-03-22 14:31] #2207 closed

[2016-04-05 06:53] cmsbuild opened #2227 "cms-externals/CSCTrackFinderEmulation#2: use -msse3 only for x86_64 arch"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch cms/CMSSW_8_1_X.

Pull Request Reference: cms-externals/CSCTrackFinderEmulation#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-04-05 12:19] cmsbuild opened #2228 "cms-data/data-CalibTracker-SiStripDCS#1: New PSUDetID maps."
A new Pull Request was created by  @hqucms  for branch master.

Pull Request Reference: cms-data/data-CalibTracker-SiStripDCS#1

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-04-06 09:12] ghellwig opened #2229 "Which branch should be used for externals-update in 81X?"
Naivly, I would expect it to be IB/CMSSW_8_1_X/stable, but from https://github.com/cms-sw/cms-bot/blob/master/config.map#L1 it seems that I should rather use IB/CMSSW_8_1_X/gcc530 because this line includes PROD_ARCH=1

Could someone please clarify?

Thank you,
Gregor

[2016-04-06 09:13] cmsbuild commented on #2229
A new Issue was created by  @ghellwig (Gregor Mittag).

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-06 09:14] davidlt commented on #2229
`IB/CMSSW_8_1_X/gcc530`, CMSSW_8_1_X started with `IB/CMSSW_8_1_X/stable` (aka GCC 4.9.3), but later we changed compiler to GCC 5.3.0 (`IB/CMSSW_8_1_X/gcc530`).

[2016-04-06 09:14] #2229 closed

[2016-04-06 09:14] davidlt commented on #2229
Btw, we still build GCC 4.9.3 builds, thus you can make your changes to `IB/CMSSW_8_1_X/stable` and then they will be merged to needed branches.

[2016-04-06 09:17] ghellwig commented on #2229
Thanks @davidlt!

Ok, then I'll proceed with 'stable'.
But in general one should use the PROD_ARCH branch, right? Or always 'stable'?

I am asking because of backports in case of bug fixes in the external.

[2016-04-06 09:47] davidlt commented on #2229
In most cases it will be stable, but probably not always. E.g., if at some point we stop building GCC 4.9.3 for CMSSW_8_1_X, probably stable will not be used any more. This could happen if we decide we need to use features only available starting GCC 5.3.0. You should look for what architectures we are building certain releases and then check config.map.

[2016-04-06 09:55] ghellwig commented on #2229
Thanks for clarification!
Is there a way how one can deduce which architectures are built without asking every time?
The easiest way coming to my mind is to look at the release notes of the latest release for a given cycle. But if this has been the last release for this release cycle, this guess is wrong.

[2016-04-06 21:39] DrDaveD opened #2230 "Please backport frontier_client 2.8.19 and pacparser 1.3.5 to older CMSSW release lines"
frontier_client 2.8.18 and pacparser 1.3.5 is in CMSSW_8_1_0_pre[12] and hasn't seen any problems.  Please start backporting it to older release lines that still expect to see active use for quite a while, as was attempted for version 2.8.14 in issue #1952.

[2016-04-06 21:40] cmsbuild commented on #2230
A new Issue was created by  @DrDaveD .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-12 01:04] cmsbuild opened #2238 "cms-data/L1Trigger-L1TCalorimeter#9: Calo data updates for l1t-tsg-v5"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#9

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-04-12 01:05] cmsbuild opened #2239 "cms-data/L1Trigger-L1TGlobal#3: add L1Menu_Collisions2016_dev_v3"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TGlobal#3

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-04-12 13:02] cmsbuild opened #2241 "cms-data/RecoJets-JetProducers#8: Add 80X PU jet ID training"
A new Pull Request was created by  @ahinzmann  for branch master.

Pull Request Reference: cms-data/RecoJets-JetProducers#8

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-04-12 16:40] DrDaveD opened #2245 "Please upgrade latest CMSSW to frontier_client 2.8.19"
These are the release notes:

v2_8_19 - 12 Apr 2016 (dwd)
  - Fix bug in the function that gets the name & IP address of servers
    and proxies as a string.  This bug was introduced in v2_8_15.  The
    function is supposed to return the host name followed by the IP
    address in square brackets, however for proxies and for direct-
    connect servers it was returning only the IP address in squa

[2016-04-12 16:41] cmsbuild commented on #2245
A new Issue was created by  @DrDaveD .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-04-12 16:41] DrDaveD commented on #2230
A small problem was found with 2.8.18 -- hold the backport a while until 2.8.19 is tested in as requested in issue #2245

[2016-04-13 09:39] cmsbuild commented on #2228
Pull request cms-data/data-CalibTracker-SiStripDCS#1 was updated.
Latest update by Huilin Qu with commit message
Keep only the current map.

[2016-04-15 13:36] cmsbuild opened #2253 "cms-data/L1Trigger-L1TCalorimeter#10: Additional 2 Tau LUTs needed for l1t-tsg-v5 merge"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#10

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-04-21 19:31] DrDaveD commented on #2245
Is there a holdup on this?

[2016-04-26 21:59] cmsbuild opened #2272 "cms-data/L1Trigger-L1TMuon#4: Add EMTF LUT version 16-02-21"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TMuon#4

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-04-28 10:24] smuzaffar commented on #2245
@degano, can you please take care of it?

[2016-04-28 15:45] #2245 closed

[2016-04-28 15:45] #2272 closed

[2016-04-29 08:30] ghost commented on #2253
merged in #2277

[2016-04-29 08:30] #2253 closed

[2016-04-29 08:31] ghost commented on #2241
merged in #2242 and #2243

[2016-04-29 08:31] #2241 closed

[2016-04-29 08:32] ghost commented on #2239
merged in #2257

[2016-04-29 08:32] #2239 closed

[2016-04-29 08:32] ghost commented on #2238
merged in #2257

[2016-04-29 08:32] #2238 closed

[2016-04-29 08:34] #2228 closed

[2016-04-29 08:34] #2227 closed

[2016-05-04 02:00] cmsbuild opened #2280 "cms-data/L1Trigger-L1TCalorimeter#11: Updates to L1TCalorimeter data for l1t-tsg-v6"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#11

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-05-12 09:05] ghost commented on #2280
Included with #2287

[2016-05-12 09:05] #2280 closed

[2016-05-15 19:48] cmsbuild opened #2295 "cms-data/SLHCUpgradeSimulations-Geometry#2: Correct Detids List for Phase2 Tilted Tracker"
A new Pull Request was created by  @boudoul (boudoul) for branch master.

Pull Request Reference: cms-data/SLHCUpgradeSimulations-Geometry#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-05-16 11:03] cmsbuild opened #2296 "cms-data/GeneratorInterface-EvtGenInterface#3: add BPH decay files and particle list files from CMSSW_8_1_X"
A new Pull Request was created by  @heppye (Ye Chen) for branch master.

Pull Request Reference: cms-data/GeneratorInterface-EvtGenInterface#3

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-05-17 07:44] ghost commented on #2295
Merged with #2297

[2016-05-17 07:44] #2295 closed

[2016-05-17 07:52] ghost commented on #2296
Merged in 8_1_X with #2298

[2016-05-17 07:52] #2296 closed

[2016-05-17 15:31] smuzaffar commented on #2230
@DrDaveD , are you happy with 2.8.19? @degano has created a PR #2289 for 80X, let us know if this is good to go in 80X?

We are planing to test 2.8.19 on online machines using CMSSW_8_1_0_pre4/5 and based on your input and tests we can go ahead with its back port to 80X.

[2016-05-17 16:01] DrDaveD commented on #2230
Yes I am happy with 2.8.19.  Please do go ahead and backport frontier client 2.8.19 and pacparser 1.3.5 to 80X

[2016-05-19 07:08] cmsbuild opened #2301 "cms-data/L1Trigger-L1TMuon#5: Move EndCap Muon PH-TH LUTs to externals"
A new Pull Request was created by  @mulhearn  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TMuon#5

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-05-19 07:51] ghost commented on #2301
merged in #2302

[2016-05-19 07:51] #2301 closed

[2016-06-01 21:16] DrDaveD commented on #2230
This is now in 8_0_10.  What other older release lines should be considered to be upgraded for IPv6 support?

[2016-06-03 16:01] cmsbuild opened #2321 "cms-externals/geant4#9: CMS private patch modification to reduce hadronic response."
A new Pull Request was created by  @civanch (Vladimir Ivantchenko) for branch cms/4.10.02.p01.

Pull Request Reference: cms-externals/geant4#9

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-06-06 09:22] cmsbuild opened #2322 "cms-data/GeneratorInterface-EvtGenInterface#4: Rename 'DECAY_2010_NOLONGLIFE.dec' to 'DECAY_2010.dec'"
A new Pull Request was created by  @heppye (Ye Chen) for branch master.

Pull Request Reference: cms-data/GeneratorInterface-EvtGenInterface#4

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-06-06 16:26] cmsbuild commented on #2321
Pull request cms-externals/geant4#9 was updated.
Latest update by Vladimir with commit message
added forgotten2

[2016-06-08 13:08] ghost commented on #2230
@DrDaveD It really depends if the scope of frontier_client in CMSSW goes beyond the online data processing. Releases of the 7 (or earlier) cycles are nowadays only used for analysis AFAIK.

[2016-06-08 15:29] cmsbuild opened #2329 "cms-data/GeneratorInterface-EvtGenInterface#5: add decay and particle properties from evtgen 1.6"
A new Pull Request was created by  @alberto-sanchez (Alberto Sanchez Hernandez) for branch master.

Pull Request Reference: cms-data/GeneratorInterface-EvtGenInterface#5

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-06-09 08:48] davidlange6 commented on #2230
yes, frontier is beyond the online - we have an ipv6 discussion Friday, so it will be easier to answer the question after that.

[2016-06-09 10:07] ghost commented on #2322
Merged in #2326

[2016-06-09 10:07] #2322 closed

[2016-06-09 10:10] iahmad-khan commented on #2321
Merged in #2325

[2016-06-09 10:10] #2321 closed

[2016-06-09 13:00] iahmad-khan commented on #2329
Merged in #2330

[2016-06-09 13:00] #2329 closed

[2016-06-09 13:05] cmsbuild opened #2331 "cms-data/L1Trigger-L1THGCal#2: Add module and trigger cell definitions for the hexagonal geometry"
A new Pull Request was created by  @jbsauvan (Jean-Baptiste Sauvan) for branch master.

Pull Request Reference: cms-data/L1Trigger-L1THGCal#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-06-10 13:42] iahmad-khan commented on #2331
merged in #2333

[2016-06-10 13:42] #2331 closed

[2016-06-15 10:56] thuer opened #2341 "Switch on Sherpa pyextension (For UFO model support)"
In Sherpa v2.2, UFO models are supported if Sherpa is compiled with the --pyext flag, which is currently not set. If add this flag to the Sherpa external, serveral issues occur. To build Sherpa with this flag two externals are needed:

1) scons

2) swig

Both are present in cmsdist but not build by default. Once Sherpa is built with the --pyext executable, some additional changes are needed:

1) s

[2016-06-15 10:56] cmsbuild commented on #2341
A new Issue was created by  @thuer Sebastian Ther.

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-06-15 11:20] davidlange6 commented on #2341
in turn, swig depends on PCRE.
scons doesn't seem like an issue.

for the paths and such - have we not already solved this issue for other sherpa components?

[2016-06-15 11:26] thuer commented on #2341
Yes, the pathes are defined in the sherpa toolfile and are used in the SherpaInterface and such.
This new file in Sherpa (was included in the latest version) somehow uses again the pathes at compilation time and we have to change it to use the ones defined in the toolfile.
I will write the Sherpa authors to fix this in the next release.

[2016-06-16 12:09] cmsbuild opened #2345 "cms-data/FastSimulation-TrackingRecHitProducer#2: update resolution files"
A new Pull Request was created by  @matt-komm (Matthias Komm) for branch master.

Pull Request Reference: cms-data/FastSimulation-TrackingRecHitProducer#2

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-06-17 16:03] DrDaveD commented on #2230
I see it was backported to CMSSW_7_1_24.  That was #2337

[2016-06-20 09:53] iahmad-khan commented on #2345
Fixed in https://github.com/cms-sw/cmsdist/pull/2347

[2016-06-20 09:53] #2345 closed

[2016-06-21 14:07] ghost commented on #2230
@iahmad-khan what's the status on the various PRs that you have created? Can you merge those working and fixing those that doesn't?

[2016-06-22 09:08] cmsbuild opened #2350 "cms-externals/tinyxml#1: clean up old Makefile"
A new Pull Request was created by  @iahmad-khan (Ijaz ahmad khan) for branch cms/2.5.3.

Pull Request Reference: cms-externals/tinyxml#1

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-06-22 09:44] #2350 closed

[2016-06-22 10:03] cmsbuild opened #2351 "cms-externals/tinyxml#1: updates relevant files to be used as tinyxml external"
A new Pull Request was created by  @iahmad-khan (Ijaz ahmad khan) for branch cms/2.5.3.

Pull Request Reference: cms-externals/tinyxml#1

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-06-22 11:47] thuer commented on #2341
The sherpa authors will change the hardcoded path variables and add an option to change the directory where the library is created in the next versions. So the Sherpa fix will only be temporary.
Still the issue with the externals need to be addressed.

[2016-06-22 14:39] #2351 closed

[2016-06-22 14:41] iahmad-khan commented on #2230
@degano yes , those that have succeeded can be merged and the one that fails in addons can also be merged for the same reasons as that of 7_1_X has been merged but i am not sure whether should i do it or not(in case of 5_3_X)

[2016-06-23 08:47] ghost commented on #2341
@iahmad-khan Can you please take care of this one also?

[2016-06-27 09:12] ghost commented on #2341
@iahmad-khan ping?

[2016-06-27 12:23] iahmad-khan commented on #2230
Fixed in https://github.com/cms-sw/cmsdist/pull/2337 , https://github.com/cms-sw/cmsdist/pull/2338 , https://github.com/cms-sw/cmsdist/pull/2340

[2016-06-27 12:23] #2230 closed

[2016-06-27 13:58] iahmad-khan commented on #2341
@thuer can you please confirm that swig and scons are just build requires or run-time requires. i just read from the same sherpa documentation , from which i concluded that swig is build time require. but not sure about scons.

[2016-06-27 14:34] thuer commented on #2341
Scons is needed at run-time (e.g. the new executable makes explicit calls to scons https://github.com/thuer/sherpa/blob/cms/v2.2.0/MODEL/UFO/Sherpa-generate-model)
We sent an email to ask the authors regarding swig.

[2016-06-27 16:50] pmillet commented on #2341
The authors confirmed that swig is only needed for compilation, while scons is needed at runtime.

[2016-06-28 08:27] iahmad-khan commented on #2341
Thanks , i ll update the relevant spec files accordingly

[2016-06-29 07:39] iahmad-khan commented on #2341
@thuer @degano sherpa ,scons , and swig related changes fixed in  #2356

[2016-07-04 10:50] iahmad-khan commented on #2341
@thuer the new changes to sherpa are available in 8_1_X , can you please confirm the desired behavior.

[2016-07-05 09:38] cmsbuild opened #2371 "cms-externals/geant4#11: CMS patch on top of Geant4 10.2p02"
A new Pull Request was created by  @civanch (Vladimir Ivantchenko) for branch cms/4.10.02.p02.

Pull Request Reference: cms-externals/geant4#11

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-07-05 10:09] iahmad-khan commented on #2371
i am working on it.

[2016-07-06 09:46] iahmad-khan commented on #2371
Fixed in https://github.com/cms-sw/cmsdist/pull/2373

[2016-07-06 09:46] #2371 closed

[2016-07-08 12:27] cmsbuild opened #2378 "cms-externals/geant4#12: Avoid using __has_feature(c_atomic) in C++ mode"
A new Pull Request was created by  @davidlt  for branch cms/4.10.02.p02.

Pull Request Reference: cms-externals/geant4#12

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-07-12 12:57] iahmad-khan commented on #2378
Fixed in https://github.com/cms-sw/cmsdist/pull/2383

[2016-07-12 12:57] #2378 closed

[2016-07-12 16:03] davidlt commented on #2341
ping^1

[2016-07-13 05:39] cmsbuild opened #2385 "cms-data/RecoJets-JetProducers#9: PUID trained with fixed variables definitions"
A new Pull Request was created by  @jdolen (James Dolen) for branch master.

Pull Request Reference: cms-data/RecoJets-JetProducers#9

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-07-13 09:26] gkasieczka opened #2387 "Add scikit-learn to CMSSW environment"
Dear Colleagues,

I would like to request adding scikit-learn [1] to the CMSSW enviroment. scikit-learn is a widely used Python package for machine learning. It is also increasingly used in CMS, especially in b-tagging.

As pointed out by Valentin ([2]) spec-files and RPMs already exist in a branch of cmsdist [3].

The spec for scikit-learn is here:
https://github.com/cms-sw/cmsdist/blob/comp_gcc4

[2016-07-13 09:26] cmsbuild commented on #2387
A new Issue was created by  @gkasieczka .

@davidlange6, @smuzaffar, @degano, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-13 09:30] jpata commented on #2387
Dear BTV conveners (@acaudron @pvmulder @mverzett @imarches @carolinecollard, ...)
Dear Tau conveners (@veelken, ...)

would you lend your support to having a recent version scikit-learn available with CMSSW? That would simplify training efforts for various MVA-s.

[2016-07-13 09:36] davidlt commented on #2387
@davidlange6 your ACK will be required here.

[2016-07-13 09:41] mverzett commented on #2387
@jpata, that would be indeed a nice addition indeed. I am currently running everything on a custom anaconda build because of this.

It would be also nice if the package is kept up-to-date.

[2016-07-13 09:41] blinkseb commented on #2387
Can we also please update the version of matplotlib we ship in CMSSW? It's currently very old, and it's the perfect tool to plot results from scikit :)

[2016-07-13 09:47] davidlt commented on #2387
We did have 1.4.1 version of matplotlib in 2015, but that had to reverted due to some issues. Sadly commit message does not indicate what they were thus will be hard to follow up. @degano do you recall what were the issues?

Other than that, all of this would be first tested in DEVEL IBs before proposing final changes to stable IBs.

Keeping it up do date will require someone maintaining it, or at

[2016-07-13 11:13] iahmad-khan commented on #2387
@degano the devel branch is already using version 1.5  , should i test it for stable?

[2016-07-13 11:34] davidlt commented on #2387
@iahmad-khan no, it's at 1.2.1: https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_8_1_X/gcc530next/py2-matplotlib.spec

[2016-07-13 12:51] vkuznet commented on #2387
I maintain ML stack within comp_gcc493 repository. And, right now building recent version of numpy, scipy, pandas, scikit-learn, xgboost, vw, etc. All of them are in use of package I'm responsible for, DCAFPilot.

[2016-07-13 13:14] mbluj commented on #2387
Hello,

as Tau conveners were pinged I am answering: yes, we are interested in having scikit-learn available with external packages of CMSSW which will make it easier studies towards replacement our TMVA based tools by ones based on scikit-learn.
Best,
Michal

[2016-07-14 12:47] #2385 closed

[2016-07-17 15:00] cmsbuild opened #2395 "cms-externals/geant4#13: second patch to G4 physics"
A new Pull Request was created by  @civanch (Vladimir Ivantchenko) for branch cms/4.10.02.p02.

Pull Request Reference: cms-externals/geant4#13

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-07-18 07:37] thuer commented on #2341
thanks
I'll start looking into it and testing it, sorry for the delay

[2016-07-18 12:47] thuer commented on #2341
Building Sherpa worked fine, however, I still cannot use the newly generated "Sherpa-generate-model" executable.
The first error is related to py2-setuptools, while using the generate-model file, I encounter the error

ImportError: No module named pkg_resources

which I could fix by
export PYTHONPATH=$PYTHONPATH:/cvmfs/cms-ib.cern.ch/2016-30/slc6_amd64_gcc493/external/py2-setuptools/2.1-giojec/lib

[2016-07-19 07:40] thuer commented on #2341
When I try to build Sherpa in gcc530, for some reason cmsBuild also wants to build root and this fails with this error (I doubt this is in any way related to Sherpa, but just wanted to mention it)

[2016-07-19 07:48] smuzaffar commented on #2341
@thuer , we will update the toolfile to have scons in PATH and py2-setuptools and sherpa dirs in PYTHONPATH.

For root errors, which branch of cmsdist/pkgtools you are using?

[2016-07-19 09:06] thuer commented on #2341
I used
pkgtools V00-24-XX
cmsdist IB/CMSSW_8_1_X/gcc530

[2016-07-21 21:27] cmsbuild opened #2406 "cms-sw/SCRAM#26: test commit at 21/7/2016 11:25"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch master.

Pull Request Reference: cms-sw/SCRAM#26

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-07-22 12:30] thuer commented on #2341
Everything seems to be fine with the updates from 3 days ago to py2-setuptools, scons and the sherpa-toolfile. So we can close this issue and we will make a pull request with a new Sherpa release (2.2.1) which includes some fixes we requested on the Sherpa side
Can we ignore the root problem with gcc530?

[2016-07-22 12:47] cmsbuild opened #2409 "cms-externals/sherpa#4: SHERPA-MC-2.2.1.tar.gz"
A new Pull Request was created by  @pmillet  for branch master.

Pull Request Reference: cms-externals/sherpa#4

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-07-22 13:17] #2406 closed

[2016-07-22 13:40] cmsbuild opened #2410 "cms-externals/sherpa#5: Cms/v2.2.1"
A new Pull Request was created by  @pmillet  for branch cms/v2.2.1.

Pull Request Reference: cms-externals/sherpa#5

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-07-25 13:25] #2409 closed

[2016-07-25 13:26] #2395 closed

[2016-07-26 16:51] tmatsush opened #2419 "cms-externals/UTM"
@davidlange6 @smuzaffar @rekovic @mulhearn

Request of UTM external library update as originally posted in the following issue
https://github.com/cms-l1t-offline/cmssw/issues/368

For 80X, please use the tag r46131-xsd310-patch at https://gitlab.cern.ch/cms-l1t-utm/utm
For 81X, please use the tag r46131-xsd330-patch at https://gitlab.cern.ch/cms-l1t-utm/utm

[2016-07-26 16:52] cmsbuild commented on #2419
A new Issue was created by  @tmatsush .

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-27 08:20] smuzaffar commented on #2419
@iahmad-khan , can you please take care of it as soon as possible. We need to get it in for next 8.0.16 release

[2016-07-27 08:22] davidlange6 commented on #2419
just for the record, its done in 81x

On Jul 27, 2016, at 10:20 AM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

@iahmad-khanhttps://github.com/iahmad-khan , can you please take care of it as soon as possible. We need to get it in for next 8.0.16 release

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitH

[2016-07-27 08:35] smuzaffar opened #2420 "backport jemalloc 4.2.0 to 81X and 80X"
@iahmad-khan , can you please take care of it

[2016-07-27 08:35] cmsbuild commented on #2420
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-07-27 11:11] smuzaffar commented on #2419
assign externals

[2016-07-27 11:11] cmsbuild commented on #2419
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-27 11:12] smuzaffar commented on #2419
+externals
Done here
80X: https://github.com/cms-sw/cmsdist/pull/2421
81X: https://github.com/cms-sw/cmsdist/commit/89c2bd36feee24c7f47c8845d034208e0f927a2e

[2016-07-27 11:13] cmsbuild commented on #2419
This issue is fully signed and ready to be closed.

[2016-07-27 11:40] smuzaffar commented on #2410
thanks to @iahmad-khan , this is done here https://github.com/cms-sw/cmsdist/pull/2415

[2016-07-27 11:40] #2410 closed

[2016-07-27 11:40] #2419 closed

[2016-07-27 11:43] smuzaffar commented on #2341
+externals
@thuer , can we close this issue now. This should be in 81X via
https://github.com/cms-sw/cmsdist/pull/2399

[2016-07-27 11:43] smuzaffar commented on #2341
assign externals

[2016-07-27 11:43] cmsbuild commented on #2341
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-07-27 11:56] thuer commented on #2341
Thanks @smuzaffar @iahmad-khan for taking care of this!
Everything is fine from our point, so I'll close it

[2016-07-27 11:56] #2341 closed

[2016-07-28 08:44] iahmad-khan commented on #2420
Fixed in https://github.com/cms-sw/cmsdist/pull/2423  and https://github.com/cms-sw/cmsdist/pull/2422

[2016-07-28 08:44] #2420 closed

[2016-08-01 09:22] iahmad-khan commented on #2387
Matplotlib and numpy related changes have been merged in https://github.com/cms-sw/cmsdist/pull/2391

[2016-08-01 14:24] iahmad-khan commented on #2387
Merged in https://github.com/cms-sw/cmsdist/pull/2426

[2016-08-01 14:24] #2387 closed

[2016-08-02 20:36] cmsbuild opened #2437 "cms-data/GeneratorInterface-EvtGenInterface#6: add decay files for BPH"
A new Pull Request was created by  @heppye (Ye Chen) for branch master.

Pull Request Reference: cms-data/GeneratorInterface-EvtGenInterface#6

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-08-04 08:52] veelken commented on #2387
Dear all,

can you let me know in which CMSSW version (or IB) scikit-learn will be included by default.
One of the tau ID experts in the Tau POG would like to start using it.

Thank you very much,

Christian

[2016-08-04 09:00] davidlange6 commented on #2387
at this moment, its in the 81x integration build. It will be part of 810pre10 and then it can be tested and back ported to 80x if desired (I would desire it).

david

On Aug 4, 2016, at 10:52 AM, Christian Veelken <notifications@github.com<mailto:notifications@github.com>> wrote:

Dear all,

can you let me know in which CMSSW version (or IB) scikit-learn will be included by default.
One of the tau

[2016-08-09 17:54] smuzaffar commented on #2341
@pmillet and @thuer , one workflow (in 81X IBs) 534.0  sherpa_ZtoEE_0j_OpenLoops_13TeV_MASTER is failing after this update. Can you please look in to it?

[code]

[2016-08-10 11:25] cmsbuild opened #2439 "cms-data/RecoBTag-SecondaryVertex#3: Added new and removed obsolete weight files"
A new Pull Request was created by  @ferencek (Dinko Ferencek) for branch master.

Pull Request Reference: cms-data/RecoBTag-SecondaryVertex#3

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-08-10 11:27] ferencek opened #2440 "Updated BoostedDoubleSV tagger weight files (80X and 81X)"
Dear release managers,

I would like updated BoostedDoubleSV tagger weight files (https://github.com/cms-data/RecoBTag-SecondaryVertex/pull/3) to be added to the latest IBs for the 80X and 81X release cycles.

Thank you,
Dinko

[2016-08-10 11:27] cmsbuild commented on #2440
A new Issue was created by  @ferencek Dinko Ferencek.

@davidlange6, @smuzaffar, @davidlt, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-08-10 14:48] thuer commented on #2341
@smuzaffar sorry forgot to update the RelVal samples to the new sherpa version
I made a pull request cmssw/pull/15416

[2016-08-11 14:04] iahmad-khan commented on #2439
Merged in https://github.com/cms-data/RecoBTag-SecondaryVertex/pull/3

[2016-08-11 14:04] #2439 closed

[2016-08-12 14:23] iahmad-khan commented on #2440
#2441 #2442

[2016-08-12 14:23] #2440 closed

[2016-08-19 14:01] cmsbuild opened #2455 "cms-externals/geant4#14: Fixed bug in G4 subtraction solid"
A new Pull Request was created by  @civanch (Vladimir Ivantchenko) for branch cms/4.10.02.p02.

Pull Request Reference: cms-externals/geant4#14

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-08-23 10:06] smuzaffar commented on #2455
assign externals
done here #2458

[2016-08-23 10:06] cmsbuild commented on #2455
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-23 10:06] smuzaffar commented on #2455
+externals

[2016-08-23 10:06] #2455 closed

[2016-08-23 10:06] cmsbuild commented on #2455
This issue is fully signed and ready to be closed.

[2016-08-25 00:03] cmsbuild opened #2461 "cms-sw/cmssw-config#54: Osx1011 changes"
A new Pull Request was created by  @gartung (Patrick Gartung) for branch master.

Pull Request Reference: cms-sw/cmssw-config#54

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-08-25 09:00] jpata commented on #2387
Hi @davidlange6 , pinging also @gkasieczka

`scikit-learn` doesn't seem to be there in the 810_pre10, perhaps we want to reopen:

[code]

Or am I looking in the wrong place?

[2016-08-25 09:56] gkasieczka commented on #2387
Hi,

I would haved expected it to show up in:
`/cvmfs/cms.cern.ch/slc6_amd64_gcc530/external`
(where it isn't either).

[2016-08-25 10:04] smuzaffar commented on #2387
@gkasieczka , it is only available in CMSSW_8_1_DEVEL_X IBs

[code]

can you please check and confirm if it works as expected? then we can include it in normal 80X IBs.

[2016-08-25 10:04] davidlange6 commented on #2387
ah - thanks for checking - it seems we only put this into the DEVEL branches and not the mainstream. Not sure why. Will fix asap.

[2016-08-25 11:33] gkasieczka commented on #2387
@smuzaffar Yes, the tests works. However, the DEVEL branch still take it from `/cvmfs/cms-ib.cern.ch/` which is not guaranteed to be available on grid sites.

@davidlange6 Thank you!

[2016-08-26 07:47] cmsbuild opened #2466 "cms-externals/thepeg#3: Add std::isnan & std::isinf to Config/std.h"
A new Pull Request was created by  @davidlt  for branch cms/v1.9.2p1.

Pull Request Reference: cms-externals/thepeg#3

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-08-30 14:15] cmsbuild opened #2471 "cms-data/SLHCUpgradeSimulations-Geometry#3: Create PixelSkimmedGeometry4021.txt"
A new Pull Request was created by  @boudoul (boudoul) for branch master.

Pull Request Reference: cms-data/SLHCUpgradeSimulations-Geometry#3

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-08-30 15:15] smuzaffar commented on #2461
assign core

[2016-08-30 15:15] cmsbuild commented on #2461
New categories assigned: core

@Dr15Jones,@smuzaffar you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-30 15:16] smuzaffar commented on #2461
cmssw-cong tag V05-05-11 include these changes

[2016-08-30 15:16] #2461 closed

[2016-08-30 15:27] smuzaffar commented on #2471
assign externals
done here https://github.com/cms-sw/cmsdist/pull/2473

[2016-08-30 15:27] cmsbuild commented on #2471
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-08-31 16:25] aknayak commented on #2387
Hi, I checked that scikit-learn is available in CMSSW_8_1_0_pre11. But, I did not find root_numpy. Is it not needed? I think, it is needed to convert root trees to read in sklearn. Is it possible to add it? Thanks.

[2016-09-02 00:00] cmsbuild opened #2482 "cms-data/L1Trigger-L1TMuon#6: Omtf XMLs 0x0003 and 0x0004"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TMuon#6

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-02 00:02] cmsbuild opened #2483 "cms-data/L1Trigger-L1TCalorimeter#12: Jet CompressEta (no eta 29) LUT, and other LUTs not yet used."
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#12

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-02 00:03] cmsbuild opened #2484 "cms-data/L1Trigger-L1TGlobal#4: new v2c menu XML"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TGlobal#4

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-05 09:25] ghost commented on #2484
Integrated in #2488

[2016-09-05 09:25] #2484 closed

[2016-09-05 09:25] ghost commented on #2483
Integrated in #2488

[2016-09-05 09:25] #2483 closed

[2016-09-05 09:25] ghost commented on #2482
Integrated in #2488

[2016-09-05 09:25] #2482 closed

[2016-09-05 13:51] cmsbuild opened #2492 "cms-data/RecoBTag-Combined#3: added chargeTag weights (4Sep)"
A new Pull Request was created by  @aboletti  for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#3

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-05 15:28] smuzaffar commented on #2471
+externals

[2016-09-05 15:28] #2471 closed

[2016-09-05 15:28] cmsbuild commented on #2471
This issue is fully signed and ready to be closed.

[2016-09-06 09:10] smuzaffar commented on #2492
assign externals

[2016-09-06 09:10] smuzaffar commented on #2492
+externals

[2016-09-06 09:11] cmsbuild commented on #2492
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-06 09:11] cmsbuild commented on #2492
This issue is fully signed and ready to be closed.

[2016-09-06 09:12] #2492 closed

[2016-09-07 15:55] cmsbuild opened #2502 "cms-data/GeneratorInterface-EvtGenInterface#7: Updated files for x(5568)"
A new Pull Request was created by  @oozcelik  for branch master.

Pull Request Reference: cms-data/GeneratorInterface-EvtGenInterface#7

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-07 15:55] cmsbuild opened #2503 "cms-externals/geant4#15: Disable plane intersection check in G4CutTubs"
A new Pull Request was created by  @civanch (Vladimir Ivantchenko) for branch cms/4.10.02.p02.

Pull Request Reference: cms-externals/geant4#15

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-10 17:20] smuzaffar commented on #2503
done here #2504

[2016-09-10 17:20] #2503 closed

[2016-09-13 03:42] cmsbuild opened #2507 "cms-data/L1Trigger-L1TCalorimeter#13: EG and Tau LUTs for new (Sept 2016) calibrations and spike-killer."
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#13

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-13 09:37] #2466 closed

[2016-09-13 09:38] ghost commented on #2437
merged with #2505

[2016-09-13 09:38] #2437 closed

[2016-09-13 09:39] ghost commented on #2502
merged with #2505

[2016-09-13 09:39] #2502 closed

[2016-09-13 09:45] #2507 closed

[2016-09-15 16:06] cmsbuild opened #2511 "cms-data/L1Trigger-L1TCalorimeter#14: New Iso Tau LUT - Option 22 - Needed for MC Prod"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#14

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-15 20:32] #2511 closed

[2016-09-16 09:33] cmsbuild opened #2514 "cms-data/L1Trigger-L1TGlobal#5: Data files for Full O2O PR"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TGlobal#5

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-16 09:36] cmsbuild opened #2515 "cms-data/L1Trigger-L1TMuon#7: Muon data files for Full O2O PR"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TMuon#7

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-16 09:37] #2515 closed

[2016-09-16 09:37] #2514 closed

[2016-09-20 09:58] cmsbuild opened #2522 "cms-data/GeneratorInterface-EvtGenInterface#8: Updated files for X(5568)"
A new Pull Request was created by  @oozcelik  for branch master.

Pull Request Reference: cms-data/GeneratorInterface-EvtGenInterface#8

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-21 08:28] #2522 closed

[2016-09-22 12:38] davidlange6 opened #2527 "External updates for 81x"
Hi @degano @iahmad-khan

could you make a few small changes
LAPACK to version 3.6.1

and add

HDF5 1.8.17 https://support.hdfgroup.org/HDF5/release/obtain5.html (should not depend on anything except for zlib (and cmake if you use that build method)

./configure --enable-shared --enable-cxx --with-zlib=/cvmfs/cms-ib.cern.ch/2016-39/slc6_amd64_gcc600/external/zlib/1.2.8-giojec2 --prefix $PWD/../inst

[2016-09-22 12:38] cmsbuild commented on #2527
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-09-22 13:03] ghost commented on #2527
@davidlange6 Okay, I'll be looking into it now.

[2016-09-24 03:40] cmsbuild opened #2529 "cms-sw/cms-git-tools#77: add trailing slash only if one is already available for sparse-checkout"
A new Pull Request was created by  @slava77 (Slava Krutelyov) for branch master.

Pull Request Reference: cms-sw/cms-git-tools#77

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-29 10:33] cmsbuild opened #2536 "cms-data/L1Trigger-L1TMuon#8: Update a data file used by uGMT emulator configured to use xml files"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TMuon#8

@smuzaffar, @degano, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-09-29 12:17] #2527 closed

[2016-09-29 13:25] cmsbuild commented on #2529
Pull request cms-sw/cms-git-tools#77 was updated.
Latest update by GitHub with commit message
pattern more in style with the rest

[2016-09-29 16:27] smuzaffar commented on #2529
assign externals

[2016-09-29 16:27] smuzaffar commented on #2529
+externals

[2016-09-29 16:27] cmsbuild commented on #2529
New categories assigned: externals

@smuzaffar,@degano,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-09-29 16:27] cmsbuild commented on #2529
This issue is fully signed and ready to be closed.

[2016-09-29 16:27] #2529 closed

[2016-10-05 15:08] cmsbuild opened #2558 "cms-sw/cmssw-config#55: typo: use CMD_rm instead of CMS_rm"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch master.

Pull Request Reference: cms-sw/cmssw-config#55

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-10-06 10:32] aknayak commented on #2387
Hi, there is a problem in 810_pre12 as given below. It works ok in pre11. problem seems to be due to scipy. How to find out which version of sklean and scipy included in pre11 and pre12?

   import sklearn
  File "/cvmfs/cms.cern.ch/slc6_amd64_gcc530/external/py2-scikit-learn/0.17.1-giojec/lib/python2.7/site-packages/sklearn/**init**.py", line 57, in <module>
    from .base import clone
  File "/c

[2016-10-06 10:50] davidlange6 commented on #2387
interesting - we definitely need a unit test...

you can look at

scram tool list
scram tool info <tool name>

[2016-10-06 11:04] davidlt commented on #2387
Correct. In order to make sure things are working:
- Tests are needed to make sure all components are working correctly together (they aren't according to this issue)
- Tests are needed to ensure that result continues to be valid while we are updating compilers and other libraries
- Tests must be part of CMSSW IB otherwise no one will notice failures

In this particular case, I guess, py2-scipy wa

[2016-10-06 11:12] davidlange6 commented on #2387
so the problem is that we build against the wrong lapack library - @iahmad-khan - can you have a look at using the one we distribute while building py2-scipy?

[2016-10-06 11:42] iahmad-khan commented on #2387
i am looking into it

""In lapack 3.6.0 some deprecated functions which are used in scipy were dropped. Have to use lapack 3.5.0 or lower in order to get things to work back or upgrade scipy. ""

[2016-10-06 11:55] iahmad-khan commented on #2387
SciPy 0.16.1 [released 2015-10-24] , that is in use now , is too old , the newest is SciPy 0.18.0 [ released 2016-07-25] . i am going to upgrade and test.

[2016-10-06 11:55] davidlange6 commented on #2387
ok - so likely my fault for thinking to update lapack.
https://github.com/cms-sw/cmsdist/issues/2527
my notes for why are lacking - hopefully this does not break something else (I think its a problem for something else not yet introduced, but thats ok)

[2016-10-06 11:58] iahmad-khan commented on #2387
@davidlange6  , ok , so should i downgrade lapack or upgrade scipy?

[2016-10-06 12:00] davidlange6 commented on #2387
best to upgrade scipy if that is an option. yes.

[2016-10-06 12:00] iahmad-khan commented on #2387
Ok

[2016-10-06 12:00] davidlt commented on #2387
Add latest version of scipy to DEVEL IBs.

[2016-10-06 12:01] iahmad-khan commented on #2387
ok , [SciPy 0.18.0 released 2016-07-25] is the latest.

[2016-10-06 12:04] davidlt commented on #2387
@aknayak if you want this working in future release, you (or someone else) will need to provide some QA to validate this machinery.

[2016-10-06 12:26] aknayak commented on #2387
I can do a quick test, let me know the version where it is included.

[2016-10-07 07:07] #2558 closed

[2016-10-07 07:08] smuzaffar commented on #2536
done

[2016-10-07 07:08] #2536 closed

[2016-10-09 18:42] davidlange6 opened #2567 "rooted patch for ipv6"
Please apply the following patch to our existing Xrootd external:

https://github.com/xrootd/xrootd/commit/f09d2f44e89c9186fca4309898f1e9bb4961e0cb

to 53x, 71x, 74x, 75x, 76x, 80x, 81x releases.

@bbockelm @smuzaffar @iahmad-khan

[2016-10-09 18:43] cmsbuild commented on #2567
A new Issue was created by  @davidlange6 David Lange.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-09 18:44] davidlange6 commented on #2567
@bbockelm - should this patch work in both old and new xrootd versions (or should we try to update all the Xrootd clients we have to 4.4.1 at the same time?

[2016-10-09 18:55] bbockelm commented on #2567
This should already be in 4.4.x; hence, we only need to patch the older clients.

CMSSW 5.3.x has sufficiently old Xrootd that this patch may not apply

[2016-10-10 09:11] iahmad-khan commented on #2567
@davidlange6 In 71x, 74x, 75x, 76x  , the xrootd version is 4.04 and older. should i just backport 4.4.1 to all of them or apply the patch to xrootd versions in these ?

[2016-10-10 13:48] smuzaffar commented on #2567
@iahmad-khan , please make a PR for 76X with xrootd 4.4.1 and run jenkins tests.
what is the xrootd version in other branches?

[2016-10-10 13:59] iahmad-khan commented on #2567
it is 3.2.5 and 4.0.4 in other brnaches

[2016-10-10 16:25] mharrend opened #2571 "Herwig7 installation in CMSSW_8_1_X not working"
Dear all,

with regards to the following merged PR #2477 , there are still some issues which make Herwig7 unusuable as I could find out by a test of the CMSSW_8_1_0_pre12 release:

1) The Herwig7 path is not automatically set via the use of
`scram setup herwigpp`
, so that the Herwig7 binary is not found. This is only a minor issue.

2) If one sources the Herwig7 path manually via
`source /cvmfs/c

[2016-10-10 16:25] cmsbuild commented on #2571
A new Issue was created by  @mharrend Marco A. Harrendorf.

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are list here cms-sw/cmssw#13029

[2016-10-11 13:47] smuzaffar commented on #2571
@mharrend , I am look in to it.
For path, I will update the herwigpp toolfile to add the bin directory.

[2016-10-11 13:50] smuzaffar commented on #2571
I guess if you source the init.sh files to get the herwigpp env then you also want to set HERWIGPATH=$HERWIGPP_ROOT/share/Herwig .  HERWIGPATH is set by scram tool file, so I guess, once we have bin directory in path then Herwig7 should work in cmssw env.

[2016-10-11 13:58] mharrend commented on #2571
@smuzzaffar Thanks for looking into this.
Yes, I would also like to set the HERWIGPATH as you mentioned.

[2016-10-11 14:56] smuzaffar commented on #2571
@mharrend , Looks like at build time the herwig make system writes the build path in its sources e.g.

[code]

I am not sure if this is causing Herwig executable to look in the wrong directory for to file the repo file. I noticed that there is --repo command line arg which you can use to pass the rpo file e.g.

[code]

works once I have the Herwig bin directory in PATH. Can you make use of it?

[2016-10-11 15:06] mharrend commented on #2571
@smuzaffar Yes, that is exactly the problem during the build time Herwig writes in my places the build path in its sources. So, we have to make sure that Herwig is writing the final installation dir /cvmfs/... into its sources. In principle, this should happen if we set the final installation dir via --prefix.

But it seems that as a prefix the build path is set. Is this correct?

Unfortunately, y

[2016-10-11 15:12] smuzaffar commented on #2571
problem is that we do not know the DESTDIR at the time of build. We can say that we can hard code the /cvmfs path but then any one else installing it in different location will have problem. IBs do now use the same DESTDIR as releases.

Correct solution would be if herwig uses some environment (HERWIG_DIR??) variable which we can set via cmsenv? if veriable is not set then fallback to normal way o

[2016-10-11 15:26] mharrend commented on #2571
Okay, I believe there is no such variable. But I will contact the Herwig7 authors to ask them if they could include such an variable.

[2016-10-12 11:08] iahmad-khan commented on #2567
@bbockelm xrootd 4.4.1 is not compatible with root in 7_4_X and 7_5_X so i tried to apply the patch on xrootd 4.0.4 which is currently used in 7_4_X and 7_5_X. But it results in merge conflicts , can you have a look? what could be the possible resolution of that merge conflict in `src/XrdCl/XrdClXRootDTransport.cc` file.

[2016-10-12 22:43] bbockelm commented on #2567
Hi,

I'm sorry - what log file (and / or branch/repo) do I need to look at?

Brian

[2016-10-13 07:58] smuzaffar commented on #2567
@bbockelm , root in CMSSW_7_4_X does not compile with xrootd 4.4.1. see the build error here https://github.com/cms-sw/cmsdist/pull/2577#issuecomment-253441342
Actual jenkins logs are here https://cmssdt.cern.ch/jenkins/job/cmsdist-test-pr/376/console but they do not have the ROOT build log.

[2016-10-13 10:10] smuzaffar commented on #2567
@bbockelm , for CMSSW_7_5_X see the error here https://github.com/cms-sw/cmsdist/pull/2578#issuecomment-253468219

This might be fixed if we include https://github.com/cms-sw/cmssw/commit/0805d6c443ac0096c1af904cf5b54b110104eb5e#diff-83bec46ca63469c2b8a12fbf2e74d118 for cmssw

[2016-10-15 17:35] cmsbuild opened #2587 "cms-sw/cms-git-tools#78: reimplement logging without referencing file descriptors"
A new Pull Request was created by  @fwyzard (Andrea Bocci) for branch master.

Pull Request Reference: cms-sw/cms-git-tools#78

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-10-18 14:57] tmatsush opened #2592 "Request of UTM external library update"
@davidlange6 @smuzaffar @rekovic @apana

Request of UTM external library update for Tower Counting algorithm [0]
For 80X, please use the tag r47119-xsd310-patch at https://gitlab.cern.ch/cms-l1t-utm/utm
For 81X, please use the tag r47119-xsd330-patch at https://gitlab.cern.ch/cms-l1t-utm/utm

[0] https://github.com/cms-l1t-offline/cmssw/issues/421

[2016-10-18 14:57] cmsbuild commented on #2592
A new Issue was created by  @tmatsush .

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2016-10-18 21:23] smuzaffar commented on #2592
@iahmad-khan , can you please take care of this.

[2016-10-18 21:24] smuzaffar commented on #2592
assign externals

[2016-10-18 21:24] cmsbuild commented on #2592
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-10-24 14:36] davidlange6 commented on #2567
syncing this thread with github -

I believe the status is:
76x, 80x, 81x are now done (we need to build a release for 76x with the change)
75x has errors but a proposed solution from @smuzaffar
53x, 71x, 74x have a xrootd version that is not compatible with the fix.

[2016-10-25 19:02] bbockelm commented on #2567
What's the Xrootd version in 53x and 71x?  It might be sufficiently old that it's unaffected (no IPv6 support at all!)

What's the effective lifetime of 74x and 75x?  Recall we also have a workaround on the server side (which we'd like to get rid of as soon as reasonably possible...)

[2016-10-25 19:14] iahmad-khan commented on #2567
xrootd versions in 53x/stable and 71x/stable : 3.2.4

[2016-10-25 19:26] bbockelm commented on #2567
Yes - those versions have no IPv6 support and hence need no patches.

@davidlange6 - what's the need here for 74x and 75x?

[2016-10-25 21:08] smuzaffar commented on #2592
+externals
81X: https://github.com/cms-sw/cmsdist/pull/2598
80X: https://github.com/cms-sw/cmsdist/pull/2595

[2016-10-25 21:08] #2592 closed

[2016-10-25 21:08] cmsbuild commented on #2592
This issue is fully signed and ready to be closed.

[2016-11-03 11:32] cmsbuild opened #2621 "cms-data/L1Trigger-L1TCalorimeter#15: egShapeID dummy LUTs needed for HI"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#15

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-11-03 21:34] DrDaveD opened #2625 "Please upgrade to frontier_client 2.8.20"
Please upgrade the latest CMSSW release line to frontier_client 2.8.20.  If all goes well with that I will request backporting it to other release lines that have 2.8.19.  The new version can be found at http://frontier.cern.ch/dist.  Here are the release notes:
[code]
This was prompted by crashes observed by CMS during today's network intervention at CERN.

[2016-11-03 21:34] cmsbuild commented on #2625
A new Issue was created by  @DrDaveD .

@davidlange6, @smuzaffar, @Dr15Jones can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2016-11-03 22:54] smuzaffar commented on #2625
I have included it for next DEVEL IB (i.e. today's 23h IB). If this goes fine then we shall include it for standard 81X IBs.

[2016-11-03 22:55] smuzaffar commented on #2621
done by @davidlange6

[2016-11-03 22:55] #2621 closed

[2016-11-03 22:56] smuzaffar commented on #2567
can this be closed now?

[2016-11-03 22:56] smuzaffar commented on #2625
assign externals

[2016-11-03 22:56] cmsbuild commented on #2625
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-11-09 15:44] smuzaffar commented on #2625
@DrDaveD , by the way we have this patch for frontier client build
https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_8_1_X/gcc530/frontier_client-2.8.5-fix-gcc47.patch
is there any plans to include it upstream?

[2016-11-10 17:14] DrDaveD commented on #2625
@smuzaffar, unistd.h has been included in test-req.cc since [January 2, 2014](https://github.com/fermitools/frontier/blame/master/client/test-req.cc#L18)

[2016-11-11 07:59] smuzaffar commented on #2625
@DrDaveD thanks. I have removed our patch now,

[2016-11-15 10:30] smuzaffar commented on #2625
@DrDaveD ,  this is now available in 81X IBs.

[2016-11-15 11:37] cmsbuild opened #2651 "cms-externals/openloops#8: version 1.3.1 imported from tarball"
A new Pull Request was created by  @pmillet  for branch master.

Pull Request Reference: cms-externals/openloops#8

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-11-15 14:26] cmsbuild opened #2652 "cms-externals/openloops#9: Cms/v1.3.1"
A new Pull Request was created by  @pmillet  for branch cms/v1.3.1.

Pull Request Reference: cms-externals/openloops#9

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-11-15 16:07] smuzaffar commented on #2625
@DrDaveD , would you like to do any tests before request to back port it other release (basically all 53X and above)

[2016-11-15 20:09] DrDaveD commented on #2625
No thanks, I think it's good to backport.  I had already noticed it in an 81X integration build late last week.

[2016-11-16 07:33] iahmad-khan commented on #2652
Fixed in https://github.com/cms-sw/cmsdist/pull/2654

[2016-11-16 07:33] #2652 closed

[2016-11-18 15:53] DrDaveD commented on #2625
@smuzaffar, please let me know of any other github issues you create for backporting this.

[2016-11-22 08:54] #2651 closed

[2016-11-22 15:46] iahmad-khan commented on #2571
@mharrend Any update from Herwig7 authors , should we close this issue??

[2016-11-22 15:51] iahmad-khan commented on #2567
Should we close this issue now?

[2016-11-22 16:00] davidlange6 commented on #2567
we could reopen it in the context of 53x support in the IPV6 only era.. (which can be not that many years away)

[2016-11-22 16:02] mharrend commented on #2571
@iahmad-khan No, I was meeting one of the Herwig authors on Sunday and should get a working proposal this week.
So please let this issue open for now.
Thanks

[2016-11-25 13:11] mharrend commented on #2571
@smuzaffar  @iahmad-khan
Dear CMS software experts,
I have now a proposal from the Herwig7 authors how we could fix the issue with the staged out installation:

1. We would build and compile Herwig7 as we do at the moment.
2. After the finished Herwig7 package is moved and installed on the /cvmfs system, we have to update a configuration file called HerwigDefaults.rpo which then contains the new p

[2016-11-25 13:45] cmsbuild opened #2679 "cms-sw/cmssw-config#56: do not synlink Intel VTune binaries and libraries"
A new Pull Request was created by  @fwyzard (Andrea Bocci) for branch master.

Pull Request Reference: cms-sw/cmssw-config#56

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-11-25 14:23] smuzaffar commented on #2571
@mharrend , looking in to  /cvmfs/cms-ib.cern.ch/2016-48/slc6_amd64_gcc530/external/herwigpp/7.0.2-ghmdbj4/share/Herwig/HerwigDefaults.rpo file I see that all path points to /cvmfs install path. So basically we are already relocating this rpo file. Only thing which is not properly relocated is the ThePEG Path in it
[code]
which still points to build directory. This can be fixed. So I do not think

[2016-11-25 23:13] cmsbuild opened #2682 "cms-data/RecoEgamma-ElectronIdentification#7: Added xml files for the new 80X-trained electron MVA"
A new Pull Request was created by  @ikrav  for branch master.

Pull Request Reference: cms-data/RecoEgamma-ElectronIdentification#7

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-11-26 07:19] slava77 commented on #2682
@cmsbuild
once https://github.com/cms-data/RecoEgamma-ElectronIdentification/pull/7 is merged,
please propagate to 80X, 81X, and 90X builds.

[2016-11-28 10:11] mharrend commented on #2571
@smuzaffar Okay, yes, then it should be enough to fix the ThePEG path in the HerwigDefaults.rpo.
Can you please take care of this?

So, there is no way to overload the Herwig command that it refers to Herwig --repo ...?
It is not very important, but I would like to allow the user to use Herwig7 also as a standalone executable and of course, it would be nice if he does not has to add the --repo arg

[2016-11-28 10:56] smuzaffar commented on #2571
@mharrend , sure we will fix the ThePEG issue.
I noticed that we have bin/Herwig++ which is a shell script and calls bin/Herwig. So how about we do the following
1. rename bin/Herwig to bin/Herwig-cms
2. create bin/Herwig shell script which calls bin/Herwig-cms --repo $HERWIGPATH/HerwigDefaults.rpo "$@"  (with some checks as Herwig does not like if --repo is passed twice)
3. bin/Herwig++ as usual

[2016-11-28 10:59] mharrend commented on #2571
@smuzaffar Sounds very good to me! Thanks for proposing :+1:

[2016-11-28 16:45] intrepid42 opened #2686 "Update fastjet-contrib to 1.025"
Hi all,

would it be possible to update fastjet-contrib from 1.020 to 1.025?
It includes some new energy correlations, see arXiv:1609.07483v1

Cheers,
Markus

[2016-11-28 17:22] cmsbuild commented on #2686
A new Issue was created by  @intrepid42 Markus Seidel.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2016-11-29 11:09] iahmad-khan commented on #2686
@intrepid42 the new version 1.25 have some problems with cmssw:

https://github.com/cms-sw/cmsdist/pull/2687#issuecomment-263540927

can you propose changes by making a pull request to either https://github.com/cms-externals/fastjet-contrib/tree/cms/v1.25 or cmssw

[2016-11-29 16:40] slava77 commented on #2682
ping

[2016-11-29 16:42] smuzaffar commented on #2682
thanks for the reminder @slava77 .
@iahmad-khan , can you please take care of it.

[2016-11-29 19:48] #2567 closed

[2016-11-29 20:36] smuzaffar commented on #2682
@slava77 , this is done here 2690 (should be available in 90X 23h IB. Please open an issue if this need to go in 81X too.

[2016-11-29 20:36] #2682 closed

[2016-11-29 20:42] slava77 opened #2693 "cms-data/RecoEgamma-ElectronIdentification#7 to be propagated to 81X and 80X (port of #2682)"
Similar to #2690 we will need the new files in 80X and 81X

@ikrav

[2016-11-29 20:43] slava77 commented on #2682
On 11/29/16 12:36 PM, Malik Shahzad Muzaffar wrote:

Thank you for the 90X.

I made an issue for 81X/80X
https://github.com/cms-sw/cmsdist/issues/2693

[2016-11-29 20:49] smuzaffar commented on #2693
@iahmad-khan , can you please make cmsdist PRs for 80X and 81X.

[2016-11-29 20:49] cmsbuild commented on #2693
A new Issue was created by  @slava77 Slava Krutelyov.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2016-11-30 07:11] smuzaffar commented on #2571
@mharrend , this is fixed now in CMSSW_9_0_X_2016-11-29-2300. Can you please confirm that it works for you?

[2016-11-30 11:03] mseidel42 commented on #2686
Hm, it seems that the ConstituentSubtractor::use_common_bge_for_rho_and_rhom() disappeared with version > 1.0.0 of that contrib :(

[2016-12-01 08:48] smuzaffar commented on #2571
please reopen this if you see any issues with herwig in lastest 90X IBs.
Open a new issue if this needs to be back ported to 81X

[2016-12-01 08:48] #2571 closed

[2016-12-01 08:49] smuzaffar commented on #2679
assign externals

[2016-12-01 08:49] cmsbuild commented on #2679
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-12-01 08:49] smuzaffar commented on #2679
this is now available in latest 90X IBs

[2016-12-01 08:49] #2679 closed

[2016-12-01 08:49] smuzaffar commented on #2679
+externals

[2016-12-01 08:49] cmsbuild commented on #2679
This issue is fully signed and ready to be closed.

[2016-12-01 08:50] smuzaffar commented on #2693
assign externals

[2016-12-01 08:50] cmsbuild commented on #2693
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-12-01 08:50] smuzaffar commented on #2693
+externals

[2016-12-01 08:50] cmsbuild commented on #2693
This issue is fully signed and ready to be closed.

[2016-12-01 10:42] cmsbuild commented on #2587
Pull request cms-sw/cms-git-tools#78 was updated.
Latest update by Andrea Bocci with commit message
reimplement logging without referencing file descriptors

reimplenent the verbose and debug messages without referencing /dev/stdout or
/dev/stderr, which may be unavailable (e.g. running inside a container)

[2016-12-01 13:40] cmsbuild commented on #2587
Pull request cms-sw/cms-git-tools#78 was updated.
Latest update by Andrea Bocci with commit message
reimplement logging without referencing file descriptors

add a workaround for bash version 4.0 and older

[2016-12-02 16:06] DrDaveD commented on #2625
@smuzaffar, have any other issues been created for the backports?

[2016-12-02 16:16] smuzaffar commented on #2625
As new version(2.8.20) was not part of any release/pre-release , so is not yet fully tested. Today we have build cmssw 810 and 900_pre1 which contain this version, so if no issues found then we will backport it to earlier release cyclces.

[2016-12-06 09:05] smuzaffar commented on #2686
@intrepid42 , should we close this issue or can you propose changes for cmssw?

[2016-12-06 13:41] mharrend commented on #2571
Dear smuzzafar,

thank you very much it is working nicely!

Am Donnerstag, den 01.12.2016, 00:48 -0800 schrieb Malik Shahzad Muzaffar:

[2016-12-08 00:33] cmsbuild opened #2713 "cms-data/RecoEgamma-PhotonIdentification#5: Added xml files for the new 80X-trained photon MVA"
A new Pull Request was created by  @ikrav  for branch master.

Pull Request Reference: cms-data/RecoEgamma-PhotonIdentification#5

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-12-08 00:39] slava77 commented on #2713
Similar to the recent https://github.com/cms-data/RecoEgamma-ElectronIdentification/pull/7
changes will be needed in 80X and 90X IBs. Inclusion in 81X is not clearly required, but better be present for completion.

[2016-12-08 00:42] ikrav commented on #2713
I should have been more specific. The photon MVA ID is about to be submitted
to CMSSW 80X, 81X, and 90X, so these XML files in cms-data should be made
available in all three.

[2016-12-08 08:24] smuzaffar commented on #2713
assign externals
@iahmad-khan , can you please take care of it

[2016-12-08 08:24] cmsbuild commented on #2713
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2016-12-08 16:58] #2693 closed

[2016-12-09 13:55] smuzaffar opened #2723 "cmsdist writers team"
@BrunoCoimbra, @amaltaro , @bbockelm, @h4d4, @nikmagini, @ticoann
You are part of cmsdist writer team https://github.com/orgs/cms-sw/teams/cmsdist-writers and
I would like to clean it up. If all you do is to merge PRs then that can be achieved via cms-bot for selected comp developers for selected comp branches.

Can you please reply here if you have any other use cases? I can leave couple of you a

[2016-12-09 13:56] cmsbuild commented on #2723
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

[2016-12-09 14:53] bbockelm commented on #2723
I think my addition to the team was mostly historic - you can probably drop it.

Thanks for cleaning things up!

[2016-12-09 14:58] amaltaro commented on #2723
and I was going to miss this PR. The only thing I need to do is to merge wmagent PRs. Provided cms-bot can merge PRs with a short delay (<15min), then I'm happy to use it.

BTW, don't we have more CRAB folks with such privileges like Marco and Emilis?

[2016-12-09 14:59] nikmagini commented on #2723
I'm going to leave CMS soon, so I removed myself. Anyway I just needed merge privileges for PhEDEx agents.

[2016-12-09 15:14] ticoann commented on #2723
Yes, same as Alan for me.

Thanks,
Seangchan

On Dec 9, 2016, at 8:58 AM, Alan Malta Rodrigues <notifications@github.com<mailto:notifications@github.com>> wrote:

and I was going to miss this PR. The only thing I need to do is to merge wmagent PRs. Provided cms-bot can merge PRs with a short delay (<15min), then I'm happy to use it.

BTW, don't we have more CRAB folks with such privileges like Mar

[2016-12-09 15:41] davidlange6 commented on #2686
closing given no response here.

[2016-12-09 15:41] #2686 closed

[2016-12-09 15:43] davidlange6 commented on #2625
Hi @smuzaffar - lets go ahead and push back to 81x, 80x, 76x, 75x, 53x. I'd like to have this in the 53x build for ~monday/tuesday.

[2016-12-09 15:52] smuzaffar commented on #2723
Thanks for your feed back.
@amaltaro , merge time should be less than 1min but in case of issues with jenkins/github it can be higher but in that case just add a comment with either @BrunoCoimbra or @h4d4 or me to the PR and we will merge it.

[2016-12-09 15:55] smuzaffar commented on #2723
@amaltaro and @ticoann , are there any cmsdist branches where you would like to have merge rights ? I am sure you do not want to have merge rights for IB/CMSSW_* branches.

[2016-12-09 15:56] smuzaffar commented on #2625
@davidlange6 , sure I will do that

[2016-12-09 16:13] amaltaro commented on #2723
@smuzaffar comp_gcc493 should be enough (same for @ticoann ), for now :)

[2016-12-09 17:18] mseidel42 commented on #2686
Hi, I can just remove the call to use_common_bge_for_rho_and_rhom() so that everything compiles but I do not know if it is needed by someone/something.

@rappoccio, as you added the ConstituentSubtraction, could you comment, please?

[2016-12-09 17:36] rappoccio commented on #2686
If the use_common_bge_for_rho_and_rhom method is gone it can probably just be commented out. Granted, basically no one is really using this anyway.

We would still need to go through the exercise of ensuring thread safety for the contrib as we've done in the past.

[2016-12-10 09:27] smuzaffar commented on #2625
backport done here
80x: #2725
76x: #2726
75X: #2727
53X: #2728

[2016-12-10 09:27] smuzaffar commented on #2625
+externals

[2016-12-10 09:27] #2625 closed

[2016-12-10 09:28] cmsbuild commented on #2625
This issue is fully signed and ready to be closed.

[2016-12-11 19:44] sextonkennedy commented on #2723
Hi Shahzad,

I would like to remain a writer.  We have still not solved the licensing issue, but I intend to pick it up again in Feb.

Cheers, Liz

On Dec 9, 2016, at 7:55 AM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

@BrunoCoimbra<https://github.com/BrunoCoimbra>, @amaltaro<https://github.com/amaltaro> , @bbockelm<https://github.com/bbockelm>, @h4d

[2016-12-11 21:14] cmsbuild opened #2730 "cms-data/SLHCUpgradeSimulations-Geometry#4: New DetIDs Version for Flat Geometry"
A new Pull Request was created by  @boudoul (boudoul) for branch master.

Pull Request Reference: cms-data/SLHCUpgradeSimulations-Geometry#4

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-12-12 02:46] cmsbuild opened #2731 "cms-data/L1Trigger-L1TGlobal#6: New L1T prescales table that cover all 512 algorithms"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TGlobal#6

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-12-12 18:14] smuzaffar commented on #2723
@sextonkennedy , this issue only concern cmsdist writers. You are owner of the organization so you have full right every where. If you are happy with write access to cmssw only then I am happy to create a cmssw-writer team.

[2016-12-12 18:15] smuzaffar commented on #2723
@BrunoCoimbra, @amaltaro , @h4d4, @ticoann
If you have any open PR then can you comment on it by typing "ping" on the first line to see if cms-bot recognize your message/command?

[2016-12-12 18:33] amaltaro commented on #2723
I have no open PR at the moment, but I may create one in a day or two.

[2016-12-13 09:18] cmsbuild opened #2736 "cms-data/L1Trigger-L1TGlobal#7: New L1T prescales table that cover all 512 algorithms"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TGlobal#7

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-12-13 09:22] smuzaffar commented on #2731
closing it in favor of #2736

[2016-12-13 09:22] #2731 closed

[2016-12-13 09:34] smuzaffar commented on #2736
it should be available in next 90X IB.
the issue can be closed once it is in 80X

[2016-12-14 07:47] smuzaffar commented on #2587
this should be now part of CMSSW_9_0_0_pre2
https://github.com/cms-sw/cmsdist/pull/2739

[2016-12-14 07:47] #2587 closed

[2016-12-15 05:45] ticoann commented on #2723
Hi Shahzad,

“ping” is recognized by cms-bot

https://github.com/cms-sw/cmsdist/pull/2743

Thanks,
Seangchan

On Dec 12, 2016, at 12:15 PM, Malik Shahzad Muzaffar <notifications@github.com<mailto:notifications@github.com>> wrote:

@BrunoCoimbra<https://github.com/BrunoCoimbra>, @amaltaro<https://github.com/amaltaro> , @h4d4<https://github.com/h4d4>, @ticoann<https://github.com/ticoann>
If you have

[2016-12-15 08:03] amaltaro commented on #2723
@smuzaffar is it only the PR owner that can communicate with cms-bot and merge the PR?
My ping command failed on the PR created by Seangchan.

[2016-12-15 08:19] smuzaffar commented on #2723
@amaltaro , github failed to deliver the change to our bot that is why your command was not acknowledged. This is now a usual behaviour and should not happen often (this is the first time I have seen this). In future, if you do not get bot reply in 5 mins then try to comment again.

[2016-12-15 08:42] smuzaffar commented on #2723
@BrunoCoimbra, @amaltaro ,@h4d4, @ticoann
CMS build bot should now be able to recognize following commands on the first line of your comment
**merge**: To merge the PR
**close**: To close an open PR/issue
**(re)open**: To re-open a closed PR/issue
**ping**: To re-trigger the bot in case it did not recognize your previous comment (due to infrastructure issues)

Except **ping** command you can prefi

[2016-12-15 09:54] amaltaro commented on #2723
Thanks a lot, Shahzad! It works like a charm for me.

[2016-12-19 09:40] cmsbuild opened #2746 "cms-data/GeneratorInterface-EvtGenInterface#9: user decay file Bs_phiphi_4K.dec"
A new Pull Request was created by  @oozcelik  for branch master.

Pull Request Reference: cms-data/GeneratorInterface-EvtGenInterface#9

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2016-12-19 09:52] iahmad-khan commented on #2746
@davidlange6  should i test it in  `CMSSW_8_1_X/gcc530` ?

[2016-12-19 10:36] iahmad-khan commented on #2746
https://github.com/cms-sw/cmsdist/pull/2747/files

[2016-12-21 11:03] #2730 closed

[2016-12-21 11:18] mverzett opened #2749 "Add lwtnn as external dependency"
Dear admins,
The BTV team would like to add a new set of taggers based on deep neural networks. We developed a new set of plugins based on [lwtnn](https://github.com/lwtnn/lwtnn) which we would like to add as external dependency. This issue follows from issue [17085 of cms-sw/cmssw](https://github.com/cms-sw/cmssw/issues/17085)
Few info:
   * pakage: lwtnn
   * location: https://github.com/lwtnn/l

[2016-12-21 11:19] cmsbuild commented on #2749
A new Issue was created by  @mverzett Mauro Verzetti.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2016-12-21 13:05] iahmad-khan commented on #2749
@mverzett I will take care of it

[2016-12-21 14:08] slava77 commented on #2749
@mverzett
I'm just curious about the expected lifetime of this external

Is the functionality going to be integrated with ROOT/TMVA or is it already there?

Do you have some performance tests (memory and CPU profiling) in using this tool?
https://twiki.cern.ch/twiki/bin/viewauth/CMS/RecoIntegration#Run_profiler_igprof

[2016-12-21 14:24] davidlange6 commented on #2749
this doesn’t look like the sort of thing that should necessarily move to root…likely there is some similar functionality as newly added to TMVA but a small package based on eigen sounds like a nice solution as long as it remains supported. (and much easier to back port…)

[2016-12-21 14:37] slava77 commented on #2749
On 12/21/16 6:24 AM, David Lange wrote:

The main developer is a postdoc from ATLAS.

[2016-12-21 14:40] davidlange6 commented on #2749
yes, and? HEP people are not required to put their developments into root I hope.. but indeed, perhaps there is already a more scientific community standard solution that should be considered with the same functionality?

[2016-12-21 14:52] slava77 commented on #2749
On 12/21/16 6:40 AM, David Lange wrote:

Is this package at least in the mainstream ATLAS software stack?
recent commits there suggest that it's been adjusted for ATLAS.

As I mentioned in the cmssw issue, I'm not very fond of new parsers
loaded in cmsRun.
Based on the code, apparently we will need one in each thread.

The code in this package is lightweight, but there also apparently some
similar

[2016-12-21 15:53] mverzett commented on #2749
Hi All,
Few answers:
   * I do not have profiling results, I can try to have some in the next days with my [brute force approach](https://github.com/mverzett/cmssw/tree/DeepFlavour-from-CMSSW_8_0_21) (LWTNN included as a RecoBTag/ package)
   * I don't know if it is a mainstream package in ATLAS, I know that there is a lot of development ongoing about deep neural nets, nothing more.
   * I am not

[2016-12-22 19:45] arizzi commented on #2749
As said in another thread, the tagger is supported by the POG (via ugly
private recipe) for Moriond.
So I propose a pratical approch:
 - we integrate the proposed code in the correct format (externals, no new
cmssw packages, no private wget of json files) unless there are showstoppers
- we decide about inclusion in (future) default reco or miniaod based on
cpu/mem performance
- we plan longer term

[2016-12-22 20:08] slava77 commented on #2749
On 12/22/16 11:45 AM, arizzi wrote:

Fine with me.

As I mentioned earlier, the issue for me was mostly with having this in
standard workflows in CMSSW
(at least with understanding of how it works there and having it in
long-term).
That shouldn't really block this light-weight external.

[2016-12-29 18:20] ticoann opened #2752 "replace couchdb.spec to couchdb15.spec in comp_gcc493 branch"
However, couchdb15.spec source url is not valid any more url should be the same as couchdb.spec only the version need to be updated to 1.6.1

[2016-12-29 18:21] cmsbuild commented on #2752
A new Issue was created by  @ticoann .

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-01-06 16:29] slava77 commented on #2749
@iahmad-khan
just in case the discussion here have blocked the integration of the external,
please proceed with its integration
Thank you

[2017-01-06 16:53] iahmad-khan commented on #2749
@slava77 yes , sure

[2017-01-09 13:30] mverzett commented on #2749
@iahmad-khan can you let me know once done? I will then port my PR to the new environment and run the needed tests.

Thanks!

[2017-01-09 13:37] iahmad-khan commented on #2749
@mverzett yes i am currently testing/building it locally , facing some problems , seems that it has some issues related to eigen3 when building.

[2017-01-09 14:50] iahmad-khan commented on #2749
@mverzett Is there any documentation which version of boost and eigen it needs exactly?

[2017-01-09 15:41] mverzett commented on #2749
@iahmad-khan Not that I'm aware of. I managed to make it work in 8_0_21 without problems

[2017-01-09 16:18] iahmad-khan commented on #2749
@mverzett  one other thing , there is no target: install , so after `make all` it builds some directories such as lib , bin , include , scripts , converters , etc. Which of these directories need to be distributed/needed in cmssw?

[2017-01-09 16:35] mverzett commented on #2749
@iahmad-khan , we need the classes and libraries defined in the include and src, which, I guess, are built in lib.

Thanks for your patience, it's the first time I make such request and I do not know what's really needed :).

[2017-01-10 00:18] iahmad-khan commented on #2749
@mverzett  Merged in https://github.com/cms-sw/cmsdist/pull/2757

[2017-01-10 08:32] mverzett commented on #2749
@iahmad-khan thanks a lot! When is it supposed to appear in the IB?

[2017-01-10 08:37] arizzi commented on #2749
we need this in 80X too

[2017-01-10 09:26] iahmad-khan commented on #2749
@mverzett in the next DEVEL IB  , @arizzi will do a backport today

[2017-01-10 13:04] davidlange6 commented on #2749
Hi @iahmad-khan - we'll test this in 90x mainstream (eg, pre3) before back porting especially given the eigen updates. Can you merge it into 90x once you see a successful devel build?

[2017-01-10 13:22] arizzi commented on #2749
@slava77 asked for an analysis release in 80X with POG recipes for Moriond ~now. This external is meant exactly for this.
Given that mauro tested it successfully with the eigen version available in 80X I'm not understanding what the problem is.

[2017-01-10 14:06] slava77 commented on #2749
On 1/10/17 5:22 AM, arizzi wrote:

900pre3 time (Jan 16) was the target for the "~now".

Based on pre-winter-break  notes in PC I understood that we will not
have a complete enough set of POG Moriond recipes to make a release
based on 900pre3.

[2017-01-11 17:02] mverzett commented on #2749
@iahmad-khan , is CMSSW_9_0_X_2017-01-11-1100  considered a DEVEL IB?
Again, sorry for the naive question.

[2017-01-11 17:27] iahmad-khan commented on #2749
@mverzett No , you can either use scram or go to IBs page to see Devel IBs. For example CMSSW_9_0_DEVEL_X_2017-01-11-1100 is a recent Devel IB.

[2017-01-11 17:29] mverzett commented on #2749
@iahmad-khan , OK thanks!

[2017-01-12 14:33] mverzett commented on #2749
@iahmad-khan I have been trying to compile my code with the new external with CMSSW_9_0_DEVEL_X_2017-01-11-1100 and I get this error. It looks like something went wrong here.

Any help is appreciated.
Thanks!

[code]

[2017-01-12 14:41] smuzaffar commented on #2749
@mverzett , can you please to add
[code]
in your config/toolbox/slc6_amd64_gcc620/tools/selected/lwtnn.xml and then do ```scram  setup lwtnn``` and try again. I think we are missing this dependency in the lwtnn tool definition.

[2017-01-12 15:07] mverzett commented on #2749
@smuzaffar Indeed it worked.

[2017-01-12 15:38] smuzaffar commented on #2723
@BrunoCoimbra, @amaltaro , @h4d4, @ticoann
have to tried using these https://github.com/cms-sw/cmsdist/issues/2723#issuecomment-267270012 commands to merge PR?

If no objections then I would like to cleanup the  https://github.com/orgs/cms-sw/teams/cmsdist-writers team now.

[2017-01-12 15:42] smuzaffar commented on #2713
+externals

[2017-01-12 15:42] #2713 closed

[2017-01-12 15:42] cmsbuild commented on #2713
This issue is fully signed and ready to be closed.

[2017-01-12 15:58] amaltaro commented on #2723
@smuzaffar not really, I didn't have a chance yet to test the merge command (only the ping one).
If you prefer, from my side, you can clean it up and we can scream in case of problems :-)

[2017-01-12 16:29] smuzaffar commented on #2723
thanks for the suggestion, I guess that is the only way to force you to use it :-)
Cleanup done, in case of issues you know who to scream at :-)

[2017-01-12 16:29] #2723 closed

[2017-01-12 16:43] amaltaro commented on #2723
Thanks ;)

[2017-01-12 17:25] mverzett commented on #2749
@iahmad-khan , sorry to bother again, but trying to port my code to this external a get a mutex error that was not present in 80X:

[code]

Is it due to something changed in the release or has to do with the external? I never really learned to have the stack trace dumped for C++ applications in case of exceptions, but I'm willing to help providing any info you might need.

Thanks again

[2017-01-12 17:29] arizzi commented on #2749
try igtrace

On Thu, Jan 12, 2017 at 6:25 PM, Mauro Verzetti <notifications@github.com>
wrote:

[2017-01-12 17:29] Dr15Jones commented on #2749
Try running the job in the debugger `gdb` where you issue the debugging `catch throw` before running the actual job. This will cause the debugger to pause when the exception is thrown. At that point you can do a `where` to see the exact function thowing the exception.

[2017-01-12 17:39] mverzett commented on #2749
Running igtrace seems to point at some CMSSW library, another thing I wanted to ask before and I forgot is that the exception points to
[code]

Which I did not touch at all in my code, nonetheless when I'm running the new b-taggers it crashes, without them (compiled and linked, but not executed) it does not

[2017-01-12 17:42] Dr15Jones commented on #2749
What was the exact stack trace?

I looked at `RecoJetDeltaRValueMapProducer` in CMSSW_8_0 and it doesn't look to be using anything from boost so I can't explain what you are seeing.  Are you sure you've recompiled everything that depends on your change? If you did not, then this would lead to binary incompatibility which shows up as random crashes.

[2017-01-12 17:49] mverzett commented on #2749
You can find the trace [here](http://pastebin.com/9kN4VLVH). I think I compiled all the dependencies, but I am not entirely sure. Is it still checkdeps to check out the dependencies of a (sub)package?

[2017-01-12 17:51] Dr15Jones commented on #2749
I don't know if checkdeps will find dependencies when an external is changed.

[2017-01-12 17:52] ikrav commented on #2693
Hi, when can we have this PR propagated fully to 80X? I have been waiting for this because it is necessary for this PR to be merged and closed before I can submit all 80X electron IDs to CMSSW.

[2017-01-12 17:58] Dr15Jones commented on #2749
It looks like you used a fully rebuild release `CMSSW_9_0_DEVEL_X_2017-01-10-1100` which is good since all CMSSW code should have been recompiled in that release.

[2017-01-12 18:02] mverzett commented on #2749
OK, let me try to recompile (it's going to take a while) and report back

[2017-01-12 18:21] slava77 commented on #2693
@ikrav
#2694 #2695 and #2696 were merged before Dec 7, they deliver this data to the 81X and 80X distributions.
Have you checked a release in this time range already and still not see the data files?

[2017-01-12 21:13] ikrav commented on #2693
I think I can see it now. I guess I was wrong about how to check this. Thanks a lot.

[2017-01-13 08:59] mverzett commented on #2749
I tried a cleaning and recompiling, adding all the dependencies I could find. The result is still the same.
[Here](http://pastebin.com/y4tyFT9P) you can find the gdb trace (with ```catch throw``` and ```where```) and [here](http://pastebin.com/LVG6ETin) you can find the same thing from igtrace.

Any kind of suggestion is more than welcome :)

[2017-01-13 09:38] smuzaffar commented on #2749
any recipe to reproduce it.

[2017-01-13 17:34] mverzett commented on #2749
OK, sorry it took me so long, but I wanted to try the recipe myself one more time to be sure everything was working

[code]

Let me know if you can reproduce the problem

Thanks

[2017-01-13 20:28] smuzaffar commented on #2749
where can I find RecoBTag/Combined/data/DeepFlavourNoSL.json
[code]

[2017-01-13 20:44] mverzett commented on #2749
D'OH! I'm terribly sorry.

You can find the training files here
[code]

[2017-01-16 14:52] smuzaffar commented on #2749
@mverzett , I can reproduce the error but could not find out the reason behind it.

[2017-01-16 14:56] Dr15Jones commented on #2749
Maybe valgrind could help?

[2017-01-16 15:24] cmsbuild opened #2769 "cms-sw/cmssw-config#57: fixed typo in build output"
A new Pull Request was created by  @jolange (Johannes Lange) for branch master.

Pull Request Reference: cms-sw/cmssw-config#57

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-01-16 15:40] smuzaffar commented on #2769
done

[2017-01-16 15:40] #2769 closed

[2017-01-16 16:00] smuzaffar commented on #2749
valgrind shows the below which I will try to digest later :-)
[code]

[2017-01-16 16:11] Dr15Jones commented on #2749
Was `BOOST_SPIRIT_THREADSAFE` defined when lwtnn was compiled? The function which allocates the memory is using that switch and we definitely compile all other uses of BOOST with that defined.

[2017-01-16 16:15] mverzett commented on #2749
@Dr15Jones How can I check it? If not, how can I add it in a dev area?

[2017-01-16 16:24] davidlt commented on #2749
`BOOST_SPIRIT_THREADSAFE` is part of default CMS CXXFLAGS thus most likely he has them. Just do `scram b -v -k -j <threads>`and check the log if you see `BOOST_SPIRIT_THREADSAFE`.

[2017-01-16 16:42] mverzett commented on #2749
@davidlt Even for an external dependency?

[2017-01-16 18:49] smuzaffar commented on #2749
I do not think that it was defined for the lwtnn build. I will update the lwtnn spec to define it.

[2017-01-16 22:31] smuzaffar commented on #2749
thanks @Dr15Jones for the suggestion. Re-building lwtnn with BOOST_SPIRIT_THREADSAFE fixed the issue. 23h CMSSW_9_0_DEVEL_X IB contains the fix.
@mverzett, please try CMSSW_9_0_DEVEL_X_2017-01-16-2300 IB (you do not need to fix lwtnn toolfile any more, it is fixed)

[2017-01-17 09:41] mverzett commented on #2749
@smuzaffar , indeed it works! Thanks.

[2017-01-17 22:00] smuzaffar commented on #2749
assign externals

[2017-01-17 22:00] smuzaffar commented on #2749
+externals

[2017-01-17 22:00] cmsbuild commented on #2749
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-01-17 22:00] cmsbuild commented on #2749
This issue is fully signed and ready to be closed.

[2017-01-17 22:01] smuzaffar commented on #2749
this should now be available in normal 90X IBs (starting from CMSSW_9_0_X_2017-01-17-2300)

[2017-01-18 15:53] cmsbuild opened #2776 "cms-data/L1Trigger-L1THGCal#3: Add module mappings for updated HGCal geometries V7 and V8"
A new Pull Request was created by  @jbsauvan (Jean-Baptiste Sauvan) for branch master.

Pull Request Reference: cms-data/L1Trigger-L1THGCal#3

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-01-20 11:13] cmsbuild opened #2781 "cms-data/RecoBTag-Combined#4: Introduce DeepFlavour training jsons"
A new Pull Request was created by  @mverzett (Mauro Verzetti) for branch master.

Pull Request Reference: cms-data/RecoBTag-Combined#4

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-01-24 08:31] smuzaffar commented on #2781
assign externals

[2017-01-24 08:31] smuzaffar commented on #2781
+externals

[2017-01-24 08:31] #2781 closed

[2017-01-24 08:31] cmsbuild commented on #2781
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-01-24 08:31] cmsbuild commented on #2781
This issue is fully signed and ready to be closed.

[2017-01-25 11:09] cmsbuild opened #2788 "cms-data/RecoBTag-SecondaryVertex#4: Added new (v4) and removed obsolete (v2) AK8 weight files"
A new Pull Request was created by  @ferencek (Dinko Ferencek) for branch master.

Pull Request Reference: cms-data/RecoBTag-SecondaryVertex#4

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-01-25 11:19] ferencek commented on #2788
Dear release managers,

This is an updated BoostedDoubleSV tagger weight file for AK8 jets which I would like to request to be added to the latest 80X and 90X IBs.

Thank you,
Dinko

[2017-01-25 11:23] smuzaffar commented on #2788
@iahmad-khan , can you please merge the cms-data/RecoBTag-SecondaryVertex#4  and create a PR for 90X

[2017-01-26 12:13] smuzaffar commented on #2788
done for 90X. Once tested in 90x then please open a new issue for 80X

[2017-01-26 12:13] #2788 closed

[2017-01-26 12:15] smuzaffar commented on #2776
done for 90X

[2017-01-26 12:15] #2776 closed

[2017-01-30 16:23] ferencek opened #2793 "V4 training for the BoostedDoubleSV tagger (80X)"
Dear release managers,

This is a follow-up to https://github.com/cms-sw/cmsdist/issues/2788 to request the v4 weight file for the BoostedDoubleSV tagger to be propagated to the 80X release cycle following the successful integration in the 90X release cycle (https://github.com/cms-sw/cmssw/pull/17294).

Thank you,
Dinko

[2017-01-30 16:24] cmsbuild commented on #2793
A new Issue was created by  @ferencek Dinko Ferencek.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-06 10:12] smuzaffar commented on #2793
done #2794

[2017-02-06 10:12] #2793 closed

[2017-02-10 13:27] mverzett commented on #2749
Sorry to re-open it. Given that now #17247 has been approved and merged, would it be possible to have lwtnn also in the 80X cycle?

[2017-02-10 16:05] smuzaffar commented on #2749
@iahmad-khan , can you please make a backport PR of cms-sw/cmsdist#2773 for 80X?

[2017-02-10 19:43] dguest commented on #2749
Wow, I'm the main developer for lwtnn and someone just pointed me to this. I'm glad you've found our software useful! Let me know if you have any problems. In particular the current head should be stable, so if you'd like me to create a release let me know.

[2017-02-11 00:02] lpernie opened #2821 "Adding Keras to CMSSW_8_0_X-CMSSW_9_0_X"
Hello,

I would like to use Keras to perform Deep Neural Network.
Since the pakage is already used by some CMS analysis, and its usage it is spreading, I would like to ask if it is possible to make it available by default in 80X and 90X.

Thanks a lot,
Luca

[1] https://keras.io/

[2017-02-11 00:02] cmsbuild commented on #2821
A new Issue was created by  @lpernie Luca.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-11 10:58] davidlange6 commented on #2821
HI Luca

It was on our todo list already - it looks like it should be straightforward to add to at least 90x. I’ll give it a try and report back once its done.

Cheers-
David

[2017-02-11 16:58] lpernie commented on #2821
Thanks a lot!

[2017-02-13 08:32] mverzett commented on #2749
@iahmad-khan , while you are at it, could you also make a PR for 81X, in this way I can include the new tagger in all the cycles from 80X onwards. Thanks!

[2017-02-13 09:02] davidlange6 commented on #2821
Hi Luca

Starting from CMSSW_9_0_X_2017-02-12-2300 our 90x integration builds have keras and theano. Both appear to function, but maybe you have a non-trivial example to try? We don’t yet have the tensor flow backend, so you have to change the backend to via the KERAS_BACKEND environment variable or by changing ~/.keras/keras.json after you import keras for the first time (which is when this file

[2017-02-13 09:20] iahmad-khan commented on #2749
@davidlange6 should i port it to 81X?

[2017-02-13 12:39] slava77 commented on #2749
On 2/13/17 12:32 AM, Mauro Verzetti wrote:

AFAIK, there is no plan to make another 81X release.

[2017-02-13 16:53] lpernie commented on #2821
Hello David,
I would like to give it a try, but I never used it before. I  wanted a way to perform a parametrized MVA training (not possible with TMVA).
Give me few days and I will give it a try and let you know.

[2017-02-14 10:53] cmsbuild opened #2825 "cms-data/L1Trigger-L1TCalorimeter#16: New EG/Tau LUTs with changed logic in parser - in synch with payloads."
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TCalorimeter#16

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-02-14 19:42] lpernie commented on #2821
I'm in release CMSSW_9_0_X_2017-02-14-1100 and I can tell that the basic tutorial shown on:
http://machinelearningmastery.com/multi-class-classification-tutorial-keras-deep-learning-library/
is working fine.
In my opinion having also tensor flow would be very useful.

[2017-02-17 08:04] smuzaffar commented on #2825
done here https://github.com/cms-sw/cmsdist/pull/2830

[2017-02-17 08:04] #2825 closed

[2017-02-17 10:40] chwissing opened #2832 "Please wait with updating xrootd to 4.6 until an issue is fixed"
Hi,

there is present an issue with xrootd version 4.6.0:
  https://github.com/xrootd/xrootd/issues/465
  https://github.com/xrootd/xrootd/issues/463

Until this is fixed, it should not be included into the CMSSW externals. Brian knows about it (according to Marian). Nevertheless let me add this issue here as agreed with DavidL in a private mail exchange.

Christoph

[2017-02-17 10:40] cmsbuild commented on #2832
A new Issue was created by  @chwissing Christoph Wissing.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-02-17 10:44] davidlt commented on #2832
pre-4.6.0 is only part of CMSSW development builds (gcc700, will never be used), nothing in production.

[2017-02-17 18:18] cmsbuild opened #2835 "cms-data/SLHCUpgradeSimulations-Geometry#5: List of DetIds for phase2 Tracker 12 disks (4025)"
A new Pull Request was created by  @boudoul (boudoul) for branch master.

Pull Request Reference: cms-data/SLHCUpgradeSimulations-Geometry#5

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-02-17 19:04] smuzaffar commented on #2835
done here https://github.com/cms-sw/cmsdist/pull/2836

[2017-02-17 19:04] #2835 closed

[2017-02-17 19:55] boudoul commented on #2835
thanks @smuzaffar

[2017-02-17 21:25] lpernie commented on #2821
Just a comment:
I notice that deepdish package is missing. This is in general quite useful when working with HDF5 format (common with DNN).
https://pypi.python.org/pypi/deepdish

[2017-02-20 09:22] davidlange6 commented on #2821
Sure - that should not be a problem to add.

[2017-02-20 20:46] lpernie commented on #2821
Thanks a lot!
Also tqdm[1] could be a useful package to add (not mandatory but useful for complex training)
Anyway the addition of tensorflow is the most important part for now I guess.
Thanks.
[1] https://pypi.python.org/pypi/tqdm

[2017-02-21 11:07] cmsbuild opened #2844 "cms-data/CalibCalorimetry-EcalTrivialCondModules#2: Test procedure for modifying laser alpha values"
A new Pull Request was created by  @depasse  for branch master.

Pull Request Reference: cms-data/CalibCalorimetry-EcalTrivialCondModules#2

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-02-21 16:18] cmsbuild opened #2846 "cms-data/CalibCalorimetry-EcalTrivialCondModules#3: Testing procedure for modifying laser alpha values"
A new Pull Request was created by  @depasse  for branch master.

Pull Request Reference: cms-data/CalibCalorimetry-EcalTrivialCondModules#3

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-02-21 16:43] smuzaffar commented on #2846
done here https://github.com/cms-sw/cmsdist/pull/2847

[2017-02-21 16:43] #2846 closed

[2017-02-21 16:43] smuzaffar commented on #2844
closing in favor of https://github.com/cms-sw/cmsdist/issues/2846

[2017-02-21 16:43] #2844 closed

[2017-02-22 07:43] cmsbuild opened #2849 "cms-externals/sherpa#7: SHERPA-MC-2.2.2.tar.gz"
A new Pull Request was created by  @pmillet  for branch master.

Pull Request Reference: cms-externals/sherpa#7

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-02-22 08:56] cmsbuild opened #2850 "cms-externals/sherpa#8: Avoid crash for GCC 6"
A new Pull Request was created by  @smuzaffar (Malik Shahzad Muzaffar) for branch cms/v2.2.2.

Pull Request Reference: cms-externals/sherpa#8

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-02-22 09:04] cmsbuild opened #2851 "cms-externals/sherpa#9: Cms/v2.2.2"
A new Pull Request was created by  @pmillet  for branch cms/v2.2.2.

Pull Request Reference: cms-externals/sherpa#9

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-02-22 10:10] cmsbuild opened #2853 "cms-data/CalibCalorimetry-EcalTrivialCondModules#4: Restoring real values"
A new Pull Request was created by  @depasse  for branch master.

Pull Request Reference: cms-data/CalibCalorimetry-EcalTrivialCondModules#4

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-02-22 11:14] smuzaffar commented on #2853
closing it. revert the tag back to V00-01-00

[2017-02-22 11:14] #2853 closed

[2017-02-22 13:57] smuzaffar commented on #2850
no needed

[2017-02-22 13:57] #2850 closed

[2017-02-22 13:57] smuzaffar commented on #2851
done https://github.com/cms-sw/cmsdist/pull/2855

[2017-02-22 13:57] #2851 closed

[2017-02-22 13:57] smuzaffar commented on #2849
done https://github.com/cms-sw/cmsdist/pull/2855

[2017-02-22 13:57] #2849 closed

[2017-02-27 12:38] davidlange6 commented on #2821
Hi @lpernie - deepdish should be available (but untested) starting from CMSSW_9_0_X_2017-02-27-1100 builds (and thus likely in CMSSW_9_0_0).

For Tensorflow- it will only go into the slc7 architecture builds, as it looks like slc6 is just too old for support there. Something is there already, but it looks like I need to upgrade the version of protobuf.

tqdm looks like something easy to add (and i

[2017-02-27 15:29] lpernie commented on #2821
Thanks a lot!
About Tensorflow... do this mean it will not be available in CMSSW_9_0_0 or that there will be a special release with slc7 where it could be used?

[2017-02-27 15:32] davidlange6 commented on #2821
Hi Luca
there are slc7 versions of releases routinely made. (the tricker issue is slc7 resources, which do exist but in small numbers, eg, lxplus7.cern.ch)

[2017-02-27 15:49] lpernie commented on #2821
Thanks a lot for the explanation. So I can test it on CMSSW_9_0_0 release on lxplus7.

[2017-02-27 16:38] smuzaffar commented on #2821
looks like tensorflow is broken in CMSSW_9_0_X_2017-02-27-1100  IB.
[code]

[2017-02-27 20:02] #2749 closed

[2017-02-27 20:02] #2736 closed

[2017-02-27 20:04] #2746 closed

[2017-03-02 19:10] fwyzard opened #2879 "move intel compiler and tools to CVMFS"
As just announced, "a CVMFS repository is available for accessing the Intel compilers, libraries and performance tuning tools across CERN".

Would it make sense to update `intel-vtune.xml` to use
`/cvmfs/projects.cern.ch/intelsw/psxe/linux/x86_64/2017/vtune_amplifier_xe_2017.2.0.499904`

and `icc-*compiler.xml` to use
`/cvmfs/projects.cern.ch/intelsw/psxe/linux/x86_64/2017/compilers_and_libraries_

[2017-03-02 19:10] cmsbuild commented on #2879
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-03-02 19:13] smuzaffar commented on #2879
@fwyzard , this is already done via https://github.com/cms-sw/cmsdist/pull/2864

[2017-03-02 19:22] fwyzard commented on #2879
:+1:

[2017-03-02 19:22] #2879 closed

[2017-03-08 20:02] lpernie commented on #2821
Dear All,
there are few tools that match with keras, as hyperas[1]. It allows to optimize the hyperparameters and find the best activation function/dropout/loss definition, saving time when building the NN.
At the moment it could be installed locally, but there is any chances it could be installed globally?
[1] http://maxpumperla.github.io/hyperas/

[2017-03-30 14:15] cmsbuild opened #2925 "cms-data/L1Trigger-L1TMuon#9: Muon LUTs with eta/phi vtx extrapolation"
A new Pull Request was created by  @rekovic  for branch master.

Pull Request Reference: cms-data/L1Trigger-L1TMuon#9

@smuzaffar, @iahmad-khan can you please review it and eventually sign? Thanks.

[2017-04-03 07:34] rekovic commented on #2925
@smuzaffar Can you please merge.  Need this for testing https://github.com/cms-sw/cmssw/pull/18133.

By the way,
what "please test" command can I use with the #18133 to test it with these externals before they are merged.
Thanks.

[2017-04-03 10:47] smuzaffar commented on #2925
this is available via #2929

[2017-04-03 10:47] #2925 closed

[2017-04-05 08:06] fwyzard opened #2934 "add libraries to CUDA external"
compiling some of the CUDA samples with the external coming with CMSSW fails due to missing libraries:
  - libcudadevrt.a
  - libcudart_static.a

They are small enough (~1.3 MB) that we could just add them to our external.

[2017-04-05 08:07] cmsbuild commented on #2934
A new Issue was created by  @fwyzard Andrea Bocci.

@davidlange6, @Dr15Jones, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed here cms-sw/cmssw#13029

[2017-04-05 08:20] smuzaffar commented on #2934
assign externals
@iahmad-khan , can you please take care of it. @fwyzard , should this only go in 91X?

[2017-04-05 08:20] cmsbuild commented on #2934
New categories assigned: externals

@smuzaffar,@iahmad-khan you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2017-04-05 08:55] fwyzard commented on #2934
It's OK to do it only for 9.1.x .
I'm going through the samples checking if we miss other core libraries.