[2021-02-03 14:56] Dr15Jones opened #6618 "SegFaults in TensorFlow usage by L1TMuonEndCapTrackProducer"
In CMSSW_11_3_X_2021-02-03-0800 we are seeing many release validation jobs failing with segmentation faults coming from the use of TensorFlow called from L1TMuonEndCapTrackProducer.

[2021-02-03 14:58] Dr15Jones commented on #6618
An example stack trace can be seen here:https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_X_2021-02-03-0800/pyRelValMatrixLogs/run/136.779_RunMuOnia2016H+RunMuOnia2016H+HLTDR2_2016+RECODR2_2016reHLT_skimMuOnia_Prompt+HARVESTDR2/step2_RunMuOnia2016H+RunMuOnia2016H+HLTDR2_2016+RECODR2_2016reHLT_skimMuOnia_Prompt+HARVESTDR2.log#/214-214

[code]

[2021-02-03 14:58] Dr15Jones commented on #6618
assign l1

[2021-02-03 14:59] cmsbuild commented on #6618
New categories assigned: l1

@rekovic,@jmduarte you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-02-03 14:59] cmsbuild commented on #6618
A new Issue was created by  @Dr15Jones Chris Jones.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-03 14:59] smuzaffar commented on #6618
integration of cms-sw/cmssw#32641 and https://github.com/cms-data/L1Trigger-L1TMuon/pull/19 might be the reason behind these failures

[2021-02-10 20:06] cvuosalo commented on #6609
I think this problem has been fixed.

[2021-02-10 21:12] smuzaffar commented on #6609
+externals
yes this is fixed by https://github.com/cms-sw/cmsdist/pull/6612 . This is only needed for newer dd4hep version

[2021-02-10 21:12] #6609 closed

[2021-02-10 21:13] cmsbuild commented on #6609
This issue is fully signed and ready to be closed.

[2021-02-15 08:32] sikler opened #6647 "Proposing inclusion of new external tool 'dip'"
Dear all,

 CERN's DIP (Data Interchange Protocol) is an important and easy way to asynchronously exchange small amounts of information between the LHC and the experiments. So far, the vital beamspot information from CMS to LHC was transmitted using a java tool. In preparation to Run3 and to get rid of the java dependency, that tool was rewritten in a configurable, C++ based client that uses the C

[2021-02-15 08:32] cmsbuild commented on #6647
A new Issue was created by  @sikler Ferenc Siklr.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-15 08:45] smuzaffar commented on #6647
@sikler , yes looks like they only have binary distribution only for x86_64 arch. This means our non-x86_64 (aarch64, ppc64le) can not use it.
Also I could not find any license information, not sure if we can even distribute it.

[2021-02-15 08:46] davidlange6 commented on #6647
Looks like log4cplus is here https://github.com/log4cplus/log4cplus - but I don’t think we can do anything without a build recipe for dip.

[2021-02-15 08:51] davidlange6 commented on #6647
Or cc8 builds I guess..

[2021-02-15 12:20] sikler commented on #6647
I have started a ticket at Industrial Controls Engineering Support (JIRA), will see
https://its.cern.ch/jira/browse/ENS-28989

From another post there, it seems that dip binary package for gcc 8.x could be built "as favour"
https://its.cern.ch/jira/browse/ENS-24970

[2021-02-16 09:02] davidlange6 commented on #6647
Seems we can’t distribute source. Do we need to copy the example of oracle-fake for this case and have a dummy library that fulfills the interface? I presume that this library won’t work outside of p5 regardless.

[2021-02-16 15:36] smuzaffar commented on #6647
@sikler , are you planning to use the library in cmssw ? I see that it only distribute `.so` without any headers. So if you want to build CMSSW packages to link against this library then (as David suggested) we have to fake the implementatio and provide a header so that compiler does not complain.

[2021-02-16 15:45] sikler commented on #6647
They distribute .so _with_ headers, this is all I need. The only issue is the old compiler version, but so far I had success with running.

The plan is to integrate the beamspot DIP server into CMSSW, but it would only run on a given machine on the technical network (so it would not run for simulation or for reconstruction). Not sure how deep integration is needed in this case, to me a plain copy

[2021-02-16 15:52] smuzaffar commented on #6555
this is done via https://github.com/cms-sw/cmsdist/pull/6557

[2021-02-16 15:52] #6555 closed

[2021-02-16 15:53] smuzaffar opened #6653 "Boost 1.75"
@mrodozov , boost 1.75 is available, please open a PR to start testing it in 11.3.X

[2021-02-16 15:53] cmsbuild commented on #6653
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-16 16:11] mrodozov commented on #6653
sure, I'm checking it locally

[2021-02-16 17:35] mrodozov commented on #6618
this was fixed ?

[2021-02-17 14:23] eyigitba commented on #6618
@mrodozov yes this specific instance is fixed. Although there is still a discussion ongoing in https://github.com/cms-sw/cmssw/issues/32894.

[2021-02-17 15:37] smuzaffar commented on #6618
closing this in favor of cms-sw/cmssw#32894 issue

[2021-02-17 15:37] #6618 closed

[2021-02-22 00:25] fwyzard opened #6666 "llvm/clang 11.1"
Whenever it's convenient, we could start upgrading llvm/clang to version 11.1 .

Note that 11.0 had an ABI incompatibility with 10.0 and 12.0 (trunk), which is fixed in 11.1 .

[2021-02-22 00:25] cmsbuild commented on #6666
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-02-22 10:39] mrodozov commented on #6666
alright so no 11.0 :)

[2021-03-01 11:32] agrohsje opened #6688 "Weight storage in P8.303"
P8.303 has modified handling of weights. Variables changed definition and needs adjustments:
                                                                 8.302    8.303
fMaterGen->info.nWeights()                         1       1
fMaterGen->info.weight()                     25248.6.. 25248.6..
fMaterGen->info.numberOfWeights()           1         0
fMaterGen->info.weightValueByIndex(0)  25247.

[2021-03-01 11:33] agrohsje commented on #6688
assign generators

[2021-03-01 11:33] cmsbuild commented on #6688
New categories assigned: generators

@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@mkirsano,@agrohsje you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-03-01 11:33] cmsbuild commented on #6688
A new Issue was created by  @agrohsje .

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-02 09:20] #6653 closed

[2021-03-04 13:03] sikler commented on #6647
@smuzaffar Hi, so what is the plan with this?
- it seems that DIP sources won't be part of CMSSW
- are we waiting for DIP developers to compile their package in gcc9.3.0?
- how can I (as a CMSSW developer) run my server client using DIP and log4cplus in the future; are they going to become external packages?
Thanks, Ferenc

[2021-03-04 13:16] smuzaffar commented on #6647
yes, DIP sources will not be part of CMSSW but once we know how to build and distribute then they can be added as cmssw dependencies.

Also I am not sure about the License statement. Looks like it ( https://gitlab.cern.ch/industrial-controls/services/dip-hq/dip/-/blob/develop/LICENSE) is Copyright CERN but it also  mentions that it is under No-License.

Once we have the build instructions and gree

[2021-03-04 13:29] sikler commented on #6647
@smuzaffar Ok, great, thanks.

[2021-03-08 18:35] mkirsano commented on #6688
I started to look, but there is not enough information. What is the configuration and lhe file that don't work? How do you see that the weights are not properly handled?

[2021-03-10 18:04] kpedro88 opened #6716 "Test the latest fastjet release w/ thread-safety"
The latest fastjet release 3.4.0-beta.1 (http://fastjet.fr/all-releases.html) incorporates thread safety improvements. For past fastjet releases, we had to maintain CMS-specific patches for thread safety.

Based on discussion with @rappoccio, CMS should only need the `--enable-limited-thread-safety` mode, so we can avoid the speed penalty from the full `--enable-thread-safety` mode.

It would be g

[2021-03-10 18:04] cmsbuild commented on #6716
A new Issue was created by  @kpedro88 Kevin Pedro.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-11 16:07] davidlange6 opened #6721 "moving hepmc patches to a GitHub repo?"
hi @smuzaffar , all
I'd like to move the patches in CMSDIST to hepmc into a GitHub for hepmc
eg, like https://github.com/davidlange6/hepmc2/tree/47b8eea6430dd796cb08a12e2dd73c244d0c5e44

Is that ok?

[2021-03-11 16:07] cmsbuild commented on #6721
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-03-11 16:16] smuzaffar commented on #6721
sounds reasonable, I have created a repo https://github.com/cms-externals/hepmc . @mrodozov , can you please populate it with hepmc source https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_3_X/master/hepmc.spec#L2 and apply the current patches

[2021-03-11 16:44] mrodozov commented on #6721
sure I'll get them as commits on top

[2021-03-11 16:56] davidlange6 commented on #6721
I have them in the repo - I can just port them over and make a pr to cmsdist

[2021-03-11 16:56] mrodozov commented on #6721
![Screenshot 2021-03-11 at 18 54 31](https://user-images.githubusercontent.com/3791215/110823999-4d19a480-829b-11eb-8689-8350904fa940.png)
something is wrong with the permissions of that repo I cant push or create new branches
if I had permissions to create a branch this would've show 'create branch ...' above view all branches

[2021-03-11 17:01] smuzaffar commented on #6721
run the jenkins job  to update the permissions

[2021-03-12 10:54] smuzaffar commented on #6721
done https://github.com/cms-sw/cmsdist/pull/6722

[2021-03-12 10:54] #6721 closed

[2021-03-16 00:02] #6716 closed

[2021-03-16 08:07] #6666 closed

[2021-03-16 12:33] #6197 closed

[2021-03-18 17:56] smuzaffar commented on #6647
@sikler , #6740 should include dip (libdip.so and headers)

[2021-03-19 07:08] sikler commented on #6647
@smuzaffar Excellent, thanks very much.
Would it be possible to include/add log4cplus as well?

[2021-03-19 13:07] smuzaffar commented on #6647
ok log4cplus (include and static lib  liblog4cplus.a) added

[2021-03-21 20:20] mrodozov commented on #5324
Herwig is now py3 compatible, the failure in 511.0 is from madgraph. Should we rename the issue or open a new one ?

[2021-03-21 21:54] #6647 closed

[2021-03-22 00:25] qliphy commented on #5324
@mrodozov   511.0 is  MadGraph showered with Herwig7, and the [failure](
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_PY3_X_2021-03-19-2300/pyRelValMatrixLogs/run/511.0_QCD_Pt-30_13TeV_aMCatNLO_herwig7+QCD_Pt-30_13TeV_aMCatNLO_herwig7+HARVESTGEN/step1_QCD_Pt-30_13TeV_aMCatNLO_herwig7+QCD_Pt-30_13TeV_aMCatNLO_herwig7+HARVESTGEN.log#/122-122) is still from Herwig7:

Curr

[2021-03-22 10:39] smuzaffar commented on #5324
I see that there is also error messages like [a] [here](
https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc900/CMSSW_11_3_PY3_X_2021-03-19-2300/pyRelValMatrixLogs/run/511.0_QCD_Pt-30_13TeV_aMCatNLO_herwig7+QCD_Pt-30_13TeV_aMCatNLO_herwig7+HARVESTGEN/step1_QCD_Pt-30_13TeV_aMCatNLO_herwig7+QCD_Pt-30_13TeV_aMCatNLO_herwig7+HARVESTGEN.log#/122-122) . Could this be the actual cause of failure

[2021-03-22 10:49] mrodozov commented on #5324
I think when I was trying to make this work this log file
./Herwig-cache/Build/MadGraphAmplitudes/MG.log was clearly showing it was a python problem (over and over py3 incopats one after another)
I see the new versions of madgraph are py3 compatible, starting 2.7.3 but it says py3 only(!) compatible
I'll check that log again and try the 2.7.3 version, also
@Andrej-CMS do you think we can maybe swi

[2021-03-22 10:52] mrodozov commented on #5324
ah well, ok then maybe it's still not compatible yet :/

[2021-03-22 10:53] smuzaffar commented on #5324
yes initially the error was with py3 ( see https://github.com/cms-sw/cmsdist/issues/5324#issue-516789188  ) , looks like that issue is solved but now we have the next one

[2021-03-22 11:06] agrohsje commented on #5324
@mrodozov:  @Dominic-Stafford  and Kostas (I cannot find him here, will ping him on Skype) took over from  @Andrej-CMS .
In central production we use 2.6.5 but I am fine with upgrading to 2.7.3 in workflow 511. Maybe Dominic and Kostas can further check.

[2021-03-22 12:04] Dominic-Stafford commented on #5324
Hi All. Sorry for the delay with this- since this is a Matchbox process, I think the issue is the version of Madgraph in cmsdist, rather than the one in gen productions used for producing Madgraph gridpacks. The Madgraph version in cmsdist seems to still be 2.6.0: https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_11_3_X/py3/madgraph5amcatnlo.spec. @agrohsje and @GurpreetSinghChahal do you know if th

[2021-03-22 13:42] agrohsje commented on #5324
Thanks Dominic. It should be fully disentangled from the rest. So no objection to upgrade!

[2021-03-24 06:59] smuzaffar commented on #6647
dip and log4cplus are now part of 11.3.0.pre5 release. @sikler , can you please test and see if every thing you need is there.

[2021-03-24 10:42] #5324 closed

[2021-03-27 08:56] menglu21 commented on #6688
Hi,
i did a check on request https://cms-pdmv.cern.ch/mcm/requests?prepid=TSG-Run3Winter21wmLHEGS-00001&page=0&shown=127, using the nanogen instead of the full simulation chain, the number of the PS weight seems fine, 89 for each event, but seems most of the PSweights are 1 which i'm not sure it's fine. you can check the fragment and configure file at https://melu.web.cern.ch/melu/WJets/, plot wei

[2021-03-27 16:29] sikler commented on #6647
@smuzaffar Sorry for the delay. Tried in 11_3_0_pre5, compiled and got
---
Caught exception An exception of category 'PluginLibraryLoadError' occurred.
Exception Message:
unable to load lib/slc7_amd64_gcc900/pluginBeamSpotDipServer.so because /cvmfs/cms.cern.ch/slc7_amd64_gcc900/cms/cmssw/CMSSW_11_3_0_pre5/external/slc7_amd64_gcc900/lib/libdip.so: **undefined symbol: _ZN7SStringD1Ev**
 will ignore

[2021-03-28 11:05] smuzaffar commented on #6647
@sikler , https://github.com/cms-sw/cmsdist/pull/6765 should fix it. I am now including the platform dependent includes and static libs where `SString` is defined

[2021-03-30 09:34] smuzaffar commented on #6647
@sikler, can you please re-try using latest CMSSW_11_3_X IBs?

[2021-03-30 11:17] sikler commented on #6647
@smuzaffar Tried now, compiles and runs without any problem! Thanks so much.
I will start testing how it actually functions with help of some DIP browser, but that is not anymore a CMSSW business...

[2021-04-02 20:06] ericvaandering opened #6784 "Rucio setup does not work on cc8/lxplus8"
The rucio setup command (`source /cvmfs/cms.cern.ch/rucio/setup.sh`) does not work on lxplus8. The first problem I can see is that there is no `cc8` directory in `/cvmfs/cms.cern.ch/rucio/x86_64/`

The second may be that `which python` does not return a python on that machine. It appears you must specify python2 or python3

[2021-04-02 20:06] cmsbuild commented on #6784
A new Issue was created by  @ericvaandering Eric Vaandering.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-07 08:37] smuzaffar commented on #6784
@ericvaandering , `rucio client 1.25.2` is not available for CC8 but only for python3.

[a]
[code]

[2021-04-07 13:13] ericvaandering commented on #6784
Not -> now?

Thanks, python3 only is great.

[2021-04-07 13:56] smuzaffar commented on #6784
yes NOW :-)

[2021-04-07 13:56] #6784 closed

[2021-04-13 12:56] mrodozov commented on #6666
I'm leaving this link here so that I won't search for it
https://bugs.llvm.org/show_bug.cgi?id=46526

[2021-04-15 12:21] ianna opened #6812 "Special IB to test DD4hep master"
Could we, please, have a special IB including the latest DD4hep master? It will facilitate integration tests for a proposed change that is needed to use Assemblies in CMS geometry description:

https://github.com/AIDASoft/DD4hep/issues/804

@bsunanda, @civanch and @cvuosalo - FYI

[2021-04-15 12:21] cmsbuild commented on #6812
A new Issue was created by  @ianna Ianna Osborne.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-15 12:29] civanch commented on #6812
What is faster, update DD4Hep to this preliminary update or create a new IB? I would guess, that if DD4Hep update concern only Assemblies, it will not affect other shapes and can be safely merged. The only difficulty: we do not have 12_0 master just now.

[2021-04-15 18:53] cvuosalo commented on #6812
We saw that the handling of assemblies by DD4hep can cause big problems to DD4hep simulation, so I think the separate IB would be safer.

[2021-04-15 19:18] mrodozov commented on #6812
Dears, as soon as we setup the 12_0 IBs i'll build the IB
The first 12_0 IB is building now
Cheers,
M.

[2021-04-15 23:06] bsunanda commented on #6812
Please make sure that internal optimization within G4Converter of dd4hep is switched off in this build of dd4hep
________________________________
From: Mircho Rodozov ***@***.***
Sent: 15 April 2021 21:18
To: cms-sw/cmsdist
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmsdist] Special IB to test DD4hep master (#6812)

Dears, as soon as we setup the 12_0 IBs i'll build the IB
The first 12_0 I

[2021-04-16 10:36] mrodozov commented on #6812
this will be a cmake option I assume ? @ianna do you know what should be added as cmake config ?

[2021-04-16 12:30] ianna commented on #6812
I don't think there is such an option. I've looked at the code and it follows G4 guide correctly. The G4 itself might have such an optimisation for `G4Assemblies`...

[2021-04-16 15:19] mrodozov commented on #6812
is this the
GEANT4_USE_GDML (to be turned to OFF)
variable ?

[2021-04-16 15:25] civanch commented on #6812
@mrodozov, no, GEANT4_USE_GDML is unrelated, let it be ON.

[2021-04-16 15:30] civanch commented on #6812
I do not see possible option inside dd4hep.spec, which may help to disable optimisation. @ianna , have you an idea?

[2021-04-16 15:45] ianna commented on #6812
no, there are none.

[2021-04-17 21:31] civanch commented on #6812
May be IB should be done without any extra condition?

[2021-04-18 20:02] mrodozov commented on #6812
I'll build the IB with the latest master on DD4Hep and let @bsunanda to advise on this option

[2021-04-18 22:12] bsunanda commented on #6812
As Yana suggested, we use the default options - no special option is required. We understand the issue between ddd and dd4hep.
________________________________
From: Mircho Rodozov ***@***.***
Sent: 18 April 2021 22:02
To: cms-sw/cmsdist
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmsdist] Special IB to test DD4hep master (#6812)

I'll build the IB with the latest master on DD4Hep and let @

[2021-04-19 11:48] mrodozov commented on #6812
the IB is available
CMSSW_12_0_DD4_X_2021-04-19-0900

[2021-04-19 13:32] bsunanda commented on #6812
Thanks
________________________________
From: Mircho Rodozov ***@***.***
Sent: 19 April 2021 13:48
To: cms-sw/cmsdist
Cc: Sunanda Banerjee; Mention
Subject: Re: [cms-sw/cmsdist] Special IB to test DD4hep master (#6812)

the IB is available
CMSSW_12_0_DD4_X_2021-04-19-0900

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cms-sw

[2021-04-20 15:24] mrodozov opened #6823 "Openloops package is missing for downloading"
Dears generators people,

I'm having issues now in already two rebuilds of openloops because of missing download
namely this one
heftpplljjj

[code]

where do I find this or should I cut it out ?

Thank you
Mircho

[2021-04-20 15:24] mrodozov commented on #6823
assign generators

[2021-04-20 15:24] cmsbuild commented on #6823
New categories assigned: generators

@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-04-20 15:24] cmsbuild commented on #6823
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-20 15:37] SiewYan commented on #6823
Hi @mrodozov , the user defined process libraries are specified here [1]. You may delete it from the list for your work.

[1] https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_0_X/master/openloops-user.coll.file#L158

[2021-04-20 15:45] civanch opened #6824 "Update DD4Hep to the most recent version"
In special IB CMSSW_12_0_DD4_X_2021-04-19-2300 it was shown that with the recent PRs for ECAL geometry is fine. We need to update DD4Hep to this version in the master thread first, later in 11_3_X.

[2021-04-20 15:46] cmsbuild commented on #6824
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-20 15:47] mrodozov commented on #6823
it's fine for me to just "cut it out" but is it ok to remove it for production ?

[2021-04-20 15:48] civanch commented on #6824
FYI @bsunanda, @ianna, this is needed to merge #33339

[2021-04-20 15:53] mrodozov commented on #6824
so you want it in 12_0 and after in 11_3 ?

[2021-04-20 15:56] civanch commented on #6824
Yes, exactly.

[2021-04-20 16:07] SiewYan commented on #6823
I think you can remove it, probably the process is obsolete or superseded by new lib as it is indicated ERROR.

[2021-04-20 17:23] mrodozov commented on #6823
I'll check it.

[2021-04-20 17:28] agrohsje commented on #6823
You can see the list here:
https://openloops.hepforge.org/process_library.php
There is no heftppll anymore.

[2021-04-20 18:30] mrodozov commented on #6823
none of the ppll* processes are not there or just this one ?

[2021-04-20 18:47] agrohsje commented on #6823
None of the heftppll ones, i.e.
heftppllj
heftpplljj
heftpplljjj

[2021-04-20 18:51] mrodozov commented on #6823
alright im removing them all

[2021-04-21 08:52] #6823 closed

[2021-04-21 08:58] #6824 closed

[2021-04-21 10:02] civanch commented on #6824
@mrodozov , Thanks!

[2021-04-21 10:31] ianna commented on #6812
Thanks!

[2021-04-21 10:31] #6812 closed

[2021-04-22 16:04] fwyzard opened #6833 "Test Eigen 3.4-rc1"
We should check if CMSSW and the externals are happy with 3.4-rc1, and report any problems:

Can we try building it for the various compilers and architectures of the `master` branch ?

[2021-04-22 16:05] cmsbuild commented on #6833
A new Issue was created by  @fwyzard Andrea Bocci.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-04-22 16:27] mrodozov commented on #6833
sure I'll try it

[2021-05-03 07:17] mrodozov opened #6863 "Herwig source not available"
Dears,

we have trouble downloading Herwig 7.2.2 from Hepforge,
would you please suggest additional location ?

[2021-05-03 07:18] mrodozov commented on #6863
assign generators

[2021-05-03 07:18] cmsbuild commented on #6863
New categories assigned: generators

@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-05-03 07:18] cmsbuild commented on #6863
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-03 07:59] smuzaffar commented on #6863
@mrodozov , do we still have the issue with this?

[2021-05-03 08:01] smuzaffar commented on #6863
problem was with Hepforge.org itself and at one point we were able to download the sources and sources are now cached in cmsrep.

[2021-05-03 08:57] mrodozov commented on #6863
hepforge is still having trouble and now gcc10 is failing
`10:42:46 Error while downloading http://www.hepforge.org/archive/thepeg/ThePEG-2.2.2.tar.bz2: [Errno 104] Connection reset by peer`

[2021-05-03 09:02] smuzaffar commented on #6863
yes issue is in general with hepforge.org which is not reachable

[2021-05-04 07:56] smuzaffar commented on #6863
here is what HepForge admin replied

[2021-05-04 08:19] mrodozov commented on #6863
we have the gcc10 and 9_4 failing I hope we can survive for some time with older IBs.
I'll check more often when it's back to build the failing ibs

[2021-05-04 10:02] smuzaffar commented on #6863
hepforge is getting back now and ThePeg sources are downloadable now

[2021-05-04 10:02] #6863 closed

[2021-05-14 14:03] slava77 opened #6905 "cms-data/RecoTracker-DisplacedRegionalTracking repository needed"
in connection with cms-sw/cmssw#32806
please create a repository for keeping the inference model files in cms-data/RecoTracker-DisplacedRegionalTracking

the repository can be either empty or populated with files in https://github.com/cms-sw/cmssw/tree/69445fe0bcd1fc645217b2fb260bd29b3e8e155c/RecoTracker/DisplacedRegionalTracking/data

Thank you.

[2021-05-14 14:03] cmsbuild commented on #6905
A new Issue was created by  @slava77 Slava Krutelyov.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-14 14:31] mrodozov commented on #6905
@silviodonato has the permissions to create new repos on cms-data

[2021-05-14 14:47] silviodonato commented on #6905
@mrodozov I've added the repository https://github.com/cms-data/RecoTracker-DisplacedRegionalTracking with the files pointed by @slava77

[2021-05-14 15:00] slava77 commented on #6905
Thank you!.

Now we need a tag and an update in cms-data data/cmsswdata.txt

[2021-05-14 15:31] mrodozov commented on #6905
when you create a PR on that data repo and merge it the tag will be created with the new record in cmsswdata.txt

[2021-05-14 15:37] silviodonato commented on #6905
@mrodozov  I've already committed the files https://github.com/cms-data/RecoTracker-DisplacedRegionalTracking/commit/400759d4fc8c1e6f3782fbc4d826ac036b48b739

[2021-05-14 16:23] mrodozov commented on #6905
no worries. once the repo is there I can fix it

[2021-05-26 20:28] guitargeek opened #6939 "Warning when using professor2 tool"
When compiling CMSSW, I get the following warning:
[code]
Can you solve this by changing cmsdist somehow? Thanks!

[2021-05-26 20:29] cmsbuild commented on #6939
A new Issue was created by  @guitargeek Jonas Rembser.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-27 12:24] mrodozov commented on #6939
I can, but we made a shift to remove some py2 packages to py3 only (sympy one of them)
can we rather try to use the py3 version ?
https://github.com/cms-sw/cmsdist/pull/6878/files

[2021-05-27 12:28] davidlange6 commented on #6939
That likely works after transitioning everything to py3.
As this tool is not used at build time, perhaps it is just not needed in the tool file? (Anyway it does not impact any tests)

[2021-05-27 14:52] juztas opened #6944 "Rucio source check if cmsos command available"
It would be nice if Rucio checks if cmos command available and if not - raise an error (either point to TWiki or ask to source cmsset_default.sh)
[code]
Diverted from: https://github.com/dmwm/CMSRucio/issues/233

[2021-05-27 14:53] cmsbuild commented on #6944
A new Issue was created by  @juztas Justas Balas.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-05-28 12:41] mrodozov commented on #6939
@guitargeek it was not clear you want the py2-sympy tool back or you don't want the warning :D

[2021-05-28 13:50] mrodozov commented on #6939
got it

[2021-05-28 21:22] #6939 closed

[2021-06-03 10:24] civanch opened #6974 "Migrate VecGeom package to the new version 1.1.16"
In view of preparation for 12_0_X for Run-3 a new version of VecGeom package needs to be installed: https://gitlab.cern.ch/VecGeom/VecGeom/-/tree/v1.1.16

According to VecGeom developer comments we may expect regression, when switch to this bug fix version.

[2021-06-03 10:25] cmsbuild commented on #6974
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-07 08:10] #6974 closed

[2021-06-09 19:35] #6944 closed

[2021-06-09 19:39] smuzaffar commented on #6944
@juztas , this should be fixed by cms-sw/cms-bot#1561 . The changes are publish on cvmfs and should be visible in few minutes

[2021-06-10 08:46] #5950 closed

[2021-06-10 16:32] civanch opened #7011 "Migrate DD4Hep to the new version v01-17-00"
The DD4Hep team provided a new version v01-17-00: https://github.com/AIDASoft/DD4hep/tree/v01-17-00

It includes several important fixes but we also may expect regression in DD4Hep FW.

[2021-06-10 16:33] cmsbuild commented on #7011
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-10 21:52] smuzaffar commented on #6481
cms-sw/cmssw#32272 itself is closed, do we still need a data external in cmssw to pull the ML models? if yes then should I proceed with the head of https://github.com/fastmachinelearning/sonic-models and make those files available as `RecoLocalCalo/HcalRecProducers/data/<files>` ? If not then can we close this issue?

[2021-06-10 23:21] kpedro88 commented on #6481
I think this can be closed.

[2021-06-11 10:25] #7011 closed

[2021-06-16 06:39] davidlange6 opened #7031 "Remaining python2 in CMSSW"
Now that #7019 landed, I wanted to make a summary of what's left in the python2 stack of cmssw and why. These are the remaining pip packages.

backports-functools_lru_cache==1.6.1
Needed by wcwidth (others are fake)

configparser==4.0.2;python_version<‘3.0'
Needed by cmsRun tasks

cython==0.29.22
Needed by scipy (not py2-numpy? Strange), rivet, yoda, professor2, gosam, lhapdf

enum34==1.1.10;pytho

[2021-06-16 06:40] cmsbuild commented on #7031
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-16 06:41] davidlange6 commented on #7031
believe most of these tools has to remain until the framework + scripts switch over (eg, a big bang to finish the migration) Exceptions appear to be
  - prettytable (which allows also wcwidth functools_lru_cache, wheel, setuptools-scm)
  - scipy

[2021-06-16 07:21] davidlange6 commented on #7031
PR for scipy - #34150

[2021-06-16 07:30] davidlange6 commented on #7031
PR for prettytable - https://github.com/cms-sw/cmssw/pull/34151
(but I don't expect this to work)

[2021-06-21 19:18] makortel opened #7052 "Update catch2"
We seem to have Catch2 version 2.2.2, whereas the latest version appears to be 2.13.6. The later versions have some useful-looking features (`STATIC_REQUIRE` motivated me for this issue). Could we look into updating Catch2?

[2021-06-21 19:18] cmsbuild commented on #7052
A new Issue was created by  @makortel Matti Kortelainen.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-06-22 21:30] smuzaffar commented on #6905
repository has been created and there is already an cmsdist PR  #6907 to integrate this new data externals

[2021-06-22 21:30] #6905 closed

[2021-06-22 21:32] smuzaffar commented on #6833
@mrodozov is looking in to integrate Tensorflow 2.5, hopefully that will allow us to move forward with eigen version

[2021-06-22 21:32] #6833 closed

[2021-06-22 21:34] smuzaffar commented on #6688
@agrohsje do we need to keep this issue open here? Better to open a issue on cms-sw/cmssw to discuss.

[2021-06-22 21:35] smuzaffar commented on #4816
@amaltaro , should we close this issue?

[2021-06-22 21:36] smuzaffar commented on #3534
closing this very old issue, please open a new one if this is still an issue and needs fixing.

[2021-06-22 21:36] #3534 closed

[2021-06-22 21:37] smuzaffar commented on #4522
@amaltaro , can we close this issue now?

[2021-06-22 21:38] smuzaffar commented on #5712
closing this as there is no activity

[2021-06-22 21:38] #5712 closed

[2021-06-23 06:36] amaltaro commented on #4522
Certainly! Thanks, Shahzad. Closing.

[2021-06-23 06:36] #4522 closed

[2021-06-23 06:38] amaltaro commented on #4816
Yes! We decided to rely on the system based openssl library for SLC7 as well. This issue was fixed by: https://github.com/cms-sw/cmsdist/pull/6440

Closing (thanks for the reminder, Shahzad)

[2021-06-23 06:38] #4816 closed

[2021-06-23 08:49] agrohsje commented on #6688
Hi @smuzaffar . Further checks are on my todo list but my recent tests were all fine, no problems. I agree with closing.

[2021-06-23 08:49] agrohsje commented on #6688
+generators

[2021-06-23 08:49] cmsbuild commented on #6688
This issue is fully signed and ready to be closed.

[2021-06-23 08:58] #6688 closed

[2021-06-23 13:30] #7052 closed

[2021-06-23 14:09] smuzaffar commented on #5992
yes it takes some time to find the correct dependencies specially if you have
[code]

I agree with @Dr15Jones , we can run something for PR tests to make sure the dependency on CMSSW packages is clean. Externel tool deps is bit hard speciually if there are multiple tools ( just like `root`  which has `rootcore, rootgui, rootmath, rootgl` etc.) but only one include path then it is really hard to kn

[2021-07-01 16:00] davidlange6 opened #7088 "gosam update needed"
There appears to be a new area for tags (https://github.com/gudrunhe/gosam) and python3 support..

[2021-07-01 16:35] smuzaffar commented on #7088
@davidlange6 , https://github.com/cms-sw/cmsdist/pull/7089 gets gosam 2.1.0 which supports python3

[2021-07-01 16:35] cmsbuild commented on #7088
A new Issue was created by  @davidlange6 David Lange.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-02 05:02] #7088 closed

[2021-07-03 12:13] smuzaffar opened #7097 "Update LHAPDF 6.3.0"
It seems that `lhapdf 6.2.3` python interface does not build with `python 3.9`. There is a newer version `lhapdf 6.3.0` ( https://lhapdf.hepforge.org/install.html ) available. Any objections on updating lhapdf to `6.3.0` ?

We also have https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_0_X/master/lhapdf_makeLinks.file which creates symlinks for LHAPDF data sets from /cvmfs/cms.cern.ch/lhapdf/pdfs

[2021-07-03 12:13] smuzaffar commented on #7097
assign generators

[2021-07-03 12:13] cmsbuild commented on #7097
New categories assigned: generators

@mkirsano,@SiewYan,@alberto-sanchez,@agrohsje,@GurpreetSinghChahal you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-07-03 12:13] cmsbuild commented on #7097
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-06 08:08] agrohsje commented on #7097
@smuzaffar your proposed changes look good to me. let me ask @qliphy : in the past, did we run special relvals when moving to a new pdf or just the regular pr tests? pdf files shouldn't be touched by the transition so I assume there is no need.

[2021-07-06 09:43] qliphy commented on #7097
@agrohsje  I remember GEN also checked effects manually upon PDF changes.  But here PDF files are not changed, then I agree the proposal.

[2021-07-08 08:22] agrohsje commented on #7097
Hi @smuzaffar : Will you prepare or should @mkirsano help?

[2021-07-08 08:34] smuzaffar commented on #7097
I can prepare @agrohsje . Only thing I am not sure is about the pdfsets. Should I update the pdfset to point to `/cvmfs/cms.cern.ch/lhapdf/pdfsets/6.3.0f` or should it remain `/cms.cern.ch/lhapdf/pdfsets/6.2.3c` ? Currently in LHAPDF installation (  /cvmfs/cms-ib.cern.ch/nweek-02688/slc7_amd64_gcc900/external/lhapdf/6.2.3-c1eb4a3de9442449bc7452c2cc7a734e/share/LHAPDF) we have symlinks points to `/

[2021-07-08 08:57] agrohsje commented on #7097
thanks so much @smuzaffar . I would say we should keep:
Source4: http://www.hepforge.org/archive/lhapdf/pdfsets/6.1/MSTW2008nlo68cl.tar.gz
Source5: https://www.hepforge.org/archive/lhapdf/pdfsets/6.1/MMHT2014lo68cl.tar.gz
Source6: https://www.hepforge.org/archive/lhapdf/pdfsets/6.1/MMHT2014nlo68cl.tar.gz
but can ignore:
Source2: http://www.hepforge.org/archive/lhapdf/pdfsets/6.1/cteq6l1.tar.gz
Sou

[2021-07-08 09:31] smuzaffar commented on #7097
@agrohsje , these following pdfs are dropped in `6.3.0f` with respect to `6.2.3c`
[code]

[2021-07-08 09:41] agrohsje commented on #7097
So 6.3 should be fine and we just need to add the 3 additional sources pointed out above. Thanks @smuzaffar .
Maybe we can wait for @qliphy to confirm my proposal.

[2021-07-08 09:58] smuzaffar commented on #7097
these sources are already part of `6.3.0f`
[code]
so do we still need to explicitly download and add? By the way these url do not work any more.

[2021-07-08 10:04] mkirsano commented on #7097
 Sorry for not participating earlier

  If I remember correctly, some sets are dowloaded explicitly to have a
possibility of some builds and tests without cvmfs. May be we don't need
this now?

08/07/21 11:58, Malik Shahzad Muzaffar пишет:

[2021-07-08 10:07] agrohsje commented on #7097
Thanks @mkirsano for the additional input. Because I checked LHAPDF and the ones above were also in the versions I checked from 6.1 and 6.2 :
https://lhapdf.hepforge.org/downloads/?f=pdfsets/v6.backup

[2021-07-08 10:12] mkirsano commented on #7097
 I can make the update if needed

  Anyway, the instruction is here:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideLHAPDF

08/07/21 12:07, agrohsje пишет:

[2021-07-08 10:17] smuzaffar commented on #7097
@mkirsano , please go ahead with the update.

[2021-07-08 10:34] agrohsje commented on #7097
@mkirsano thanks. do you remember where independence from cvmfs was needed? or you plan to ignore and we add later in case still useful?

[2021-07-08 11:39] mkirsano commented on #7097
I am not sure, may be some CMSSW build computers did not have cvmfs.

For now I can remove downloading some of the sets, the ones that you say
are not used.

08/07/21 12:34, agrohsje пишет:

[2021-07-13 06:49] #7097 closed

[2021-07-13 19:29] rappoccio opened #7131 "Integrate new fastjet release (3.4.0) with thread safety natively"
The latest version of fastjet (3.4.0)[http://fastjet.fr/repo/fastjet-3.4.0.tar.gz] has thread support natively enabled. We may be able to get away without making patches.

CMS should only need the --enable-limited-thread-safety mode, so we can avoid the speed penalty from the full --enable-thread-safety mode.

FYI @laurenhay @kpedro88 @camclean @kirschen (I don't think I remember Laurent's github

[2021-07-13 19:30] cmsbuild commented on #7131
A new Issue was created by  @rappoccio .

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-13 20:27] smuzaffar commented on #7131
@ddaina can you please take care of it?

[2021-07-14 09:43] smuzaffar commented on #7131
@rappoccio , https://github.com/cms-sw/cmsdist/pull/7134 should update fastjet to 3.4.0. CMS already use ` --enable-limited-thread-safety` since 3.4.0-beta.

[2021-07-14 12:06] rappoccio commented on #7131
@smuzaffar Thanks a lot! This is great. :)

[2021-07-14 17:28] #7131 closed

[2021-07-22 13:55] smuzaffar commented on #7031
except `future`, all of these py2 packages are not part of cmssw any more

[2021-07-28 18:43] osschar opened #7179 "Bump xrootd to 5.3.x"
We are still using 4.12, it's high time to move on! :)

On a serious note, fwlite can not open CERN EOS files througg TFile::Open("root://eoscms.cern.ch/..." because of that. I assume cmsRun has the same problem.

[2021-07-28 18:43] cmsbuild commented on #7179
A new Issue was created by  @osschar Matev Tadel.

@Dr15Jones, @perrotta, @dpiparo, @silviodonato, @smuzaffar, @makortel, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-07-28 18:49] smuzaffar commented on #7179
@osschar , we had tested 5.1.1 ( https://github.com/cms-sw/cmsdist/pull/6831 ) but could not find a way to get it work in CMSSW. I can try with 5.3 again

[2021-07-28 18:53] osschar commented on #7179
Thank you! I can help if there are changes needed in XrdAdaptor (or wherever) ... have some other things I need to fix there.

[2021-07-28 19:02] osschar commented on #7179
My (event-display development) build of root (+/- master) happily picked up system xrootd-5.2.0 (Fedora 33) and it works ok, opening CERN  EOS files with libNetxNG.so. I'm updating system xrootd to 5.3.0 and rebuilding root.

[2021-07-28 20:08] osschar commented on #7179
root master with xrootd-5.3.0 works.
Exiting root without deleting TNetXNGFile object causes SEGV (calling just Close() is not good enough, eihter).
[code]
I'll make bug reports at root and xrootd gits.

[2021-07-28 20:19] osschar commented on #7179
root: https://github.com/root-project/root/issues/8767
xrootd: https://github.com/xrootd/xrootd/issues/1487

[2021-09-06 21:41] mrodozov opened #7274 "ROOT master has changed units from kG4Units to kRootUnits"
Dears,

in this PR
https://github.com/root-project/root/pull/8955
this commit
https://github.com/root-project/root/commit/bcc8bb729c23873177b9cb3e250fa000a0b59035
ROOT has changed the units from G4 to ROOT units

which requires changes in cmssw. The latest test for ROOT6 IB which has ROOT master
failed all tests and workflows related to that.

Would you describe please where and what should be cha

[2021-09-06 21:42] mrodozov commented on #7274
assign geometry

[2021-09-06 21:42] cmsbuild commented on #7274
New categories assigned: geometry

@Dr15Jones,@cvuosalo,@civanch,@ianna,@mdhildreth,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2021-09-06 21:42] cmsbuild commented on #7274
A new Issue was created by  @mrodozov Mircho Rodozov.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-07 06:59] smuzaffar commented on #7274
looks like root throws an exception [a] ( https://github.com/root-project/root/blob/bcc8bb729c23873177b9cb3e250fa000a0b59035/geom/geom/src/TGeoManager.cxx#L4033 ) when dd4hep tries to change the units ( https://github.com/AIDASoft/DD4hep/blob/9bbe12b080ce52615251facc6f6ff5dd58a60e69/DDCore/src/DetectorImp.cpp#L205-L208 ). If changing unit is supported then I think either root should not throw or C

[2021-09-07 07:58] civanch commented on #7274
@mrodozov , @smuzaffar , we had this problem several months ago and it was fixed at that time.
@cvuosalo, @ianna,  you were involve in this. In my memory the problem was fixed by ROOT experts.

[2021-09-07 09:17] agheata commented on #7274
Hi, the default units had to be changed back to ROOT units because the GDML export was inconsistent with the TGeoMaterial API that assumes ROOT units. It seems that this is properly handled by DD4Hep [here](https://github.com/AIDASoft/DD4hep/blob/9bbe12b080ce52615251facc6f6ff5dd58a60e69/DDCore/src/DetectorImp.cpp#L205-L208). TGeo currently throws an intended warning when changing the current units

[2021-09-07 09:58] ianna commented on #7274
I think, an `Info` instead of `Warning` would be better. Thanks

[2021-09-07 09:59] mrodozov commented on #7274
@ianna @civanch
if the change is as said intended should I change this flag in the DD4Hep config from ON to OFF then ?

https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_1_X/master/dd4hep.spec#L26

[2021-09-07 12:38] mrodozov commented on #7274
thanks @agheata I'm building it to make sure the failures goes away

[2021-09-07 13:00] agheata commented on #7274
ok @mrodozov let me know if this is the case or not

[2021-09-07 13:07] mrodozov commented on #7274
I left the flag on, now it passes the warning and fails with this:

[code]

[2021-09-07 13:30] agheata commented on #7274
You should check this with the DD4Hep team, it looks like a shape gets created with a negative length parameter, maybe indirectly caused by the change of default units.

[2021-09-07 14:15] mrodozov commented on #7274
this is fine, I was asking @ianna if cms needs adjustment or something in dd4hep :)

[2021-09-13 10:38] civanch commented on #7274
@ianna , @cvuosalo, can the issue be fixed in this unit test or it is DD4Hep/ROOT problem?

[2021-09-13 11:19] #7274 closed

[2021-09-13 14:08] nsmith- opened #7300 "Update correctionlib to v2.0"
With https://github.com/cms-nanoAOD/correctionlib/releases/tag/v2.0.0 we have a stable schema and are almost done with implementing all POG corrections. In #6659 v1.1 was added to cmsdist. In the new version, there are some changes to the package:
- Python 3 installation is done through pip+scikit-build
- Python 2 installation is done through makefile only (reduced library)
- C++ shared library se

[2021-09-13 15:31] smuzaffar commented on #7300
@nsmith-  , https://github.com/cms-sw/cmsdist/pull/7301 should update correctionlib to version 2.0.0

[2021-09-14 08:51] #7300 closed

[2021-09-15 15:53] cvuosalo opened #7311 "Switch DD4hep for 12_0 and 12_1 to latest commit"
There is an important DD4hep fix in this commit:
https://github.com/AIDASoft/DD4hep/pull/871

Could our DD4hep please be switched to use this new version for both 12_0 and 12_1?

[2021-09-15 15:54] cvuosalo commented on #7311
@civanch FYI

[2021-09-15 15:54] cmsbuild commented on #7311
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-16 02:49] cvuosalo commented on #7311
@mrodozov Could you please create the PR for this update?

[2021-09-17 14:21] #7311 closed

[2021-09-27 13:16] smorovic opened #7335 "ROOT crashes due to a missing system dependency on CentOS 8"
Hi,

we experienced a crash on a fresh installation of CentOS 8, both profile used for CERN's Openstack VMs, as well as profiles used in P5 online DAQ setup.

[code]
a similar problems also appears in other tools built on ROOT (external+fasthadd in particular).

We found out that crash disappears after `glibc-headers` package is installed, and therefore would like to ask to add it as dependency to

[2021-09-27 13:16] cmsbuild commented on #7335
A new Issue was created by  @smorovic Srecko Morovic.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-09-27 13:21] Dr15Jones commented on #7335
@pcanal FYI

[2021-09-27 13:24] smuzaffar commented on #7335
I think this is known, the glibc headers are taken from system and I think rootcling needs these headers for dictionaries. This should be true for CentOS 7 too (https://github.com/cms-sw/cms-docker/blob/master/cms/Dockerfile.rhel7#L10 )

[2021-09-29 10:50] smuzaffar commented on #7335
#7343 fixes this

[2021-09-29 10:50] #7335 closed

[2021-10-04 09:49] davidlange6 commented on #7031
Does crab rely on it? Otherwise, we shouldn't need it (but I have a vague memory suggesting that some external needs it - but maybe that was the py3-future package)

[2021-10-04 10:04] smuzaffar commented on #7031
@davidlange6 , If I under stand correctly, crab client in `crab-dev version v3.210909` uses python3 ( https://github.com/dmwm/CRABClient/tree/v3.210909/bin ) and recommendations are to use it for  CMSSW >=12.0  ... right @belforte ?
None of the cmssw externals should use/depend on py2-future.

[2021-10-04 10:16] smuzaffar commented on #7031
wmagent and production system does make use of python2 and py2-future but these tools explicitly use it from release independent area /cvmfs/cms.cern.ch/COMP/slc7_amd64_gcc630/external area
FYI @amaltaro

[2021-10-04 10:19] belforte commented on #7031
correct about CRAB. We will need to put in some trick to to make a single CRAB client code switch use py2 or py3 as appropriate, but if you remove pyhon2 in CMSW_12 and make python point to python3, much easier. @ddaina is looking into making a a single CRAB Client version for all CMSSW releases (it is 95% same code already).

[2021-10-04 10:29] smuzaffar commented on #7031
Thanks @belforte for the confirmation. I am afraid making `python` to point to `python3` might break a lot of user code. You can add something like the following in `crab`  command
[code]

and this should use `python3` for cmssw_12 and above otherwise use `python`

[2021-10-05 09:08] smuzaffar commented on #7031
https://github.com/cms-sw/cmsdist/pull/7359 should drop python for DEVEL IBs

[2021-10-06 14:28] aperloff opened #7365 "Broken pytest module"
The `pytest` module in python 3 seems to be broken. This was noticed in `CMSSW_12_1_0_pre3`. The commands in [1] are both returning the error message in [2]. A recipe to reproduce the issue is in [3].

[1]
[code]

[2]
[code]

[3]
[code]

[2021-10-06 14:29] cmsbuild commented on #7365
A new Issue was created by  @aperloff Alexx Perloff.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-10-06 14:38] davidlange6 commented on #7365
It looks like anyio package has dependencies that pip doesn't discover for us. (and the unit test that does import purest doesn't catch). @smuzaffar - perhaps that is because we do not check for install_requires ?
https://github.com/agronholm/anyio/blob/321c6e22e248d1617106d149c1415e54f9f8de40/setup.cfg#L30

[2021-10-06 16:22] davidlange6 commented on #7365
Hum, google suggests this might be due to our setuptools being old.. (something I can get back to next week)

[2021-10-06 17:15] smuzaffar commented on #7365
https://github.com/cms-sw/cmsdist/pull/7366 should fix this issue

[2021-10-07 20:34] #7365 closed

[2021-11-10 06:47] smuzaffar opened #7440 "Update libsigc++ to latest 3.0.X version"
libsigc++ sources are now available via github https://github.com/libsigcplusplus/libsigcplusplus/tree/3.0.7 . Newer version might fix the issues with ASAN IB tests ( see https://github.com/cms-sw/cmssw/issues/36056 ).

@ddaina , can you please take care of it?

[2021-11-10 06:48] cmsbuild commented on #7440
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-13 18:21] #7440 closed

[2021-12-14 20:00] nsmith- opened #7510 "Correctionlib 2.1"
A minor release https://github.com/cms-nanoAOD/correctionlib/releases/tag/v2.1.0 just has some small internal changes, dependencies are the same as 2.0.
Is it possible also to backport this to CMSSW 10_6_X release? I am happy to help of course.

[2021-12-14 20:00] cmsbuild commented on #7510
A new Issue was created by  @nsmith- Nicholas Smith.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-15 23:28] cvuosalo opened #7513 "Update DD4hep to latest v01-19 for 12_3"
To keep up with the latest DD4hep release, please update DD4hep to v01-19 for 12_3.

[2021-12-15 23:28] cmsbuild commented on #7513
A new Issue was created by  @cvuosalo Carl Vuosalo.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-15 23:29] cvuosalo commented on #7513
@mrodozov Could you please create a PR for this issue? Thanks.

[2021-12-15 23:29] cvuosalo commented on #7513
@civanch FYI

[2021-12-15 23:53] makortel commented on #7513
@mrodozov has left CMS. @smuzaffar @iarspider

[2021-12-16 06:25] smuzaffar commented on #7510
#7515 should include the v2.1.0

[2021-12-16 06:25] smuzaffar commented on #7513
#7514 should move to latest v01-19 tag ( plus few updates on top of it)

[2021-12-16 12:32] iarspider opened #7517 "Is py3-theanets still needed?"
* Last update on PyPi was in January 2016 (nearly 6 years ago)
* Requires a version of py3-climate only available on CMS mirror
* Last update on Github was in June 2018, one of the changes was to drop py3-climate in favor of py3-click

If we drop py-theanets, we can drop climate as well

[2021-12-16 12:32] cmsbuild commented on #7517
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-16 12:38] smuzaffar commented on #7517
@iarspider ,please go ahead and open a PR to drop it

[2021-12-16 12:39] smuzaffar commented on #7517
I do not think there is any thing in cmssw which require it ( just a simple unit test which can be dropped too)

[2021-12-16 16:49] tvami commented on #7510
I did a backport to 10_6_X: https://github.com/cms-sw/cmsdist/pull/7519
I hope this was all that's needed in 10_6_X and there was no other steps, @nsmith- please confirm!

[2021-12-17 08:27] smuzaffar commented on #7510
@nsmith-  why you need this for 10.6.X?  Correctionlib is only available for python3 and 10.6.X is python2 only release? So which partof cmssw code in 10.6.X uses it?

[2021-12-17 08:29] #7513 closed

[2021-12-17 10:40] iarspider opened #7521 "Is py-xrootdpyfs still needed?"
* Quick search through cmssw repository does not return any direct usage. Maybe it's needed for ipython/jupyter @davidlange6 ?
* Requires `fs >= 0.5.4,<2.0` (published in November 2015), which requires old setuptools (`<58.0.0` ) for `2to3` support.
* Requires `xrootd >= 4.8.4, <5.0.0`. 4.x series are no longer supported, current version is 5.4.0.
* [Issue](https://github.com/inveniosoftware/xroot

[2021-12-17 10:40] cmsbuild commented on #7521
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-17 10:58] davidlange6 commented on #7521
its not needed for Jupyter, no.
Unless the way people interact with xroot in python has changed recently, this is a needed tool, yes

[2021-12-17 11:09] iarspider commented on #7521
@davidlange6 thanks. Just to be sure: is it the `xrootdpyfs` that is needed (pseudo-fs based on XRootD), or just `xrootd` (thin python wrapper around xrootd client)?

[2021-12-17 11:10] iarspider commented on #7521
And do you know if 4.x and 5.x versions of xrootd are compatible - i.e. will 4.x client work with 5.x server?

[2021-12-17 11:20] davidlange6 commented on #7521
you can see from searching out GitHub that xrootdpyfs is what has been brought up several times. I don't know much more.

``` i.e. will 4.x client work with 5.x server?```

I guess lots of things fail if this is not workable..but I don't know anything on this topic.

[2021-12-17 11:22] iarspider commented on #7521
Then we will keep it.

[2021-12-17 11:27] davidlange6 commented on #7521
of course it may block too many other things to keep around...

[2021-12-29 22:24] ericvaandering commented on #6784
This is no longer working:
[code]

While someone is looking at this, can Rucio be updated to the 1.27 release. Also on slc7 if possible (for both python2 and python3)?

[2021-12-29 22:29] ericvaandering opened #7530 "Need Rucio update to 1.27 on both lxplus7 and lxplus8"
This is no longer working on lxplus8
[code]

But there is a new release of Rucio out, the 1.27 series. Can this client be installed everywhere and in python2  and python3 flavors for SLC7 based OSes? There is no need to get older clients working on any release.

@bockjoo or @smuzaffar ?

[2021-12-29 22:29] cmsbuild commented on #7530
A new Issue was created by  @ericvaandering Eric Vaandering.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2021-12-30 03:16] bockjoo commented on #7530
Shahzad usually handles the ruclo-client upgrade. I am not familiar with this Jenkins.
By the way,
[bockjoo@lxplus8s17 ~]$ ARCH=$(uname -m)/$(/cvmfs/cms.cern.ch/common/cmsos | cut -d_ -f1)
[bockjoo@lxplus8s17 ~]$ echo $ARCH
x86_64/cs8

There is no cs8 direcotry:
[bockjoo@lxplus8s17 ~]$  ls /cvmfs/cms.cern.ch/rucio/x86_64/
cc8  slc7

As a result,
[bockjoo@lxplus8s17 ~]$ source /cvmfs/cms.cern.ch/ru

[2021-12-30 15:04] ericvaandering commented on #7530
I would guess so.

Sent from a mobile device.

On Dec 29, 2021, at 9:17 PM, Bockjoo Kim ***@***.***> wrote:

﻿

Shahzad usually handles the ruclo-client upgrade. I am not familiar with this Jenkins.
By the way,
***@***.*** ~]$ ARCH=$(uname -m)/$(/cvmfs/cms.cern.ch/common/cmsos | cut -d_ -f1)
***@***.*** ~]$ echo $ARCH
x86_64/cs8

There is no cs8 direcotry:
***@***.*** ~]$ ls /cvmfs/cms.cern.ch/ruc

[2021-12-30 19:20] bockjoo commented on #7530
It's sym-linked and you should be able to see the rucio-client version 1.25.2.
I guess Shahzad will handle the installation of 1.27 (I guess it is 1.27.2?).

[2021-12-30 19:49] ericvaandering commented on #7530
Thanks @bockjoo and Happy New Year! Rucio 1.27.3 is out, but maybe there is no client release. If so 1.27.2 is fine.

[2022-01-03 21:58] nsmith- commented on #7510
@smuzaffar see #7523

[2022-01-07 15:13] iarspider opened #7534 "Use case-insensitive comparision for checking dependencies of python packages"
There is a problem with the way cmsdist checks python packages for missing dependencies.

The check is done by first getting package name from output of pip show ( https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_3_X/master/build-with-pip.file#L105 ), then looking for that name in output of pip check ( https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_3_X/master/build-with-pip.file#L107 ). The

[2022-01-07 15:13] cmsbuild commented on #7534
A new Issue was created by  @iarspider .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-09 21:51] smuzaffar commented on #7530
@ericvaandering , `rucio-clients 1.27.2` is now installed for slc7 and cc8/cs8 for python3.

[2022-01-10 22:09] #7530 closed

[2022-01-10 22:10] smuzaffar commented on #7510
thanks @nsmith-  for the pr for 10.6.X

[2022-01-10 22:10] #7510 closed

[2022-01-11 01:02] #7179 closed

[2022-01-12 15:03] rekovic opened #7542 "Update UTM to 0.10.0 for Displaced Jet bit at L1T"
Please update the UTM library to version 0.10.0 which adds grammar for displaced jet bit at L1T.

https://gitlab.cern.ch/cms-l1t-utm/utm/-/tree/utm_0.10.0

Attn @mrodozov @smuzaffar

[2022-01-12 15:03] cmsbuild commented on #7542
A new Issue was created by  @rekovic .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-12 15:22] smuzaffar commented on #7542
@rekovic , https://github.com/cms-sw/cmsdist/pull/7543 should update utm to version 0.10.0

[2022-01-13 06:41] #7542 closed

[2022-01-17 12:44] smuzaffar opened #7548 "update cryptograohy"
@iarspider , can you please check if we can move cryptography version 3.3.2. The versuion we have in cmssw is vulnerable

[2022-01-17 12:44] cmsbuild commented on #7548
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-20 13:04] smuzaffar opened #7559 "Cleanup unused/obsolete files from default branch"

[2022-01-20 13:04] smuzaffar commented on #7559
@raaid07 can you please look in to this?

[2022-01-20 13:04] cmsbuild commented on #7559
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-20 14:07] smuzaffar commented on #7559
these are the files which might not be in used any more

[code]

[2022-01-20 20:12] iarspider commented on #7548
@smuzaffar I don't think so: newver version of Cryptography want OpenSSL 1.1.0 or 1.1.1, and in CentOS 7 it is 1.0.1

[2022-01-21 10:37] smuzaffar opened #7571 "cmsdist changes needed to avoid use of cmsplatf"
We need to cleanup cmsdist to avoid use of cmsplatf usage. This is not urgent but for any major rebuild of externals (e.g. python/gcc version change, new arch etc. ) we should cleanup these specs.

- Use `%ifos darwin` to run darwin/osx specific build commands for following
  - https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_12_3_X/master/boost.spec
  - https://github.com/cms-sw/cmsdist/blob/IB/CM

[2022-01-21 10:37] cmsbuild commented on #7571
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-01-21 11:26] raaid07 commented on #7559
I have opened some pull requests to remove these unused files. The following files are not part of the default branch that is why I have not opened any pr for these.
- modulemaps/clhep.modulemap.file
- root_boost_mm.patch
- tfilea.patch.file

The following files are still in use
- tkonlinesw-cmake-build.file
- valgrind-python.supp.file

[2022-01-21 15:54] smuzaffar commented on #7559
Thanks @raaid07 for taking care of this cleanup. Yes you are right `modulemaps/clhep.modulemap.file,  root_boost_mm.patch, tfilea.patch.file` are not available default cmsdist branch. I will take care of their cleanup. Also `tkonlinesw-cmake-build.file and valgrind-python.supp.file` are only used for `osx` arch and as we are not build IBs for `osx` that is why our automatic system marked these as

[2022-01-21 15:55] smuzaffar commented on #7517
closing this issue as `py3-theanets` has been dropped via #7518

[2022-01-21 15:55] #7517 closed

[2022-01-21 15:55] smuzaffar commented on #7031
python2 has been removed for 12.3.X release cycle now.

[2022-01-21 15:55] #7031 closed

[2022-03-04 12:51] smuzaffar commented on #7559
all unused files are now removed

[2022-03-04 12:51] #7559 closed

[2022-03-04 12:52] smuzaffar commented on #7548
ah ok, closing this issue then

[2022-03-04 12:52] #7548 closed

[2022-03-16 07:40] smuzaffar commented on #7534
$ pip3 check --disable-pip-version-check cachecontrol
cachecontrol 0.12.6 requires msgpack, which is not installed.

hi, yes you are right but I would suggest to not update build-with-pip.file which will trigger a rebuild of nearly all the cmsdist package. Issue is with cachecontrol itself. Just fix the name for it. e.g. create a file cmsdist/pip/cachecontrol.file with contents %define patchsrc0 s

[2022-03-16 07:50] smuzaffar opened #7694 "Update ONNXRuntime to version v1.10.0"
New version of ONNXRuntime v1.10.0 is available https://github.com/microsoft/onnxruntime/tree/v1.10.0 . Please update cms software stack to use it.

[2022-03-16 07:51] cmsbuild commented on #7694
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-16 07:56] smuzaffar commented on #7694
@iarspider , can you please take care of it? You need to first
- clone microsoft/onnxruntime
- checkout v1.10.0 tag and create cms/v1.10.0 branch
- add cms-externals/onnxruntime remote git and make sure the [patches/changes](https://github.com/cms-externals/onnxruntime/compare/5bc92dff16b0ddd5063b717fb8522ca2ad023cb0...cms-externals:cms/v1.7.2) we have on top of previous version can be included in

[2022-03-17 09:36] #7694 closed

[2022-03-18 06:00] smuzaffar commented on #7534
https://github.com/cms-sw/cmsdist/pull/7696 now provides hooks which one can use to manipulate the dependencies

[2022-03-18 06:00] #7534 closed

[2022-03-19 13:09] smuzaffar opened #7701 "dasgoclint failed due to to parse X509 proxy"
@vkuznet , We now see that randomly dasgoclient failed to to parse X509 proxy. We have seen this error few times [a] during the IB tests. Any idea why it is randonly failing? Note that test [here](https://cmssdt.cern.ch/SDT/cgi-bin/logreader/slc7_amd64_gcc10/CMSSW_12_4_ROOT6_X_2022-03-18-2300/pyRelValMatrixLogs/run/39634.21_TTbar_14TeV+2026D88PU_ProdLike+TTbar_14TeV_TuneCP5_GenSimHLBeamSpot14INPUT

[2022-03-19 13:09] cmsbuild commented on #7701
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-19 19:45] vkuznet commented on #7701
@smuzaffar I doubt it is something related to my code. I didn't change certificate part for years. Said that, we need to check few possibilities:
- does the proxy reside on shared FS, like AFS?
- did we (CMS, lxplus) changed root CAs?
- you should provide info how do you obtain the proxy file, e.g do you run voms-proxy-init before calling dasgoclient? Can you printout voms-proxy-info before callin

[2022-03-21 19:29] smuzaffar commented on #7701
@vkuznet , this is a very random and low frequency error. We do run `voms-proxy-init -voms cms` before all tests , so we should have a valid proxy. It works most of the time. This is first time I have seen such an error.

Note this test was run on a Openstack VM on local SSD disk (AFS is not available of these VMs). `voms-proxy-init` was run on Sat 00h10  (proxy was valid till Sun 00h10) and the u

[2022-03-22 11:45] vkuznet commented on #7701
@smuzaffar thanks for confirmation. I looked at code which does parsing the X509 proxy. You can see it here: https://github.com/vkuznet/x509proxy/blob/master/x509proxy.go#L135-L150 In both logs you provided the error originated from https://github.com/vkuznet/x509proxy/blob/master/x509proxy.go#L141 which makes me think that it may somehow be dependent from OpenSSL library used to generate the quer

[2022-03-22 11:49] vkuznet commented on #7701
Can you also add to the log output of the following command:
[code]
where `X509_USER_PROXY` is a environment pointing to your proxy file (or use file path itself).
This should dump content of the proxy certificate including encoded PEM block.

[2022-03-22 15:08] smuzaffar commented on #7701
@vkuznet , first test was run on `cmsbuild80` which is CentOS7 based OpenStack VM but the tests always run in a singularity container. e.g for this job we use cmssw/cc7/x86_64 container you you can run yourself on lxplus
[code]

I do not think it is OpenSSL issue otherwise it should fail all the time. Could it be that another process run on the same system which override the proxy file while das c

[2022-03-22 15:12] smuzaffar commented on #7701
by the way, we also have RHEL8 based host [a] with different version of OpenSSL and this test works fine there too. I think chances of some other process deleting/overriding the proxy might have caused this issue. I will keep an eye on such issue in future and will try to see if any other cleanup jab ran when this happened.

[a]
[code]

[2022-03-22 15:21] vkuznet commented on #7701
thanks for details, yes, your idea seems more plausible to me. But if you run stuff within container then I would expect that all files will be local to container and you have sequence of scripts to execute, e.g. run `voms-proxy-init`, then run `dasgoclient`, then run something, then run clean-up job, is it not the case? Since I don't know how you organize the workflow it is hard for me to judge a

[2022-03-22 15:39] smuzaffar commented on #7701
you are right about files in container but we mount `/tmp` so generated proxy file should be on host :-) We do not set any X509_USER_PROXY , the default `/tmp/x509up_uUID` should be used.

I would close this issue and will open a new one if we again get such an error.

[2022-03-22 15:39] #7701 closed

[2022-03-25 08:40] perrotta opened #7720 "Test "materialBudgetTrackerPlots" has errors"
The unit test "materialBudgetTrackerPlots", run from Validation/Geometry/test/genTrackerPlots.sh is repeatedly going in error in the last cmsdist integration tests, even unrelated. See https://github.com/cms-sw/cmsdist/pulls?q=is%3Apr+%22test+materialBudgetTrackerPlots+had+ERRORS%22+ (thank you @fwyzard for the suggestion about the syntax to be used to retrieve all them)

The error message is rath

[2022-03-25 08:40] perrotta commented on #7720
assign geometry

[2022-03-25 08:40] cmsbuild commented on #7720
New categories assigned: geometry

@cvuosalo,@mdhildreth,@ianna,@Dr15Jones,@makortel,@civanch you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-03-25 08:40] cmsbuild commented on #7720
A new Issue was created by  @perrotta Andrea Perrotta.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-03-25 09:13] fwyzard commented on #7720
Maybe a timeout after an hour ?

[2022-03-31 07:27] civanch opened #7734 "Migration VecGeom to the new version 1.1.20"
New version of VecGeom https://gitlab.cern.ch/VecGeom/VecGeom 1.1.20 is available. It includes fixes, the most important fix of CutTubs for stack tracks [VECGEOM-540]. It is needed to migrate G4VECGEOM branch to this VecGeom version. After testing it would be possible to consider it for the master. Recent vecgeom.spec modification in merged #7730 is not needed.

[2022-03-31 07:28] cmsbuild commented on #7734
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-04-27 12:05] smuzaffar opened #7826 "Add xrootd recorder plugin"
There is a request to include xrootd recorder plugin in cmssw env ( https://its.cern.ch/jira/browse/CMSTZ-974 ). @iarspider , can you please include https://github.com/xrootd/xrdcl-record tag v5.4.2 for 12.4.X ?

[2022-04-27 12:05] cmsbuild commented on #7826
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-12 09:18] nhoerman opened #7861 "Rucio and Python3"
Hello experts,

in the rucio file the first line of
/cvmfs/cms.cern.ch/rucio/x86_64/slc7/py3/current/bin/rucio
the python3 directory
#!/usr/bin/python3

is hardcoded and not
#!/usr/bin/env python3

so that rucio can use the env setting with e.g. the cvmfs installation of python3 ? Would this work and if yes can it be changed to the env setting ? Or is there another solution ?

Best regards,
Natasc

[2022-05-12 09:18] cmsbuild commented on #7861
A new Issue was created by  @nhoerman .

@Dr15Jones, @perrotta, @dpiparo, @makortel, @smuzaffar, @qliphy can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-05-12 10:13] smuzaffar commented on #7861
@nhoerman , we simply use `pip install` to install rucio and it uses system python path. I can update the install script to replace `/usr/bin/python3` with `/usr/bin/env python3`

[2022-05-12 12:02] smuzaffar commented on #7861
@nhoerman , I just have installed rucio client `1.28.3` which uses `/usr/bin/env python3`. Can you please try setting up the env by running `/cvmfs/cms.cern.ch/rucio/setup-py3.sh 1.28.3` and check if it uses python3 form PATH instead of system one?

[2022-05-13 10:53] nhoerman commented on #7861
Thanks a lot for the fast new version, it works.

[2022-05-16 09:38] perrotta commented on #7720
That unit test does not fail any more since quite a lot of time...

[2022-05-16 09:38] #7720 closed

[2022-05-16 14:44] #7861 closed

[2022-05-24 15:47] #7826 closed

[2022-07-29 08:20] iarspider commented on #7521
Reopening the ticket because `py3-xrootdpyfs` is **not** working in CMSSW:

[code]

It was broken almost 3 years ago by #5256 . Python bindings for XRootD are not broken (or, at least, the simple `import` test works):
[code]

Since no one has complained since then, I believe it is safe to drop this package (together with `py3-fs` etc). @smuzaffar @davidlange6 @kpedro88 objections?

[2022-07-29 08:22] iarspider commented on #7521
Notice that this package is not tested in our IBs, although it was tested at some point in the past (see, e.g., https://github.com/cms-sw/cmssw/pull/20629)

[2022-08-03 22:03] smuzaffar commented on #7521
@iarspider , looks like `xrootdpyfs` requires `fs<2.0` (https://github.com/inveniosoftware/xrootdpyfs/blob/master/setup.py#L81 ) which is 7 years old. I would suggestto drop `xrootdpyfs` along with `fs` package from cmssw disto

[2022-08-16 07:25] #7521 closed

[2022-09-21 16:04] DrDaveD opened #8098 "Install pacparser python module"
The pacparser.spec file here currently does `make install` which installs the C-based pacparser library.  It would be helpful if it would also do `make install-pymod` as suported by its [Makefile](https://github.com/manugarg/pacparser/blob/master/src/Makefile).  We would like it to be able to then be imported into python from the cms-sw environment with `import pacparser` so we can do things like

[2022-09-21 16:04] cmsbuild commented on #8098
A new Issue was created by  @DrDaveD .

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-21 19:37] smuzaffar commented on #8098
@DrDaveD , https://github.com/cms-sw/cmsdist/pull/8099 should include the python module of pacparser

[2022-09-21 19:56] DrDaveD commented on #8098
Awesome, thanks a lot Shazad.  It looks like it would have been difficult for someone else to figure out all the details.

[2022-09-21 20:05] smuzaffar commented on #8098
@DrDaveD,  normally it is easy to update the build receipe if the build system of the package works :-) For pacparser, `make install-pymod` was not enough as the build system is broken (see https://github.com/manugarg/pacparser/pull/137) and it was trying to install the python module in the `python` directory instead of its own. So yes, it was not a trivial update :-)

[2022-09-22 05:40] #8098 closed

[2022-09-29 07:15] smuzaffar opened #8110 "Missing libnvidia-ml issue for ppc64le"
@fwyzard , We noticed that for ppc64le test build are get build errors like [a]. I think this is due to the `cuda-nvml` dependency https://github.com/cms-sw/cmssw/blob/master/HeterogeneousCore/CUDAUtilities/BuildFile.xml#L3 . Note that although power nodes has GPU and cuda installation on host but we start the singularity container without `--nv` option so cuda driver for host should not ve availa

[2022-09-29 07:15] cmsbuild commented on #8110
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-09-29 09:32] fwyzard commented on #8110
The compatibility drivers normally do not include `libnvidia-ml.so`:
![image](https://user-images.githubusercontent.com/4069793/192996036-ae8470a5-1e40-4c02-89be-f51dd31e1bef.png)

I'll try to have a look at what we are doing... is there a way I can reproduce what the build is doing ?

[2022-09-29 09:32] fwyzard commented on #8110
assign heterogeneous

[2022-09-29 09:32] cmsbuild commented on #8110
New categories assigned: heterogeneous

@fwyzard,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-29 09:53] smuzaffar commented on #8110
yes you can, you need to do the following on power node ( I will send you instructions on how to login to power node)
[code]
You can also try to build `CondCore/EcalPlugins` which will cause build failure as root will fail to load the library dueto missing ` libnvidia-ml.so.1`.

`libnvidia-ml.so.1` should come from either `cuda/lib/stubs` or from system cuda driver installation. As `cuda-compatibl

[2022-09-30 09:30] smuzaffar opened #8112 "mcfm in cmssw distribution"
@cms-sw/generators-l2 , we had disabled shapa to use `mcfm` ( see #6662 , https://github.com/cms-sw/cmsdist/pull/6662/#issuecomment-784254160 ). But we still have `mcfm` in cmssw distribution. The version of `mcfm` in cmssw is very old  `6.3`  ([from 2012](https://mcfm.fnal.gov/)).  As nothing in cmssw is using `mcfm`, so any objections on dropping it from cmssw distribution for `CMSSW 12.6` and a

[2022-09-30 09:31] smuzaffar commented on #8112
assign generators

[2022-09-30 09:31] cmsbuild commented on #8112
New categories assigned: generators

@mkirsano,@menglu21,@alberto-sanchez,@SiewYan,@GurpreetSinghChahal,@Saptaparna you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-09-30 09:31] cmsbuild commented on #8112
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-10-03 07:01] smuzaffar commented on #8110
@fwyzard , were you able to look in to this? ppc64 IBs [failed to build](https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/el8_ppc64le_gcc10/CMSSW_12_6_X_2022-10-02-2300/CUDADataFormats/CaloCommon) due to this missing `libnvidia-ml.so.1` library.

[2022-10-03 08:10] fwyzard commented on #8110
Not yet.

What has changed in the pp64 IBs to make them start failing ?

[2022-10-03 08:39] smuzaffar commented on #8110
drop of `--nv` from the singularity container started up. This was done to avoid unit tests/relvals start using GPUs (which, for power nodes, goes to some strange state and cause a lot of errors)

[2022-10-03 09:32] fwyzard commented on #8110
The main problem is that Singularity is not a real container, it's little more than a script that sets environment variables, and does not provide any isolation between the client environment and the host system.

Inside Singularity all devices are still visible:
[code]

Since CMSSW packages NVIDIA drivers and libraries, they can be used to run on the GPUs:
[code]

If the job should _not_ use the

[2022-10-03 10:06] smuzaffar commented on #8110
OK thanks @fwyzard, for now I have enabled the `--nv` option for power nodes. I  will check if I can come up with simple workaround for this.

[2022-10-03 10:06] #8110 closed

[2022-10-03 12:23] smuzaffar commented on #8110
setting `CUDA_VISIBLE_DEVICES=` helped for ppc64le nodes. `cuda-compatible-runtime` failed and let scram properly add the `stubs` directory in to `LD_LIBRARY_PATH`

[2022-10-03 19:39] makortel commented on #8110
Have these been a long-term problem or appeared recently? Can you tell if the problems are specific to the Power nodes we use for testing, or general to any Power machine with NVIDIA GPU?

[2022-10-04 05:15] smuzaffar commented on #8110
@makortel , this is a general problem with any GPU based node that if cuda driver is updated but node is not restarted then it starts breaking gpu based tests. The OpenLab managed (our PowerPC) nodes has this problem since long. Other GPU nodes e.g. the HTCondor GPU nodes are well managed and they get properly restarted when cuda driver is updated.

[2022-10-04 13:25] makortel commented on #8110
Thanks @smuzaffar. I wonder if we could ask the nodes to be restarted (I'm sure you did already). We have an allocation for Summit (which is Power+NVIDIA system), and I think it would be useful to be able to exercise the Power+NVIDIA setup in our IBs as well (since the hardware is there). On the other hand, for any work within that allocation an existing release will be used, so testing current de

[2022-10-05 05:38] smuzaffar commented on #8110
@makortel , sure. I have reconfigured power nodes in Jenkins to let IBs/PR tests start using GPU is needed.

[2022-10-31 17:32] #7734 closed

[2022-11-23 08:36] smuzaffar opened #8197 "GCC11/CXXMODULE IBs errors"
@vgvassilev , we just moved to GCC11 and now CXXModules IBs are failing with error `fs_path.h:76:27: error: redefinition of '__is_encoded_char<char>'` [a]. Any idea how to fix this?

[a] https://cmssdt.cern.ch/SDT/cgi-bin/buildlogs/el8_amd64_gcc11/CMSSW_12_6_CXXMODULE_X_2022-11-22-2300/FWCore/ParameterSet
[code]

[2022-11-23 08:36] cmsbuild commented on #8197
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-23 09:14] davidlange6 commented on #8197
FWCore/ParameterSet does not declare its dependency on FWCore/PluginManager... I would suggest fixing that.

[2022-11-23 14:13] cmsbuild commented on #8197
New categories assigned: core

@Dr15Jones,@smuzaffar,@makortel you have been requested to review this Pull request/Issue and eventually sign? Thanks

[2022-11-23 14:17] makortel commented on #8197
Umm, the dependence on `FWCore/PluginManager` is declared in the `BuildFile.xml`:
https://github.com/cms-sw/cmssw/blob/0da23c53419e26ee4f536ae701abaa812124f1a3/FWCore/ParameterSet/BuildFile.xml#L3

[2022-11-23 14:17] smuzaffar commented on #8197
@davidlange6 , `FWCore/ParameterSet` does depend on `FWCore/PluginManager` ( https://github.com/cms-sw/cmssw/blob/master/FWCore/ParameterSet/BuildFile.xml#L3 ). I think problem is that `FWCore/PluginManager` itself failed to build the module due to same error
[code]

[2022-11-28 08:05] smuzaffar opened #8202 "Boost 1.80/ROOT Modules IBs issue"
@vgvassilev @davidlange6 , we just have moved to boost version 1.80.0 which broke the build of CMSSW Modules IBs. Our `pcm_utils` package failed to build [a]. Do we need to update the root/boost module map https://github.com/cms-sw/cmsdist/blob/IB/CMSSW_13_0_X/rootmodule/root_boost_mm.patch for boost 1.80.0? If yes then can you please provide the updated module map for boost? Thanks,

[a]
https://

[2022-11-28 08:06] cmsbuild commented on #8202
A new Issue was created by  @smuzaffar Malik Shahzad Muzaffar.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-28 15:54] mseidel42 commented on #8112
Hi Malik, Max Knobbe just gave an interesting presetnation on Sherpa optimizations at QCD@LHC: https://indico.cern.ch/event/1150707/contributions/5146313/

One of the things mentioned is that the Sherpa MCFM interface can be used for analytic one-loop corrections which would be faster than OpenLoops. So we should probably try to upgrade MCFM and reactivate the interface.

[2022-11-30 09:26] civanch opened #8209 "Migration to CLHEP 2.4.6.0"
For the new version of Geant4 it is recommended to update CLHEP library to 2.4.6.0. It is expected that this update may be done for all IBs of CMSSW including master. Regression is expected.

[2022-11-30 09:27] cmsbuild commented on #8209
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-30 09:29] civanch opened #8210 "Migration of G4VECGEOM branch to VecGeom 1.2.1"
A new reference version of the VecGeom package 1.2.1 is available. It is recommended for the new Geant4 11.1. It would be good to test this version in advance using G4VECGEOM branch.

[2022-11-30 09:30] cmsbuild commented on #8210
A new Issue was created by  @civanch Vladimir Ivantchenko.

@Dr15Jones, @perrotta, @dpiparo, @rappoccio, @makortel, @smuzaffar can you please review it and eventually sign/assign? Thanks.

cms-bot commands are listed <a href="http://cms-sw.github.io/cms-bot-cmssw-issues.html">here</a>

[2022-11-30 09:33] smuzaffar commented on #8209
@aandvalenzuela , @iarspider can you please take care of this and https://github.com/cms-sw/cmsdist/issues/8210 ? This should go in the dedicated G4 branches .

[2022-11-30 10:41] iarspider commented on #8209
@smuzaffar on it.

[2022-11-30 12:36] smuzaffar commented on #8209
thanks  @iarspider for #8211 which is good for G4/Vecgeom but we should also include clhep updte for Geant4 IB